{% extends "weixin/weixin_base.html" %}

{% block title %} VIP优惠券 {% endblock %}

{% block container %}

<div class="container-fluid">

  <ul class="list-group">
    <li class="list-group-item list-group-item-success">VIP优惠券如何发放?</li>
    <li class="list-group-item">1. VIP优惠券需要您朋友自己来领取。步骤：关注优尼世界->【微信购物】->【VIP优惠券】。</li>
    <li class="list-group-item">2. 只需要告诉您的朋友，用您的专属VIP邀请码，可以领取优惠券。</li>
    <li class="list-group-item">3. 您的朋友领取优惠券的时候，需要输入您的专属VIP邀请码（系统就知道是您发出去的啦！）。</li>
    <li class="list-group-item">4. 您的朋友在领取优惠券之前，必须验证手机。</li>
    <li class="list-group-item">5. 请务必详细教导您的朋友如何领券哦，这样你就可以坐等返利啦！</li>
  </ul>



  <div class="footer">
    <p>© Uni Littles 2014</p>
  </div>
  
</div>
{% endblock %}

