{% extends "weixin/weixin_base.html" %}

{% block title %} 中奖名单 {% endblock %}

{% block container %}

<div class="container-fluid">
  <div class="panel panel-default" style="margin-top:5px">
    {% if month < 1508 %}
    <div class="panel-heading">详细名单</div>
    {% else %}
    <div class="panel-heading">详细名单 (第{{ batch }}批)</div>
    {% endif %}
    <div class="panel-body">

    <div class="row">
	{% if month < 1508 %}
	<p>总共{{ total }}条记录，{{ num_pages }}页（每页{{ num_per_page }}条）。名单包含中奖粉丝的手机号。</p>
	{% else %}
	<p>总共{{ total }}条记录，{{ num_pages }}页（每页{{ num_per_page }}条）。名单包含中奖粉丝的手机号，邀请码使用次数和点击次数。</p>
	{% endif %}
	<div class="col-xs-4">
	  <a href="/weixin/finallist/{{ batch }}/{{ prev_page }}/{{ month }}/"><< 上一页</a>
	</div>
	<div class="col-xs-4">
	  <p>第{{ page }}页</p>
	</div>
	<div class="col-xs-4">
	  <a href="/weixin/finallist/{{ batch }}/{{ next_page }}/{{ month }}/">下一页 >></a>
	</div>
  </div>
  <div class="list-group">
	{% for item in items %}
	{% if month < 1508%}
	<a href="#" class="list-group-item">{{ forloop.counter }}: {{ item.0 }}</a>
	{% else %}
	<a href="#" class="list-group-item">
		{{ forloop.counter }}: {{ item.0 }}
		<span class="badge">{{ item.1 }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ item.3 }}</span>
	</a>
	{% endif %}
	{% endfor %}
      </div>
    </div>
  </div>
  
  <div class="footer">
    <p>© Uni Littles 2015</p>
  </div>
  
</div>
{% endblock %}

