{% extends "weixin/weixin_base.html" %}

{% block title %} 免费试用 {% endblock %}


{% block container %}

<div class="container-fluid">

<div class="panel panel-default" style="margin-top:5px"> 
  <div class="panel-heading" style="color:orange">免费试用</div>
  <div class="panel-body">
  	<p>新年大礼，200件斗篷免费送，即将开始！敬请期待！</p>
<!-- 请点击 <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTI1NjYyNg==&mid=203259157&idx=2&sn=e9e5a55ddd9525cc20c92b17d63778c7#rd">查看详情>></a>-->
  </div>
</div>

<div class="panel panel-default" style="margin-top:5px"> 
  <div class="panel-heading" style="color:orange">羊年首献 超值特卖</div>
  <div class="panel-body">
    <p style="color:red"><del>1月5日 10:00 特卖宝宝羊绒衫 限量50件！ <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTI1NjYyNg==&mid=203259157&idx=1&sn=f397575d64a34dc8630c2df30125554f#rdt">查看详情>></del></a></p>
    <p style="color:red">1月12日 10:00 特卖天鹅绒睡袋 限量50件！ <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTI1NjYyNg==&mid=203259157&idx=3&sn=b17aacff46efc7ed10fa0468b418a9e0#rd">查看详情>></a></p>
  </div>
</div>

<!--
<div class="panel panel-default" style="margin-top:5px"> 
  <div class="panel-heading" style="color:red">感恩礼包 活动圆满结束了!</div>
  <div class="panel-body">
    <p style="color:#d9534f">请选择您中意的礼品：</p>
    <form action="/weixin/sales/award/apply/" method="post" onsubmit="return check()">{% csrf_token %}
    <div class="row">
      <div class="col-xs-12" style="text-align:center">
	<select class="form-control input-sm" name="selection" id="id_selection" v="1">
	  <option value="1">天猫No.1 卡通吸汗巾</option>
	  <option value="2">天鹅绒 时尚造型三角巾</option>
	  <option value="3">纯棉不勒脚 毛巾袜（2双装）</option>
	  <option value="4">防雾霾PM2.5卡通口罩</option>
	  <option value="5">时尚针织三角巾</option>
	  <option value="6">纯棉卡通三角裤</option>
	</select>
      </div>
    </div>

    <div class="row" style="margin-top:10px">
      <div class="col-xs-12">
	<div class="thumbnail" id="id_i1">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLticIHepSybaDQKTV5LXs8iaL2PT8NunDm0QuwY0f3jZdzL4W2MXbOWodNrvDLqtSytTuxQ7mjkHiaGA/0">
	</div>
	<div class="thumbnail" id="id_i2" style="display:none">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLticIHepSybaDQKTV5LXs8iaLN160Swld40Se6S4M1B2Eu4Ge1lFkBLNhblicfM0z63oceSYhmghSvHA/0">
	</div>
	<div class="thumbnail" id="id_i3" style="display:none">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLticIHepSybaDQKTV5LXs8iaLiaIehcUeMgaSicJzjr1E7vNkkkIRV7oBOaa8QtvAVfl4pbJ3fribtia2Vg/0">
	</div>
	<div class="thumbnail" id="id_i4" style="display:none">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLticIHepSybaDQKTV5LXs8iaLINLbNAiaqzCvXy0lb5mxpExonL6rdteicx7bazWdzViaJPia69E35l2raw/0">
	</div>
	<div class="thumbnail" id="id_i5" style="display:none">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLticIHepSybaDQKTV5LXs8iaLQk8ZCJQciaD7hNMR4zQRWDhtUP2RRmVfAJiaypTianqTnGh1LznclxoVw/0">
	</div>
	<div class="thumbnail" id="id_i6" style="display:none">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLticIHepSybaDQKTV5LXs8iaLdVg66clrLXM6rO34qYPpcBI0sKicjYwgrMjTPpgaxqrh89oEmz4D0yA/0">
	</div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12" style="text-align:center">
		<p>感恩大礼包已发放完毕，新活动马上来袭...</p>
    </div>
    </form>
  </div>
</div>
-->

<div class="row">
  <div class="col-xs-12">
    <h5 style="color:#3071a9">申请须知</h5>
    <p style="color:orange">1) 申请之后，您会得到一个带F邀请码的专属页面，分享到您的朋友圈，会大大提高您的选中几率！</p>
    <p>2) 若您有过购买记录、晒单记录、好评记录、或邀请好友记录，系统会优先审核您的申请。</p>
    <p>3) 审核结果将在【活动中心】->【审核通知】页面显示，请每天查阅。若审核通过，会有<font style="color:red">红色醒目提示</font>！</p>
  </div>
</div>

<!--
<div class="row">
  <div class="col-xs-12">
    <h5 style="color:#3071a9">常见问题</h5>
    <p>1) 查看F码使用次数，<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc2848fa1e1aa94b5&redirect_uri=http://m.xiaolumeimei.com/weixin/inviteresult/&response_type=code&scope=snsapi_base&state=135#wechat_redirect">请点这里>></a></p>
    <p>2) 积分换F码使用次数，<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc2848fa1e1aa94b5&redirect_uri=http://m.xiaolumeimei.com/weixin/scoremenu/&response_type=code&scope=snsapi_base&state=135#wechat_redirect">请点这里>></a></p>
    <p>3) F码在哪里? <font style="color:red">在您看到的微信帖子里面, 请阅读寻找！也可向申请过的朋友索要F码。</font></p>
    <p>4) 我收不到手机验证码? <font style="color:red">微信中输入0，根据提示操作。若一份钟没收到短信验证码，可以重复。</font></p>
    <p>5) 哪些人无需邀请码申请？<font style="color:red">在10月1日之前关注优尼世界的微信粉丝，或者曾经提交过试用申请的粉丝，都无需输入F码！</font></p>
  </div>
</div>
-->

<div class="footer">
  <p>© Uni Littles 2015</p>
</div>

</div>
{% endblock %}    

{% block tail_script %}
<script type="text/javascript">

  $("#id_selection").change(
    function () {
      var val = $("#id_selection").val();
      if (val > 0 && val < 7) {
        var selection = $("#id_selection").attr("v");
        if (selection != val) {
          $("#id_i"+selection).css("display","none");
          $("#id_i"+val).css("display","block");
          $("#id_selection").attr("v",val);
        }
      }
    }
  );

  function validateVipCode(s) {
  var validateReg = /^\d{6,7}$/;
  return validateReg.test(s);
  };

  function check() {
    {% if wx_user.referal_form_openid %}
    return false;
    {% else %}
    var fcode = $("#id_fcode").val();  
    var msg = $("#id_msg");
    
    if (validateVipCode(vipcode) == false) {
      msg[0].innerHTML = "请检查您的VIP邀请码(6-7位数字)!";
      return false;
    }
    
    return true;
    {% endif %}
  };
</script>
{% endblock %}
