<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>订单信息</title>

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div>

      <div class="panel panel-default" >
	<div class="panel-heading" style="color:orange">
	  <span>我的订单</span>
	</div>
	<div class="panel-body">
	  <p>亲，根据您绑定的手机号码，系统没有查询到任何订单哦！</p>
	</div>
      </div>

      <div class="panel panel-default" >      
	<div class="panel-body">
	  <div class="row">
	    <div class="col-xs-12">
	      <h5 style="color:#3071a9">温馨提示</h5>
	      <p>若您发现商品信息错误，或者收货信息错误，请及时联系微信客服更改。</p>
	    </div>
	  </div>
	</div>
      </div>
      
      <div class="footer">
	<p>© Uni Littles 2014</p>
      </div>

    </div>
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
