{% extends "weixin/weixin_base.html" %}

{% block title %} 订单信息 {% endblock %}

{% block container %}
<div class="container-fluid">

  <div class="panel panel-default" >
    <div class="panel-heading" style="color:orange">
      <span>我的订单</span> 
    </div>
    <div class="panel-body">
      <div class="row">
	<div class="col-xs-4">
	  <p style="color:#3071a9">{{ tradedata.platform }}</p>
	</div>
	<div class="col-xs-8">
	  <p style="color:#3071a9">时间: {{ tradedata.paytime }}</p>
	</div>
      </div>
      {% for data in tradedata.orders %}
      <div class="row">
	<div class="col-xs-4">
	  <a href="#" class="thumbnail"><img src="{{ data.0 }}" alt="..."></a>
	</div>
	<div class="col-xs-4">
	  <p>{{ data.1 }}</p>
	</div>
	<div class="col-xs-4">
	  <p>原价: ￥{{ data.2}}</p>
	</div>
      </div>
      {% endfor %}

      <div class="row">
	<div class="col-xs-6">
	  <p style="color:#3071a9">商品数: {{ tradedata.ordernum }}</p>
	</div>
	<div class="col-xs-6">
	  <p style="color:#3071a9">实付: ￥{{ tradedata.payment }}</p>
	</div>
      </div>

    </div>
  </div>

<!--
  <div class="panel panel-default">
    <div class="panel-heading" style="color:orange">
      <span>申请返现</span>
    </div>
    <div class="panel-body" id="id_refund_body">
      {% if refund %}
      {% include "weixin/refundresponse.html" %}
      {% else %}
      {% if passed %}
      {% include "weixin/refundapply.html" %}
      {% else %}
        {% if score_passed %}
          {% if specific_order_finished %}
          {% include "weixin/refundapply.html" %}
          {% else %}
          <p>亲，<font style="color:red">确认收货</font>好评后30分钟，返现申请入口就会开放哦！</p>
          {% endif %}
        {% else %}
	  {% if score_refund or post_fee_refund %}
          {% include "weixin/refundapply.html" %}
	  {% endif %}
	{% endif %}
      {% endif %}
      {% endif %}
    </div>
  </div>
  -->
  
  
  <div class="panel panel-default">
    <div class="panel-heading" style="color:orange">
      <span>物流信息</span>
    </div>
    <div class="panel-body">
      <div class="row">
	<div class="col-xs-12">
	  <p>收货人: {{ tradedata.receiver_name }} ({{ tradedata.receiver_mobile }})</p>
	  <p style="color:orange">{{ tradedata.address }}</p>
	</div>
      </div>
      {% for trace in traces %}
      {% if forloop.counter <= 2 %}
			       <p>{{ trace.0 }}: {{ trace.1 }}</p>
			       {% else %}
      <p>{{ trace.0 }}:</p>
      {% for t in trace.1 %}
      <p>{{ t.0 }}: {{ t.1 }}</p>
      {% endfor %}
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-body">
      
      <div class="row">
	<div class="col-xs-12">
	  <h5 style="color:#3071a9">温馨提示</h5>
	  <p>若您发现商品信息错误，或者收货信息错误，请及时联系微信客服更改。</p>
	</div>
      </div>
    </div>
  </div>
  
  <button 
            type="button"
            id="fat-btn"
            class="btn btn-warning btn-lg btn-block"
            onclick="location='/weixin/wxorder_detail/'">
          点击更多订单
        </button>
  <div class="footer">
    <p>© Uni Littles 2015</p>
  </div>

</div>
{% endblock %}    
    
{% block tail_script %}

<script type="text/javascript">
  function refundSelection(obj) {
    if (obj.value == "1" || obj.value == "2" || obj.value == "3" || obj.value == "4" || obj.value == "5") {
      var vipcode = $("#id_vip_code");
      if (vipcode.css("display") == "none") {
        vipcode.css("display","block");
      }
    } 
    if (obj.value == "0") {
      var vipcode = $("#id_vip_code");
      if (vipcode.css("display") != "none") {
        $("#id_code").val("");
        vipcode.css("display","none");
       }
    }
  };

      function checkVipCode(code) {
        var reg = /^\d{6,7}$/;
        return reg.test(code);
      };
      
      function refundSubmit() {
        var refund_type = $("#id_refund").val();
        var vipcode = $("#id_code").val();
        


        if (refund_type == "10") {
          return;
        }
      
        /**if (refund_type == "1" || refund_type == "2") {
          if (checkVipCode(vipcode) == false) {
            $("#id_msg")[0].innerHTML = "请检查您的VIP邀请码(6-7位数字)!"
            return;
          } 
        }*/
       var bank_account = $("#id_bank_account").val();
       var account_owner = $("#id_account_owner").val();

       if (bank_account.length < 6 || account_owner.length < 2) {
         return;
       }

        var tradeid = $("#id_trade_id").val();
        var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        var data = {"refund_type":refund_type, "vipcode":vipcode, 
                    "tradeid":tradeid, "csrfmiddlewaretoken":csrf_token,
                    "bank_account":bank_account, "account_owner":account_owner};
        var url = "/weixin/refundsubmit/";
        var callback = function (res) {
          $("#id_refund_body")[0].innerHTML = res;
        };
      
        $.ajax({url:url, data:data, type:"post", success:callback});
      }

</script>
{% endblock %}
