{% extends "weixin/weixin_base.html" %}

{% block title %} 返利规则 {% endblock %}

{% block container %}
<div class="container-fluid">

  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading" style="color:orange">返利规则</div>
    <div class="panel-body">
      <p>一、好友购买后晒单到朋友圈，好友获得晒单返利5元，同时您获得返利2元奖励。</p>
      <p>二、好友获得返利累计10元时，您再获得返利3元奖励。</p>
      <p>三、好友获得返利累计30元时，您再获得返利5元奖励。</p>
    </div>
  </div>

  <div class="panel panel-default" style="margin-top:15px">
    <div class="panel-heading" style="color:orange">简单举例</div>
    <div class="panel-body">
      <p>您推荐的好友A购买两次，每次都晒单到朋友圈。</p>
      <p>A获得返利累计10元，您获得返利累计5元。</p>
    </div>
  </div>

  <div class="panel panel-default" style="margin-top:15px">
    <div class="panel-heading" style="color:orange">复杂举例</div>
    <div class="panel-body">
      <p>您推荐了好友A，A又推荐了好友B。</p>
      <p>B购买了两次，晒单到朋友圈。B获得了返利累计10元，A获得返利5元，您获得返利2元。</p>
      <p>A自己也购买了一次，晒单到朋友圈。A获得晒单返利5元。</p>
      <p>至此，A累计获得返利10元，您累计获得返利5元!</p>
    </div>
  </div>

  <div class="footer">
    <p>© Uni Littles 2014</p>
  </div>
  
</div>

{% endblock %}
