{% extends "weixin/weixin_base.html" %}

{% block title %} VIP优惠券 {% endblock %}

{% block container %}

<div class="container-fluid">

  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading">VIP优惠券</div>
    <div class="panel-body">
      <p>请输入您好友的VIP邀请码，点击查看并领取VIP优惠券！</p>
      <div class="row">
	<div class="col-xs-12">
	  <p style="color:red" id="id_msg"></p>
	  <div class="input-group">
	    <input id="id_vipcode" type="text" class="form-control" placeholder="VIP邀请码">
	    <input id="id_openid" type="hidden" value="{{ openid }}"/>
	    <input id="id_coupon_pk" type="hidden" value="{{ coupon_pk }}"/>
	    <span class="input-group-btn">
	      <button id="id_request_coupon_button" class="btn btn-success" type="button" status="0" onclick="requestCoupon();">查看优惠券</button>
	    </span>
	  </div>

	</div>
      </div>

      <div id="id_coupon" class="row" style="margin-top:10px;display:none">
	<div class="col-xs-12">
	  <p>亲，您将获得满99减10元通用优惠券：</p>
	  <p>1) 领券后，到天猫【优尼世界旗舰店】拍下任意产品，满99元付款<font style="color:red;font-size:20px">立减10元！</font></p>
	  <p>亲可直接<a href="http://taoquan.taobao.com/coupon/unify_apply.htm?sellerId=174265168&activityId=209356155" style="font-size:20px">点击这里领取>></a> (点击后，请复制到浏览器打开）。</p>
	  <p style="color:red">关于优惠券使用事宜，您也可以咨询我们的天猫客服、微信客服。</p>
	</div>
      </div>
      
    </div>
  </div>



  <div class="footer">
    <p>© Uni Littles 2014</p>
  </div>
  
</div>
{% endblock %}

{% block tail_script %}

<script type="text/javascript">
  function validateVipCode(s) {
    var validateReg = /^\d{6,7}$/;
    return validateReg.test(s);
  };

  function requestCoupon() {
    var vipcode = $("#id_vipcode").val();
    var openid = $("#id_openid").val();
    var coupon_pk = $("#id_coupon_pk").val();
  
    if (validateVipCode(vipcode) == false) {
      $("#id_msg")[0].innerHTML="VIP邀请码错误！请重新输入6-7位数字，前后没有空格哦！";
      return;
    }
  
    var url = "/weixin/requestcoupon/";
    var data = {"vipcode":vipcode, "openid":openid, "coupon_pk":coupon_pk};
        
    var callback = function (res) {
      if (res["code"] == "ok") {
        $("#id_coupon").css("display","block");
      } else {
        $("#id_msg")[0].innerHTML="系统错误，请保证VIP码正确并且您是在手机微信上操作！";
      }
    };
    
    $.ajax({url:url, data:data, success: callback});
  };
</script>

{% endblock %}
