{% extends "bootstrap_base.html" %}
{% load mathfilters %}
{% block title %}微信商品库存同步界面{% endblock %}

{% block style %}
<style type="text/css">
    .well{
        margin-top:0px;
        margin-bottom:0px;
    }
    .brand-danger{
    	background-color:#d9534f;
    	color:white;
    }
    .price{
    	color:red;
    }
</style>
{% endblock %}

{% block preload_script %}
<script type="text/javascript">
function showImg( url ) {
        var frameid = 'frameimg' + Math.random();
        window.img = '<img id="img" src=\''+url+'?'+Math.random()+'\' height="40px" width="40px"/><script>window.onload = function() { parent.document.getElementById(\''+frameid+'\').height = document.getElementById(\'img\').height+\'px\'; }<'+'/script>';
        document.write('<iframe id="'+frameid+'" src="javascript:parent.img;" frameBorder="0" scrolling="no" width="100%"></iframe>');
}
</script>
{% endblock %}

{% block container %}
<fieldset style="border:2px solid #E3E3E3">
<legend><h2>微信商品信息及库存更新表单</h2></legend>
<div style="height:500px;overflow-y:scroll;background-color:white;" class="well">
<table class="table table-bordered table-hover table-condensed">
<thead>
<tr>
    <th class="col-xs-1">序号</th>
    <th class="col-xs-1">商品图片</th>
    <th class="col-xs-2">商品标题</th>
    <th class="col-xs-2">组合商品编码</th>
    <th class="col-xs-1">预售数</th>
    <th class="col-xs-1">剩余数</th>
    <th class="col-xs-1">系统名称/售价</th>
    <th class="col-xs-1">线上名称/售价</th>
    <th class="col-xs-2">架上图片</th>
</tr>
</thead>
<tbody>
{% for product in product_list %}
{% for psku in product.pskus %}
<tr class="{% cycle 'active' 'success' 'warning' 'info' 'danger' %}">
    {% if forloop.counter == 1 %}
    <td rowspan="{{ product.pskus|length }}">{{ forloop.parentloop.counter }}</td>
    <td rowspan="{{ product.pskus|length }}">
        <a href="/admin/items/product/{{ product.id }}/">
        <img src="{% if product.pic_path %}{{ product.pic_path }}{% else %}{{ STATIC_URL }}img/nopic.jpg{% endif %}" height="60px" width="80px"/>
        </a>
    </td>
    <td rowspan="{{ product.pskus|length }}">{{ product.name }}</td>
    {% endif %}
    <td>{{ psku.outer_id }}.{{ product.outer_id }}</td>
    <td>{{ psku.remain_num }}</td>
    <td>{{ psku.remain_num|sub:psku.wait_post_num }}</td>
    {% if psku.agent_price == psku.wskus.0.sku_price %}
    <td>{{ psku.name }}<span class="price">(￥{{ psku.agent_price }})</span></td>
    <td><label>{{ psku.wskus.0.sku_name }}</label>{% if psku.wskus.0 %}<span class="price">(￥{{ psku.wskus.0.sku_price }})</span>{% endif %}</td>
    {% else %}
    <td style="background-color: orangered">{{ psku.name }}<span>(￥{{ psku.agent_price }})</span></td>
    <td style="background-color: red"><label>{{ psku.wskus.0.sku_name }}</label>{% if psku.wskus.0 %}<span>(￥{{ psku.wskus.0.sku_price }})</span>{% endif %}</td>
    {% endif %}
    <td>
        {% for wsku in psku.wskus %}
        <script type="text/javascript">showImg('{% if wsku.sku_image %}{{ wsku.sku_image }}{% else %}{{ STATIC_URL }}img/nopic.jpg{% endif %}');</script>
        {% endfor %}
    </td>
</tr>
{% endfor %}
{% if product.uskus %}
<tr class="brand-danger">
	<td colspan="3">系统不存在的编码：</td>
	<td colspan="6">
    {% for sku in product.uskus %}
    [{{ sku.sku_name }}--{{ sku.outer_sku_id }}.{{ sku.outer_id }}]&nbsp;||&nbsp;
    {% endfor %}
    </td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>
</div>
<div class="well">
<form method="GET" action="." class="form-horizontal">
  <input id="product_id" type="hidden" name="product_ids" value="{{ product_ids }}"/>
  <input type="hidden" name="next" value="{{ next }}"/>
  <div class="form-group">
    <label for="product-link1" class="col-sm-2 control-label">链接一</label>
    <div class="col-sm-10">
      <input type="text" name="link1" class="form-control" id="product-link1" placeholder="请输入微信商品链接一">
    </div>
  </div>
  <div class="form-group">
    <label for="product-link2" class="col-sm-2 control-label">链接二</label>
    <div class="col-sm-10">
      <input type="text" name="link2" class="form-control" id="product-link2" placeholder="请输入微信商品链接二">
    </div>
  </div>
  <div class="form-group">
    <label for="product-link3" class="col-sm-2 control-label">链接三</label>
    <div class="col-sm-10">
      <input type="text" name="link3" class="form-control" id="product-link3" placeholder="请输入微信商品链接三">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-12">
      <button type="submit"  class="btn btn-lg btn-info">下载并更新商品信息</button>
      <a href="javascript:void(0);" src="{% url 'weixin_product_verify' %}" class="btn btn-lg btn-success verify-confirm">确认核对商品信息</a>
      <a href="{{ next }}" class="btn btn-lg btn-warning">返回商品列表</a>
    </div>
  </div>
</form>
</div>
<div class="well" style="text-align:center;">
<form method="POST" action="." >
    <input type="hidden" name="product_ids" value="{{ product_ids }}"/>
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn btn-lg btn-primary">更新微信商品库存</button>
</form>
</div>
</fieldset>
{% endblock %}

{% block delayed_script %}
<script type="text/javascript">

$(document).ready(function(){
	
	$('.verify-confirm').click(function(){
	
		var verify_url = $(this).attr('src');
		var product_ids = $("#product_id").val();
		var params = {'product_ids':product_ids };
		
		var callback = function(resp){
			if (resp.code == 0){
				var lcs = $('.table > tbody > tr >td >label:last-child');
				$.each(lcs,function(index,dd){
					$(dd).after('<img src="/static/admin/img/icon-yes.gif" />');
				});
			}else{
				alert('校验出错！');
			}
		};
		
		$.post(verify_url,params,callback,'json');
	});
	
})

</script>
{% endblock %}