{% extends "base.html" %}

{% block style %}
<link href="{{ STATIC_URL }}css/autolist.css" rel="stylesheet/less" type="text/css" />
<link href="{{ STATIC_URL }}css/dialog.css" rel="stylesheet/less" type="text/css" />
{% endblock %}
    
{% block title%} 商品列表 {% endblock %}

{% block navbar %}<div style="margin-top:30px"></div>{% endblock %}

{% block container %}

{% endblock %}

{% block delayed_script %}
  <script type="text/javascript">
      new autolist.ItemList();
  </script>
{% endblock %}