<div class="panel-heading" style="color: orange">第{{ exam_user_paper.answer_num|add:"1" }}题：{{ problem.problem_title }}</div>
{% csrf_token %}
<input id="id_paper_id" type="hidden" name="paper_id" value="{{ exam_user_paper.paper_id }}"/>
<input id="id_problem_id" type="hidden" name="problem_id" value="{{ problem.id }}"/>

{% if problem.option_a %}
<div class="row" style="margin-top:5px">
  <div class="col-xs-12" style="margin-left:5px">
    <input type="radio" id="selected_A" name="selected" value="A">
    <div class="well well-small" >{{ problem.option_a }}</div>
  </div>
</div>
{% endif %}

{% if problem.option_b %}
<div class="row" style="margin-top:5px">
  <div class="col-xs-12" style="margin-left:5px">
    <input type="radio" id="selected_B" name="selected" value="B">
    <div class="well well-small" >{{ problem.option_b }}</div>
  </div>
</div>
{% endif %}

{% if problem.option_c %}
<div class="row" style="margin-top:5px">
  <div class="col-xs-12" style="margin-left:5px">
    <input type="radio" id="selected_C" name="selected" value="C">
    <div class="well well-small" >{{ problem.option_c }}</div>
  </div>
</div>
{% endif %}

{% if problem.option_d %}
<div class="row" style="margin-top:5px">
  <div class="col-xs-12" style="margin-left:5px">
    <input type="radio" id="selected_D" name="selected" value="D">
    <div class="well well-small" >{{ problem.option_d }}</div>
  </div>
</div>
{% endif %}

<div class="row" style="margin-top:20px;margin-bottom:10px">
  <div class="col-xs-12" style="text-align:center">
    <button type="button" class="btn btn-success" onclick="submit();">确定，并继续</button>
  </div>
</div>

