<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>404</title>

    <!-- Bootstrap -->
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    
	<style type="text/css">
		body{
			background-color:#E1E0DE;
		}
	</style>
  </head>
  <body>

    <div class="container">
    	<div class="container-fluid" style="text-align:center;margin-top:100px;">
    	<div style="margin-bottom:5px;"><img src="/static/img/img_err_500.jpg"></img></div>
    	<div ><span>本期答题活动结束了,<br>下期答题活动正在策划中...,<br>敬请期待!</span></div>
    	<div>
    </div>

  </body>
</html>