{% extends "pay/zone_analysis/zone_base.html" %}

{% block title %} 订单数地域分析 {% endblock %}

{% block head_script %}

    <link href='{{ STATIC_URL }}css/mama_profile.css' rel='stylesheet'/>
    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
            type="text/javascript"></script>

    <style type="text/css">
        th {
            width: 50px;
        }

        td {
            width: 50px;
        }
    </style>
{% endblock %}

{% block container %}

    <div class="container" style="margin-top: 50px;margin-bottom: 20px">
        <h3>订单数量地域分布<span class="label label-primary">按照省份</span></h3>

        <div class="input-group ">
            <span class="input-group-addon" id="date_from">开始时间</span>
            <input type="text" name="date_from" id="left_date_pic_prov"
                   class="form-control select_saletime  datepicker" placeholder="2015-03-01"
                   value="2015-03-01"
                   aria-describedby="basic-addon1">

            <span class="input-group-addon" id="date_to">结束时间</span>
            <input type="text" name="date_to" id="right_date_pic_prov"
                   class="form-control select_saletime  datepicker" placeholder="{{ today }}" value="{{ today }}"
                   aria-describedby="basic-addon2">
            <span class="input-group-btn">
                <button class="btn btn-default" id="go_search_province">Go!</button>
            </span>
        </div>
    </div>
    <div id="tab_cup" class="container"></div>

    <div class="container" style="margin-top: 50px;margin-bottom: 20px">
        <h3>订单数量地域分布<span class="label label-primary">按照城市</span></h3>

        <div class="input-group ">
            <span class="input-group-addon" id="date_from">开始时间</span>
            <input type="text" name="date_from" id="left_date_pic_city"
                   class="form-control select_saletime  datepicker" placeholder="2015-03-01"
                   value="2015-03-01"
                   aria-describedby="basic-addon1">

            <span class="input-group-addon" id="date_to">结束时间</span>
            <input type="text" name="date_to" id="right_date_pic_city"
                   class="form-control select_saletime  datepicker" placeholder="{{ today }}" value="{{ today }}"
                   aria-describedby="basic-addon2">
            <span class="input-group-btn">
                <button class="btn btn-default" id="go_search_city">Go!</button>
            </span>
        </div>
    </div>
    <div id="tab_cup_city" class="container"></div>

{% endblock %}

{% block tail_script %}
    <script>
        $(function () {
            $("#left_date_pic_prov").datepicker({
                dateFormat: "yy-mm-dd"
            });
            $("#right_date_pic_prov").datepicker({
                dateFormat: "yy-mm-dd"
            });

            $("#left_date_pic_city").datepicker({
                dateFormat: "yy-mm-dd"
            });
            $("#right_date_pic_city").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
        var t_id = 0;
        $(document).ready(function () {

            $("#go_search_province").click(function () {
                var url = "/mm/zone_analysis/province/";
                var time_from = $("#left_date_pic_prov").val();
                var time_to = $("#right_date_pic_prov").val();
                var data = {"time_from": time_from, "time_to": time_to};

                function callback(res) {
                    //生成table容器

                    var table_container = '<div class="panel col-md-4 panel-default container" id="createtable_' + t_id + '">' +
                            '<div class="panel-heading">' + time_from + '至' + time_to + '</div></div>';
                    $("#tab_cup").append(table_container);
                    var rowCount = res.length;

                    var table = $('<table class="table table-condensed table-hover"><thead><th>省份</th><th>单量</th><th>占比</th></thead>');
                    table.appendTo($("#createtable_" + t_id));
                    for (var i = 0; i < rowCount; i++) {
                        var tr = $("<tr></tr>");
                        tr.appendTo(table);
                        for (var j = 0; j < 2; j++) {
                            var td = $("<td>" + res[i][j] + "</td>");
                            td.appendTo(tr);
                        }
                        var percent_td = $("<td>" + (res[i][1] / res[0][1]).toFixed(3) + "</td>");
                        percent_td.appendTo(tr);


                    }
                    tr.appendTo(table);
                    $("#createtable_" + t_id).append("</table>");
                    t_id = t_id + 1;

                }

                $.ajax({"url": url, "data": data, "type": "post", "success": callback});

            });
            var c_id = 0;
            $("#go_search_city").click(function () {
                var url = "/mm/zone_analysis/city/";
                var time_from = $("#left_date_pic_city").val();
                var time_to = $("#right_date_pic_city").val();
                var data = {"time_from": time_from, "time_to": time_to};

                function callback(res) {
                    //生成table容器

                    var table_container = '<div class="panel col-md-4 panel-default container" id="createtable_city_' + c_id + '">' +
                            '<div class="panel-heading">' + time_from + '至' + time_to + '</div></div>';
                    $("#tab_cup_city").append(table_container);
                    var rowCount = res.length;

                    var table = $('<table class="table table-condensed table-hover"><thead><th>城市</th><th>单量</th><th>占比</th></thead>');
                    table.appendTo($("#createtable_city_" + c_id));
                    for (var i = 0; i < rowCount; i++) {
                        var tr = $("<tr></tr>");
                        tr.appendTo(table);
                        for (var j = 0; j < 2; j++) {
                            var td = $("<td>" + res[i][j] + "</td>");
                            td.appendTo(tr);
                        }
                        var percent_td = $("<td>" + (res[i][1] / res[0][1]).toFixed(3) + "</td>");
                        percent_td.appendTo(tr);
                    }
                    tr.appendTo(table);
                    $("#createtable_city_" + c_id).append("</table>");
                    c_id = c_id + 1;

                }

                $.ajax({"url": url, "data": data, "type": "post", "success": callback});

            });

        });


    </script>
{% endblock %}
