<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>退款审核</title>
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>


<body class="">

<div class="col-xs-12">
    <div class="col-xs-2" style="margin-top: 20px">
        <img src="{{ refund.pic }}" style="width: 125px;height: 200px"/>
    </div>

    <div class="col-xs-4">
        <h5>订单信息：</h5>
        <span class="label label-info" style="padding: 1px">交易编号：</span>{{ refund.tid }}
        <a href="/admin/trades/mergetrade/?q={{ refund.tid }}" target="_blank">
            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
        </a><br>
        <span class="label label-info" style="padding: 1px">名称：</span>&nbsp&nbsp{{ refund.title }}<br>
        <span class="label label-info" style="padding: 1px">买家：</span>&nbsp&nbsp{{ refund.buyer_nick }}<br>
        <span class="label label-info" style="padding: 1px">规格：</span>&nbsp&nbsp{{ refund.sku_name }}<br>
        <span class="label label-warning" style="padding: 1px">实付：</span>&nbsp&nbsp{{ refund.payment }}<br><br/>
        <span class="label label-danger" style="padding: 1px">支付方式：</span>&nbsp&nbsp
        {% ifequal refund.channel|slice:"3" '支付宝' %}
            <span style="background: red">{{ refund.channel }} </span>
        {% else %}
            <span>{{ refund.channel }} </span>
        {% endifequal %}
        <br>
        <br>
        {% ifequal refund.refundd_message|slice:"3" '[1]' %}
            <span style="background:#ECEC2C ;">{{ refund.refundd_message }}</span>
        {% else %}
            <span style="background:#5BB75B ;">{{ refund.refundd_message }}</span>
        {% endifequal %}
        <br>

        <span class="label label-info" style="padding: 1px">付款时间：</span>&nbsp&nbsp{{ refund.pay_time }}<br>
        <span class="label label-info" style="padding: 1px">订单状态：</span>&nbsp&nbsp{{ refund.order_status }}<br>
<!--
        <span class="label label-info"
              style="padding: 1px">Merge订单状态：</span>&nbsp&nbsp{{ refund.merge_trade_status }}<br>
        <span class="label label-info" style="padding: 1px">Merge系统状态：</span>&nbsp&nbsp{{ refund.merge_sys_status }}<br>

        <span class="label label-info" style="padding: 1px">系统备注：</span>&nbsp&nbsp{{ refund.sys_memo }}<br>
-->

    </div>
    <div class="col-xs-3">
        <h5>订单物流信息：</h5>
        <span class="label label-info" style="padding: 1px">发货时间：</span>&nbsp&nbsp{{ refund.logistics_time }}<br>
        <span class="label label-info" style="padding: 1px">物流公司：</span>&nbsp&nbsp{{ refund.logistics_company }}<br>
        <span class="label label-info" style="padding: 1px">快递单号：</span>&nbsp&nbsp{{ refund.out_sid }}<br>


        <h5>退款物流信息：</h5>
        <span class="label label-info" style="padding: 1px">物流公司：</span>&nbsp&nbsp{{ refund.company_name }}<br>
        <span class="label label-info" style="padding: 1px">快递单号：</span>&nbsp&nbsp{{ refund.sid }}<br>
    </div>

    <div class="col-xs-3">
        <h5>退款信息：</h5>
        <span class="label label-info" style="padding: 1px">数量：</span>&nbsp&nbsp{{ refund.refund_num }}<br>
        <span class="label label-warning" style="padding: 1px">退款费用：</span>&nbsp&nbsp{{ refund.refund_fee }}<br>
        <span class="label label-info" style="padding: 1px">手机号码：</span>&nbsp&nbsp{{ refund.mobile }}<br>
        <span class="label label-info" style="padding: 1px">修改时间：</span>&nbsp&nbsp{{ refund.modified }}<br>
        <span class="label label-danger " style="padding: 1px">退款状态：</span>&nbsp&nbsp{{ refund.status }}<br>
        <span class="label label-info" style="padding: 1px">申请理由：</span>&nbsp&nbsp{{ refund.reason }}<br>
    </div>
</div>

<div class="col-xs-12" style="height: 30px"></div>

<div class="col-xs-12">
    <div class="col-xs-6">

        <div class="row">
            <div class="col-lg-6">
                <h5>审核意见：</h5>

                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">选择<span class="caret"></span></button>
                        <ul class="dropdown-menu" style="font-size: 20px">
                            <li><a onclick="input_feedback(this)">您好，您的货已发出，可以收到不合适再退喔</a></li>
                            <li><a onclick="input_feedback(this)">由于工厂延迟发货啦，实在抱歉，到货后立即帮您安排发出</a></li>
                            <li><a onclick="input_feedback(this)">您好，如有质量问题请先联系我们微信客服提供图片喔.</a></li>
                            <li><a onclick="input_feedback(this)">非质量问题，运费有买家承担哦.</a></li>
                        </ul>
                    </div>
                    <input type="text" class="form-control" id="ref_feedback" value="{{ refund.feedback }}">
                </div>
            </div>
        </div>


        <div class="row" style="height: 30px">
        </div>
        <div class="row">
            <div class="col-xs-7">
                <!--
                <h5>退款状态：</h5>

                <div class="form-control" style="height: 50px">
                    <select id="ref_status" style="width: 200px;font-size: 20px">
                        <option value="" select="selected"></option>
                        <option value="0">没有退款</option>
                        <option value="3">买家已经申请退款</option>
                        <option value="4" style="color: red">卖家已经同意退货</option>
                        <option value="5">买家已经退货</option>
                        <option value="2">卖家拒绝退款</option>
                        <option value="6">确认退款，等待返款</option>
                        <option value="1">退款关闭</option>
                        <option value="7">退款成功</option>
                    </select>
                </div>
-->
            </div>
        </div>


    </div>
    <div class="col-xs-6 btn_refund_action">
        <h5>退款操作：</h5>
        <!-- 只有SaleOrder订单在已经发货，签收，交易成功　状态才会显示　同意退货按钮　-->
        {% if refund.order_s == 3 or refund.order_s == 4 or refund.order_s == 5 %}
            <button type="button" class="btn btn-info save_info_btn btn_agree_product btn-lg" cid="{{ refund.id }}"
                    style="margin-right: 30px">同意退货
            </button>
        {% endif %}
    </div>

</div>
</body>

<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var btn_dom = Create_btn("{{ refund.status }}");
        $(".btn_refund_action").append(btn_dom);
        $(".save_info_btn").click(function () {
            save_info({{ refund.id }});
        });
        $(".btn_dnt_agree").click(function () {
            dnt_agree_refund({{ refund.id }});
        });
        $(".btn_agree").click(function () {
            agree_refund({{ refund.id }});
        });
        $(".btn_confirm").click(function () {
            confirm_refund({{ refund.id }});
        });
        $(".btn_agree_product").click(function () {
            agree_product({{ refund.id }});
        });
    });
</script>
<script type="text/javascript" src="/static/script/slaerefund_poppage.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}layer-v1.9.2/layer/layer.js"></script>
</html>