<!DOCTYPE html>

{% load custom_filter %}
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}forecast/css/forecast-multi-select.css" media="screen" rel="stylesheet" type="text/css">
    <link href="//cdn.bootcss.com/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css" type="text/css"/>
    <title>订单退款－商品关联未发货订单退款</title>
</head>
<body>

<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
<script src="{{ STATIC_URL }}wap/js/template.js"></script>
</body>
</html>