{% extends "autolist/base.html" %}

    
{% block title%} 商品列表 {% endblock %}

{% block navbar %}<div style="margin-top:30px"></div>{% endblock %}

{% block container %}
<div class='list_top'>

<div style="margin:5px; float:right">
    <button class="btn btn-info" type=button onclick="window.open('/app/autolist/timetable/?user_id={{ user_id }}','_blank');return false;">上架时间表</button>
    <button class="btn btn-info" type=button onclick="window.open('/app/autolist/logs/','_blank');return false;">操作记录</button>
</div>

<div id="id-csrftoken">{% csrf_token %}</div>

<div>
<table class="table table-bordered table-striped table-condensed">
  <tr>
    <th>序号</th><th>商品类别</th><th>商品编码</th><th width="13%">出售标题</th>
      <th>上架星期</th><th>淘宝上架</th><th>推荐上架</th><th width="8%">设定上架</th><th>库存</th>
      <th>商品图片</th><th>同步状态</th><th>出售状态</th>
  </tr>
  {% for item in items %}
  <tr id="{{ item.num_iid }}" title="{{ item.title }}" num="{{ item.num }}">
      <td>{{ forloop.counter }}</td><td>{{ item.category }}</td><td>{{ item.outer_id }}</td>
      <td class="title"><a href="http://detail.tmall.com/item.htm?id={{ item.num_iid }}">{{ item.title }}</a></td>
      {% if item.isoweekday == 7 %}
      <td>周 日</td>
      {% else %}
      <td>周 {{ item.isoweekday }}</td>
      {% endif %}
      <td><p>{{ item.list_day }}</p><p>{{ item.list_hm}}</p></td>
      <td><p>{{ item.relist_day }}</p><p>{{ item.relist_hm}}</p></td>
      <td class="time-select"><a class="btn btn-small btn-danger" num_iid="{{ item.num_iid }}" img_src="{{ item.pic_url }}_60x60.jpg" style="display:None;"><i class="icon-pencil"></i>修改时间</a><div id="id-scheduled-{{ item.num_iid }}">
          {% if item.scheduled_day %}
          {% if item.scheduled_day == 7 %}
          <p>周 日</p>
          {% else %}
          <p>周 {{ item.scheduled_day }}</p>
          {% endif %}
          <p>{{ item.scheduled_hm}}</p>
          {% endif %}
          </div>
      </td>
      <td>{{ item.num }}</td>
      <td><img src="{{  item.pic_url }}_60x60.jpg"></td>
      {% if item.status == "execerror" %}
      <td style="background-color:red">执行出错</td>
      {% else %}  
          {% if item.status == "unscheduled" %}
          <td style="background-color:pink">未设定</td>
          {% else %}  
              {% if item.status == "success" %}
              <td style="background-color:gray">成功</td>
              {% else %}
              <td>未执行</td>
              {% endif %}
           {% endif %}
       {% endif %}
      {% if item.approve_status == "onsale" %}
      <td>出售中</td>
      {% else %}
      <td style="background-color:red">下架</td>
      {% endif %}
  </tr>
  {% endfor %}
  </table>
</div>
</div>
{% endblock %}

{% block delayed_script %}
  <script type="text/javascript">
      new autolist.ItemList();
  </script>
{% endblock %}