
<div class="row">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active"><a href="#panel-1" data-toggle='tab'>商品订货/到货数量/金额统计</a></li>
      <li role="presentation"><a href="#panel-2" data-toggle='tab'>订单收支账单列表</a></li>
    </ul>
</div>
<div class="tab-content row" >
    <input type="hidden" name="order_group_key" value="{{order_group_key}}">
    <div class="panel panel-default tab-pane active" id="panel-1" >
        <div class="panel-body">
            <table id="table-1" class="table table-striped" >
                <thead>
                    <tr>
                        <th class="col-xs-1">图片</th>
                        <th class="col-xs-1">商品编码</th>
                        <th class="col-xs-2">商品名称</th>
                        <th class="col-xs-1">采购</th>
                        <th class="col-xs-1">到货</th>
                        <th class="col-xs-1">未到</th>
                        <!-- 6 -->
                        <th class="col-xs-1">多货</th>
                        <th class="col-xs-1">次品</th>
                        <th class="col-xs-1">支付款</th>
                        <th class="col-xs-1">应退款</th>
                        <th class="col-xs-1">选数</th>
                    </tr>
                </thead>
                <tbody>
                {% for detail in aggregate_details %}
                <tr id="skuitem-{{detail.sku_id}}">
                    <td>
                        <div class="portfolio-box">
                        <img class="thumbnail" data-src="{{detail.product_img}}" style="margin-bottom:0px;"
                             src="{{detail.product_img}}?imageMogr2/thumbnail/35/format/jpg/quality/90/crop/35x35"/>
                        </div>
                    </td>
                    <td>
                        <p>{{detail.outer_id}}</p>
                        <p>
                            {% for oid in detail.orderlist_ids %}
                            <a href="/sale/dinghuo/changedetail/{{oid}}/" target="_blank">{{oid}}</a>
                            {% endfor %}
                        </p>
                    </td>
                    <td>{{detail.product_name}}:{{detail.sku_name}}</td>
                    <td >{{detail.buy_num}}</td>
                    <td >{{detail.arrival_num}}</td>
                    <td class="{% if detail.delta_num > 0 %}bg-danger{% endif %}">{{detail.delta_num}}</td>
                     <!-- 6 -->
                    <td class="{% if detail.excess_num > 0 %}bg-warning{% endif %}">{{detail.excess_num}}</td>
                    <td class="{% if detail.inferior_num > 0 %}bg-primary{% endif %}">{{detail.inferior_num}}</td>
                    <td>{{detail.real_payment}}</td>
                    <td>{{detail.return_amount}}</td>
                    <td><input type="number" max="{{detail.buy_num}}" min="0" data-product-id="{{detail.product_id}}"
                               name="select-num" data-sku-id="{{detail.sku_id}}" data-init="{{detail.delta_num}}" size="4" value="0"/>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="1"><label><input class="select-all" type="checkbox" style="margin-right:10px;"/>全选</label></td>
                        <td colspan="1"><div class="lable">已选<span class="badge select-num">0</span>/<span class="total-num">{{aggregate_details|length}}</span>条</div></td>
                        <td colspan="1">汇总:</td>
                        <td><input id="input-3" data-type="int" size="3"/></td>
                        <td><input id="input-4" data-type="int" size="3"/></td>
                        <td><input id="input-5" data-type="int" size="3"/></td>
                        <td><input id="input-6" data-type="int" size="3"/></td>
                        <td><input id="input-7" data-type="int" size="3"/></td>
                        <td><input id="input-8" data-type="float" size="5"/></td>
                        <td><input id="input-9" data-type="float" size="5"/></td>
                        <td><input id="input-10" data-type="number" size="4" value="0"/></td>
                    </tr>
                    <tr>
                        <th class="col-xs-1">图片</th>
                        <th class="col-xs-1">商品编码</th>
                        <th class="col-xs-2">商品名称</th>
                        <th class="col-xs-1">采购</th>
                        <th class="col-xs-1">到货</th>
                        <th class="col-xs-1">未到</th>
                        <!-- 6 -->
                        <th class="col-xs-1">多货</th>
                        <th class="col-xs-1">次品</th>
                        <th class="col-xs-1">支付款</th>
                        <th class="col-xs-1">应退款</th>
                        <th class="col-xs-1">选数</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-primary btn-create-lackorder" >创建缺货单</button>
            <button type="button" class="btn btn-success btn-strip-forecast" >新建到货异常预测单</button>
        </div>
    </div>
    <div class="panel panel-default tab-pane" id="panel-2">
        <div class="panel-body">
            <table class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th class="col-xs-2">账单编号</th>
                        <th class="col-xs-2">业务日期</th>
                        <th class="col-xs-1">申请人</th>
                        <th class="col-xs-1">收/支</th>
                        <th class="col-xs-2">付款方式</th>
                        <th class="col-xs-1">付款</th>
                        <th class="col-xs-1">回款</th>
                        <th class="col-xs-1">状态</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in bill_data.bills %}
                    <tr>
                        <td>{{bill.id}}
                            <div class="inline pull-right">
                            {% if bill.note %}
                            <a tabindex="0" role="button" style="color:#333;" data-toggle="popover"  title="收付款单备注" data-content="{{bill.note}}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                            </a>
                            {% endif %}
                            </div>
                        </td>
                        <td>{{bill.created|slice:":10"}}</td>
                        <td>{{bill.creater}}</td>
                        <td>{{bill.type_name}}</td>
                        <td>{{bill.pay_method_name}}</td>
                        <td>{{bill.out_amount}}</td>
                        <td>{{bill.in_amount}}</td>
                        <td>{{bill.status_name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">汇总:</td>
                        <td><input size="7" value="{{bill_data.total_out_amount}}"/></td>
                        <td><input size="7" value="{{bill_data.total_in_amount}}"/></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script>
function　calcIndexCell(index){
    var bodyCellRows = $("#table-1 tbody > tr");
    var $calcInputDown = $('input[id=input-'+ index +']');
    var data_type = $calcInputDown.attr('data-type');
    var calc_val = 0;
    for(var i=0; i< bodyCellRows.length; i++){
        if (bodyCellRows[i].cells.length < index) continue;
        var rowCell = bodyCellRows[i].cells[index];
        if (data_type == 'int'){
            calc_val += parseInt(rowCell.innerText);
        }else if(data_type == 'float'){
            calc_val += parseFloat(rowCell.innerText);
        }else if(data_type == 'number'){
            calc_val += parseInt($(rowCell).find('input').val());
        }
    };
    calc_val = data_type == 'float'?calc_val.toFixed(2):calc_val;
    $calcInputDown.val(calc_val);
}

function selectRowTr($trEle){
    var $input = $trEle.find('input');
    if ($trEle.hasClass('selected')){
        if ($input.val() == '0'){
            $input.val($input.attr('data-init'));
        }
    }else{
        $input.val(0);
    }
}

function updateRowSelectCount(){
    var selectNum = $('#table-1 > tbody > tr.selected').length;
    $('#panel-1 div.dataTables_scrollFoot span.select-num').html(selectNum);
}

$(function(){
    var calcStatsData = function () {
        for(var i=3; i< 11; i++){
            calcIndexCell(i);
        };
    }
    $('[data-toggle="popover"]').popover();
    var $oTable = $('#table-1').dataTable({
            "scrollY": 600,
            "select": false,
            "bAutoWidth": false,
            "responsive": true,
            "scrollCollapse": true,
            "paging": false,
            "ordering": true,
            "info": false,
            "order": [[7, "desc"],[6,"desc"],[5,"desc"]], //次品,缺货,多发,错发
            "oLanguage": {
			    "sSearch": "搜索"
			}
        })
        .on( 'click', 'tbody > tr', function () {
            var $trEle = $(this);
            $trEle.toggleClass('selected');
            selectRowTr($trEle);
            calcStatsData();
            updateRowSelectCount();
        })
        .on( 'click', 'tbody > tr > td > input', function (e) {
            e.stopPropagation();
        });
    $('#panel-1').on('click', 'input[type=checkbox]', function (e) {
            var tableRows = $('#table-1 > tbody > tr');
            if ($(this).is(':checked')){
                tableRows.addClass('selected');
            }else{
                tableRows.removeClass('selected');
            }
            $.each(tableRows, function(index, trEle){
                selectRowTr($(trEle));
            })
            calcStatsData();
            updateRowSelectCount();
        });

    $oTable.closest(".dataTables_wrapper").find(".dataTables_scrollHeadInner").css("width","100%");
    $oTable.closest(".dataTables_wrapper").find(".dataTables_scrollFootInner").css("width","100%");
    $oTable.closest(".dataTables_wrapper").find(".dataTable").css("width","100%");

    calcStatsData();
    $("#table-1_length select").on('change',function(e){
        calcStatsData();
    });
    //搜索时，重新计算
    $("#table-1_filter input").on('keyup',function(e){
        calcStatsData();
    });
    //排序后重新计算
    $("#table-1 .sorting").on('click',function(e){
        calcStatsData();
    });
    //分页时，重新计算
    $("#table-1_wrapper a").on('click',function(e){
        calcStatsData();
    });

    $('.portfolio-box img', '#panel-1').popover({
        html: true,
        trigger: 'hover',
        container: 'body',
        content: function(){
         return '<img src="'+ $(this).attr('data-src')
            +'?imageMogr2/thumbnail/400/format/jpg/quality/90" width="100%">';
        }
    });

    $('#panel-2 table').dataTable({
        "paging":   false,
        "ordering": true,
        "info":     false,
    });

    function selectedCallback(callback){
        var $sInput,
            orderObj,
            i=0,
            goods = [],
            $selectInputs = $('#table-1 tbody > tr.selected').find('input');

        for (i=0; i<$selectInputs.length; i++){
            $sInput = $($selectInputs[i]);
            orderObj = {
                product_id: $sInput.attr('data-product-id'),
                sku_id: $sInput.attr('data-sku-id'),
                num: $sInput.val(),
            };
            goods.push(orderObj);
        }

        callback(goods);
    }

    $('.btn-create-lackorder').click(function(){
        var $that = $(this);
        selectedCallback(function(goods){
            var retParam = {};
            if (goods.length > 0 && !confirm("确认对"+ goods.length +"件商品缺货退款处理吗")){
                return;
            }
            $that.attr('disabled','true');
            retParam.order_group_key = $('input[name=order_group_key]').val();
            retParam.lack_goods = goods;
            console.log('debugn post:', retParam);
            $.ajax({
                 type: "POST",
                 url: "/apis/dinghuo/v1/lackorder/multi_create",
                 data: JSON.stringify(retParam),
                 dataType: "json",
                 contentType: 'application/json',
                 success: function(resp){
                    $that.attr('disabled', null);
                    if (resp.code == 0){
                        window.open(resp.redirect_url,'缺货单管理','height=800,width=1395,resizable=yes,scrollbars=yes');
                    }else{
                        alert('创建缺货单错误:'+resp.info);
                    }
                 },
             });
        });
    });

    $('.btn-strip-forecast').click(function(){
        var $that = $(this);
        selectedCallback(function(goods){
            var retParam = {};
            if (goods.length > 0 && !confirm("确认将"+ goods.length +"件商品新建预测单吗")){
                return;
            }
            $that.attr('disabled','true');
            retParam.order_group_key = $('input[name=order_group_key]').val();
            retParam.forecast_orders = goods;
            console.log('debugn post:', retParam);
            $.ajax({
                 type: "POST",
                 url: "/apis/forecast/v1/manage/create_or_split_multiforecast",
                 data: JSON.stringify(retParam),
                 dataType: "json",
                 contentType: 'application/json',
                 success: function(resp){
                    $that.attr('disabled', null);
                    window.open(resp.redirect_url,'缺货单管理','height=800,width=1395,resizable=yes,scrollbars=yes');
                 },
                 error:function(err){
                    var resp = JSON.parse(err.responseText);
                    if (typeof(resp.detail) != 'undefined'){
                        alert(resp.detail);
                    }else{
                        alert('未知异常');
                    }
                 }
             });
        });
    });
})
</script>