{% extends "weixin/weixin_pubbase.html" %}


{% block title %}
{% if from_page == "freesamples" %}
完善信息
{% else %}
宝宝档案
{% endif %}
{% endblock %}

{% block container %}
<div>
  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading" style="color:orange">
    {% if from_page == "freesamples" %}
      <h4 class="panel-title">完善信息</h4>
    {% else %}
      <h4 class="panel-title">宝宝档案</h4>
    {% endif %}
    </div>
    <div class="panel-body">
      {% if from_page == "freesamples" %}
      <p>亲，还有<font style="color:orange"><span style="font-size:20px">2</span>步</font>就完成啦！请补充宝宝信息：</p>
      <form method="post" action="/weixin/sampleapply/" onsubmit="return check()">
	<input type="hidden" name="sample_pk" value="{{ sample.pk }}"/>
	<input type="hidden" name="sku_code" value="{{ sku.sku_code }}"/>
	<input type="hidden" name="vipcode" value="{{ vipcode }}"/>
	<input type="hidden" name="fcode_pass" value="{{ fcode_pass }}"/>

      {% endif %}
	<h5 style="color:#3071a9">出生/预产信息 </h5>
	{% csrf_token %}
	<div class="row">
	  <div class="col-xs-3">
	    <p style="float:right">年</p>
	  </div>
	  <div class="col-xs-9">
	    <select id="id_year" name="year" class="form-control input-sm">
	      <option value="0">请选择</option>
	      {% for year in years %}
	      {% if year == user.birth_year %}
	      <option id="id_year_{{ year }}" value="{{ year }}" selected="selected">{{ year }}</option>
	      {% else %}
	      <option id="id_year_{{ year }}" value="{{ year }}">{{ year }}</option>
	      {% endif %}
	      {% endfor %}
	    </select>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-3">
	    <p style="float:right">月</p>
	  </div>
	  <div class="col-xs-9">
	    <select id="id_month" name="month" class="form-control input-sm">
	      <option value="0">请选择</option>
	      {% for month in months %}
	      {% if month == user.birth_month %}
	      <option id="id_month_{{ month }}" value="{{ month }}" selected="selected">{{ month }}</option>
	      {% else %}
	      <option id="id_month_{{ month }}" value="{{ month }}">{{ month }}</option>
	      {% endif %}
	      {% endfor %}
	    </select>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-3">
	    <p style="float:right">性别</p>
	  </div>
	  <div class="col-xs-9">
	    <select id="id_sex" name="sex" class="form-control input-sm">
	      <option value="0">请选择</option>
	      {% if user.baby_sex == "m" %}
	      <option id="id_sex_m" value="m" selected="selected">王子</option>
	      <option id="id_sex_f" value="f">公主</option>
	      {% elif user.baby_sex == "f" %}
	      <option id="id_sex_m" value="m">王子</option>
	      <option id="id_sex_f" value="f" selected="selected">公主</option>
	      {% else %}
	      <option id="id_sex_m" value="m">王子</option>
	      <option id="id_sex_f" value="f">公主</option>
	      {% endif %}
	    </select>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-12">
	    <h5 style="color:#3071a9">验证手机</h5><span style="color:red" id="id_verify_msg"></span>
	    <div class="input-group">
	      <span class="input-group-addon">手机号</span>
	      {% if user.isvalid %}
	      <input id="id_mobile_input" type="text" value="{{ user.mobile }}" class="form-control" disabled="disabled">
	      <span class="input-group-btn">
		<button id="id_requestcode_button" class="btn btn-success" type="button" status="2">已验证</button>
	      </span>
	      {% else %}
	      <input id="id_mobile_input" type="text" class="form-control">
	      <span class="input-group-btn">
		<button id="id_requestcode_button" class="btn btn-primary" type="button" onclick="requestcode();" status="0">获验证码</button>
	      </span>
	      {% endif %}
	    </div>
	    {% if not user.isvalid %}
	    <div id="id_verifycode_group" class="input-group">
	      <span class="input-group-addon">验证码</span>
	      <input id="id_code_input" type="text" class="form-control">
	      <span class="input-group-btn">
		<button id="id_verifycode_button" class="btn btn-warning" type="button" onclick="verifycode();">点击验证</button>
	      </span>
	    </div>
	    {% endif %}
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-12">
	    <h5 style="color:#3071a9">收货信息</h5>
	    <div class="input-group">
	      <span class="input-group-addon">收货人 </span>
	      <input id="id_receiver_name" type="text" name="receiver_name" value="{{ user.receiver_name}}" class="form-control">
	      <input type="hidden" id="id_openid" name="openid" value="{{ openid }}">
	    </div>

	    <div class="input-group">
	      <input id="id_province" type="text" name="province" value="{{ user.province }}" class="form-control">
	      <span class="input-group-addon">省</span>
	    </div>
	    <div class="input-group">
	      <input id="id_city" type="text" name="city" value="{{ user.city }}" class="form-control">
	      <span class="input-group-addon">市</span>
	    </div>
	    <div class="input-group">
	      <span class="input-group-addon">详址</span>
	      <input id="id_streetaddr" type="text" name="streetaddr" value="{{ user.address }}" class="form-control">
	    </div>
	    
	  </div>
	</div>

	<div class="row" style="margin-top:10px;text-align:center">
	  <p id="id_savelabel" style="color:red"></p>
	  <div class="col-xs-12" style="text-align:center">
	    {% if from_page == "freesamples" %}
	    <button id="id_savebutton" class="btn btn-warning" onclick="babyinfo();">保存，下一步>></button>
	    {% else %}
	    <button id="id_savebutton" class="btn btn-warning" onclick="babyinfo();">保存信息</button>
	    {% endif %}
	  </div>
	</div>
	{% if from_page == "freesamples" %}
        </form>
        {% endif %}
    </div>
  </div>

  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-body">
      <div class="row">
	<div class="col-xs-12">
	  <h5 style="color:#3071a9">温馨提示</h5>
	  <p>请认真填写宝宝信息。我们会据此信息来免费寄送适合宝宝的礼物，审核您的试用申请等。宝宝信息及地址错误可能造成商品不能被寄送到达。</p>
	</div>
      </div>
    </div>
  </div>
      
  <div class="footer">
    <p>© Uni Littles 2014</p>
  </div>

</div>

{% endblock %}

{% block tail_script %}
    <script type="text/javascript">
      var fields = ["#id_receiver_name", "#id_province", "#id_city", "#id_streetaddr"];

      
      function save2cookie(key) {
        var val = $(key).val();
        $.cookie(key, val);
      }
      function getfromcookie(key) {
        return $.cookie(key);
      }

      $(function () {
         fields.forEach(function(field) {
           var val = getfromcookie(field);
           if (val) {
             $(field).val(val);
           }
         });
      });

      function validateMobile(s) {
        var validateReg = /^((\+?86)|(\(\+86\)))?1\d{10}$/;
        return validateReg.test(s);
      };

      function validateVerifyCode(s) {
        var validateReg = /^\d{6}$/;
        return validateReg.test(s);
      };

      var global_timer;
      function updateTime() {
        var btn = $("#id_requestcode_button");
        time_left = parseInt(btn[0].innerHTML) - 1;
        if (time_left <= 0) {
          btn.attr("status","0");
	  window.clearInterval(global_timer);
          btn[0].innerHTML = "点击重发";
	} else {
          btn[0].innerHTML = time_left.toString();
	}
      };

      function requestcode() {
        var btn = $("#id_requestcode_button");
        var status = btn.attr("status");
        if (status == "1" || status == "2") {
          return;
        }

        var mobile = $("#id_mobile_input").val();
        if (validateMobile(mobile) == false) {
          return;
        }

        btn.attr("status","1");
	btn[0].innerHTML = "180";
        global_timer = window.setInterval(updateTime, 1000);

	var openid = $("#id_openid").val();
        var url = "/weixin/requestcode/";
	var data = {"mobile":mobile, "openid":openid};

        var callback = function (res) {
	  if (res["code"] == "wait") {
            $("#id_verify_msg")[0].innerHTML = "请先耐心等待180秒哦！";
            return;
          } 

          if (res["code"] != "good") {
	    btn.attr("status","0");
	    window.clearInterval(global_timer);
          }

	  //if (res["code"] == "good") {
          //  $("#id_code_input").val(res["verifycode"]);
          //  $("#id_verify_msg")[0].innerHTML = "验证码已自动分配填写，请点击验证即可！";
          //  return; 
	  //}
	  if (res["code"] == "locked") {
            $("#id_verify_msg")[0].innerHTML = "验证次数达到上限，请联系微信客服处理！";
            btn[0].innerHTML = "已达上限";
            btn[0].innerHTML = "成功发送";
            return;
          } 
	  if (res["code"] == "anony") {
            $("#id_verify_msg")[0].innerHTML = "请从优尼世界微信登录此页面！";
            btn[0].innerHTML = "登录有误";
            return;
          } 
	  if (res["code"] == "bad") {
            $("#id_verify_msg")[0].innerHTML = "请输入正确的手机号码！";
            btn[0].innerHTML = "点击重发";
            return;
          } 
	  if (res["code"] == "dup") {
            $("#id_verify_msg")[0].innerHTML = "此号码已被他人验证，请重新输入！";
            btn[0].innerHTML = "点击重发";
            return;
          } 

        };
        
        $.ajax({url:url, data:data, success:callback});
      };

      function verifycode() {
        var verifycode = $("#id_code_input").val();
        if (validateVerifyCode(verifycode) == false) {
          $("#id_verify_msg")[0].innerHTML = "验证码错误！";
          return;
        }
        var url = "/weixin/verifycode/";
        var callback = function (res) {
          if (res["code"] == "bad") {
            $("#id_verifycode_button")[0].innerHTML = "验证失败，刷新再试";
            return;
          }

	  window.clearInterval(global_timer);
          $("#id_verifycode_group").css("display","none");
          $("#id_requestcode_button").removeClass("btn-primary").addClass("btn-success")[0].innerHTML="已验证";
          $("#id_mobile_input").attr("disabled","disabled");
          $("#id_requestcode_button").attr("status", "2");
        };
        var openid = $("#id_openid").val();
	var data = {"verifycode":verifycode, "openid":openid};
        $.ajax({url:url, data:data, success:callback});
      };
      

      function babyinfo() {
	fields.forEach(function (field) {
          save2cookie(field);
        });

        if ($("#id_requestcode_button").attr("status") != "2") {
          $("#id_savelabel")[0].innerHTML = "请先验证手机号！";
          return false;
        }
        var year = $("#id_year").val(); 
        var month = $("#id_month").val();
        var sex = $("#id_sex").val();
        var receiver_name = $("#id_receiver_name").val();
        var province = $("#id_province").val();
        var city = $("#id_city").val();
        var streetaddr = $("#id_streetaddr").val();

        if (year == "0" || month == "0" || sex == "0") {
          $("#id_savelabel")[0].innerHTML = "年月或性别选择错误！！";
          return false;
        }
        if (receiver_name.length < 2 || province.length < 2 || city.length < 2 || streetaddr.length < 4) {
          $("#id_savelabel")[0].innerHTML = "输入信息错误,请仔细检查提交！";
          return false;												 
        }
        {% if from_page == "freesamples" %}
        return true;
        {% else %}
        var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        var openid = $("#id_openid").val();
        var url = "/weixin/babyinfo/";
        var data = {"year":year, "month":month, "sex":sex, 
                    "receiver_name":receiver_name, "province":province,
                    "city":city, "streetaddr":streetaddr, "openid":openid,
                    "csrfmiddlewaretoken":csrf_token};
        var callback = function (res) {
          if (res["code"] == "ok") {
            $("#id_savebutton").css("display", "none");
            $("#id_savelabel")[0].innerHTML = "信息已成功保存！";
          }
        };
        
        $.ajax({url:url, data:data, type:"post", success:callback});
        {% endif %}
      }

    
    </script>
    <script src="{{ STATIC_URL }}jquery/jquery.cookie.js" type="text/javascript"></script>
{% endblock %}
    
