{% extends "weixin/weixin_base.html" %}

{% block title %} 免费试用 {% endblock %}


{% block container %}

<div class="container-fluid">

<div class="panel panel-default" style="margin-top:5px"> 
  <div class="panel-heading" style="color:orange">十一月活动：感恩的思考</div>
  <div class="panel-body">
    <p style="color:red">十一月，感恩的季节！</p>
    <p>曾经帮助过我们的人，还记得吗？</p>
    <p style="color:orange">不能抑制感恩的心，决定要送您一份礼物，感谢您曾经使用我的F码。</p>
    <p>感恩他人，就是善待自己。</p>
    <a href="/weixin/inviteresult/">点击发送感恩礼包 >></a>
  </div>
</div>

{% for sample in samples %}
<div class="panel panel-default" style="margin-top:5px"> 
  <div class="panel-heading" style="color:red">双十一来啦，欢迎围观！</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12" style="text-align:center">
	<a href="" class="thumbnail">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLsicb7mTwLoVKwGGhULrMQQvibpeWOIEmD3fLEAiarwiaqAHaibCBS0jlLwMa7Ytw6whcxtXwFPbJH3T4Q/0" alt="...">
	</a>
	</div>
    </div>
    <!--<form action="/weixin/sampleapply/" method="post" onsubmit="return check()" class="form-group">{% csrf_token %}
      <input type="hidden" value="{{ sample.pk }}" name="sample_pk"/>
      <input type="hidden" value="{{ subscribe }}" name="subscribe" id="id_subscribe"/>
      <div class="row">
	<div class="col-xs-12" style="text-align:center">
	  <a href="{{ sample.sale_url }}" class="thumbnail">
	    <img src="{{ sample.pic_url }}" alt="...">
	  </a>

	  {% if today_orders > 1000 %}
	  <p style="color:#029fd6">超过<font style="color:red; font-size:20px">1000</font>人已申请</p>
	  {% else %}
	  <p style="color:#029fd6">今日<font style="color:red; font-size:20px">{{ today_orders }}</font>人已申请</p>
	  {% endif %}
	</div>
      </div>
      {% if not order_exists %}
      <div class="row">
	<div class="col-xs-12" style="text-align:center">
      {% if fcode_pass %}
          <p style="color:red">优尼美妈忠粉，无需F码！</p>
	  <input type="hidden" {% if vipcode %} value="{{ vipcode }}" {% endif %} id="id_vipcode" status="1" name="vipcode"/>
	  <input type="hidden" name="fcode_pass" value="1">
	  {% else %}
          <p style="color:orange">请输入F码 (原VIP邀请码):</p>
	  <div style="width:130px;margin:auto">
	    <input class="form-control" type="text" placeholder="请输入F码" id="id_vipcode" status="0" name="vipcode"/>
	    <input type="hidden" name="fcode_pass" value="0">
	  </div>
	  {% endif %}
	</div>
      </div>
      {% endif %}
      <div class="row" style="text-align:center">
	<div class="col-xs-12" style="text-align:center; margin-top:10px">
	  <p id="id_msg" style="color:red"></p>
	  {% if order_exists %}
	  <a href="/weixin/sampleads/{{ pk }}/">您的试用申请已经提交！查看 >></a>
	  {% else %}
	  {% if openid %}
	  <input type="submit" class="btn btn-warning" value="提交试用申请"/>
	  {% else %}
	  <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc2848fa1e1aa94b5&redirect_uri=http://weixin.huyi.so/weixin/freesamples/&response_type=code&scope=snsapi_base&state=135#wechat_redirect" class="btn btn-warning">提交试用申请</a>
	  {% endif %}
	  {% endif %}
	</div>
      </div>
    </form>-->      
  </div>
</div>
{% endfor %}


<div class="row">
  <div class="col-xs-12">
    <h5 style="color:#3071a9">申请须知</h5>
    <p style="color:orange">1) 申请之后，您会得到一个带F邀请码的专属页面，分享到您的朋友圈，会大大提高您的选中几率！</p>
    <p>2) 若您有过购买记录、晒单记录、好评记录、或邀请好友记录，系统会优先审核您的申请。</p>
    <p>3) 审核结果将在【活动中心】->【审核通知】页面显示，请每天查阅。若审核通过，会有<font style="color:red">红色醒目提示</font>！</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h5 style="color:#3071a9">常见问题</h5>
    <p>1) 查看F码使用次数，<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc2848fa1e1aa94b5&redirect_uri=http://weixin.huyi.so/weixin/inviteresult/&response_type=code&scope=snsapi_base&state=135#wechat_redirect">请点这里>></a></p>
    <p>2) 积分换F码使用次数，<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc2848fa1e1aa94b5&redirect_uri=http://weixin.huyi.so/weixin/scoremenu/&response_type=code&scope=snsapi_base&state=135#wechat_redirect">请点这里>></a></p>
    <p>3) F码在哪里? <font style="color:red">在您看到的微信帖子里面, 请阅读寻找！也可向申请过的朋友索要F码。</font></p>
    <p>4) 我收不到手机验证码? <font style="color:red">微信中输入0，根据提示操作。若一份钟没收到短信验证码，可以重复。</font></p>
    <p>5) 哪些人无需邀请码申请？<font style="color:red">在10月1日之前关注优尼世界的微信粉丝，或者曾经提交过试用申请的粉丝，都无需输入F码！</font></p>
  </div>
</div>


<div class="footer">
  <p>© Uni Littles 2014</p>
</div>

</div>
{% endblock %}    

{% block tail_script %}
<script type="text/javascript">
  var fields = ["#id_vipcode"];
  
  function save2cookie(key) {
    var val = $(key).val();
    $.cookie(key, val);
  }
  function getfromcookie(key) {
    return $.cookie(key);
  }

  $(function () {
    fields.forEach(function(field) {
      var val = getfromcookie(field);
      if (val) {
        $(field).val(val);
      }
    });
  });

  function validateVipCode(s) {
  var validateReg = /^\d{6,7}$/;
  return validateReg.test(s);
  };

  function check() {
    var vipcode = $("#id_vipcode").val();  
    var vip_status = $("#id_vipcode").attr("status");

    var msg = $("#id_msg");

    //var d = new Date();
    //if (d.getHours() < 18) {
    //  msg[0].innerHTML = "亲，活动将于18：00开始哦！";
    //  return false;
    //}
    var subscribe = $("#id_subscribe").val();
    if (subscribe != "1") {
      msg[0].innerHTML = "亲，您还没关注咱呢！请点击右上角[...]，选择[查看公众号]，点击[关注]。";
      return false;
    }
    if (vip_status == "0" && validateVipCode(vipcode) == false) {
      msg[0].innerHTML = "请检查您的VIP邀请码(6-7位数字)!";
      return false;
    }
  };
</script>
{% endblock %}
