{% extends "weixin/weixin_base.html" %}

{% block title %} 感恩礼包 {% endblock %}


{% block container %}

<div class="container-fluid">

  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading" style="color:#e8792a">十一月 感恩季</div>
    <div class="panel-body">
      <p style="color:#029fd6">请为您的好友挑选感恩礼物吧！限选一款哦：）</p>

      <div class="row">
	<div class="col-xs-12">
	  <h5 id="id_p1" style="color:#029fd6"><input type="radio" name="p1" value="5" id="id_input1"> 选择一：卡通吸汗巾 (12个款式)</h5>{% csrf_token %}
	</div>
      </div>
      <div class="row">
	<div class="col-xs-4" style="text-align:center;">
	  <a href="#" class="thumbnail">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvXic8acrqDl4mC6c1wQH5Gu2cAGfTzibdTRPBZVNXmwfPd5D1PROpVkGibNQ6wjg03H9LdZaKNKwhjw/0"/>
	  </a>
	</div>
	<div class="col-xs-4" style="text-align:center;">
	  <a href="#" class="thumbnail">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvXic8acrqDl4mC6c1wQH5GuXPfse8KAYdoZmxqK4j70EZxDuiaB4SvyeHz0Em1DIMEtrjrRvCvnqOw/0"/>
	  </a>
	</div>
	<div class="col-xs-4" style="text-align:center;">
	  <a href="#" class="thumbnail">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvXic8acrqDl4mC6c1wQH5GuXPfse8KAYdoZmxqK4j70EZxDuiaB4SvyeHz0Em1DIMEtrjrRvCvnqOw/0"/>	    
	  </a>
	</div>
      </div>

      <div class="row">
	<div class="col-xs-12">
	  <h5 id="id_p1" style="color:#029fd6"><input type="radio" name="p1" value="5" id="id_input1"> 选择二：秋冬纯棉厚款毛巾袜</h5>{% csrf_token %}
	</div>
      </div>
      <div class="row">
	<div class="col-xs-4" style="text-align:center;">
	  <a href="#" class="thumbnail">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvXic8acrqDl4mC6c1wQH5Guts5wjEtI6tibQLodubENOA1x364ibNoYC440h0mViaYvhYRWptdOc6aCw/0"/>
	  </a>
	</div>
	<div class="col-xs-4" style="text-align:center;">
	  <a href="#" class="thumbnail">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvXic8acrqDl4mC6c1wQH5GuichMJ2Uwrh4TiaZQqp75gdv4TJbRQezEk3Avq0NespFQ8Gmg1ErOiaicBQ/0"/>
	  </a>
	</div>
	<div class="col-xs-4" style="text-align:center;">
	  <a href="#" class="thumbnail">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvXic8acrqDl4mC6c1wQH5GuWryTypL0Qn6MzfoxvackG0BpCkrP6AiaE34OccoykHaAMuuG3N2ovag/0"/>	    
	  </a>
	</div>
      </div>

      <div class="row">
	<div class="col-xs-12">
	  <h5 id="id_p1" style="color:#029fd6"><input type="radio" name="p1" value="5" id="id_input1"> 选择三：婴幼儿防PM2.5卡通口罩</h5>{% csrf_token %}
	</div>
      </div>
      <div class="row">
	<div class="col-xs-4" style="text-align:center;">
	  <a href="#" class="thumbnail">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvXic8acrqDl4mC6c1wQH5Gu4zonAXbJp6iaBluXLD52kQXpYVkJ1KpAKuFzVWIpTaqlZ7RKbq3JibdQ/0"/>
	  </a>
	</div>
	<div class="col-xs-4" style="text-align:center;">
	  <a href="#" class="thumbnail">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvXic8acrqDl4mC6c1wQH5GuhZshv3B3XAYIvr2pF7EouVafuBrl22maWIwAZsWxTIUclzgIRt6fUA/0"/>
	  </a>
	</div>
	<div class="col-xs-4" style="text-align:center;">
	  <a href="#" class="thumbnail">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvXic8acrqDl4mC6c1wQH5GurQsIwKWMURddNUEpqwhr8BU7K7NEPIcPsaCNjKQd5wictylbYVlCoKg/0"/>	    
	  </a>
	</div>
      </div>

      <div class="row">
	<div class="col-xs-12">
	  <h5 id="id_p1" style="color:#029fd6"><input type="radio" name="p1" value="5" id="id_input1"> 选择四：时尚针织三角巾</h5>{% csrf_token %}
	</div>
      </div>
      <div class="row">
	<div class="col-xs-4" style="text-align:center;">
	  <a href="#" class="thumbnail">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvXic8acrqDl4mC6c1wQH5Gu1bHvrlg1ibwHY7CBnf2WmWkrUicPndy6R1fFZYwzyNKwHNAlCa35RpjQ/0"/>
	  </a>
	</div>
	<div class="col-xs-4" style="text-align:center;">
	  <a href="#" class="thumbnail">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvXic8acrqDl4mC6c1wQH5Gu641zkHNdpQR78gQUJoYCa45b8pRTn5K51f8LBypXialACJayk5jxDPg/0"/>
	  </a>
	</div>
	<div class="col-xs-4" style="text-align:center;">
	  <a href="#" class="thumbnail">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvXic8acrqDl4mC6c1wQH5GuZm0rGvmdH8342sEehia5Lic1pDAWZRgicBY0mOoskwjRYibrSWJd6tfNHw/0"/>	    
	  </a>
	</div>
      </div>


      <div class="row">
	<div class="col-xs-12" style="text-align:center" id="id_msg">
	  {% if exist %}
	  <p style='color:#029fd6'>亲，您的选择已经提交！快告诉朋友，让他们也来投票吧！</p>
	  {% else %}
	  <!--
	  <button type="button" class="btn btn-warning" id="id_submit" onclick="submit();">投票提交</button>
	  -->
	  <p style="color:red">礼物不断增加中，敬请期待。。。</p>
	  {% endif %}
	</div>
      </div>
      

    </div>
  </div>
</div>

{% endblock %}

{% block tail_script %}
<script type="text/javascript">
  $("#id_p1").on("click", function () {
  $("#id_input1").attr("checked",true);
  $("#id_input2").attr("checked",false);
  $("#id_p1").css("color","#ed5377");
  $("#id_p2").css("color","");  
  });

  $("#id_p2").on("click", function () {
  $("#id_input2").attr("checked",true);
  $("#id_input1").attr("checked",false);
  $("#id_p2").css("color","#ed5377");
  $("#id_p1").css("color","");  
  });

  function checkSelection() {
    if ((!$("#id_input1").is(':checked')) && (!$("#id_input2").is(':checked'))) {
      $("#id_msg")[0].innerHTML = "<p style='color:red'>亲，麻烦选择下答案再提交哦。</p>";
      return false;
    }
    return true;
  }

  function submit() {
    if (checkSelection() == false) {
      return;
    }
  
    var selection = 0;
    if ($("#id_input1").is(':checked')) {
      selection = 5;
    }
    if ($("#id_input2").is(':checked')) {
      selection = 6;
    }

    var url = "/weixin/survey/";
    var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    
    var data = {"selection": selection, "csrfmiddlewaretoken":csrf_token};
    var callback = function (res) {
      console.log(res);
    if (res["code"] == "ok") {
      $("#id_msg")[0].innerHTML = "<p style='color:red'>亲，您的选择已经提交！感谢！</p>";
      $("#id_submit").css("display","none");
    }
    };
    $.ajax({url:url, data:data, type:"post", success:callback});
  }
</script>

{% endblock %}
