{% extends "weixin/weixin_base.html" %}
{% load mathfilters %}
{% block title %}审核通知 2000份全棉卡通分腿睡袋免费送！{% endblock %}

{% block container %}

<div class="container-fluid">
  <!--
  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading" style="color:orange">免费试用 中奖名单</div>
    <div class="panel-body">
      <p>第一批 综合得分 140，点击次数 10 以上  <a href="/weixin/finallist/1/1/1/">中奖名单&gt;&gt;</a></p>
      <p>第二批 综合得分 350，点击次数 20 以上  <a href="/weixin/finallist/2/1/1/">中奖名单&gt;&gt;</a></p>
      <p>第三批 综合得分 356，邀请码使用28以上  <a href="/weixin/finallist/3/1/1/">中奖名单&gt;&gt;</a></p>
      <p style="color:red;">恭喜他们！免费试用申请已经结束了，试用名单已经全部公布，没有成功的亲们下期活动再加油哦！</p>
    </div>
  </div>-->
  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading" style="color:orange">免费试用 中奖名单</div>
    <div class="panel-body">
      {% if sample_pass %}
      <p style="color:red;font-size:18px;">亲,你已获得免费试用资格（红包将不与试用通过用户同时发放），请通知帮助过你的好友来领红包吧！</p>
      {% else %}
      {% if hongbao_pass %}
      <p style="color:red;font-size:18px;">亲，你还没有领取现金红包，请扫描下方审核结果区域二维码加客服索取！</p>
      {% elif user_charged %}
      <p style="color:red;font-size:18px;">亲，您已经领过红包了，小鹿美美精选特卖，每天都会不同！</p>
      {% endif %}
      {% endif %}
      <!--<p style="color:red;">小鹿美美2000份全棉卡通分腿睡袋免费送活动正在进行中，好妈妈的选择，乖宝宝的最爱，赶快让好友来支持你吧！<span style="color:red;">最后一批名单将在17日（星期一）上午10点公布,谢谢参与!</span></p>-->
       <p style="color:red;">本期免费试用申请活动已经结束了，试用名单已经全部公布，没有成功的亲们下期活动再加油哦！</p>
      <!--<p style="color:red;">为了感谢妈妈们的积极参与，小鹿美美决定再加<font style="font-size:20px;">500</font>份名额，共<font style="font-size:20px;">2500</font>份卡通吸汗巾免费试用正在进行中，赶快邀请好友来参加吧！ </p>-->
       <p>第一批 共494名 ，邀请码15次 ，点击40次以上  <a href="/weixin/finallist/1/1/1508/">中奖名单&gt;&gt;</a></p> 
       <p>第二批 共852名 ，邀请码19次 ，点击49次以上  <a href="/weixin/finallist/2/1/1508/">中奖名单&gt;&gt;</a></p> 
       <p>第三批 共357名 ，邀请码27次 ，点击69次以上  <a href="/weixin/finallist/3/1/1508/">中奖名单&gt;&gt;</a></p>
       <p>第四批 共216名 ，邀请码31次 ，点击69次以上  <a href="/weixin/finallist/4/1/1508/">中奖名单&gt;&gt;</a></p>
       <p>第五批 共228名 ，邀请码30次 ，点击69次以上  <a href="/weixin/finallist/5/1/1508/">中奖名单&gt;&gt;</a></p>
    </div>
  </div>

  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading" style="color:orange">免费试用 审核结果</div>
    <div class="panel-body">
      {% if sample_order %}
      {% if not sample_pass %}
      {% if hongbao_pass %}
      <p style="color:red">亲，为了奖励您积极参与，送您一个微信<font style="font-size:20px">现金红包</font>!请扫描下图中的二维码领取！</p>
      {% endif %}
      <p>您的VIP邀请码使用人数: <font style="color:red">{{ vip_code.usage_count }}</font></p>
      <p>您的分享页面被点击人数: <font style="color:orange">{{ link_click.clicker_num  }}</font></p>
      <p>您的综合得分: <font style="color:red">{{ vip_code.usage_count  }} *10</font> + <font style="color:orange">{{ link_click.clicker_num }}</font> = {{ vip_code.usage_count|mul:10|add:link_click.clicker_num }}</p>
        {% if hongbao_pass %}
          <br/>
          <p style="color:#029fd6">请扫描二维码添加客服微信(长按图片识别二维码)索要现金红包:</p>
	  <div class="row">
	    <div class="col-xs-12">
	      <div class="thumbnail" style="padding:3px" id="id_i1">
		<img src="{{ kefu_url }}" alt="">
	      </div>
	    </div>
	  </div>
        {% endif %}
      {% else %}
      <p style="color:red;">亲，恭喜您的试用申请通过了！</p>
      <p>您的综合得分: <font style="color:red">{{ vip_code.usage_count  }} *10</font> + <font style="color:orange">{{ link_click.clicker_num }}</font> = {{ vip_code.usage_count|mul:10|add:link_click.clicker_num }}</p>
      <p style="color:#029fd6">请扫描二维码添加客服微信(长按图片识别二维码)咨询睡袋领取流程:</p>
      <div class="row">
	<div class="col-xs-12">
	  <div class="thumbnail" style="padding:3px" id="id_i1">
	    <img src="{{ sample_kefu_url }}" alt="">
	  </div>
	</div>
      </div>
    </div>
  </div>
  {% endif %}
  <p style="color:#029fd6">审核说明：本次免费试用活动，邀请码使用次数及点击次数越高，审核通过几率越大！</p>
  <p style="color:#029fd6">加分规则：
  <p> 1）只有微信好友的点击才会给你加分；</p>
  <p> 2）每个微信用户只有前5次点击能给5位朋友的链接加分，超过5次后的点击不计加分；</p>
  <p> 3）同一个手机上登录多个帐号相互点击不会加分；</p>
  </p>
  <p style="color:red">如果您的综合得分在100分以上，您将具有极大的竞争力！</p>
  <p><a href="/weixin/sampleads/{{ wx_user.pk }}/">快快分享您的VIP邀请码专属页面吧！ Go >></a></p>
    {% else %}
      <p>您还没有申请试用,请点击 <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc2848fa1e1aa94b5&redirect_uri=http://m.xiaolumeimei.com/weixin/freesamples/&response_type=code&scope=snsapi_base&state=135#wechat_redirect">申请免费试用>></a></p>
    {% endif %}
    </div>
  </div>

  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading" style="color:orange">历史中奖名单公示</div>
    <div class="panel-body">
      <p>亲们，若您的申请已审核通过，请仔细阅读审核页面的说明，务必在活动结束后<font style="color:red">5个工作日内</font>按照指示操作领取试用产品！不要忘记错过啦！</p>
      <p>为了保证活动的公正性和真实性，我们保留历史中奖名单供查询。</p>
      <p><a href="/weixin/finallist/1/1/1507/">15年7月中奖名单 >></a></p>
      <p><a href="/weixin/finallist/1/1/1504/">15年4月中奖名单 >></a></p>
      <p><a href="/weixin/finallist/1/1/1503/">15年3月中奖名单 >></a></p>
      <p><a href="/weixin/finallist/1/1/1501/">15年1月中奖名单 >></a></p>
      <p><a href="/weixin/finallist/1/1/1410/">14年10月中奖名单 >></a></p>
      <p><a href="/weixin/finallist/1/1/1409/">14年9月中奖名单 >></a></p>
      <p><a href="/weixin/finallist/1/1/1408/">14年8月中奖名单 >></a></p>
    </div>
  </div>
  
  <div class="footer">
    <p>© Uni Littles 2015</p>
  </div>
  
</div>
{% endblock %}

{% block tail_script %}

<script type="text/javascript">
  $("#id_selection").change(
    function () {
      var val = $("#id_selection").val();
      if (val > 0 && val < 7) {
        var selection = $("#id_parent_award").attr("selection");
        if (selection != val) {
          $("#id_i"+selection).css("display","none");
          $("#id_i"+val).css("display","block");
          $("#id_parent_award").attr("selection",val);
          $("#id_parent_award")[0].innerHTML = "2. " + $("#id_selection option:selected").text();
        }
      }
    }
  );

  function unpack() {
    var select_val = $("#id_parent_award").attr("selection");
    var url = "/weixin/sales/award/";
    var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    var data = {"select_val":select_val, "csrfmiddlewaretoken":csrf_token};

    var callback = function (res) {
      if (res["success"] == true) {
        $("#id_award").css("display","block");		
        $("#id_award_remind").css("display","none");	   
      }
    };
    $.ajax({url:url, data:data, method:"post", success:callback});
  }

  function remind() {
    var callback = function(res){
      if (res.success){
        $("#id-remind").css("display","none");
        $("#id-remind-msg")[0].innerHTML = "我们将尽快用短信通知您的好友，告诉她您在等待。感谢您的耐心！";
      }else{
        $("#id-remind-msg")[0].innerHTML = res.err_msg;
      }
    };
    var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    $.post("/weixin/sales/award/remind/",{"csrfmiddlewaretoken":csrf_token},callback,"json");
  };
</script>

{% endblock %}
