<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>需要F码！</title>

    <!-- Bootstrap -->
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    
	<style type="text/css">
		body{
			background-color:#E1E0DE;
		}
	</style>
  </head>
  <body>

    <div class="container">
    	<div class="container-fluid" style="text-align:center;margin-top:100px;">
    	<div style="margin-bottom:5px;"><img src="/static/img/img_err_500.jpg"></img></div>
    	<div >
	  <p>亲，您需要F码才能提交申请：</p>
	  <p>1）请找朋友索取F码，然后到<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc2848fa1e1aa94b5&redirect_uri=http://m.xiaolumeimei.com/weixin/freesamples/&response_type=code&scope=snsapi_base&state=135#wechat_redirect">这里提交申请>></a></p>
	  <p>2）如果申请页面不需要您提供F码，请联系客服处理！</p>
	</div>
    	<div>
    </div>

  </body>
</html>
