{% extends "weixin/weixin_base.html" %}

{% block title %} 兑奖指南 {% endblock %}

{% block container %}

<div class="container-fluid">

  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading" style="color:orange">公告</div>
    <div class="panel-body">
      {% if passed %}
      <p style="color:red">亲，恭喜您的申请获得通过！</p>
      <h3>兑奖的流程如下：</h3>
      <ul class="list-group">
      <li class="list-group-item">0）加入优尼世界服务qq群。</li>
      <li class="list-group-item">1）到天猫【优尼世界旗舰店】找到商品，选择您喜欢的款式，拍下付款。</li>
      <li class="list-group-item">2）每天下午5点之前拍下的订单，当日发货。江浙沪皖24小时内到货。</li>
      <li class="list-group-item">3）收到货后，如果满意。请确认收货，天猫给好评（<font style="color:red">不得有免费字样</font>）。</li>
      <li class="list-group-item">4）拍照并写购买/申请心得，分享到微信朋友圈。(真实案例见页面底部 图一)</li>
      <li class="list-group-item">5）单独联系优尼世界服务群的客服，把微信朋友圈截图发邮件到baobao@unilittles.com 。</li>
      <li class="list-group-item">6）到微信菜单【我的】->【我的订单】，申请VIP返利（系统自动按订单<font style="color:red">全额</font>退款）。</li>
      <li class="list-group-item">7）72小时内返现到账（请仔细填写支付宝账户信息）。</li>
      </ul>
      
      <p>优尼世界本次活动将派发1600份免费试用产品，规模和工作量都超前盛大和艰苦。我们有微信客服从早上9:00值班到晚上11:30，解答大家的疑问，饭顾不上吃，连厕所都顾不上了。全程有技术人员维护微信系统，每天都奋战到凌晨。<br>希望大家能积极配合我们的工作，让我们能更好地为亲们服务。<br><font style="color:red">我们唯一希望的就是大家能收到满意的产品，并且能帮助我们传播优尼世界品牌！传播优尼世界从宝宝角度出发，设计宝宝喜爱的多彩出色的产品理念！</font></p>
      <h3>常见问题：</h3>
      <ul class="list-group">
      <p><font style="color:#3071a9">1. 返现申请的入口在哪里？</font><br>&nbsp;&nbsp;&nbsp;在微信菜单【我的】->【我的订单】里面，有提交支付宝信息的返利入口。见页面底部 图二（只有天猫拍下后，才能查到订单）。</p>
      <p><font style="color:#3071a9">2. 返现是全额退款吗？</font><br>&nbsp;&nbsp;&nbsp;是的，根据你拍下的金额，全额返现。</p>
      <p><font style="color:#3071a9">3. 我申请的时候选择是黄色，可以拍蓝色的吗？</font><br>&nbsp;&nbsp;&nbsp;亲，只要链接里面可以拍的，你都可以拍。不需要和你申请的时候一致。</p>
      <p><font style="color:#3071a9">4. 拍下后，需要留言备注是微信的活动吗？</font><br>&nbsp;&nbsp;&nbsp;<font style="color:red">不需要。</font>只要订单的收货人手机号和你的微信绑定的手机号一致，在微信菜单【我的】->【我的订单】里就可以查询到订单信息了。</p>
      <p><font style="color:#3071a9">5. 问天猫客服为啥不回答这个活动的问题？</font><br>&nbsp;&nbsp;&nbsp;亲，微信和天猫互相屏蔽。我们天猫部门和微信部门也是分开的，微信部门的业务天猫客服不参与，也不了解。公司也禁止天猫客服回答任何微信活动问题。</p>
      <p>图一、8月睡袋试用活动,中奖妈妈收货后分享朋友圈案例：<a href="#" class="thumbnail"><img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLuzohN5DJPX5psSXEXWiaZ04hdVSpda5IYwEibd3SSsTHxRCzoicHeBUdkuQs1SiaExh6pvdEou4iaQ5xg/0"/></a></p>
      <p>图二、全额返现提交入口：<a href="#" class="thumbnail"><img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLsCsdrD3olCziclw9tokRj8dBn2CIV1qyJl7E9ABlDSiaPksjv6Hvib1Cm1YHV7ltjEQibmqpHSeUDW1w/0"></a></p>
      {% else %}
      <p>对不起，您暂时无权查看该页!</p>
      {% endif %}
    </div>
  </div>
  
  <div class="footer">
    <p>© Uni Littles 2014</p>
  </div>
  
</div>
{% endblock %}

