<div class="row">
  <div class="col-xs-4">
    <p style="float:right">返利理由: </p>
  </div>
  <div class="col-xs-8">
    <select id="id_refund" class="form-control input-sm" onchange="refundSelection(this);">
      <option value="10">请选择</option>
<!--      <option value="0">朋友圈晒单</option> -->
      {% if passed %}
<!--      <option value="4">100元免单</option>-->
      <option value="1">VIP 邀请</option>

      {% else%}
      {% if score_passed %}
      <option value="2">10积分换购</option>
      {% else %}
      {% if score_refund %}
      <option value="3">满100元返10元</option>
      {% endif %}
      {% if post_fee_refund %}
      <option value="5">10积分返邮费</option>
      {% endif %}
      {% endif %}
      {% endif %}
    </select>
  </div>
</div>

<div id="id_vip_code" class="row" style="margin-top:5px;display:none">
  <div class="col-xs-12">
    <input id="id_trade_id" type="hidden" value="{{ tradedata.tradeid }}"/>{% csrf_token %}
    {% if passed %}
    <input id="id_code" class="form-control" type="hidden" value="100" placeholder="您的专属VIP邀请码"/>
    {% else %}
    {% if score_passed %}
    <input id="id_code" type="hidden" class="form-control" type="text" value="111111" placeholder="您的专属VIP邀请码"/>
    {% else %}
    {% if post_fee_refund %}
    <input id="id_code" type="hidden" class="form-control" type="text" value="10110" placeholder="您的专属VIP邀请码"/>
    {% else %}
    <input id="id_code" type="hidden" class="form-control" type="text" value="10010" placeholder="您的专属VIP邀请码"/>
    {% endif %}
    {% endif %}
    {% endif %}
    <input id="id_bank_account" class="form-control" type="text" placeholder="您的支付宝帐号"/>
    <input id="id_account_owner" class="form-control" type="text" placeholder="支付宝对应姓名"/>
  </div>
</div>

<div class="row" style="margin-top:8px">
  <div class="col-xs-12" style="text-align:center">
    <button id="id_submit" type="button" class="btn btn-warning" onclick="refundSubmit();">提交申请</button><span id="id_msg"></span>
  </div>
</div>
