{% extends "weixin/weixin_base.html" %}

{% block title %} 
宝宝用品100元免单，无门槛，速度抢！
{% endblock %}

{% block container %}

<div class="container-fluid">
  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading" style="color:red"><b>十月大礼 见者有份 10万免单送宝宝！</b></div>
    <div class="panel-body">

      {% if identical %}
      <div class="row">
	<div class="col-xs-12">
	  <p style="color:blue">亲，您的申请已经成功提交！</p>
	  <p style="color:blue">你获得了专属F码：{{ vipcode }}，快把本页发给好友, 一起赚免单吧！</p>
	  <p style="color:blue">您的F码被朋友<font style="color:red">使用次数越多</font>，您被选中的几率就越大！</p>
	  <p style="color:red">若您的F码被使用15次以上，您中奖的几率就大大增加了！</p>
	  <p style="color:red">若您的F码被使用25次以上，您就具有了决定性的竞争力！！</p>
	  <p style="color:blue;font-size:20px">分享朋友圈后蓝色文字只有你自己可以看见！</p>
	</div>
      </div>
      {% endif %}
      
      <div class="row">
	<div class="col-xs-12" style="text-align:center">
	  <div class="thumbnail">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLuBe3lKsVRy6Kg6RMySy2lZ8xiaJQoY9RXEkPpmKtDZCvHuAicJsCmcQ3C9DGUYUC2wsS1iahzbFicVhw/0" alt="...">
	  </div>
	</div>
      </div>

      <div class="row">
	<div class="col-xs-12">
	  <p>亲们：</p>
	  <p>优尼世界10月风暴来啦，简直就是撒钱，速度接！</p>
	  <p>简单直接：<font style="color:red">1000份免单名额，中奖即得100元免单，无门槛无限制，双11当日随意购买！</font></p>
	  {% if vipcode == "898786" %} 
	  <p style="font-size:20px; color:red; text-align:center">您刚才输入的VIP邀请码错误，请用正确的VIP邀请码重新申请!</p>
	  <a class="btn btn-waring" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc2848fa1e1aa94b5&redirect_uri=http://m.xiaolumeimei.com/weixin/freesamples/&response_type=code&scope=snsapi_base&state=135#wechat_redirect">点击重新申请</a>
	  {% else %}
	  <p style="font-size:20px; color:red; text-align:center">F码: {{ vipcode }}</p>
	  {% endif %}
	  <p>申请流程：关注优尼世界公众微信，然后申请就搞定啦！</p>
	</div>
      </div>

      <div class="row">
	<div class="col-xs-12" style="text-align:center">
	  <p><a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc2848fa1e1aa94b5&redirect_uri=http://m.xiaolumeimei.com/weixin/freesamples/&response_type=code&scope=snsapi_base&state=135#wechat_redirect" class="btn btn-warning">点击直达申请页面>></a></p>
	  </div>
	</div>
      
      <div class="row">
	<div class="col-xs-12">

	  <p>您肯定已经厌倦了类似 “订单金额满100元起用，每张订单限用一张” 这样的条条框框？ 说送你100元券，结果领完一看细则，艾玛! 分成了十张10元的，每次还限用一张！天空飘来五个字“这不坑爹嘛！”</p>
	  <p>优尼世界这次让你嗨翻！<font style="color:#029fd6">不设任何门槛，100元可以一次性花完！</font>霸气！阔绰！要的就是这国际范儿！</p>
	  <p>快来关注申请吧！！！</p>
	</div>
      </div>

      <div class="row">
	<div class="col-xs-12">
	  <p>最后，悄悄告诉您：<font style="color:red">您的F码被朋友使用次数越多，您被选中的几率就越大！(朋友申请到了也会感激您！)</font></p>
	  <div class="thumbnail">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLuBe3lKsVRy6Kg6RMySy2lZX72iauodAN7m3fbBXBiaK1FGXaBZWuhqMn7RdPlnED6ia3PnXkS9xmbDw/0" alt="...">
	  </div>
	</div>
      </div>
    <div class="col-xs-12">
	  <p><font style="color:#029fd6">该活动由微信官方认证公众号发起</font></p>
	  <div class="thumbnail">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLsz07Vng2TDhLpsPx02Y68qQS70AicajDErFXeMvB4pC0bfeRZKj5tTy9VMrxw9ZB9mfLqO1aTibIBw/0" alt="...">
	  </div>
	</div>
    </div>
  </div>

  <div class="footer">
    <p>© Uni Littles 2014</p>
  </div>

</div>
{% endblock %}    
    

