{% extends "weixin/weixin_base.html" %}

{% block title %} 
{% if identical %}
我刚在优尼世界申请了宝宝披风，礼盒包装免费寄到家哦！你也快去给宝宝领一件吧～～ 
{% else %}
优尼世界 9月送大礼 时尚婴童斗篷免费送啦！
{% endif %}
{% endblock %}


{% block container %}

<div class="container-fluid">
  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading" style="color:orange">优尼世界 时尚婴童斗篷免费送啦!</div>
    <div class="panel-body">

      {% if identical %}
      <div class="row">
	<div class="col-xs-12">
	  <p style="color:blue">亲，您的申请已经成功提交！</p>
	  <p style="color:blue">你获得了专属VIP邀请码：{{ vipcode }}，快分享到你朋友圈吧!</p>
	  <p style="color:blue">您的专属VIP邀请码被朋友<font style="color:red">使用次数越多</font>，您被选中的几率就越大！</p>
	  <p style="color:blue;font-size:20px">分享朋友圈后蓝色文字只有你自己可以看见！</p>
	</div>
      </div>
      {% endif %}
      
      <div class="row">
	<div class="col-xs-12" style="text-align:center">
	  <div class="thumbnail">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLv3GC9Flq6Q7vwglrNkxIPZLIyYlUibDQ0R7qK4wMYlNkibm132jqZHj6icOFIvbIN1ZiaD0YzbXhgH6w/0" alt="...">
	  </div>
	</div>
      </div>

      <div class="row">
	<div class="col-xs-12">
	  <p>留美海归团队设计，独家专利花型，天猫最时尚婴童斗篷，现在免费啦！</p>
	  <p>这款天猫、京东已经售出10000多件，好评如潮的婴童斗篷，首次开放免费试用。<font style="color:red">斗篷派出800份名额，另加800粉神秘大礼，共计1600份！机会多到数不清，快抢啊！！！</font></p>  
	  {% if vipcode == "898786" %} 
	  <p style="font-size:20px; color:red; text-align:center">您刚才输入的VIP邀请码错误，请用正确的VIP邀请码重新申请!</p>
	  {% else %}
	  <p style="font-size:20px; color:red; text-align:center">VIP邀请码: {{ vipcode }}</p>
	  {% endif %}
	  <p>关注【优尼世界】公众微信，到[活动中心] -> [免费试用]，开始申请吧！！</p>
	</div>
      </div>

      <div class="row">
	<div class="col-xs-12">
	  <p>这款斗篷适用年龄<font style="color:red">0-6岁</font>。可为小宝宝做抱被抱毯，为大宝宝做披风外衣，穿上身绝对有范儿！</p>
	  <div class="thumbnail">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLv3GC9Flq6Q7vwglrNkxIPZHG6wlwyHfsXQvtYAO3FFUMiaaGIdBaNKhD70Hqsny443I0JAYqFtBwA/0" alt="...">
	  </div>
	</div>
      </div>

      <div class="row">
	<div class="col-xs-12">
	  <p>随斗篷一同免费寄给您的，还有精美礼盒包装，<font style="color:red">送人也绝对面子十足！</font></p>
	  <div class="thumbnail">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLv3GC9Flq6Q7vwglrNkxIPZw6an6GW2qKCkpFCA11zvJTGXiaAia8Nt526f342SPNXicmIVJliaakJq2w/0" alt="...">
	  </div>
	</div>
      </div>


      <div class="row">
	<div class="col-xs-12">
	  <p>亲，具体申请很简单：关注微信，然后申请就搞定啦！</p>
	  <p>还有，悄悄告诉您：<font style="color:red">申请提交后的页面一定要分享到朋友圈哦，您的专属VIP邀请码被朋友<font style="color:red">使用次数越多</font>，您被选中的几率就越大！(朋友申请到了也会感激您！)</font></p>
	  <div class="thumbnail">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLv3GC9Flq6Q7vwglrNkxIPZ7noJym3Hrh8MyBaYmGf3BibVUzic7n4hkaDicch99UCxB01kYwmFDpTew/0" alt="...">
	  </div>
	</div>
      </div>

      
    </div>
  </div>

  <div class="footer">
    <button type="button" class="btn btn-success" onclick="WeiXinShareBtn();">Share</button>
    <p>© Uni Littles 2014</p>
  </div>

</div>
{% endblock %}    
    
{% block tail_script %}

<script type="text/javascript">
  function WeiXinShareBtn() {
    if (typeof WeixinJSBridge == "undefined") {
      alert("请先关注优尼世界哦！");
    } else {
      WeixinJSBridge.invoke('shareTimeline', {
        "title":"这是一个测试题头",
        "link":"http://weixin.huyi.so/weixin/freesamples/",
        "desc":"优尼世界：有你，就有全世界！",
        "img_url":"https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvJpNQrKjtsWEBcauwu2dCnRafKdlgicrx2I82ykEBZCZ4BC5QKByyug2dXLbDlmr2jfzDT7WYjhTA/0"}, 
        function(res) {
          alert(res);
        });
    }
  }
</script>

{% endblock %}

