{% extends "weixin/weixin_base.html" %}


{% block title %} 
自从有了娃
{% endblock %}

{% block container %}

<div class="container-fluid">
  <div class="thumbnail" style="text-align:center">
    <img id="id_donebox" src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvicXDpybDibWGUxYObT8cpBtibR2bAgNhGJQyFtnJBxzx3qfwAQMibbYWF2SN4XZe0YWkBJIuvHBm0xg/0"/>
    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvicXDpybDibWGUxYObT8cpBtOKHibDRnWkTB5Kzfr7ynNdjJRAq3qJfE2mDB1yibADIHicZndYF4JiabdQ/0"/>
    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvicXDpybDibWGUxYObT8cpBtf1DKN4MtQN4TgCPS2v03Wq9LutYL1qWPOViaJyZrGLn5ibnFlgJWayiaA/0"/>
    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvicXDpybDibWGUxYObT8cpBt6Y87W5TD52tnEcHzicHnr6wYpbYPxR53pP7wJcPWG1jmzVgeFmQTA3g/0"/>
    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvicXDpybDibWGUxYObT8cpBtbOzQYltsb4I2xszsOGQcgibTUicWzCnRto0caEU21qDD7ktpBfBTRF2w/0"/>
    <button type="button" class="btn btn-danger" style="margin-top:16px">快点去抢 >></button>
    <p style="margin-top:16px">记住我的VIP邀请码: {{ vipcode }}</p>
  </div>
    
  <div class="footer">
    <p>© Uni Littles 2015</p>
  </div>

</div>
{% endblock %}    

{% block tail_script %}    
<script type="text/javascript">
  var global_timer;
  function slideup() {
    $("#id_donebox").slideUp(2000);
    window.clearInterval(global_timer);
  };

  global_timer =  window.setInterval(slideup, 3500);
</script>

{% endblock %}

