{% extends "weixin/weixin_base.html" %}


{% block title %} 
自从有了娃
{% endblock %}

{% block container %}

<div class="container-fluid">
  <div class="thumbnail" style="text-align:center">
    {% if identical %}
    <img id="id_donebox" src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvicXDpybDibWGUxYObT8cpBtibR2bAgNhGJQyFtnJBxzx3qfwAQMibbYWF2SN4XZe0YWkBJIuvHBm0xg/0"/>
    {% endif %}
    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvicXDpybDibWGUxYObT8cpBtOKHibDRnWkTB5Kzfr7ynNdjJRAq3qJfE2mDB1yibADIHicZndYF4JiabdQ/0"/>
    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvicXDpybDibWGUxYObT8cpBtf1DKN4MtQN4TgCPS2v03Wq9LutYL1qWPOViaJyZrGLn5ibnFlgJWayiaA/0"/>
    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvicXDpybDibWGUxYObT8cpBt6Y87W5TD52tnEcHzicHnr6wYpbYPxR53pP7wJcPWG1jmzVgeFmQTA3g/0"/>
    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvicXDpybDibWGUxYObT8cpBtbOzQYltsb4I2xszsOGQcgibTUicWzCnRto0caEU21qDD7ktpBfBTRF2w/0"/>
    <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc2848fa1e1aa94b5&redirect_uri=http://weixin.huyi.so/weixin/freesamples/?f={{ vipcode }}&response_type=code&scope=snsapi_base&state=135#wechat_redirect" type="button" class="btn btn-danger" style="margin-top:16px">快点去抢 >></a>
    <p style="margin-top:16px">我的VIP邀请码: {{ vipcode }}</p>
  </div>
    
  <div class="footer">
    <p>© Uni Littles 2015</p>
  </div>

</div>
{% endblock %}    

{% block tail_script %}    
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
  var global_timer;
  function slideup() {
    $("#id_donebox").slideUp(2000);
    window.clearInterval(global_timer);
  };

  global_timer =  window.setInterval(slideup, 3500);

  wx.config({
    debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: "{{ signkey.app_id }}", // 必填，公众号的唯一标识
    timestamp: "{{ signkey.timestamp }}", // 必填，生成签名的时间戳
    nonceStr: "{{ signkey.noncestr }}", // 必填，生成签名的随机串
    signature: "{{ signkey.signature }}",// 必填，签名，见附录1
    jsApiList: [ "onMenuShareTimeline",
                 "onMenuShareAppMessage",
                 "onMenuShareQQ" ,
                 "onMenuShareWeibo"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
  });
</script>

<script type="text/javascript">  
var imgUrl = "https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLticIHepSybaDQKTV5LXs8iaLRB3EMEibPzXZWs7XCPmBmqW8uzaCBBxYudU0PKYjmw0r7MOsoJ000\
zg/0";
var lineLink = "http://weixin.huyi.so/weixin/sampleads/{{ pk }}/";
var descContent = "自从有了娃，梦想中，他们睡觉是这样。。。";
var shareTitle = "自从有了娃";

wx.onMenuShareAppMessage({
    title: shareTitle, // 分享标题
    desc: descContent, // 分享描述
    link: lineLink, // 分享链接
    imgUrl: imgUrl, // 分享图标
    type: 'link', // 分享类型,music、video或link，不填默认为link
    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
    success: function () { 
        alter("给好友分享成功" );
    },
    cancel: function () { 
        alter("取消分享" );
    }
});

</script>  
<!--wx.onMenuShareTimeline({
        title: '', // 分享标题
        link: '', // 分享链接
        imgUrl: '', // 分享图标
        success: function () { 
            // 用户确认分享后执行的回调函数
        },
        cancel: function () { 
            // 用户取消分享后执行的回调函数
        }
    });

wx.onMenuShareWeibo({
        title: '', // 分享标题
        desc: '', // 分享描述
        link: '', // 分享链接
        imgUrl: '', // 分享图标
        success: function () { 
           // 用户确认分享后执行的回调函数
        },
        cancel: function () { 
            // 用户取消分享后执行的回调函数
        }
    });

wx.onMenuShareQQ({
        title: '', // 分享标题
        desc: '', // 分享描述
        link: '', // 分享链接
        imgUrl: '', // 分享图标
        success: function () { 
           // 用户确认分享后执行的回调函数
        },
        cancel: function () { 
           // 用户取消分享后执行的回调函数
        }
    });
-->

{% endblock %}

