{% extends "weixin/weixin_base.html" %}

{% block title %} 积分规则 {% endblock %}

{% block container %}

<div class="container-fluid">

  <ul class="list-group">
    <li class="list-group-item">1.答题积分：共20题，每题1分，答对得分。</li>
    <li class="list-group-item">2.邀请积分：邀请朋友（取消再订阅的不计）答题，得1分-2分；邀请的朋友成为优尼世界新粉丝并领取答题积分，再加10分。</li>
    <li class="list-group-item">3.购物积分：任意官方旗舰店购物，实付每10元积1分，不足10元部分不计分。</li>
    <li class="list-group-item">4.阅读积分：阅读官方微信推文，点击相关链接（根据标注分数加分：2分-5分）。</li>
    <li class="list-group-item">5.历史积分：9月15日之前的活动，系统自动根据规则计分。8-9月免费试用活动中奖的亲，系统会自动扣除20积分。</li>
  </ul>

  <div class="footer">
    <p>© Uni Littles 2014</p>
  </div>
  
</div>
{% endblock %}

