{% extends "weixin/weixin_base.html" %}

{% block title %}优尼世界特卖活动 喊你投票啦！{% endblock %}


{% block container %}

<div class="container-fluid">

  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading" style="color:#e8792a">十二月 优尼特卖！</div>
    <div class="panel-body">
      <p style="color:#029fd6">十二月特卖，您喜欢哪款宝贝呢？投票就送积分哦！</p>
      <div class="row">
	<div class="col-xs-12">
	  <h5 style="color:#e8792a">选择一：davebella宝宝时尚开衫外套</h5>
	</div>
      </div>
      <div class="row">
	<div class="col-xs-12" style="text-align:center">
	  <a href="#" class="thumbnail">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLt03V9zJJUySaG7nSUaORia0AO2Zk7UMbf46Q0j3t1R5NmiaiajJEkltvEVicZXDjkO0RWobv8icEcXLVA/0" alt="...">
	  </a>
	</div>
      </div>
      <div class="row">
	<div class="col-xs-12" style="text-align:center">
<!--
	  <p style="color:#e8792a">多款式，均码 <a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pMt59uO9ALgEo18Zz7dcDyEqiUbQ&biz=MzA5NTI1NjYyNg==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect">商品详情 >></a></p>
-->
	  <p id="id_p1" style="color:#029fd6"><input type="radio" name="p1" value="7" id="id_input1"> 我选择 开衫外套</p>{% csrf_token %}
	  <p style="color:red">得票率：{{ ratio1 }}%</p>
	</div>
      </div>

      <div class="row">
	<div class="col-xs-12">
	  <h5 style="color:#e8792a">选择二：yulang宝宝秋冬保暖棉裤</h5>
	</div>
      </div>

      <div class="row">
	<div class="col-xs-12" style="text-align:center">
	  <a href="#" class="thumbnail">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLt03V9zJJUySaG7nSUaORia0SVp5uiaVjXIVNhsCQrkgzYesRjJ9bKOb04YOjeG5S3xzZiboGzeOQGpw/0" alt="...">
	  </a>
	</div>
      </div>
      <div class="row">
	<div class="col-xs-12" style="text-align:center">
<!--
	  <p style="color:#e8792a">多款式，多尺寸 <a href="http://mp.weixin.qq.com/bizmall/malldetail?id=&pid=pMt59uLzyCZkBcdK1rU9-bjKOkco&biz=MzA5NTI1NjYyNg==&scene=&action=show_detail&showwxpaytitle=1#wechat_redirect">商品详情 >></a></p>
-->
	  <p id="id_p2" style="color:#029fd6"><input type="radio" name="p1" value="8" id="id_input2"> 我选择 保暖棉裤</p>
	  <p style="color:red">得票率：{{ ratio2 }}%</p>
	</div>
      </div>
      <div class="row">
	<div class="col-xs-12" style="text-align:center" id="id_msg">
	  {% if total > 1000 %}
	  <p>已有超过<font style="color:red">1000</font>人投票</p>
	  {% else %}
	  <p>已有<font style="color:red">{{ total }}</font>人投票</p>
	  {% endif %}
	</div>
      </div>
      <div class="row">
	<div class="col-xs-12" style="text-align:center" id="id_msg">
	  {% if exist %}
	  <p style='color:#029fd6'>亲，您的选择已经提交！快告诉朋友，让他们也来投票吧！</p>
	  {% else %}
	  <button type="button" class="btn btn-warning" id="id_submit" onclick="submit();">投票提交</button>
	  {% endif %}
	</div>
      </div>
      

    </div>
  </div>
</div>

{% endblock %}

{% block tail_script %}
<script type="text/javascript">
  $("#id_p1").on("click", function () {
  $("#id_input1").attr("checked",true);
  $("#id_input2").attr("checked",false);
  $("#id_p1").css("color","#ed5377");
  $("#id_p2").css("color","");  
  });

  $("#id_p2").on("click", function () {
  $("#id_input2").attr("checked",true);
  $("#id_input1").attr("checked",false);
  $("#id_p2").css("color","#ed5377");
  $("#id_p1").css("color","");  
  });

  function checkSelection() {
    if ((!$("#id_input1").is(':checked')) && (!$("#id_input2").is(':checked'))) {
      $("#id_msg")[0].innerHTML = "<p style='color:red'>亲，麻烦选择下答案再提交哦。</p>";
      return false;
    }
    return true;
  }

  function submit() {
    if (checkSelection() == false) {
      return;
    }
  
    var selection = 0;
    if ($("#id_input1").is(':checked')) {
      selection = 7;
    }
    if ($("#id_input2").is(':checked')) {
      selection = 8;
    }

    var url = "/weixin/survey/";
    var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    
    var data = {"selection": selection, "csrfmiddlewaretoken":csrf_token};
    var callback = function (res) {
      console.log(res);
    if (res["code"] == "ok") {
      $("#id_msg")[0].innerHTML = "<p style='color:red'>亲，您的选择已经提交！感谢！</p>";
      $("#id_submit").css("display","none");
    }
    };
    $.ajax({url:url, data:data, type:"post", success:callback});
  }
</script>

{% endblock %}
