{% extends "weixin/weixin_base.html" %}

{% block title %} 优尼世界的故事 {% endblock %}

{% block container %}

<div class="container-fluid">
      <a href="" class="thumbnail" style="padding:0px;margin-bottom:0px;">
	<img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLsRWbEbeOiaHBExWQGPyK4aj8mebth0fb6NTGS6RGtZyruos7pb2CkGe81UfiaWgCsNAbPlI6QywApQ/0" alt="...">
      </a>
      <a href="" class="thumbnail" style="padding:0px;margin-bottom:0px;">
	<img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLsRWbEbeOiaHBExWQGPyK4ajCu587MQPjbcEketBLzYCVXYJw7m1wBX1pPJGjWs8mspcBPbN9oZpuw/0" alt="...">
      </a>

  <div class="footer">
    <p>© Uni Littles 2014</p>
  </div>
  
</div>
{% endblock %}

