{% extends "weixin/weixin_base.html" %}

{% block title %} 优尼世界的故事 {% endblock %}

{% block container %}

<div class="container-fluid">
  <h5>1. 品牌理念</h5>
      <a href="" class="thumbnail">
	<img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLujaWIe5B3s9kWcJQfNs39HQuB5ibdvHKYXpjXOY1gCNic70U02bIdsE3IibW6ic0qOvzxY0dZaAuBwWg/0" alt="...">
      </a>
  <h5>2. 发展历程</h5>
      <a href="" class="thumbnail">
	<img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLtVnwUdA9hdEwcj8mmYt71iaPWGBCxICBZ5TLHa0SWrD5W3Q4K2NkibMiaVUJKQicqJdLtJVibedpskXicA/0" alt="...">
      </a>
      <a href="" class="thumbnail">
	<img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLtVnwUdA9hdEwcj8mmYt71iaIz2OdYRRQEmOXL8t57CapZyXDhdUOyqibBU0Vcia0jVKXx9BDibHCMYAQ/0" alt="...">
      </a>

  <div class="footer">
    <p>© Uni Littles 2014</p>
  </div>
  
</div>
{% endblock %}

