{% extends "weixin/weixin_base.html" %}
{% load url from future %}
{% block title %} 代理测试首页 {% endblock %}

{% load static %}

{% block head_script %}
    <style>
        .table > tbody > tr > td, .table > tfoot > tr > td {
            border: solid 1px #fff;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">小鹿妈妈考试首页</h3>
        </div>
        <div class="panel-body">
            <div>
                <span class="label label-warning">请注意：</span>
                1.中途退出答题无效。
            </div>
        </div>
        <div class="panel-body">
            <span class="label label-info">请注意：</span>
            2.只有回答正确，才能进入下一题。
        </div>
    </div>

    <div style="margin-left:25px">
        <img
                src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLvod8esoMLkQr7v4N8zrsCqFMibwQgwSQZB6DKpf67FYJevsib8tJSXsU7T7qah490dPgZmjnppIa2g/0?wx_fmt=jpeg"
                class="img-responsive img-circle"
                alt="Cinque Terre"
                width="304"
                height="236">
    </div>

    <div class="row" style="margin-top:20px;margin-bottom:10px">
        <div class="col-xs-12" style="text-align:center">
            <button
                    type="button"
                    id="fat-btn"
                    class="btn btn-warning btn-lg btn-block"
                    onclick="location='/sale/exam/mmexam/{{ start_question }}'"><!-- 34 表示开始题号　-->
                点击进入考试
            </button>
        </div>

        <div class="footer" style="text-align:center">
            <p> © Uni Littles 2015 </p>
        </div>
    </div>
{% endblock %}
