body{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
	background-color: #ffebf4;
	width: 100%;
	margin: 0;
}
.act-0405-2-top {
	width: 100%;
	background-image: URL(../img/act-0405-19.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 12%;
}


.act-0405-2-time {
	width: 70%;
	height: 70px;
	margin-left: 16%;
	background-image: URL(../img/act-0405-6.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: -webkit-box;
}
#day_show, #hour_show, #minute_show, #second_show {
	color: #fff;
	line-height: 48px;
	font-size: 20px;
	font-family: Arial;
	text-align: center;
	display: -webkit-box;
	-webkit-box-flex: 1;
	margin-top: 8%;
	padding-left: 8%;
}
.act-0405-2-rules {
	width: 82%;
	margin-left: 9%;
	margin-top: 30px;
}
.act-0405-2-download {
	width: 82%;
	margin-left: 9%;
}
p {
	text-align: center;
	font-size: 12px;
	margin-top: 0;
}