{% extends "autolist/base.html" %}


{% block title %}
  {% if weekday == 7 %}
  周日  - 上架宝贝{{ total }}件
  {% else %}
  周{{ weekday }} - 上架宝贝{{ total }}件
  {% endif %}
{% endblock %}

{% block navbar %}<div style="margin-top:30px"></div>{% endblock %}

{% block container %}
<div id="id-csrftoken">{% csrf_token %}</div>

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">调整时间</a></li>
        <!-- <li><a href="#">计划时间</a></li> -->
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="1">
            <table class="table table-bordered table-striped table-condensed">
                {% if weekday == 7 %}
                <tr>
                    <th colspan="12">周日 ({{ total }}件宝贝)</th>
                </tr>
                {% else %}
                <tr>
                    <th colspan="12">周{{ weekday }} ({{ total }}件宝贝)</th>
                </tr>
                {% endif %}

                <tr>
                    <th>序号</th>
                    <th>商品类别</th>
                    {% for slot in timeslots %}
                    <th>{{ slot }}</th>
                    {% endfor %}
                </tr>
                {% for k,v in cats.items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ k.name }}</td>
                    {% for y in v %}
                    <td >
                        {% if y|length > 0 %}
                        {% for item in y %}
                        <div class="time-select" style="float:left;height:60px;width:80px">
                        <a class="btn btn-small btn-danger" num_iid="{{ item.num_iid }}" img_src="{{ item.pic_url }}_60x60.jpg" style="display:none;"><i class="icon-pencil"></i>修改时间</a><div id="id-scheduled-{{ item.num_iid }}">
                        <a id="{{ item.num_iid }}" title="{{ item.title }}" num="{{ item.num }}" class="wrap-image">
                            <span class="time-select"><img src="{{ item.pic_url }}_60x60.jpg"></span>
                        </a>
                        </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane" id="2"></div>
    </div>
</div>
{% endblock %}

{% block delayed_script %}
  <script type="text/javascript">
      new autolist.ListModify();
  </script>
{% endblock %}
