
{% extends "supplier_base.html" %}

{% load mathfilters %}

{% block title %}
品牌供应商
{% endblock %}

{% block container %}
<div class="container">
  {% csrf_token %}
  <div class="row">
  	<div class="col-md-6" style="text-align:left;display:inline;padding:0px;margin:0px;">
  		<div class="page-header"><h2>{{ results.0.sale_supplier.supplier_name }} 
  			<a href="javascript:void(0);" onclick="slideToggle()" class="glyphicon glyphicon-pushpin"></a></h2>
  		</div>
  	</div>
    <div class="col-md-6" style="text-align:right;display:inline;padding:0px;margin:0px;">
	<ul class="nav nav-pills pagination pagination-lg">
	  {% if previous %}
	  <li><a href="{{ previous }}">&lt;&lt; 上一页</a></li>
          {% endif %}
	  {% if next %}
	  <li><a href="{{ next }}">下一页 &gt;&gt;</a></li>
	  {% endif %}
	</ul>
  </div>
   </div>
 <div class="panel panel-default supplier-info" style="display:none;">
  <!-- Default panel contents -->
  <div class="panel-heading">
	 商家信息
  </div>
  <div class="panel-body">
    <label>说明：</label><p>{{ results.0.sale_supplier.memo }} 
    <a href="/admin/supplier/salesupplier/{{  results.0.sale_supplier.id }}/" class="btn btn-primary" style="display:inline;float:right;" onclick="return showAddAnotherPopup(this);">修改</a></p>
    
  </div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">
    	<div class="row">
  		<div class="col-md-12" style="text-align:left;display:inline;">
  		<label>品牌主页：</label>
  		<a href="{{ results.0.sale_supplier.main_page }}">{{ results.0.sale_supplier.memo }} </a></div>
  		</div>
  	</li>
    <li class="list-group-item">
		<div class="row">
  		<div class="col-md-6" style="text-align:left;display:inline;"><label>联系人：</label><span>{{ results.0.sale_supplier.contact }}</span></div>
  		<div class="col-md-5" style="text-align:left;display:inline;"><label>传真：</label><span>{{ results.0.sale_supplier.fax }}</span></div>
  		</div>
	</li>
    <li class="list-group-item">
    	<div class="row">
  		<div class="col-md-6" style="text-align:left;display:inline;"><label>固话：</label><span>{{ results.0.sale_supplier.phone }}</span></div>
  		<div class="col-md-5" style="text-align:left;display:inline;"><label>手机：</label><span>{{ results.0.sale_supplier.mobile }}</span></div>
  		</div>
    </li>
    <li class="list-group-item">
    	<div class="row">
  		<div class="col-md-6" style="text-align:left;display:inline;"><label>邮编：</label><span>{{ results.0.sale_supplier.zip_code }}</span></div>
  		<div class="col-md-5" style="text-align:left;display:inline;"><label>邮箱：</label><span>{{ results.0.sale_supplier.email }}</span></div>
  		</div>
    </li>
    <li class="list-group-item">
    	<div class="row">
  		<div class="col-md-12" ><label>地址：</label><span>{{ results.0.sale_supplier.address }}</span></div>
  		</div>
    </li>
  </ul>
</div>
  

  <ul class="list-group">
    {% for record in results %}
    <li class="list-group-item" id="id-item-{{ record.id }}">
      <div class="row">
	<div class="col-xs-4">
	  <div class="thumbnail">
	    <a href="{{ record.product_link }}" target="_blank">
	    <img src="{{ record.pic_url }}">
	    </a>
	  </div>
	</div>
	<div class="col-xs-4">
	  <p>{{ record.title }}</p>
	  <p>售价: <font style="color:red" id="id-price-{{ forloop.counter }}">{{ record.price }}</font></p>
	  <p>商家: {{ record.sale_supplier.supplier_name }}</p>
	  <p>平台: {{ record.platform }}</p>
	  <p>类别: {{ record.sale_category.name }}</p>
	  <p>热卖指数：{{ record.hot_value }}</p>
	  <p>创建时间: {{ record.created }}</p>
	</div>
	<div class="col-xs-4">
	  <p>指导价: <font style="color:red;font-size:20px" id="id-target-price-{{ forloop.counter }}">{{ record.price|mul:1.5}}</font></p>
	  <p style="margin-top:10px">审核结果：</p>
	  <select class="form-control input" id="id-select-{{ forloop.counter}}">
	    <option value="rejected">拒绝</option>
	    <option value="purchase">通过</option>
	  </select>
	  <p style="margin-top:10px">备注：</p><input class="form-control"/>
	  <button type="button" class="btn btn-warning" style="margin-top:20px" onclick="screen({{ record.id }}, '{{ forloop.counter }}')";>确定</button>

	</div>
      </div>
    </li>
    {% endfor %}
  </ul>

  
  <div class="footer">
    <p>© Uni Littles 2014</p>
  </div>

</div>

{% endblock %}

{% block tail_script %}
    <script type="text/javascript">
      function screen(id, counter) {
        var selection = $("#id-select-"+counter).val();
        var url = "/flashsale/supplier/product/"+id+"/";
        var callback = function (res) {
          if (res["status"] != "wait") {
            $("#id-item-"+id).slideUp();
          }
        };
        
      var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
      var data = {"status": selection,"csrfmiddlewaretoken":csrf_token,};
        
      var headers = {
	    'X-HTTP-Method-Override': 'PATCH'
	   };

        $.ajax({url:url,data:data,success:callback,method:"post",headers:headers });
      };
	 function slideToggle(){ 
      	$(".supplier-info").slideToggle(1000);
      };
    </script>
{% endblock %}
    
