
{% extends "supplier_base.html" %}

{% load mathfilters %}

{% block title %}
品牌供应商
{% endblock %}

{% block container %}
<div class="container">
   <!-- <div class="navbar navbar-inverse">
    <div class="nav-collapse" style="height: auto;">
      <ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#">预审</a></li>
	<li role="presentation"><a href="#">接洽</a></li>
	<li role="presentation"><a href="#">终审</a></li>
	<li role="presentation"><a href="#">排期</a></li>
      </ul>
    </div>
  </div>  -->
  {% csrf_token %}
  <div class="row">
  	<div class="col-md-12" style="text-align:left">
  	ABC{{ results.0.sale_supplier.supplier_name }}
  	</div>
    <div class="col-md-12" style="text-align:right">
	<ul class="nav nav-pills pagination pagination-lg">
	  {% if previous %}
	  <li><a href={{ previous }}><< 上一页</a></li>
          {% endif %}
	  {% if next %}
	  <li><a href={{ next }}>下一页 >></a></li>
	  {% endif %}
	</ul>
    </div>
  </div>
  <ul class="list-group">
    {% for record in results %}
    <li class="list-group-item" id="id-item-{{ record.id }}">
      <div class="row">
	<div class="col-xs-4">
	  <div class="thumbnail">
	    <a href="{{ record.product_link }}" target="_blank">
	    <img src="{{ record.pic_url }}">
	    </a>
	  </div>
	</div>
	<div class="col-xs-4">
	  <p>{{ record.title }}</p>
	  <p>售价: <font style="color:red" id="id-price-{{ forloop.counter }}">{{ record.price }}</font></p>
	  <p>商家: {{ record.sale_supplier.supplier_name }}</p>
	  <p>平台: {{ record.platform }}</p>
	  <p>类别: {{ record.sale_category.name }}</p>
	  <p>热卖指数：{{ record.hot_value }}</p>
	  <p>创建时间: {{ record.created }}</p>
	</div>
	<div class="col-xs-4">
	  <p style="margin-top:10px;color:orange">备注：{{ record.memo }}</p>
	  <p id="id-msg">进货价：</p><input id="id-buy-price" class="form-control" placeholder="进货价(必须)">
	  <p style="margin-top:10px">接洽结果：</p>
	  <select class="form-control input" id="id-select-{{ forloop.counter}}">
	    <option value="ignored">拒绝</option>
	    <option value="passed">通过</option>
	  </select>
	  <button type="button" class="btn btn-warning" style="margin-top:20px" onclick="finalize({{ record.id }}, '{{ forloop.counter }}')";>确定</button>

	</div>
      </div>
    </li>
    {% endfor %}
  </ul>

  
  <div class="footer">
    <p>© Uni Littles 2014</p>
  </div>

</div>

{% endblock %}

{% block tail_script %}
    <script type="text/javascript">
      function finalize(id, counter) {
        var buyPrice = parseFloat($("#id-buy-price").val());

        if (isNaN(buyPrice) || buyPrice < 0) {
          $("#id-msg")[0].innerHTML = "请输入进货价：";
          $("#id-msg").css("color","red");
          return;
        }
        
        var selection = $("#id-select-"+counter).val();
        var url = "/flashsale/supplier/product/"+id+"/";
        var callback = function (res) {
          if (res["status"] != "wait") {
            $("#id-item-"+id).slideUp();
          }
        };
		var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        var data = {"status": selection,"csrfmiddlewaretoken":csrf_token,};
        
       var headers = {
	     'X-HTTP-Method-Override': 'PATCH'
	   };

        $.ajax({url:url,data:data,success:callback,method:"post",headers:headers });
      };
      
    </script>
{% endblock %}
    
