<!DOCTYPE html>
<html >
  <head>
    <title>创建{% if trade.type == "direct" %}内售{% elif trade.type == "reissue" %}补发{% endif %}单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <link href="{{ STATIC_URL }}bootstrap/css/bootstrap2.3.2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/base.less" rel="stylesheet/less" type="text/css" />
    <script src="{{ STATIC_URL }}jquery/jquery-1.8.13.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery/addons/jquery.validate.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery/addons/cn_message.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}closure-library/closure/goog/base.js"></script>
    <style type="text/css">
    body,div{
    	margin:0px auto;
    	padding:0px;
    }
    body{
    	width:1000px;
    }
    .table-bordered {
	    border: 1px solid #DDD;
	    border-collapse: separate;
	    border-left: 0;
	    border-top:0;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	}
	.table {
	    width: 100%;
	    margin-bottom: 18px;
	}
	table {
	    max-width: 100%;
	    background-color: white;
	    border-collapse: collapse;
	    border-spacing: 0;
	}
	tr {
	    display: table-row;
	    vertical-align: inherit;
	    border-color: inherit;
	}
	.table-bordered th, .table-bordered td {
	    border-left: 1px solid #DDD;
	}
	.table tbody tr:hover td, .table tbody tr:hover th {
	    background-color: whiteSmoke;
	}
    .simple-text {
	    width:120px;
	    height:16px;
	    display:inline;
	    margin:0px 0px;
	}
	.content-main{
		margin-top:40px;
		display:fixed;
	}
	.content-base-info {
		display:fixed;
	}
	.product-search,.trade-search{
		margin:0px 10px;
		display:inline;
	}
	.product-search{
		float:left;
	}
	.trade-search{
		float:right;
	}
	.content-search {
		width:60%;
		height:20px;
		display:fixed;
	}
	label.error {
	    color: red;
	    font-weight: bold;
	}
    </style>
  </head>
{% load trade_tags %} 
{% with trade=object.trade sellers=object.sellers trade_type=object.trade_type origin_no=object.origin_no %}
  <body>
	<div class="content-main">
		<fieldset>
			<legend><h1 class="head-title" >{% if trade %}修改{% else %}新增{% endif %}&nbsp;
				{% if trade_type == "direct" %}内售{% elif trade_type == "reissue" %}补发{% endif %}订单</h1></legend>
			<div class="content-base-info">
				<form method="POST" id="trade-form" action="./">
				<div>
					<input type="hidden" id="id_direct_trade" value="{{ trade.id }}" />
					<input type="hidden" id="id_trade_type" name="trade_type" value="{{ trade_type }}" />
				</div>
				<table class="table table-bordered table-striped table-condensed">
					<tr>
						<td>所属店铺:</td>
						<td>
							<select id="id_seller_id" name="sellerId" class="selection" style="width:130px;">
								<option value='' >-------请选择-------</option>
								{% for seller in sellers %}
								<option value='{{ seller.id }}' {% if trade.user.id == seller.id %}selected{% endif %} >{{ seller.nick }}</option>
								{% endfor %}
							</select>
						</td>
                        <td>原单ID: </td><td><input type="text" class="simple-text" name="tid" 
                           value="{% if trade %}{{ trade.tid }}{% else %}{{ origin_no }}{% endif %}" {% if trade_type == "reissue" %}readonly{% endif %}/></td>
						<td>会员昵称:</td><td><input type="text" id="id_buyer_nick"   name="buyer_nick" class="simple-text" value="{{ trade.buyer_nick }}" /></td>
						<td>手机:</td><td><input type="text" id="id_receiver_mobile" name="receiver_mobile" class="simple-text" value="{{ trade.receiver_mobile }}" /></td>
					</tr>
					<tr>
                        <td>固话:</td><td><input type="text" id="id_receiver_phone"  name="receiver_phone" class="simple-text" value="{{ trade.receiver_phone }}" /></td>
						<td>收货人:</td><td><input type="text" id="id_receiver_name"  name="receiver_name" class="simple-text" value="{{ trade.receiver_name }}" /></td>
						<td>省:</td><td><input type="text" id="id_receiver_state" name="receiver_state" class="simple-text" value="{{ trade.receiver_state }}" /></td>
						<td>市:</td><td><input type="text" id="id_receiver_city" name="receiver_city" class="simple-text" value="{{ trade.receiver_city }}" /></td>
					</tr>
					<tr>
                        <td>区:</td><td><input type="text" id="id_receiver_district" name="receiver_district" class="simple-text" value="{{ trade.receiver_district }}" /></td>
						<td>详细地址:</td><td colspan="5">
						<input type="text" id="id_receiver_address" name="receiver_address" class="simple-text" style="width:400px;" value="{{ trade.receiver_address }}" />
						</td>
					</tr>
					<tr>
						{% if trade_type == "direct" %}
						<td>实付:</td><td><input type="text" id="id_payment" name="payment" class="simple-text" value="{{ trade.payment }}" /></td>
						<td>邮费:</td><td><input type="text" id="id_post_fee" name="post_fee" class="simple-text" value="{{ trade.post_fee }}" /></td>
                        <td colspan="2"></td>
						{% else %}
						<td colspan="6"></td>
						{% endif %}
						<td colspan="2">
							<input type="submit" class="btn btn-small btn-success" value="{% if trade.sys_status == 'WAIT_AUDIT' %}修改{% else %}保存 +{% endif %}" />&nbsp;&nbsp;
							{% if trade %}<a href="/admin/trades/mergetrade/?q={{ trade.id }}&type__exact={{ trade.type }}" class="btn btn-small btn-success">审核 -></a>{% endif %}
						</td>
					</tr>
				</table>
				</form>
			</div>
			<hr/>
			<div class="order-content">
				<div class="up-orders-panel">
					<h3 class="head-title" id="id-return-head">
						<img src="{{ STATIC_URL }}img/tri_right.png" style="cursor:pointer;margin-right:5px;"></img>订单列表</h3>
					<div id="id-return-goods">
						<table id="id-return-table" class="table table-bordered table-striped table-condensed">
							<thead>
								<tr>
									<td>编号</td>
									<td>商家编码</td>
									<td>商品简称</td>
									<td>规格</td>
									<td>数量</td>
									<td>单价</td>
									<td>缺货</td>
									<td>类型</td>
									<td>操作</td>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<hr/>
			<div class="content-search">
				<div class="navbar-search product-search">
					<input type="text" id="id_prod_q" class="search-query"  placeholder="商品搜索" {% if not trade%} disabled="disabled"{% endif %}/>
				</div>
				<div class="navbar-search trade-search">
					<input type="text" id="id_trade_q" class="search-query"  placeholder="订单搜索" {% if not trade%} disabled="disabled"{% endif %}/>
				</div>
			</div>
			<hr/>
			<div id="id-prod-search-dialog" style="display:none;">
				<table id="id-prod-search-table" class="table table-bordered">
					<thead>
						<tr>
							<td>序号</td>
							<td>商家编码</td>
							<td style="width:250px;">商品简称</td>
							<td>规格</td>
							<td>数量</td>
							<td>单价</td>
							<td>操作</td>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div id="id-trade-search-dialog" style="display:none;">
				<table id="id-trade-search-table" class="table table-bordered">
					<thead>
						<tr>
							<td>序号</td>
							<td>买家昵称</td>
							<td>单数</td>
							<td>付款日期</td>
							<td>发货日期</td>
							<td>收货人</td>
							<td style="width:200px;">收货地址及电话</td>
							<td>淘宝状态</td>
							<td>系统状态</td>
							<td>操作</td>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<hr/>
		</fieldset>
	</div>
</body>
{% endwith %}
<script src="{{ STATIC_URL }}script/base.js"></script>
<script src="{{ STATIC_URL }}script/trades/direct_trade.js"></script>
<script type="text/javascript">
	 new direct.Manager();
	 $("#trade-form").validate({rules: {
			tid: {required:true},
			sellerId: {required:true},
			buyer_nick: {required:true},
			receiver_name: {required:true},
			receiver_state: {required:true},
			receiver_city: {required:true},
			receiver_address: {required:true},
			payment: {required:true,number:true},
			post_fee: {required:true,number:true},
     },
     submitHandler: function(form) {
    	form.submit();
  	 }});
</script>
</html>
