<!DOCTYPE html>
<html >
  <head>
    <title>订单审核/重审页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <link href="{{ STATIC_URL }}bootstrap/css/bootstrap2.3.2.min.css" rel="stylesheet" type="text/css"/>
      <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" type="text/css" href="/static/wap/css/sweet-alert.css">
      <link href="{{ STATIC_URL }}css/admin/checkorder.css" rel="stylesheet" type="text/css"/>
      <script src="/static/wap/js/sweet-alert.min.js"></script>
      <script src="{{ STATIC_URL }}script/trades/trade_new.js" type="text/javascript"></script>
      <script src="{{ STATIC_URL }}script/jquery-1.7.1.min.js" type="text/javascript"></script>

  </head>
{% load trade_tags %} 
{% with trade=object.trade  logistics=object.logistics %}
<body>
<div class="container">
  {% if  trade.sys_status == "WAIT_AUDIT" %}
<h4  style="background-color:green" >订单审核详情</h4>
{% else %}
<h4  style="background-color:green" >订单重审页面</h4>
{%endif%}


<div class="body1" style="margin-left: auto; margin-right: auto; width: 100%;">
<div class="row-through">
<input type="hidden" id="id_check_trade" name="trade_id" value="{{ trade.id }}">
<input type="hidden" id="id_trade_type" name="trade_type" value="{{ trade.type }}">
<input type="hidden" id="id_trade_status" name="trade_status" value="{{ trade.sys_status }}">
<div style="margin: 0px; display: inline-block; width: 30%"><label class="simple-label">订单号: </label>{{ trade.tid }}</div>
<div style="margin: 0px; display: inline-block; width: 30%"><label class="simple-label">买家: </label>{{trade.buyer_nick }}</div>
<div style="margin: 0px; display: inline-block; width: 30%"><label class="simple-label">店铺: </label>{{ trade.seller_nick }}</div><br>
<div style="margin: 0px; display: inline-block; width: 30%"><label class="simple-label">付款时间: </label>{{ trade.pay_time }}</div>
<div style="margin: 0px; display: inline-block; width: 30%"><label class="simple-label">实付款: </label>{{ trade.payment }}</div>
<div style="margin: 0px; display: inline-block; width: 30%"><label class="simple-label">邮费: </label>{{ trade.post_fee }}</div>
</div>

<div class="row-through">
<div class="alert-message buyer"><strong>买家留言: </strong>{{ trade.buyer_message }}</div>
<div class="alert-message seller"><strong>卖家留言: </strong>{{ trade.seller_memo }}</div>
<div class="alert-message system"><strong>系统备注: </strong>{{ trade.sys_memo }}</div>
</div>
<div style="padding: 9px 15px">
<label class="simple-label">物流方式:</label>   

<select id="id_shipping_type" class="selection" style="width:100px;">
	{% for k,v in trade.shippings.items %}
	<option value='{{ k }}' {% if k == trade.shipping_type %}selected{% endif %} >{{ v }}</option>
	{% endfor %}
</select> 
<label class="simple-label">快递:</label>    
<select id="id_logistics" class="selection" style="width:100px;">
	<option value="">--------</option>
	{% for lg in logistics %}
	<option value='{{ lg.code }}' {% if lg.id == trade.logistics_company.id %}selected{% endif %} >{{ lg.name }}</option>
	{% endfor %}
</select> 
<label class="simple-label">优先级: </label> 
<select id="id_priority" name="priority" class="selection" style="width:100px;">
	<option {% if trade.priority == -1 %}selected{% endif %} value="-1">低</option>
	<option {% if trade.priority == 0 %}selected{% endif %} value="0">中</option>
	<option {% if trade.priority == 1 %}selected{% endif %} value="1">高</option>
</select>
<label class="simple-label">所属仓库: </label> 
<select id="id_ware" name="ware_by" class="selection" style="width:100px;">
	{% for ware in trade.ware_list %}
	<option {% if trade.ware_by == ware.0 %}selected{% endif %} value="{{ ware.0 }}">{{ ware.1 }}</option>
	{% endfor %}
</select>
<label class="simple-label">问题编号:</label><span>{{ trade.reason_code }}</span>
</div>
<div class="accordion-group1">
<div class="accordion-heading1">
<div class="row-through">
<div style="margin: 0px; display: inline-block; width: 22%"><label
	class="simple-label">收货人: </label><span id="id_receiver">{{ trade.receiver_name }}</span></div>
<div style="margin: 0px; display: inline-block; width: 22%"><label
	class="simple-label">手机: </label><span id="id_mobile">{{ trade.receiver_mobile }}</span></div>
<div style="margin: 0px; display: inline-block; width: 22%"><label
	class="simple-label">固话: </label><span id="id_phone">{{ trade.receiver_phone }}</span></div>
<div style="margin: 0px; display: inline-block; width: 22%"><label
	class="simple-label">邮编: </label><span id="id_zip">{{ trade.receiver_zip }}</span></div>
</div>

<div class="row-through">
<div style="margin: 0px; display: inline-block; width: 88%"><label class="simple-label">地址: </label>
<span id="id_address">{{ trade.receiver_state }}，{{ trade.receiver_city }}，{{ trade.receiver_district }}，{{ trade.receiver_address }}</span>
</div>
</div>
</div>
<a   href="javascript:void(0)"   id="collapseOne"   style="padding: 0px 15px"     onclick="show()" >修改地址››</a></div>
<div id="addrContent" class="accordion-inner1"       style="display: none"   >
<form id="id-addr-form" class="form-inline">
<div>
    <label class="simple-label">收货人信息: </label> 
	<input type="text" id="id_receiver_name" class="input-small1" value="{{ trade.receiver_name }}" placeholder="收货人" name="receiver_name">
	<input type="text" id="id_receiver_mobile" class="input-small1" value="{{ trade.receiver_mobile }}" placeholder="手机" name="receiver_mobile"> 
	<input type="text" id="id_receiver_phone" class="input-small1" value="{{ trade.receiver_phone }}" placeholder="固话" name="receiver_phone">
	<input type="text" id="id_receiver_zip" class="input-small1" value="{{ trade.receiver_zip }}" placeholder="邮编" name="receiver_zip">  
	<input type="button" id="addr-from-submit" class="btn btn-warning"   style="float: right" value="确定修改"   onclick="changeAddress()"   >
</div>
<div style="margin-top: 5px">
	<label class="simple-label">新地址:</label> 
	<input type="text" id="id_receiver_state" class="input-small1" value="{{ trade.receiver_state }}" placeholder="省" name="receiver_state"> 
	<input type="text" id="id_receiver_city" class="input-small1" value="{{ trade.receiver_city }}" placeholder="市" name="receiver_city"> 
	<input type="text" id="id_receiver_district" class="input-small1" value="{{ trade.receiver_district }}" placeholder="区" name="receiver_district"> 
	<input type="text" id="id_receiver_address" style="width: 310px" value="{{ trade.receiver_address }}" placeholder="详细地址" name="receiver_address">
</div>
</form>
</div>
</div>
<div style="padding: 9px 15px">
<ul class="thumbnails1">
	{% if trade.has_memo %}<li><span class="badge1 badge-warning1">有留言</span></li>{% endif %} 
	{% if trade.has_out_stock %}<li><span class="badge1 badge-warning1">缺货</span></li>{% endif %} 
	{% if trade.has_refund %}<li><span class="badge1 badge-warning1">待退款</span></li>{% endif %} 
	{% if trade.out_of_logistic %}<li><span class="badge1 badge-warning1">没有选择快递</span></li>{% endif %} 
	{% if trade.has_rule_match %}<li><span class="badge1 badge-warning1">商品匹配</span></li>{% endif %} 
	{% if trade.is_product_defect %}<li><span class="badge1 badge-warning1">商品编码错误</span></li>{% endif %} 
	{% if trade.need_manual_merge %}<li><span class="badge1 badge-warning1">需手动合单</span></li>{% endif %}
	{% if trade.has_sys_err %}<li><span class="badge1 badge-warning1">系统错误</span></li>{% endif %}
	{% if trade.is_force_wlb %}<li><span class="badge1 badge-warning1">发物流宝</span></li>{% endif %}
	{% if trade.is_ware_match %}<li><span class="badge1 badge-warning1">所属仓库不一致</span></li>{% endif %}
</ul>
</div>
<div class="accordion-group1">
<div class="accordion-heading1" style="margin: 5px 0px">
<a id="collapseTwo" class="goog-zippy-header goog-zippy-expanded" style="padding: 0px 15px"    onclick="show2()"   >商品列表››</a></div>
    <div id="orderContent" class="accordion-inner1" style="display: block">
        <div>
            <table id="id_trade_order" class="table table-bordered">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>商家编码</th>
                    <th>商品简称</th>
                    <th>规格</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>缺货</th>
                    <th>类型</th>
                    <th>所属仓库</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for order in trade.used_orders %}
                    <tr id="tr_{{ order.id }}">
                        <td>{{ order.id }}</td>
                        <td><span id="outer_id_{{ order.id }}">{{ order.outer_id }}</span></td>
                        <td><span id="pro_name_{{ order.id }}">{{ order|prod_name }}</span></td>
                        <td>
                            <select id="id-select-ordersku-{{ forloop.counter }}" name="id_order_sku">
                                <option value="">---------</option>
                                {% for sku in order|prod_skus %}
                                    <option value="{{ sku.outer_id }}"
                                            {% if order.outer_sku_id == sku.outer_id %}selected{% endif %}>{{ sku.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input id="id-change-order-num-{{ forloop.counter }}" class="order_num" type="text"
                                   value="{{ order.num }}" size="8"/></td>
                        <td>{{ order.price }}</td>
                        <td>{% if order.out_stock %}
                            <img src="{{ STATIC_URL }}admin/img/icon-yes.gif" alt="yes">
                        {% else %}
                            <img src="{{ STATIC_URL }}admin/img/icon-no.gif" alt="no">
                        {% endif %}
                        </td>
                        <td>{% if order.gift_type == 0 %}实付{% elif order.gift_type == 1 %}
                            赠送{% elif order.gift_type == 2 %}
                            满就送{% elif order.gift_type == 3 %}拆分{% elif order.gift_type == 4 %}
                            退货{% elif order.gift_type == 5 %}换货{% else %}其他{% endif %}</td>
                        <td>{% for ware in trade.ware_list %}{% if ware.0 == order.ware_by %}
                            <span class="label label-info">{{ ware.1 }}</span>{% endif %}{% endfor %}</td>
                        <td>
                            <button class="change-order btn-warning" idx="{{ forloop.counter }}" oid="{{ order.id }}"
                                    onclick="changeOrder(this)">修改
                            </button>
                            <button class="delete-order btn-danger" oid="{{ order.id }}" onclick="deleteOrder(this)">删除
                            </button>
                            <button class="delete-order btn-info" oid="{{ order.id }}" onclick="addorderto(this)">拆单
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot id="order-foot">
                <tr>
                    <th colspan="4"></th>
                    <th><input type="text" id="total_num" value="{{ trade.total_num }}"/></th>
                    <th colspan="4"></th>
                </tr>
                </tfoot>
            </table>

        </div>
        <div class="row">
            <table id="chai_dan_table" class="table table-bordered">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>商家编码</th>
                    <th>商品简称</th>
                    <th>规格</th>
                    <th>数量</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button class="delete-order btn-danger" onclick="begin_chai()" style="float: right">开始拆单</button>
            </div>
        </div>

        <div>
            <input type="text" id="id-search-q" class="input-medium search-query">
            <button id="id-search-prod" class="btn" onclick="searchProd()">商品搜索</button>
            <div style="height: 10px"></div>
            <table id="id-search-table" class="table table-bordered" style="display:none;">
                <thead>
                <tr>
                    <td>编号</td>
                    <td>商家编码</td>
                    <td>商品简称</td>
                    <td>规格</td>
                    <td>数量</td>
                    <td>单价</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

    <div id="add">
        {% if  trade.sys_status == "WAIT_AUDIT" %}
            <button type="button" class="btn btn-primary" id="CHECK" key='CHECK'
                    data-toggle="button" style="display: inline" onclick="ordercheck(this)"> 审核订单
            </button>
            <button type="button" class="btn btn-info trade-regular" onclick="delay_days(this)" style="margin-left: 40px" trade_id="%d" days="3">
                延三天
            </button>
        {% else %}
            <button type="button" class="btn btn-primary" id="CHECK" key='REVIEW'
                    data-toggle="button" onclick="ordercheck(this)">重审订单
            </button>
        {% endif %}
    </div>
</div>
	<script type="text/javascript">
		var change_logistic = function(evt){
			var trade_id      = $('#id_review_trade').val();
			var logistic_code = $('#id_logistics').val();
			var out_sid       = $('#id_express_no').val();
			if (logistic_code.indexOf('QR', logistic_code.length - 'QR'.length) == -1
				&&(logistic_code == '' || out_sid == '')){
				alert('物流单号不能为空');
			}else{
				$.post('/trades/logistic/',
					{'trade_id':trade_id,'logistic_code':logistic_code,'out_sid':out_sid,'format':'json'},
					function(data){
						if (data.code == 0){
							$('#id_logistic_name').html(data.response_content.logistic_company_name);
							$('#id_out_sid').html(data.response_content.out_sid);
						}else{
							alert('快递单号修改失败:'+data.response_error);
						}
					},
					'json');
			}
		};
		
		var review_order  = function(evt){
			var trade_id      = $('#id_review_trade').val();
			var post_url      = '/trades/review/'+trade_id+'/';
			$.post(post_url,
				{'format':'json'},
				function(data){
					if(data.code == 0){
						$('#id-trade-problems').html('');
						$('#id-review-order-btn').hide();
					}else{
						alert('订单复核失败:'+data.response_error);
					}
				},
				'json');
		};
		
		var check_outstock  = function(evt){
			var target      = evt.target;
			var oid         = target.getAttribute('oid');
			var out_stock  = target.checked;
			var post_url    = '/trades/order/outstock/'+oid+'/';
			$.post(post_url,
				{'format':'json','out_stock': out_stock?1:0},
				function(data){
					if(data.code == 0 ){
						if (data.response_content.out_stock){
							alert('缺货状态设置成功');
						}else{
							alert('缺货状态取消成功');
						}
					}else{
						alert('订单修改失败:'+data.response_error);
					}
				},
				'json');
		};
		
		$('#id-chg-express-no-btn').click(change_logistic);
		$('#id-review-order-btn').click(review_order);
		$('.order_stock_status').click(check_outstock);
		
		$('#id_logistics').change(function(e){
			var company_code  = $(this,"option:selected").val();
			
			if (company_code.indexOf('QR', 
				company_code.length - 'QR'.length) == -1){
				$('#id_express_no').prop('disabled', false);
			}else{
				$('#id_express_no').prop('disabled', true);
			}
		});
</script>
	<script>
          
</script>
</div>  
</body>
{% endwith %}
</html>
