{% extends "trades/base.html" %}

{% block title%} 重新下单 {% endblock %}

{% block navbar %}<div style="margin-top:30px;"><a href="{{ request.META.HTTP_REFERER }}" class="btn btn-large btn-success" >返回上一页</a></div>{% endblock %}

{% block container %}
<div class='list_top'>
	<div>
		<div style="display:block;">
		  <fieldset>
		  	<legend>重新下载订单状态</legend>
			  <table class="table table-bordered table-striped table-condensed">
			    <tr>
			      <th>订单ID</th><th>淘宝订单编号</th><th>店铺名称</th><th>买家昵称</th><th>付款日期</th><th>下载状态</th><th>问题编号</th>
			    </tr>
			    <tr style="background-color:red;"><td colspan="7">下载失败有<label>{{ fail_trades|length }}</label>单(如果订单有合单，请先将该订单取消合并后再重新下单)</td></tr>
			    {% for trade in fail_trades %}
			    <tr>
			    	<td>{{ trade.id }}</td>
					<td>{{ trade.tid }}</td>
					<td>{{ trade.seller_nick }}</td>
			    	<td>{{ trade.buyer_nick }}</td>
			    	<td>{{ trade.pay_time|date:'Y-m-d H:i:s' }}</td>
			    	<td><img src="{{ STATIC_URL }}admin/img/icon-no.gif" alt="no"></td>
			    	<td>{{ trade.reason_code }}</td>
			    </tr>
			    {% endfor %}
			    <tr style="background-color:green;"><td colspan="7">下载成功有<label>{{ success_trades|length }}</label>单</td></tr>
			    {% for trade in success_trades %}
			    <tr>
			    	<td>{{ trade.id }}</td>
					<td>{{ trade.tid }}</td>
					<td>{{ trade.seller_nick }}</td>
			    	<td>{{ trade.buyer_nick }}</td>
			    	<td>{{ trade.pay_time|date:'Y-m-d H:i:s' }}</td>
			    	<td><img src="{{ STATIC_URL }}admin/img/icon-yes.gif" alt="yes"></td>
			    	<td>{{ trade.reason_code }}</td>
			    </tr>
			    {% endfor %}
			  </table>
		  </fieldset>
		</div>
	</div>
</div>

{% endblock %}


