MySQL-python==1.2.3
Django==1.4.1
gunicorn==0.14.6
httplib2==0.7.2
raven==2.0.6
celery==3.0.19
django-celery==3.0.17
django-kombu==0.9.4
python-memcached==1.45
djangorestframework==0.3.0
#bitfield depend on nose
nose==1.3.1
django-bitfield==1.6.4
#jsonfield depend on six
six==1.6.1
#jsonfield==0.9.20


#geraldo
#reportlab==2.5
#wsgiref==0.1.2
#######dev server#######
#line_profiler
#guppy

git+ssh://user1@qiyue.f3322.org/home/user1/repo/django-chartit.git#egg=django-chartit
#git+shh://user1@222.73.86.185/repo/django-rest-framework.git#egg=djangorestframework
#git+git://github.com/dcramer/django-devserver#egg=django-devserver

  
##########extra package(not install in the virtualenv)##########
#sudo apt-get install python-mysqldb
#virtualenv==1.8.2
#lxml==2.3
PIL==1.1.7
#raven==2.0.6
#sentry==4.8.1
#celery==3.0.10
#django-celery==3.0.10
#kombu==2.4.7
pyExcelerator==0.6.4.1


  
