#sudo easy_install -U distribute
MySQL-python==1.2.3
Django==1.3.3
gunicorn==0.14.6
celery==3.0.10
django-celery==3.0.10
raven==2.0.6
httplib2==0.7.2
django-kombu==0.9.4
python-memcached==1.45
djangorestframework==0.3.0
git+file:///home/user1/repo/django-chartit.git#egg=django-chartit
#git+file:///home/user1/repo/django-rest-framework.git#egg=djangorestframework


  
