{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}

<script src="{{ STATIC_URL }}jquery/jquery.js"></script>
<script>
    $(document).ready(function() {
    	//如果页面关闭，则刷新父页
    	function refreshParent() {
            window.opener.location.reload();
        }
    	window.onunload = refreshParent;
        
    	$('form').submit(function(e){
    		if ( window.location.href.indexOf('_popup') < 0){
    			return true;
    		}
    		e.preventDefault();
    		var form = $(this);
    		
    		var callback = function(resp,status,xhr){
    		    if (xhr.status == 200||xhr.status == 301||xhr.status == 302){
                    window.close();
                }else{
                    $(document).empty();
                    document.write(resp);
                }
    		}
    		
    		var form_array = form.serializeArray();
	        var params = {};
			
		    $.each(form_array,function(i, n){
		        params[n['name']] = n['value'];
		    });
    		console.log('params:',params);
    		$.ajax({ 
		        type:'post', 
		        url:form.attr('action'), 
		        data:params, 
		        success:callback ,
		        error:function(err){
		            alert('保存出错：'+err.responseText);
		        }
		    }); 
    		return false;
    	});
    });
</script>
{% endblock extrahead %}


