{% extends "dinghuo/dinghuo_base.html" %}
{% block title %}订单详情页{% endblock %}
{% block head_script %}
    <link href='{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css' rel='stylesheet'/>
    <link rel="stylesheet" type="text/css" href="/static/wap/css/sweet-alert.css">
    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";
    </style>
    <script src="/static/wap/js/sweet-alert.min.js"></script>
    <script src="{{ STATIC_URL }}layer-v1.9.2/layer/layer.js"></script>
    <script src="{{ STATIC_URL }}jquery-datatable-addon/jquery.dataTables.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function changestatus(id, button) {

            var url = "/sale/dinghuo/changestatus/";
            var data = {"orderid": id, "func": button.value};
            var orderstatus = $("#order_status");
            var callback = function (res) {
                if (res == "OK") {
                    if (button.id == "zuifeibutton") {
                        orderstatus.text("作废");
                    }
                }
            };
            if (orderstatus.text() == "草稿") {
                $.ajax({url: url, data: data, type: "post", success: callback});
            } else {

            }
        }

        function plusQuantity(orderdetailid) {
            var index = "quantity_" + orderdetailid;
            p = $("#" + index);
            var url = "/sale/dinghuo/plusordertail/";
            var data = {"orderdetailid": orderdetailid};
            var callback = function (res) {
                if (res == "OK") {
                    p.text(parseInt(p.text()) + 1);
                }
            };
            $.ajax({url: url, data: data, type: "post", success: callback});
        }
        function minusQuantity(orderdetailid) {
            var index = "quantity_" + orderdetailid;
            p = $("#" + index);
            if (p.text() != "0") {
                var url = "/sale/dinghuo/minusordertail/";
                var data = {"orderdetailid": orderdetailid};
                var callback = function (res) {
                    if (res == "OK") {
                        p.text(parseInt(p.text()) - 1);
                    } else if (res == "deleted") {
                        window.location.reload();
                    } else if (res == "false") {
                        swal("提示", "亲,这个商品已经不在你的大货单里", "warning");
                    }
                };
                $.ajax({url: url, data: data, type: "post", success: callback});
            } else {
                swal("提示", "已经为零", "warning");
            }
        }
        function minusarrivedQuantity(orderdetailid) {
            var index = "arrival_quantity_" + orderdetailid;
            p = $("#" + index);
            if (p.text() != "0") {
                var url = "/sale/dinghuo/minusarrivedquantity/";
                var data = {"orderdetailid": orderdetailid};
                var callback = function (res) {
                    if (res == "OK") {
                        p.text(parseInt(p.text()) - 1);
                    }
                    else{
                        if(res.error){
                            swal('错误', res.msg, 'error');
                        }
                    }
                };
                $.ajax({url: url, data: data, type: "post", success: callback});
            } else {
                swal("提示", "已经为零", "warning");
            }
        }
        function changearrived(orderdetailid) {
            var index1 = "arrival_quantity_" + orderdetailid;
            var index_of_arrived = "arrived_num_" + orderdetailid;
            var p1 = $("#" + index1);
            var p2 = $("#" + index_of_arrived);
            var url = "/sale/dinghuo/changearrivalquantity/";
            var data = {"orderdetailid": orderdetailid, "arrived_num": p2.val()};
            var callback = function (res) {
                var dataObj = eval("(" + res + ")");
                if (dataObj.flag) {
                    p1.html(dataObj.num)
                }
                else if(dataObj.error){
                    swal('错误', dataObj.msg, 'error');
                }
                else {
                    swal("提示", "超过购买总数或者没有填写数量，或者添加后库存为负数", "warning");
                }
            };
            $.ajax({url: url, data: data, type: "post", success: callback});

        }

        function change_inferior_num(order_detail_id, flag) {
            var index_of_inferior = "inferior_quantity_" + order_detail_id;
            var index_of_arrival = "arrival_quantity_" + order_detail_id;
            var inferior_num = $("#" + index_of_inferior);
            var arrival_num = $("#" + index_of_arrival);
            var num = parseInt(inferior_num.html());
            var num_of_arrival = parseInt(arrival_num.html());
            var data = {
                "order_detail_id": order_detail_id,
                "flag": flag
            }
            var url = "/sale/dinghuo/change_inferior_num/";
            var callback = function (res) {
                if(res.error){
                    swal('错误', res.msg, 'error');
                    return;
                }

                if (res == "OK" && flag == "0") {
                    inferior_num.html(num - 1);
                    arrival_num.html(num_of_arrival + 1);
                } else if (res == "OK" && flag == "1") {
                    inferior_num.html(num + 1);
                    arrival_num.html(num_of_arrival - 1);
                }
                else if (res == "false") {
                    swal("提示", "失败，可能因为次品数量已经为零了", "warning");

                }
            };
            if ((flag == "0" && num == "0") || (flag == "1" && num_of_arrival == "0")) {
                swal("提示", "次品已经为零，或者库存为零", "warning");
            } else {
                $.ajax({url: url, data: data, type: "post", success: callback});
            }
        }
        function addtodinghuo(id) {
            var indexofskuid = "tb_sku_name_" + id
            var indexofbuyquantity = "tb_quantitys_" + id
            var indexofbuyprice = "buy_unitprice_" + id
            var sku_id = $("#" + indexofskuid).val();
            var buy_quantity = $("#" + indexofbuyquantity).val();
            var buy_price = $("#" + indexofbuyprice).val();
            var orderlistid = $("#ordelist_id").val();
            var url = "/sale/dinghuo/adddetailtodinghuo/";
            var data = {
                "sku_id": sku_id,
                "buy_quantity": buy_quantity,
                "buy_price": buy_price,
                "orderlistid": orderlistid
            };
            var callback = function (res) {
                if (res == "OK") {
                    location.reload();
                } else if (res == "False") {
                    swal("提示", "加入失败", "warning");
                }
            };
            $.ajax({url: url, data: data, type: "post", success: callback});

        }
        $(document).ready(function () {
            $('#searchbutton').click(function () {
                var searchtext = $("#searchtext").val();
                $("#searchtable thead").eq(0).nextAll().remove();
                $.get("/sale/dinghuo/searchproduct/", {searchtext: searchtext},
                        function (result) {
                            var tb = $('#searchtable');
                            var count = 0;
                            $.each(result, function (index, dd) {
                                var guiges = dd.prod_skus;
                                tb.append('<tr><td>' + dd.outer_id + '</td>' +
                                '<td width="100px"><label id=\"tb_name_' + index + '\">' + dd.name + '</label></td>' +
                                '<td><img width="80px" src = "' + dd.pic_path + '" class="img-circle"/></td>' +
                                '<td><select id =\"tb_sku_name_' + index + '\" class="form-control"></select></td>' +
                                '<td><input type="number" min="0" class="form-control" id=\"buy_unitprice_' + index + '\" value="' + dd.cost + '\"></td>' +
                                '<td><input type="number" class="form-control" id=\"tb_quantitys_' + index + '" min="0"></td>' +
                                '<td><input type="button" class="btn btn-default" value="添加到当前大货" onclick="addtodinghuo(' + index + ')"></td></tr>');
                                var index_of_guige = "tb_sku_name_" + String(index);
                                var i;
                                for (i in guiges) {
                                    var selectid = document.getElementById(String(index_of_guige));
                                    selectid[i] = new Option(String(guiges[i].sku_name), String(guiges[i].id));
                                }
                            });
                            var scroll_offset = $("#searchfield").offset();
                            {#                            var height = document.body.scrollHeight;#}
                            $('html,body').animate({scrollTop: scroll_offset.top}, 800);
                        }, 'json');
            })
        });
        function showlayer(url) {
            url = '/sale/dinghuo/detail/' + url;
            layer.open({
                type: 2,
                title: '大货修改页',
                shadeClose: true,
                shade: 0.8,
                maxmin: true,
                area: ['800px', '600px'],
                content: url,
                end: function () {
                    window.location.reload();
                }
            });
        }
        function showwuliu(url) {
            url = '/sale/dinghuo/wuliu/' + url;
            layer.open({
                type: 2,
                title: '物流',
                shadeClose: true,
                shade: 0.8,
                maxmin: true,
                area: ['800px', '600px'],
                content: url
            });
        }

        function set_status_receive(orderlist_id) {
            var url = '/sale/dinghuo/dinghuo_orderlist/'+ orderlist_id +'/set_stage_receive';
            $.ajax({url: url,
                type: "post",
                dateType: "json",
                success: function(){
                    alert("开始收货");
                    windows.location.refresh();
                }
            });
        }
        function set_status_state(orderlist_id) {
            var url = '/sale/dinghuo/dinghuo_orderlist/'+ orderlist_id +'/set_status_state';
            $.ajax({url: url,
                type: "post",
                dateType: "json",
                success: function(){
                    alert("开始结算");
                    windows.location.refresh();
                }
            });
        }

        function doKey() {
            if (event.keyCode == 116) {//屏蔽 F5 刷新键
                event.keyCode = 0;
                event.returnValue = false;
            }
        }
        document.onkeydown = doKey;
    </script>
{% endblock %}
{% block container %}
    <div class="row" style="margin-top: 20px">
        <div class="col-lg-2">
            <span class="label label-info" style="font-size: 15px">当前进度：</span>
            <label id="order_stage" class="label label-success"
                   style="font-size: large">{{ orderlist.get_stage_display }}</label>
        </div>
        <div class="col-lg-4">
            <span class="label label-info" style="font-size: 20px">当前状态：</span>
            <label id="order_status" class="label label-success"
                   style="font-size: large">{{ orderlist.get_status_display }}</label>
        </div>
        <div class="col-lg-2">
            <a href="/admin/dinghuo/orderlist" style="text-align: right">
                <span class="label label-warning" style="font-size: 15px">去订货单页面</span>
            </a>
        </div>
        <div class="col-lg-2">
            <a href="/admin/items/product" style="text-align: right">
                <span class="label label-info" style="font-size: 15px">去商品页面</span>
            </a>
        </div>
        <div class="col-lg-2">
            <a href="/sale/dinghuo/changedetail/{{ orderlist.id }}/export" target="_blank" style="text-align: right">
                <span class="label label-success" style="font-size: 15px">导出excel</span>
            </a>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <input id="ordelist_id" type="text" hidden="hidden" value="{{ orderlist.id }}">
        <div class="col-lg-4">
            <span class="label label-info" style="font-size: 20px">订货单ID</span>
            <span class="label label-info" id = orderlist_id style="font-size: 20px">{{ orderlist.id }}</span>
            <div class="alert alert-success" role="alert">
                <strong>订货地址:</strong>
                {% ifequal orderlist.p_district "3" %}
                <p>广州市白云区太和镇永兴村龙归路口悦博大酒店对面龙门公寓3楼</p>
                <p>小鹿美美{{ orderlist.id }}号工作人员< /p>
                <p>15023333762</p>
                {% else %}
                <p>上海市佘山镇吉业路245号5号楼</p>
                <p>小鹿美美{{ orderlist.id }}号工作人员</p>
                <p>021-37698479, 15026869609</p>
                {% endifequal %}
            </div>
        </div>
        <div class="col-lg-8">
            <strong>供应商:</strong>
            {% if orderlist.supplier %}
            <a href="/admin/supplier/salesupplier/?id={{ orderlist.supplier.id }}" target="_blank">{{ orderlist.supplier.supplier_name }}</a>
            {% endif %}
            <p class="alert alert-success" role="alert"><strong>供应商地址:{{orderlist.supplier.address}}
            </strong><br/><strong>供应商电话:{{orderlist.supplier.phone}}</strong><br/>
             <strong>供应商手机:{{orderlist.supplier.mobile}}</strong><br/>
                <strong>联系人:{{orderlist.supplier.contact}}</strong><br/>
            <strong>供应商其他联系方式：{{orderlist.supplier.zip_code}}</strong></p>
            <p class="alert alert-success" role="alert">
                <strong>商品链接:<input id = "supplier_name" size = 30 type="text" value={{orderlist.supplier.product_link}} /></strong>
                <strong> <a href="{{ orderlist.supplier_name }}" target="_blank">{{ orderlist.supplier_name }}</a></strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="alert alert-success row" role="alert">
                <strong>快递公司:</strong>
                <select class="form-control" style="width:60%;float:right" id="express_company_id" >
                    <option value={{ orderlist.express_company }}>{{ orderlist.get_express_company_display }}</option>
                    <option value="YUNDA" >韵达速递</option><option value="STO" >申通快递</option><option value="ZTO" >中通快递</option><option value="EMS" >邮政</option><option value="ZJS" >宅急送</option><option value="SF" >顺丰速运</option><option value="YTO" >圆通</option><option value="HTKY" >汇通快递</option><option value="TTKDEX" >天天快递</option><option value="QFKD" >全峰快递</option><option value="DBKD" >德邦快递</option>
                </select>
            </div>
            <div class="alert alert-success row" role="alert" style="margin-top: -15px">
                <strong>快递单号:</strong>
                <input id = "express_no" size = 30 type="text" value={{orderlist.express_no}} />
            </div>
            <div class="alert alert-success row" role="alert" style="margin-top: -15px">
                <strong>金额:</strong> {{ orderlist.order_amount }}
            </div>
            <div class="alert alert-success row" role="alert" style="margin-top: -15px">
                <strong>供应商汇款帐号:</strong> {{ orderlist.supplier.account_no }}
            </div>
            <div class="alert alert-success row" role="alert" style="margin-top: -15px">
                <strong>付款方式:</strong>
                <select class="form-control" style="width:60%;float:right" id="pay_way" disabled=True>
                    <option value={{ orderlist.bill_method }}>{{ orderlist.get_bill_method_display }}</option>
                    <option value = 11 >货到付款</option><option value=12 >预付款</option><option value=13 >付款提货</option><option value=14 >其它</option>
                </select>
            </div>
            <div class="alert alert-success row" role="alert" style="margin-top: -15px">
                <strong>订货时间:</strong> {{ orderlist.created }}
            </div>
            <div class="alert alert-success row" role="alert" style="margin-top: -15px">
                <strong>负责人:{{ buyer_name }}</strong>
            </div>
        </div>
        <div class="col-lg-8">
            <textarea style="background-color:#B4EEB4" id="id_note" rows="20" cols="40" name="note"
                      readonly="readonly" class="form-control">{{ orderlist.note|safe }}
            </textarea>
        </div>

    </div>
    {% for inbound in inbounds %}
    <div class="row">
        <div class="col-lg-4">
            <div class="alert alert-success" role="alert">
                <strong>入仓单:</strong>
                <a href="/sale/dinghuo/inbound/{{ inbound.id }}" target="_blank">{{ inbound.id }}</a>
            </div>
        </div>
        <div class="col-lg-8">
            <textarea rows="3" cols="40" class="form-control" style="background-color:#B4EEB4" readonly>{{ inbound.memo|safe }}</textarea>
        </div>
    </div>
    {% endfor %}
    <div class="row">
    <div class="col-lg-1">
        <input class="btn btn-info" type="button" onclick="showlayer({{ orderlist.id }})" value="改备注">
    </div>
    <div class="col-lg-1">
        <input class="btn btn-info" style="float:right" id = "confirm" type="button" onclick="" value="修改">
    </div>
    <div class="col-lg-1">
        <input class="btn btn-warning" type="button" onclick="showwuliu({{ orderlist.id }})" value="物流明细">
    </div>
    <div class="col-lg-1">
        {%if orderlist.stage == 1 %}
        <input class="btn btn-info" type="button" onclick="set_status_receive({{ orderlist.id }})" value="开始收货">
        {%endif%}
        {%if orderlist.stage == 2 %}
        <input class="btn btn-info" type="button" onclick="set_status_receive({{ orderlist.id }})" value="开始收货">
        {%endif%}
        {%if orderlist.stage == 3 %}
        <input class="btn btn-info" type="button" onclick="set_status_state({{ orderlist.id }})" value="开始结算">
        {%endif%}
    </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-2">
            到货状态
        </div>
        <div class="col-lg-2">
            <strong>{{orderlist.get_receive_status}}</strong>
        </div>
        <div class="col-lg-2">
            最后到货时间
        </div>
        <div class="col-lg-2">
            {{orderlist.updated}}
        </div>
    </div>
    <div class="row">
        <legend>
            <h4 class="head-title">详细列表</h4>
        </legend>
    </div>
    <div>
        <table id="orderdetailtable" border="1" class="table table-striped table-bordered table-hover">
            <thead>
            <th>SKU ID</th>
            <th>商品编码</th>
            <th style="min-width:80px">选品备注</th>
            <th>供应商编码</th>
            <th style="min-width:100px">商品名称</th>
            <th>图片</th>
            <th>规格</th>
            <th style="min-width:60px">购买数量</th>
            <th>未备货数</th>
            <th>买入价格</th>
            <th>单项价格</th>
            <th>已入库数</th>
            <th>次品数</th>
            <th>到货状态</th>
            </thead>
            <tbody>

            {% for order in orderdetails %}
                <tr id="orderdetail_{{ forloop.counter }}">
                    <td><a href="/admin/items/productskustats/?sku_id={{ order.chichu_id}}" target="_blank">{{ order.chichu_id }}</a></td>
                    <td><a href="/admin/items/product/?q={{ order.outer_id }}" target="_blank">{{ order.outer_id }}</a></td>
                    <td>{{order.memo}}</td>
                    <td>
                        <a href="/admin/pay/saleorder/?status__exact=2&sku_name={{order.product_chicun}}&sku_id={{order.chichu_id}}" target="_blank">
                            {{ order.supplier_outer_id }}
                        </a>
                    </td>
                    <td>
                        <a href="/admin/dinghuo/orderdetail/?q={{order.chichu_id}}&orderlist_status=待处理" target="_blank">
                        {{ order.product_name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ order.product_link|default:'#' }}" target="_blank">
                            <img src="{{ order.pic_path }}?imageView2/0/w/60/format/jpg" title="{{ order.product_name }}" width="60px" height="60px" class="img-circle">
                        </a>
                    </td>
                    <td>
                        <a href="/admin/dinghuo/orderdetailinbounddetail/?orderdetail_id={{order.id}}&status=1" target="_blank">
                            {{ order.product_chicun }}
                        </a>
                    </td>
                    <td align="center">
                        {% if not orderlist.has_paid %}
                            <a onclick="plusQuantity({{ order.id }})">
                                <span class="glyphicon glyphicon-plus"></span></a>&nbsp;
                        {% endif %}
                        <span id="quantity_{{ order.id }}">{{ order.buy_quantity }}</span>
                        {% if not orderlist.has_paid %}
                            <a onclick="minusQuantity({{ order.id }})">
                                <span class="glyphicon glyphicon-minus"></span>
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ order.not_assign_num }}</td>
                    <td>{{ order.buy_unitprice }}</td>
                    <td>{{ order.total_price }}</td>
                    <td><a href="javascript:;" id="arrival_quantity_{{ order.id }}" class="order_arrival_quantity" data-sku-id="{{order.chichu_id}}">{{ order.arrival_quantity }}</a>
                    </td>
                    <td>
                        <a href="javascript:;" id="inferior_quantity_{{ order.id }}" class="order_inferior_quantity" data-sku-id="{{order.chichu_id}}">{{ order.get_all_inferior_quantity }}</span>
                    </td>
                    <td width="70px">
                        <a href="/admin/dinghuo/orderdetail/{{order.id}}/" target="_blank">
                            {{ order.get_receive_status }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7"></td>
                <td width="100px"><input id="total_quantity_num" type="text" value="0" readonly/></td>
                <td></td>
                <td width="100px"><input id="total_amount_num" type="text" value="0" readonly/></td>
                <td width="100px"><input id="total_arrival_num" type="text" value="0" readonly/></td>
                <td width="100px"><input id="total_inferior_num" type="text" value="0" readonly/></td>
                <td width="100px"><input id="total_wait_post_num" type="text" value="0" readonly/></td>
            </tr>
            </tfoot>
        </table>
    </div>
    <br>
    <div class="row" id="searchfield">
        <legend>
            <h2 class="head-title">搜索物品
            </h2>
        </legend>
    </div>
    <div class="row">
        <div class="input-group col-xs-4">
            <input type="text" class="form-control" id="searchtext"/>
            <label id="searchbutton" type="button" class="input-group-addon" for="searchtext">搜索</label>
        </div>
    </div>
    <div class="row">
        <table id="searchtable" border="1" class="table table-striped table-bordered table-hover">
            <thead>
            <th width="100px">商品编码</th>
            <th width="100px">商品名称</th>
            <th width="80px">图片</th>
            <th width="100px">规格</th>
            <th width="100px">买入单价</th>
            <th width="100px">数量</th>
            <th width="80px">操作</th>
            </thead>
        </table>
    </div>

{% endblock %}
{% block tail_script %}
    <script type="text/javascript">
        var ORDERLIST_ID = {{ orderlist.id}};
        var sku_inbound_details = {};
        var sku_inferior_details = {};
        $('#confirm').click(function(){
            var url = "/sale/dinghuo/update_dinghuo/";
            var data = {"dinghuo_id":$ ('#orderlist_id').text(),"express_company_id": $ ('#express_company_id').val(),"express_no":$ ('#express_no').val(),
            "pay_way":$ ('#pay_way').val(),"supplier_name":$ ('#supplier_name').val()};
            $.ajax({
                url: url,
                data: data,
                "type": "post",
                success: function(res){
                    if (res == "True") {
                        window.location.reload();
                        alert("修改成功");

                    }
                    if (res == "False") {
                        alert("修改失败");
                    }
                },
                error: function(){

                }
            });
        });
        $('#orderdetailtable').dataTable({
            //"bJQueryUI": true,
            "bAutoWidth": false, //自适应宽度
            //"aaSorting": [[1, "asc"]],
            "iDisplayLength": -1,
            "aLengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]],
            //"bInfo":true,
            //"sPaginationType": "full_numbers",
            //"sDom": '<"H"Tfr>t<"F"ip>',
            "oLanguage": {
                "sLengthMenu": "每页 _MENU_ 条",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                "sInfoEmpty": "没有数据",
                "sSearch": "搜索",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                },
                "sZeroRecords": "没有检索到数据",
                "sProcessing": "<img src='/static/img/loading.gif' />"
            }
        });
        var Calc_stats_data = function () {
            var total_quantity_num = 0;
            var total_amount_num = 0;
            var total_arrival_num = 0;
            var total_inferior_num = 0;
            var total_wait_post_num = 0;
            var quantity_num = 0;
            var amount_num = 0;
            var arrival_num = 0;
            var inferior_num = 0;
            var wait_post_num = 0;
            var rows = $("#orderdetailtable > tbody > tr");
            for (var i = 0; i < rows.length; i++) {
                row = rows[i];
                if (row.cells.length < 9) {
                    continue;
                }
                quantity_num = row.cells[7].innerText;
                amount_num = row.cells[9].innerText;
                arrival_num = row.cells[10].innerText;
                inferior_num = row.cells[11].innerText;
                wait_post_num = row.cells[12].innerText;
                if (parseInt(quantity_num)) {
                    total_quantity_num += parseInt(quantity_num);
                }
                if (parseFloat(amount_num)) {
                    total_amount_num += parseFloat(amount_num);
                }
                if (parseInt(arrival_num)) {
                    total_arrival_num += parseInt(arrival_num);
                }
                if (parseInt(inferior_num)) {
                    total_inferior_num += parseInt(inferior_num);
                }
                if(parseInt(wait_post_num)) {
                    total_wait_post_num += parseInt(wait_post_num);
                }
            }
            $('#total_quantity_num').val(total_quantity_num.toString());
            $('#total_amount_num').val(total_amount_num.toFixed(2).toString());
            $('#total_arrival_num').val(total_arrival_num.toString());
            $('#total_inferior_num').val(total_inferior_num.toString());
            $('#total_wait_post_num').val(total_wait_post_num.toString());
        }
        $(function () {
            Calc_stats_data();
            $('.order_arrival_quantity').popover({
                 html: true,
                 trigger: 'hover',
                 //trigger:'click',
                 container: 'body',
                 content: function(){
                     console.dir($(this));
                     var sku_id = $(this).data("sku-id")
                     var data = {"sku_id": sku_id};
                     if (sku_id in sku_inbound_details){
                        return sku_inbound_details[sku_id];
                     }
                     else{
                         $.ajax({
                             url: '/sale/dinghuo/dinghuo_orderlist/' + ORDERLIST_ID + '/get_sku_inbound_detail',
                             type: 'get',
                             dataType: 'html',
                             data: data,
                             success: function(result){
                                console.dir(result);
                                sku_inbound_details[sku_id] = result;
                                $(".popover-content").html(result);
                             },
                             error: function(result){
                                console.dir(result);
                             }
                            });
                            }
                         return "<table><tr><td>请等待。。。</td></tr></table>";
                 }
             });
            $('.order_arrival_quantity').popover();
            $('.order_inferior_quantity').popover({
                 html: true,
                 trigger: 'hover',
                 //trigger:'click',
                 container: 'body',
                 content: function(){
                     console.dir($(this));
                     var sku_id = $(this).data("sku-id")
                     var data = {"sku_id": sku_id};
                     if (sku_id in sku_inferior_details){
                        return sku_inferior_details[sku_id];
                     }
                     else{
                         $.ajax({
                             url: '/sale/dinghuo/dinghuo_orderlist/' + ORDERLIST_ID + '/get_sku_inferior_detail',
                             type: 'get',
                             dataType: 'html',
                             data: data,
                             success: function(result){
                                console.dir(result);
                                sku_inferior_details[sku_id] = result;
                                $(".popover-content").html(result);
                             },
                             error: function(result){
                                console.dir(result);
                             }
                            });
                            }
                         return "<table><tr><td>请等待。。。</td></tr></table>";
                 }
             });
            $('.order_inferior_quantity').popover();

        });
    </script>
{% endblock %}