{% extends "dinghuo/dinghuo_base.html" %}
{% block title %}大货统计{% endblock %}
{% block head_script %}
    <link href="{{ STATIC_URL }}css/my_css.css" type="text/css"/>

    <style type="text/css">
        #loading {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 10000000;
            background: white;
            color: #74b936;
            text-align: center
        }

        #loading .loading-container {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 30%;
            bottom: 0
        }

        #loading b {
            color: white;
            background: #74b936;
            font-weight: normal;
            padding: 5px 5px;
            margin: 10px;
            font-size: 50px
        }

        #loading h1, #loading h2, #loading h3, #loading h4 {
            font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
            text-align: center
        }

        #loading .reverse {
            color: white !important;
            background: #74b936 !important;
            padding: 4px;
            border-radius: 4px
        }

        #loading #loading-app-name {
            text-align: center;
            font-size: 54px;
            margin-top: 0;
            margin-bottom: .8em
        }

        #loading #loading-slogan {
            font-weight: normal
        }

        #loading #loading-text {
            margin: 80px auto;
            text-align: center;
            margin-bottom: 40px
        }


    </style>
    <script>
        $.ajax({
            url: "/sale/dinghuo/daily_work/", //这里是静态页的地址
            type: "GET", //静态页用get方法，否则服务器会抛出405错误
            success: function (data) {
                var e = $("#loading");
                e.remove();
                $("#main").html(data);

            }
        });

    </script>
    <style>
        @keyframes move {
            from {
                transform: translate(0, 50%);
            }
            to {
                transform: translate(0, 850%);
            }
        }

        figure {
            margin: 0 auto;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: relative;
            background: #1c1c1c;
        }

        section {
            width: 10%;
            height: 100%;
            position: absolute;
            left: 45%;
        }

        section:nth-child(2) {
            transform: rotate(22.5deg);
        }

        section:nth-child(3) {
            transform: rotate(45deg);
        }

        section:nth-child(4) {
            transform: rotate(67.5deg);
        }

        figure div {
            height: 10%;
            border-radius: 50%;
            background: dodgerblue;
            animation: move 1s ease-in-out infinite alternate;
        }

        figure:nth-child(1) > section:nth-child(1) > div {
            animation-delay: -0.1875s;
        }

        figure:nth-child(1) > section:nth-child(2) > div {
            animation-delay: -0.15s;
        }

        figure:nth-child(1) > section:nth-child(3) > div {
            animation-delay: -0.9375s;
        }


    </style>
    <script src="{{ STATIC_URL }}js/prefixfree.min.js"></script>
{% endblock %}
{% block container %}
    <div id="loading">
        <div class='loading-container'>
            <h1 id='loading-app-name'>小鹿美美</h1>

            <h3><span id='loading-slogan'>专为小鹿美美买手打造的 大货进度查询系统</span></h3>

            <p id='loading-text'></p>

            <div id='loading-text'>
                <figure>
                    <section>
                        <div></div>
                    </section>
                    <section>
                        <div></div>
                    </section>
                    <section>
                        <div></div>
                    </section>
                    <section>
                        <div></div>
                    </section>
                    <section>
                        <div></div>
                    </section>
                    <section>
                        <div></div>
                    </section>
                    <section>
                        <div></div>
                    </section>
                </figure>
            </div>

        </div>
    </div>
    <div id="main"></div>
{% endblock %}

