{% extends "dinghuo/dinghuo_base.html" %}
{% block title %}每日大货统计{% endblock %}
{% block head_script %}
    <link href='{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css' rel='stylesheet'/>
    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";
    </style>
    <style type="text/css">
        div.mytext {
            font-size: 16px;
        }
    </style>
    <script src="{{ STATIC_URL }}layer-v1.9.2/layer/layer.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        });
        function showlayer(url) {
            url = '/sale/dinghuo/detaillayer/' + url;
            layer.open({
                type: 2,
                title: '大货详情页',
                shadeClose: true,
                shade: 0.8,
                maxmin: true,
                area: ['1000px', '600px'],
                content: url
            });
        }

        function changestatus(id, button) {
            var url = "/sale/dinghuo/changestatus/";
            var data = {"orderid": id, "func": button.value};
            var callback = function (res) {
                if (res == "OK") {
                    window.location.reload();
                }
            };
            $.ajax({url: url, data: data, type: "post", success: callback});

        }
    </script>
{% endblock %}
{% block container %}
    <div class="container" style="margin-top: 40px">
        <fieldset>
            <legend>
                <div class="row">
                    <div class="col-xs-8"><h3>小鹿美美每日订货报告</h3></div>
                    <div class="col-xs-4"><h3>负责人：肖阳</h3></div>
                </div>
            </legend>
            <div class="row">
                <div class="col-xs-4">
                    <a href="/sale/dinghuo/daily/?day={{ prev_day }}"><< 前一天</a>
                </div>
                <div class="col-xs-4">
                    <p><h4>{{ target_date }}</h4></p>
                </div>
                <div class="col-xs-4">
                    {% if next_day %}
                        <a href="/sale/dinghuo/daily/?day={{ next_day }}">后一天 >></a>
                    {% endif %}
                </div>
            </div>

            <div>
                <table id="mytable" class="table table-bordered table-condensed">
                    <thead style="background-color:#01B5A2;" id="id-head-control">
                    <th width="100px">大货单号</th>
                    <th>
                        <div class="container" style="width: 830px">
                            <div class="row">
                                <div class="col-xs-2">图片</div>
                                <div class="col-xs-4">名称</div>
                                <div class="col-xs-2">
                                    <label class="ui-widget">数量:<span id="total_quantity_num"></span></label>
                                </div>
                                <div class="col-xs-4">
                                    <label class="ui-widget">价格:<span id="total_amount_num"></span></label></div>
                            </div>
                        </div>
                    </th>
                    <th width="100px">负责人</th>
                    <th width="100px">操作</th>
                    </thead>
                    <tbody style="margin-top: 20px">
                    {% for orderlists_list in orderlists_lists %}
                        <tr>
                            <td width="100px">
                                <label class="label label-warning"
                                       style="font-size: 20px">{{ orderlists_list.id }}</label>
                                <label class="label label-info">{{ orderlists_list.status }}状态</label>
                            </td>
                            <td>
                                <div class="container" style="width: 830px">
                                    {% for orderdetail in orderlists_list.orderdetail %}
                                        <div class="row">
                                            <div class="col-xs-2"><img src="{{ orderdetail.pic_path }}" width="60px"
                                                                       height="60px" class="img-circle"></div>
                                            <div class="col-xs-4 mytext">{{ orderdetail.product_name }}</div>
                                            <div class="order_quantity col-xs-2 mytext">{{ orderdetail.quantity }}</div>
                                            <div class="order_amount col-xs-4 mytext">{{ orderdetail.price }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </td>
                            <td width="100px">
                                <div class="mytext">{{ orderlists_list.buyer_name }}<br>{{ orderlists_list.receiver }}</div>
                            </td>
                            <td width="100px">
                                <a id="detaillayer" onclick="showlayer({{ orderlists_list.id }})"
                                   class="btn  btn-success"
                                   style="margin-top: 3px;font-size: 8px" title="查看详情"> 查看详情</a>
                                {% if orderlists_list.statusflag %}
                                    <button onclick="changestatus({{ orderlists_list.id }},this)"
                                            class="btn btn-primary"
                                            style="margin-top: 3px;font-size: 8px" id="shenhebutton" value="审核">改为审核
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
{% endblock %}

{% block tail_script %}
    <script src="{{ STATIC_URL }}jquery/jquery-2.1.1.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-datatable-addon/jquery.dataTables.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        $('#mytable').dataTable({
            //"bJQueryUI": true,
            "bAutoWidth": false, //自适应宽度
            "aaSorting": [[1, "asc"]],
            "iDisplayLength": -1,
            "aLengthMenu": [[1, 5, 10, -1], [1, 5, 10, "All"]],
            //"bInfo":true,
            //"sPaginationType": "full_numbers",
            //"sDom": '<"H"Tfr>t<"F"ip>',
            "oLanguage": {
                "sLengthMenu": "每页 _MENU_ 条",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                "sInfoEmpty": "没有数据",
                "sSearch": "搜索",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                },
                "sZeroRecords": "没有检索到数据",
                "sProcessing": "<img src='/static/img/loading.gif' />"
            }
        });

        var Calc_stats_data = function () {
            var total_quantity_num = 0;
            var total_amount_num = 0;

            var quantity_num = 0;
            var amount_num = 0;

            var rows = $(".order_quantity")
            for (var i = 0; i < rows.length; i++) {
                quantity_num = rows[i].innerText;

                if (parseInt(quantity_num)) {
                    total_quantity_num += parseInt(quantity_num);
                }
            }
            var amounts = $(".order_amount")
            for (var i = 0; i < amounts.length; i++) {
                amount_num = amounts[i].innerText;

                if (parseFloat(amount_num)) {
                    total_amount_num += parseFloat(amount_num);
                }
            }

            $('#total_amount_num').html(total_amount_num.toFixed(2).toString());
            $('#total_quantity_num').html(total_quantity_num.toString());


        }

        $("select[name='#mytable_length']").change(function (e) {
            e.preventDefault();
            Calc_stats_data();
        });

        //搜索时，重新计算
        $("#mytable_filter input").keyup(function (e) {
            e.preventDefault();
            Calc_stats_data();
        });

        //分页时，重新计算
        $("#mytable_paginate a").click(function (e) {

            e.preventDefault();
            Calc_stats_data();
        });
        $(function () {
            Calc_stats_data();

            $(window).scroll(function () {
                var w_height = $(window).height();//浏览器高度
                var scroll_top = $(document).scrollTop();//滚动条到顶部的垂直高度
                if (scroll_top > 70) {
                    $("#id-head-control").css("position", "fixed").css("top", "0").css("width", 1140).css("z-index",9999);
                } else {
                    $("#id-head-control").css("position", "static");
                }
            });
        });
    </script>
{% endblock %}