{% extends "xiaolumm/daystats_base.html" %}
{% block title %}用户统计{% endblock %}
{% block head_script %}
    <script>
        function get_data() {
            console.log("get_data");
            var task_id = $("#task_id").val();
            $.ajax({
                url: "/djcelery/" + task_id + "/status/", //这里是静态页的地址
                method: "GET", //静态页用get方法，否则服务器会抛出405错误
                success: function (res) {
                    console.log(res.task.status);
                    if (res.task.status == "SUCCESS") {
                        console.log(res.task.result);
                        var tb = $('#data-table-product');
                        var result_data = eval(res.task.result);
                        $("#data-table-people thead").eq(0).nextAll().remove();
                        $.each(result_data, function (index, dd) {
                            tb.append("<tr><td><a href='/admin/items/product/?q="+dd.p_outer+"' target='_blank'>" + dd.p_outer + "</a></td><td>" + dd.p_name + "</td><td><img src='" + dd.pic_path + "' width='100px' class='img-circle'/></td><td>" + dd.sale_time + "</td><td>" + dd.p_sales + "</td><td>" + dd.cost + "</td><td>" + dd.p_cost + "</td><td>" + dd.agent_price + "</td><td>" + dd.p_agent_price + "</td><td>" + dd.suppliers + "</td></tr>");
                        });

                    } else if(res.task.status == "PENDING") {
                        setTimeout(get_data, 2000);
                    }else if(res.task.status == "FAILURE"){
                        alert("error");
                    }
                }
            });
        }
        get_data();
    </script>
{% endblock %}
{% block container %}
    <div class="row" style="margin-top: 20px">
        <input id="task_id" style="display: none" value="{{ task_id }}">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">用户统计</h3>
            </div>
            <table class="table table-bordered" id="data-table-product">
                <thead>
                <th width="10%">商品编码</th>
                <th width="15%">商品名称</th>
                <th width="10%">商品图片</th>
                <th width="12%">上架时间</th>
                <th width="8%">销售数</th>
                <th width="8%">成本</th>
                <th width="8%">成交成本</th>
                <th width="8%">销售价</th>
                <th width="8%">成交额</th>
                <th width="10%">供应商</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block tail_script %}
{% endblock %}