{% extends "dinghuo/dinghuo_base.html" %}
{% block title %}hello{% endblock %}

{% block head_script %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#error_tip').hide();
            $('#searchbutton').click(function () {
                var searchtext = $("#searchtext").val();
                console.log('search:' + searchtext);
                $("#mytable tr").eq(0).nextAll().remove();
                $.get("/dinghuo/searchproduct", {searchtext: searchtext},
                        function (result) {
                            console.log(result);

                            var tb = $('#mytable');
                            var count = 0 ;
                            $.each(result, function (index, dd) {
{#console.log(result);#}
                                var guiges = dd.prod_skus;
                                tb.append('<tr><td width="100px"><label id=\"tb_name_' + index + '\">' + dd.name
                                + '</label></td><td><a href="/dinghuo/adddetail/" id=\"tb_outer_id_' + index + '\">' + dd.outer_id
                                + '</a></td><td><img width="100px" src = "' + dd.pic_path
                                + '"/></td><td><select id =\"tb_sku_name_'
                                + index + '\"></select></td><td><label id=\"buy_unitprice_' + index + '\">' + dd.cost
                                + '</label></td><td><input type=\"number\" id=\"tb_quantitys_' + index + '" min="0" size="20" ></td><td><input id=\"baocun\" type=\"button\" value=\"添加到草稿\" onclick=\"baocun(' + index + ')\"></td></tr>');
                                var index_of_guige = "tb_sku_name_" + String(index);
                                var i;
                                for (i in guiges) {
                                    var selectid = document.getElementById(String(index_of_guige));
                                    selectid[i] = new Option(String(guiges[i].properties_name), String(guiges[i].properties_name));
                                }




                            });
                        }, 'json');
            })


        });
        function baocun(p) {
            console.log("fff")
            var index1 = String("tb_outer_id_" + String(p));
            var tb_outer_id = document.getElementById(index1).innerHTML;
            var index2 = String("tb_quantitys_" + String(p));
            var buy_quantity = document.getElementById(index2).value;

            buy_quantity = $.trim(buy_quantity);
            if (buy_quantity.length < 1) {
                $('#error_tip').show(500);
                $('#error_tip').hide(1000);
                buy_quantity = 0;
                event.preventDefault();
            } else {
                $('#error_tip').hide();

                console.log("buy_quantity", (buy_quantity.length < 1))
                var index3 = String("tb_sku_name_" + String(p));
                var tb_sku_name = document.getElementById(index3).value;
                var index4 = String("buy_unitprice_" + String(p));
                var but_unit_price = document.getElementById(index4).innerHTML;
                console.log(tb_sku_name);
                $("#drafttable tr").eq(0).nextAll().remove();
                $.get("/dinghuo/initdraft", {
                    "tb_outer_id": tb_outer_id,
                    "buy_quantity": buy_quantity,
                    "tb_sku_name": tb_sku_name,
                    "but_unit_price": but_unit_price
                }, function (result) {
                    var tb = $('#drafttable');
                    $.each(result, function (index, data) {
                        tb.append('<tr><td>' + data.fields.product_name + '</td><td>' + data.fields.product_id + '</td><td>' + data.fields.product_chicun + '</td><td>' + data.fields.buy_quantity + '</td></tr>');
                    });
                    document.getElementById("orderAdd").disabled = false;
                }, 'json');
            }

        }
        function delcaogao() {
            $.get("/dinghuo/delcaogao");
            $("#drafttable tr").eq(0).nextAll().remove();
            document.getElementById("orderAdd").disabled = true;
        }

    </script>
    <style type="text/css">
        .tabledisplay {
            float: left;
            border: 0px solid gray;
        }


    </style>
{% endblock %}
{% block container %}
<div class="tabledisplay" align="left">
    <span id="error_tip">数据项为空！</span>
    <fieldset>
        <legend>
            <h2 class="head-title">搜索物品
            </h2>
        </legend>
        <input type="text" id="searchtext"/>
        <input id="searchbutton" type="button" value="search"/>
        <table id="mytable" border="1" class="table table-striped table-bordered table-hover">
            <tr>
                <td width="100px">商品名称</td>
                <td width="100px">外部编码</td>
                <td width="100px">图片</td>
                <td width="100px">规格</td>
                <td width="100px">单价</td>
                <td width="100px">数量</td>
                <td width="100px">操作</td>
            </tr>
        </table>
    </fieldset>
</div>
<fieldset>
    <legend>
        <h2 class="head-title">草稿箱
        </h2>
    </legend>
    <br>
    <table id="drafttable" border="1" class="table table-striped table-bordered table-hover">
        <tr>
            <td width="100px">商品名称</td>
            <td width="100px">外部编码</td>
            <td width="100px">规格</td>
            <td width="100px">数量</td>
        </tr>
        {% for draft in orderdraft %}
            <tr>
                <td>{{ draft.product_name }}</td>
                <td>{{ draft.product_id }}</td>
                <td>{{ draft.product_chicun }}</td>
                <td>{{ draft.buy_quantity }}</td>
            </tr>
        {% endfor %}
    </table>
    {{ orderdraft.size }} fdfdfd
    {% if orderdraft %}
        <input id="orderAdd" type="button" value="生成订单"
               onclick="window.location.href='/dinghuo/dingdan'"/>
    {% else %}
        <input id="orderAdd" type="button" value="生成订单" disabled="disabled"
               onclick="window.location.href='/dinghuo/dingdan'"/>
    {% endif %}
    <input id="orderAdd" type="button" value="删除草稿" onclick="delcaogao()"/>
</fieldset>
{% endblock %}