{% extends "dinghuo/dinghuo_base.html" %}
{% block title %}商品统计{% endblock %}
{% block head_script %}
    <script>
        $(function () {
            var my_data = {"df": $("#f_datepicker").val(), "dt": $("#t_datepicker").val(),"category": $("#category_id").val()}
            $.ajax({
                url: "/sale/dinghuo/sale_hot/", //这里是静态页的地址
                method: "GET", //静态页用get方法，否则服务器会抛出405错误
                data: my_data,
                success: function (res) {
                    $("#sale_hot").html(res);
                }
            });
        });
    </script>
{% endblock %}
{% block container %}
    <div class="row" style="margin-top: 40px">
        <form class="form-horizontal" role="form" method="GET" action="/sale/dinghuo/sale_status/">

            <div class="col-xs-4">
                <label class="control-label" for="df">开始日期:</label>
                <input type="text" id="f_datepicker" name="df" class="form-control datepicker"
                       value="{{ start_date }}"/>
            </div>
            <div class="col-xs-4">
                <label class="control-label" for="dt">结束日期:</label>
                <input type="text" id="t_datepicker" name="dt" class="form-control datepicker"
                       value="{{ end_date }}"/>
            </div>
            <div class="col-xs-2">
                <label class="control-label" for="category">类别:</label>
                <select name="category" class="form-control" id="category_id">
                    <option value="8" {% ifequal category "8" %}selected="selected" {% endifequal %}>女装</option>
                    <option value="9" {% ifequal category "9" %}selected="selected" {% endifequal %}>童装</option>
                </select>
            </div>
            <div class="col-xs-1">
                <input type="submit" value="查询" class="btn btn-primary" style="margin-top:27px;"/>
            </div>

        </form>
    </div>
    <div class="row">
        <div id="sale_hot" class="col-xs-6"></div>
    </div>
{% endblock %}

{% block tail_script %}
    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}jquery-visualize-plugin/visualize.jQuery.css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-visualize-plugin/visualize.jQuery.js"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
            type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $("#f_datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });

            $("#t_datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>

{% endblock %}