{% extends "product_analysis/analysis_base.html" %}
{% block title %}妈妈订单分析{% endblock %}

{% block head_script %}
    <link href='{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css' rel='stylesheet' xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html"/>

    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";
    </style>

{% endblock %}

{% block container %}
    <div class="container page-header">
        <h3>妈妈订单分析
            <small>(月)</small>
        </h3>
    </div>
    <div>
        <div class="col-xs-4">
            <a href="/trades/xlmm_product_analysis/?month={{ date_dic.prev_month }}"><< 上个月</a>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            {% if date_dic.next_month %}
                <a href="/trades/xlmm_product_analysis/?month={{ date_dic.next_month }}">下个月 >></a>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <table class="table table-condensed" id="mytable">
            <thead>
            <th>妈妈编号</th>
            <th>妈妈昵称</th>
            <th>销售数量</th>
            <th>退款数量</th>
            <th>销售金额</th>
            </thead>
            <tbody>

            {% for i in raw %}
                <tr>
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.3 }}</td>
                    <td>{{ i.2 }}</td>
                    <td>{{ i.4 }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
{% endblock %}

{% block tail_script %}

{% endblock %}

