<!DOCTYPE html>
<html>
  <head>
    <title>库存商品</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{ STATIC_URL }}css/base.less" rel="stylesheet/less" type="text/css" />
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <style type="text/css" title="currentStyle">
    	@import "{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css";
    	@import "{{ STATIC_URL }}bootstrap/css/bootstrap2.3.2.min.css";
    </style>  
    <style type="text/css">
    body,div{
    	margin:0px auto;
    	padding:0px;
    }
    .well {
    	margin-bottom:0px;
    }
    .form-inline input,.form-inline label{
    	margin-left:10px;
    }
    </style>
  </head>
  <body>
  	<div class="container">
  		{% if object.error_packages %}
  		<div class="fail">
  			<h2 style="color:red;">包裹重量计算异常</h2>
  			<table class="table table-bordered table-striped table-condensed">
  				<tr><th>包裹编号</th><th>包裹重量</th><th>异常信息</th></tr>
  				{% for er in object.error_packages %}
  				<tr><td>{{ er.0 }}</td><td>{{ er.1 }}</td><td>{{ er.2 }}</td></tr>
  				{% endfor %}
  			</table>
  		</div>
  		{% else %}
  		<div class="success">
  		<h2>韵达今日包裹重量数据统计(单位:kg)</h2>
  		<table class="table table-bordered table-striped table-condensed">
  			<tr><td>小包最重重量：</td><td>{{ object.max_sweight }}</td>
  			<td>大包最重重量:</td><td>{{ object.max_pweight }}</td></tr>
  		</table>
  		<div class="well well-large badge-important">全国数据</div>
  		<table class="table table-bordered table-striped table-condensed">
  			<tr><th>统计项</th><th>包裹数</th><th>称重</th><th>计重</th></tr>
  			<tr>
  				<td>所有小包</td>
  				<td>{{ object.all.A.total_num }}</td>
  				<td>{{ object.all.A.total_weight }}</td>
  				<td>{{ object.all.A.total_upload_weight }}</td>
  			</tr>
  			<tr>
  				<td>集包小包</td>
  				<td>{{ object.all.B.total_num }}</td>
  				<td>{{ object.all.B.total_weight }}</td>
  				<td>{{ object.all.B.total_upload_weight }}</td>
  			</tr>
  			<tr>
  				<td>集包大包</td>
  				<td>{{ object.all.C.total_num }}</td>
  				<td>{{ object.all.C.total_weight }}</td>
  				<td>{{ object.all.C.total_upload_weight }}</td>
  			</tr>
  		</table>
  		<div class="well well-small badge-success">江浙沪皖数据</div>
  		<table class="table table-bordered table-striped table-condensed">
  			<tr><th>统计项</th><th>包裹数</th><th>称重</th><th>计重</th></tr>
  			<tr>
  				<td>所有小包</td>
  				<td>{{ object.jzhw.A.total_num }}</td>
  				<td>{{ object.jzhw.A.total_weight }}</td>
  				<td>{{ object.jzhw.A.total_upload_weight }}</td>
  			</tr>
  			<tr>
  				<td>集包小包</td>
  				<td>{{ object.jzhw.B.total_num }}</td>
  				<td>{{ object.jzhw.B.total_weight }}</td>
  				<td>{{ object.jzhw.B.total_upload_weight }}</td>
  			</tr>
  			<tr>
  				<td>集包大包</td>
  				<td>{{ object.jzhw.C.total_num }}</td>
  				<td>{{ object.jzhw.C.total_weight }}</td>
  				<td>{{ object.jzhw.C.total_upload_weight }}</td>
  			</tr>
  		</table>
  		<div class="well well-small badge-warning">外围数据</div>
  		<table class="table table-bordered table-striped table-condensed">
  			<tr><th>统计项</th><th>包裹数</th><th>称重</th><th>计重</th></tr>
  			<tr>
  				<td>所有小包</td>
  				<td>{{ object.other.A.total_num }}</td>
  				<td>{{ object.other.A.total_weight }}</td>
  				<td>{{ object.other.A.total_upload_weight }}</td>
  			</tr>
  			<tr>
  				<td>集包小包</td>
  				<td>{{ object.other.B.total_num }}</td>
  				<td>{{ object.other.B.total_weight }}</td>
  				<td>{{ object.other.B.total_upload_weight }}</td>
  			</tr>
  			<tr>
  				<td>集包大包</td>
  				<td>{{ object.other.C.total_num }}</td>
  				<td>{{ object.other.C.total_weight }}</td>
  				<td>{{ object.other.C.total_upload_weight }}</td>
  			</tr>
  		</table>
  		
  		<form class="form-inline" action="./" method="POST">
  			<label>输入揽件用户编号：</label><input name="lanjian_id"/><input type="submit" class="btn btn-primary" value="确认上传揽件重量">
  		</form>
  		</div>
  		<div>
  		{% endif %}
  </body>
</html>