{% extends "mama_base.html" %}

{% block title %} 小鹿妈妈-支付押金 {% endblock %}

{% block head_script %}
<link href='{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css' rel='stylesheet'  />	

<style type="text/css" >
    tfoot input{
    	width:50%;
    }
</style>
{% endblock %}


{% block container %}

<div class="row">
<ul class="nav nav-tabs">
  <li role="presentation" class="col-xs-4 "><a href="#">填写资料</a></li>
  <li role="presentation" class="col-xs-4 active"><a href="#">支付押金</a></li>
  <li role="presentation" class="col-xs-4"><a href="#">加入小鹿</a></li>
</ul>
</div>

<form action="">
  
  <a href="http://weixin.huyi.so/mm/p/2731/" class="btn btn-lg btn-primary">马上支付100元押金</a>
  
</form>
{% endblock %}