{% extends "mama_base.html" %}

{% block title %} 我的账户 {% endblock %}

{% block head_script %}
<link href='{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css' rel='stylesheet'  />	
<style type="text/css" title="currentStyle">
	@import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
	@import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";
</style>  
<style type="text/css" >
    tfoot input{
    	width:50%;
    }
</style>
{% endblock %}


{% block container %}


<h3>数据统计</h3>

<div class="row">
  <div class="col-xs-4">
    <a href="/m/m/?day={{ prev_day }}"><< 前一天</a>
  </div>
  <div class="col-xs-4">
    <p>{{ target_date }}</p>
  </div>
  <div class="col-xs-4">
    {% if next_day %}
    <a href="/m/m/?day={{ next_day }}">后一天 >></a>
    {% endif %}
  </div>
</div>

<div style="margin-top:20px">
  <ul class="list-group">
    <li class="list-group-item">手机号: {{ mobile }}</li>
    <li class="list-group-item">小鹿妈妈: {{ xlmm.weikefu }}</li>
    {% if agencylevel.pk > 1 %}
    <li class="list-group-item"><p style="color:orange">账户现金: ￥<span style="font-size:26px">{{ xlmm.cash_money }}</span>（<a href="/m/cashout/">详情</a>）<a href="/m/cashout/" class="btn btn-warning" style="float:right;">提现</a></p></li>
    {% endif %}
    <li class="list-group-item">专属链接： <b>http://xiaolu.so/m/{{ pk }}/</b></li>
    <li class="list-group-item">点击人数: {{ click_num }}</li>
    <li class="list-group-item">订单人数: {{ order_num }}</li>
    <li class="list-group-item"><span style="color:orange">订单金额: ￥{{ total_value }}</span></li>
    {% if agencylevel.pk > 1 %}
    {% if carry > 0 %}
    <li class="list-group-item"><span style="color:orange">可得补贴: ￥{{ carry }}（待确认）</span></li>
    {% else %}
    <li class="list-group-item"><span style="color:orange">可得补贴: {{ carry }}</span></li>
    {% endif %}
    {% endif %}
  </ul>


  <h3>订单详情</h3>
  <table id="state_table" class="table table-bordered">
    <thead>
      <th>昵称</th><th>金额</th><th>时间</th><th>状态</th>
    </thead>
    <tbody>
      {% for order in order_list %}
      <tr><td>{{ order.nick }}</td><td>{{ order.price }}</td><td>{{ order.time }}</td><td>{{ order.status }}</td></tr>
      {% endfor %}
    </tbody>
  </table>


</div>

{% endblock %}

