{% extends "mama_base.html" %}

{% block title %} 妈妈审核 {% endblock %}

{% block head_script %}
    <link href='{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css' rel='stylesheet' xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html"/>

    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";
    </style>

    <style type="text/css">
        tfoot input {
            width: 50%;
        }

        th {
            text-align: center;
        }

        td {
            text-align: center;
        }

    </style>


    <script type="text/javascript">
        function shenhe(id) { //通过
            var i = id.toString();
            index = "bt_verify_" + id;
            url = '/m/mama_verify_action/';

            tuijianren_id = "tuijianren_" + id;
            weikefu_id = "weikefu_" + id;
            group_select = "group_select_"+id;

            var tuijianren = document.getElementById(tuijianren_id).value; //获取推荐人字段 手机号码
            var weikefu = document.getElementById(weikefu_id).value; //获取微客服字段
            var group = document.getElementById(group_select).value;// 获取群组字段
            console.log(group);

            var user_show = document.getElementById('user_show').innerHTML;
            if (user_show === "") {
                alert('管理员掉线，请重新登录系统后操作，谢谢！');
            }
            else {
                data = {"id": id, 'tuijianren': tuijianren, 'weikefu': weikefu,'group':group};

                var bt_verify = $('#' + index);
                tui = 'tuijianren_' + id;
                var tuijianren_attr = $('#' + tui);
                wei = 'weikefu_' + id;
                var weikefu_attr = $('#' + wei);
                group =  "group_select_"+id;
                var grou_attr = $('#'+group);

                function callback(result) {
                    if (result == "ok") {
                        bt_verify.text('已通过接管');
                        bt_verify.attr("disabled", "disabled"); // button 状态关闭
                        tuijianren_attr.attr("disabled", "disabled"); //输入框状态关闭
                        weikefu_attr.attr("disabled", "disabled"); //输入框状态关闭
                        grou_attr.attr("disabled", "disabled");//选择框关闭
                    }
                    else {
                        alert("server error");
                    }
                }
                $.get(url, data, callback);
            }
        }


    </script>

{% endblock %}


{% block container %}


    <div class="page-header container row">
        <label class="label label-primary" style="font-size: 20px">妈妈审核</label>

        <p class="label label-success">当前管理:<span id="user_show">{{ user }}</span></p>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading ">妈妈审核列表</div>

        <div style="margin-bottom: 70px">
            <table class="table table-hover " id="mytable" style="margin-top:10px">
                <thead>
                <tr>
                    <th>妈妈编号</th>
                    <th>手机号</th>
                    <th>已付款</th>
                    <th>群组</th>
                    <th>昵称</th>
                    <th>推荐人手机</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                {% for item in data %}
                    <tr>
                        <td id="{{ item.id }}">{{ item.id }}</td>
                        <td>{{ item.mobile }}</td>
                        <td>{{ item.sum_trade }}</td>
                        <td><select id="group_select_{{ item.id }}">{% for group in item.cat_list %}
                            <option value="{{ group.id }}">{{ group.name }}</option> {% endfor %}</select></td>
                        <td><input id="weikefu_{{ item.id }}" name="weikefu" style="width: 90px;"
                                   value="{{ item.weikefu }}"/></td>
                        <td><input id="tuijianren_{{ item.id }}" name="tuijianren" style="width: 100px;"
                                   value="{{ item.referal_from }}"/></td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" id="bt_verify_{{ item.id }}" {% if item.flag == 0 %}
                                        style="display:none"{% endif %} class="btn btn-primary"
                                        onclick="shenhe({{ item.id }})">通过并接管
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}



{% block tail_script %}
    <script src="{{ STATIC_URL }}jquery/jquery-2.1.1.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-datatable-addon/jquery.dataTables.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#mytable').dataTable({
            //"bJQueryUI": true,
            "bAutoWidth": true,//false, //自适应宽度
            "aaSorting": [[0, "asc"]],
            "iDisplayLength": 50,
            "aLengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]],
            //"bInfo":true,
            //"sPaginationType": "full_numbers",
            //"sDom": '<"H"Tfr>t<"F"ip>',
            "oLanguage": {
                "sLengthMenu": "每页 _MENU_ 条",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                "sInfoEmpty": "没有数据",
                "sSearch": "搜索",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                },
                "sZeroRecords": "没有检索到数据",
                "sProcessing": "<img src='/static/img/loading.gif' />"
            }
        });

    </script>
{% endblock %}
