<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>妈妈黑名单</title>

    <!-- Bootstrap -->
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    
	<style type="text/css">
		body{
			background-color:#E1E0DE;
		}
	</style>
  </head>
  <body>
    <div class="container">
    	<div class="container-fluid" style="text-align:center;margin-top:100px;">
    	<div style="margin-bottom:5px;"><img src="/static/img/img_err_500.jpg"></img></div>
    	<div ><span>系统已将您的妈妈帐号加入<strong>黑名单</strong>帐户,如有疑问请联系管理员。</span></div>
    	<div>
    </div>
  </body>
</html>