{% extends "mama_base.html" %}

{% block title %} 补贴详情 {% endblock %}

{% block head_script %}
<link href='{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css' rel='stylesheet'  />	
<link href='{{ STATIC_URL }}css/mama_profile.css' rel='stylesheet' />	
<style type="text/css" >
    .col-xs-4 {
    	padding-left:0px;
    	padding-right:0px;
    }
    #id-carry-list .table{
    	font-size:12px;
    }
    .pager{
    	margin: 0px 0px; 
    }
</style>
{% endblock %}

{% block container %}
<div class="row">
<div class="page-header col-xs-9">
  <h3>妈妈数据列表</h3>
</div>
<div class="col-xs-3" >
	  <a href="/m/m/" class="home glyphicon glyphicon-home " target="_self"></a>
</div>
</div>

<div role="tabpanel">
	<ul class="nav nav-tabs" style="margin-top:10px">
	  <li role="presentation" class="col-xs-4 active"><a href="#id-cashout-list" aria-controls="id-cashout-list" role="tab" data-toggle="tab" class="btn">提现</a></li>
	  <li role="presentation" class="col-xs-4 "><a href="#id-carry-list" aria-controls="id-cashout-list" role="tab" data-toggle="tab" class="btn">收支</a></li>
	  <li role="presentation" class="col-xs-4"><a href="#id-referal-list" aria-controls="id-referal-list" role="tab" data-toggle="tab" class="btn">推荐</a></li>
	</ul>
  	<div class="tab-content" >
	<div id="id-cashout-list" role="tabpanel" class="tab-pane active">
	  <form id="cashout-form" action="/m/cashout/" method="POST">
	  <p style="color:orange">&nbsp;您的可提现金额为￥<span style="font-size:26px">{{ could_cash_out }}</span>。</p>
	  <p style="color:#428bca">提现将由小鹿美美公众号向当前提交申请的微信号发送<span style="font-size:20px">微信红包</span>方式完成，请确认后再申请。</p>
	  <div id="id-cashout-area" {% if cashout > 0 %} style="display:none" {% endif %}>
	    <p>&nbsp;提现需20元以上,请输入提现金额：</p>
	    <div class="input-group" style="margin-top:5px">
	      <span class="input-group-addon">￥</span>
	      <input id="id-cashout-input" type="number" name="v" max="{% if could_cash_out > 200%}200{% else %}{{ could_cash_out }}{% endif %}" min="20" value="{{ could_cash_out }}" class="form-control" {% if could_cash_out <= 20 %} readonly="readonly"  {% endif %}/>
	      {% csrf_token %}
	      <span class="input-group-btn">
		<button type="submit" class="btn btn-warning" type="button">确认提交</button>
	      </span>
	    </div>
	    <p id="id-submit-message" style="color:red"></p>
	  </div>
	  </form>
	  <ul id="id-cashout-notice" style="color:red;margin-top:6px;{% if cashout < 1 %}display:none{% endif %}" class="list-group">
	    <li class="list-group-item">提现申请已提交！<br/>请微信加微客服 <b>18516655836</b> 审核提现申请，提现将以发放微信微红包方式完成。</li>
	  </ul>
	
	  <div style="margin-top:20px">
	    <h5>最近提现记录：</h5>
	    <table class="table table-bordered" >
	      <thead>
			<tr><th class="col-xs-4">金额</th><th class="col-xs-4">时间</th><th class="col-xs-4">状态</th></tr>
	      </thead>
	      <tbody id="id-cashout-tbody">
	      </tbody>
	    </table>
	  </div>
	  <div class="row">
		<nav>
		  <ul class="pager">
		    <div class="col-xs-4">
		    <li class="previous"><a id="id-cashout-prev" href="#" url="null"><span aria-hidden="true">&larr;</span>上一页</a></li>
		    </div>
		    <div class="col-xs-4">
			</div>
			<div class="col-xs-4">
		    <li class="next"><a id="id-cashout-next" href="#" url="null">下一页 <span aria-hidden="true">&rarr;</span></a></li>
		    </div>
		  </ul>
		</nav>
	 </div>
	</div>
	
	<div id="id-carry-list" role="tabpanel" class="tab-pane">
	  <div style="margin-top:20px">
	  <h5>我的收支记录：</h5>
	    <table class="table table-bordered" style="margin-top:10px">
	      <thead>
			<tr><th class="col-xs-3">时间</th><th class="col-xs-3">金额</th><th class="col-xs-3">类型</th><th class="col-xs-3">状态</th></tr>
	      </thead>
	      <tbody id="id-carry-tbody">
	      </tbody>
	    </table>
	  </div>
	  <div class="row">
		<nav>
		  <ul class="pager">
		    <div class="col-xs-4">
		    <li class="previous"><a id="id-carry-prev" href="#" url="null"><span aria-hidden="true">&larr;</span>上一页</a></li>
		    </div>
		    <div class="col-xs-4">
			</div>
			<div class="col-xs-4">
		    <li class="next"><a id="id-carry-next" href="#" url="null">下一页 <span aria-hidden="true">&rarr;</span></a></li>
		    </div>
		  </ul>
		</nav>
	 </div>
	</div>
	
	
	<div id="id-referal-list" role="tabpanel" class="tab-pane">
	  <div style="margin-top:20px">
	  <h5>我推荐的代理：</h5>
	    <table class="table table-bordered" style="margin-top:10px">
	      <thead>
		<th>序号</th><th>昵称</th><th>时间</th>
	      </thead>
	      <tbody id="id-referal-tbody">
		{% for referal in referal_list %}
		<tr><td>{{ forloop.counter }}</td><td>{{ referal.weikefu }}</td><td>{{ referal.created }}</td></tr>
		{% endfor %}
	      </tbody>
	    </table>
	  </div>
	</div>
  	</div>
</div>
{% endblock %}


{% block tail_script %}
  <script type="text/javascript">

  $(function () {
    var cashout_url = "/m/cashoutlist/?xlmm={{ xlmm.pk }}";
    get_cashout_list(cashout_url);
    var carry_url = "/m/carrylist/?xlmm={{ xlmm.pk }}";
    get_carry_list(carry_url);
    
  });

  $("#id-cashout-prev").click(function () {
    var url= $("#id-cashout-prev").attr("url");
    if (url != "null") {
      get_cashout_list(url);
    }
  });


  $("#id-cashout-next").click(function () {
    var url= $("#id-cashout-next").attr("url");
    if (url != "null") {
      get_cashout_list(url);
    }
  });

  $("#id-carry-prev").click(function () {
    var url= $("#id-carry-prev").attr("url");
    if (url != "null") {
      get_carry_list(url);
    }
  });


  $("#id-carry-next").click(function () {
    var url= $("#id-carry-next").attr("url");
    if (url != "null") {
      get_carry_list(url);
    }
  });

  function get_carry_list(url) {
    var callback = function (res) {
      var results = res["results"];
      var previous = res["previous"];
      var next = res["next"];
      if (previous != null) {
        $("#id-carry-prev").attr("url",previous);
      } else {
        $("#id-carry-prev").attr("url","null");
      }
      if (next != null) {
        $("#id-carry-next").attr("url",next);
      } else {
        $("#id-carry-next").attr("url","null");
      }
      $("#id-carry-tbody")[0].innerHTML = "";
      for (var i=0; i<results.length; ++i) {
        var entry = results[i];
        var carry_date = entry["carry_date"];
        
        var td_money = '<span class="text-success" >'+entry['value_money']+'</span>';
        if (entry['carry_type'] == 'out'){
        	td_money = '<span class="text-danger" >-'+entry['value_money']+'</span>';
        }
        var row = "<tr><td>"+carry_date+"</td><td>"+td_money+"</td><td>"+entry["log_type_name"]+"</td><td>"+entry["status_name"]+"</td></tr>";
        $("#id-carry-tbody").append(row);
      }
    };
    $.ajax({url:url, success:callback});
  }

  function get_cashout_list(url) {
    var callback = function (res) {
      var results = res["results"];
      var previous = res["previous"];
      var next = res["next"];
      if (previous != null) {
        $("#id-cashout-prev").attr("url",previous);
      } else {
        $("#id-cashout-prev").attr("url","null");
      }
      if (next != null) {
        $("#id-cashout-next").attr("url",next);
      } else {
        $("#id-cashout-next").attr("url","null");
      }
      $("#id-cashout-tbody")[0].innerHTML = "";
      for (var i=0; i<results.length; ++i) {
        var entry = results[i];
        var row = "<tr><td>"+entry["value_money"]+"</td><td>"+entry["created"]+"</td><td>"+entry["status"]+"</td></tr>";
        $("#id-cashout-tbody").append(row);
      }
    };
    $.ajax({url:url, success:callback});
  }

  $('#cashout-form').on('submit', function(e) {
        e.preventDefault(); // <-- important
        var cform = $(this);
        var subtn = $('#cashout-form button[type="submit"]');
        if (subtn.hasClass('loading')){
        	$("#id-submit-message")[0].innerHTML = "提现申请正在处理中...";
        	return ;
        }
        subtn.addClass('loading');
        var inputValue = $('#id-cashout-input');
        var v_min = parseInt(inputValue.attr('min'));
        var v_max = parseInt(inputValue.attr('max'));
        var value = parseInt(inputValue.val());

        if (value < v_min || value > v_max){
        	subtn.removeClass('loading');
        	$("#id-submit-message")[0].innerHTML = "单次提现金额最低20元，最高200元（微信红包）！";
        	return 
        }
        var callback = function (res) {
          subtn.removeClass('loading');
	      if (res["code"] == 0) {
	        $("#id-cashout-notice").css("display","block");
	        $("#id-cashout-area").css("display","none");
	      }
	      if (res["code"] == 1) {
	        $("#id-submit-message")[0].innerHTML = "系统错误，请联系微客服解决！";
	      }
	      if (res["code"] == 2) {
	        $("#id-submit-message")[0].innerHTML = "输入金额错误！请输入整数金额。";
	      }
	    };
	    
	    var params = {};
	    $.each(cform.serializeArray(),function(index,obj){
	    	params[obj.name] = obj.value;
	    })
        
        $.ajax({url:cform.attr('action'), data:params, type:cform.attr('method'), success:callback});
    });

  /**$("#id-cashout-submit").click(function (e) {
    var url = "/m/cashout/";
    var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    var v = $("#id-cashout-input").val();
    var data = {"v":v, "csrfmiddlewaretoken":csrf_token};
    var callback = function (res) {
      if (res["code"] == 0) {
        $("#id-cashout-notice").css("display","block");
        $("#id-cashout-area").css("display","none");
      }
      if (res["code"] == 1) {
        $("#id-submit-message")[0].innerHTML = "系统错误，请联系微客服解决！";
      }
      if (res["code"] == 2) {
        $("#id-submit-message")[0].innerHTML = "输入金额错误！请输入整数金额。";
      }
    };
    $.ajax({url:url, data:data, type:"post", success:callback});
  });**/

  </script>
{% endblock %}
