{% extends "mama_base.html" %}

{% block title %} 小鹿妈妈-招募代理 {% endblock %}

{% block head_script %}
<link href='{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css' rel='stylesheet'  />	
<style type="text/css">

</style>
{% endblock %}


{% block container %}

<div class="page-header">
  <h3>小鹿妈妈怎能没有你！</h3>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">你的梦想，就是小鹿的梦想</h3>
  </div>
  <div class="panel-body">
    <p>你是朝九晚五的上班族，</p>
	<p>你是柴米油盐的家庭主妇，</p>
	<p>你是有丰富课余时间的大学生，</p>
	<p>你是刚出月子的年轻妈妈，</p>
	<p>你来自地广物博的天府之国，</p>
	<p>你打拼在欣欣向荣的璀璨魔都，</p>
	<p>不管你是谁，</p>
	<p>只要你有一颗创业的心，</p>
	<p>只要你对生活充满热爱，</p>
	<p>就是我们找寻许久的那个人。</p>
	</span>
    <a href="#" class="thumbnail">
		<img src="http://mmbiz.qpic.cn/mmbiz/ibbEWWCOYbubm8CKnyTfjIrTXNFyalNjoADJUNGCeCyWQdDjhk5T764niceWMc5Il6kIO6M3mobWrhJkGu1rG9Iw/640?wx_fmt=jpeg&tp=webp&wxfrom=5" alt="tu1">
  	</a>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">梦圆留美高材生夫妇</h3>
  </div>
  <div class="panel-body">
    <p>归国学霸夫妇，一流创业团队，</p>
	<p>千万资金投入，踏实稳健作风。</p>
	<p>曾经的优尼世界，如今的小鹿美美。</p>
	<p>我们一直致力于母婴品牌服务，</p>
	<p>坚定，且执着。</p>
    <a href="#" class="thumbnail">
		<img src="http://mmbiz.qpic.cn/mmbiz/ibbEWWCOYbubm8CKnyTfjIrTXNFyalNjoiaMZ5O7IsQ74GQ8wyZQTtzkiaRzbRbN7H5P5bNYAB1x0I2e4wEhAtZibg/640?wx_fmt=jpeg&tp=webp&wxfrom=5" alt="tu2">
  	</a>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">小鹿美美的理念——赢在供应链</h3>
  </div>
  <div class="panel-body">
    <p>这不是一个固步自封的时代，</p>
	<p>这不是一个“剩者”称王的时代，</p>
	<p>这亦不是一个无原则亦步亦趋的时代，</p>
	<p>这是属于前瞻者、属于弄潮儿、属于互联网、属于微信的时代。</p>
	<br> 
	<p>小鹿美美拥有最先进的创业理念：</p>
	<p>供应链零风险，</p>
 	<p>流量零成本，</p>
	<p>产品供应渠道一流，</p>
	<p>先进的营销渠道，</p>
	<p>赢得微信，赢得移动互联网用户。</p>
 	<a href="#" class="thumbnail">
		<img src="http://mmbiz.qpic.cn/mmbiz/ibbEWWCOYbubm8CKnyTfjIrTXNFyalNjozqudTAjsadtDdnmXNEVcLKHDdlicMLVElgEywefia9OTD9uTAK76fA5g/640?wx_fmt=jpeg&tp=webp&wxfrom=5" alt="tu3">
  	</a>
	
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">小鹿美美的价值——共赢</h3>
  </div>
  <div class="panel-body">
    <p>如今，</p>
	<p>千万级融资已到位，</p>
	<p>我们正大力扩充团队。</p>
	<p>四百万现金补贴回馈代理：</p>
	<p>只要加入就送30，</p>
	<p>开单再送8.8，</p>
	<p>推荐代理送50，</p>
	<p>再加一个送100，</p>
	<p>轻松发朋友圈轻松赚钱！</p>
    <a href="#" class="thumbnail">
		<img src="http://mmbiz.qpic.cn/mmbiz/ibbEWWCOYbubm8CKnyTfjIrTXNFyalNjoa748NgdibAOIaO0a4LdgX4rTJonUYcIDzhicwjdmziaMOgQTkkqibpL1hQ/640?wx_fmt=jpeg&tp=webp&wxfrom=5" alt="tu3">
  	</a>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">小鹿美美的未来——一起创造</h3>
  </div>
  <div class="panel-body">
    <p>如果你信任我们，</p>
	<p>请成为我们的一员，</p>
	<p>在这个微信蓬勃发展的年代，</p>
	<p>一起迈向我们的黄金时代。</p>
    <a href="#" class="btn btn-lg btn-success">一起加入小鹿妈妈吧</a>
  </div>
</div>

{% endblock %}

{% block tail_script %}    
    

{% endblock %}
