{% extends "weixin_base.html" %}

{% block title %} 订单搜索 {% endblock %}

{% block head_script %}
    <link href='{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css' rel='stylesheet' xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html"/>

    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";

        .fixed_div {
            position: fixed;
            bottom: 0px;
            margin-right: 0px;
        }
    </style>


    <script type="text/javascript">


        window.onload = function () {
            var oInput = document.getElementById("search_order");
            oInput.focus(); //锁定输入到输入框
            document.onkeydown = function (e) {
                if (!e) {
                    e = window.event;
                }
                if ((e.keyCode || e.which) == 13) {
                    search_Order_By_Mobile();       //绑定回车 到函数
                }
            }
        }


        function search_Order_By_Mobile() {
            var mobile = $('#search_order').val();
            // 清空结点已经填写的内容

            function callback(result) {
                $("#search_result").empty();
                $.each(result, function (d, v) {
                    $("<p data-toggle='modal'" +
                            " data-target='.bs-example-modal-lg' onclick='order_detail(" + v.id + ")'><span>原单ID： " + v.tid + "</span></p>" +
                            "<div class='row'>" +
                            "<div class='col-xs-6'><span onclick='put_msg(this)'>收货人： " + v.receiver_name + "</span></div>" +
                            "<div class='col-xs-6'><span onclick='put_msg(this)'>发货日期： " + v.consign_time + "</span></div>" +
                            "</div>" +

                            "<div class='row'>" +
                            "<div class='col-xs-6'><span onclick='put_msg(this)'>订单状态： " + v.status + "</span></div>" +
                            "<div class='col-xs-6'><span onclick='put_msg(this)'>系统状态： " + v.sys_status + "</span></div>" +
                            "</div>" +

                            "<span onclick='put_msg(this)'>收获地址： " + v.address + "</span><br>" +
                            "<span onclick='put_msg(this)'>买家留言： " + v.buyer_message + "</span><br>" +
                            "卖家备注： " + v.seller_memo + "<br>" +

                            "<div class='row'>" +
                            "<div class='col-xs-6'><span onclick='put_msg(this)'>物流公司： " + v.logistics_company + "</span></div>" +
                            "<div class='col-xs-6'><span onclick='put_msg(this)'>物流编号： " + v.out_sid + "</span></div>" +
                            "</div>" +
                            "<hr style='height:2px;border:none;border-top:2px ridge green;margin-top: 0px;' />"
                    ).appendTo("#search_result");
                });
            }

            if (mobile == '') {
                alert('请输入手机号码或者原单ID！');
            }
            else {
                url = '/m/duokefu_search_by_mobile/';
                data = {'mobile': mobile};
                $.ajax({url: url, data: data, success: callback});
            }
        }


        function order_detail(id) {
            //根据此id找订单明细内容 并且填充到  id=order_detail_container 的table中
            url = '/m/duokefu_order_detail/';
            data = {'id': id};
            $('#order_detail_container').empty();
            function callback(result) {
                $.each(result, function (d, v) {
                    $("<div class='row'>" +
                    '<div class="col-xs-4"><img src="' + v.pic_path + '"  width="64" height="64"/></div><div class="col-xs-8">' +
                    v.title + "</div></div>" +
                    "<p>" +
                    "价&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp格： " + v.price + "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp" +
                    "数&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp量： " + v.num + "<br>" +
                    "总&nbsp&nbsp费&nbsp&nbsp用： " + v.total_fee + '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' +
                    "实&nbsp&nbsp付&nbsp&nbsp款： " + v.payment + "<br>" +
                    "规&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp格： " + v.sku_properties_name + "<br>" +
                    "订单状态： " + v.status + "<br>" +
                    "系统状态： " + v.sys_status + "<br>" +
                    "退款状态： " + v.refund_status + "<br>" +
                    "付款时间： " + v.pay_time + "<br>" +
                    "<hr style='height:2px;border:none;border-top:2px ridge green;margin-top: 0px;' />" +
                    "</p>").appendTo('#order_detail_container');

                });
            }

            $.ajax({url: url, data: data, success: callback});
        }
    </script>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true" style="margin-top: 25px">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div id="order_detail_container">

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="根据电话号码搜索订单" id="search_order">
                    <span class="input-group-btn">
                        <button class="btn btn-success" id="search_button" type="button"
                                onclick="search_Order_By_Mobile()">美美一搜
                        </button>
                    </span>
                </div>
            </div>
            <br>

            <div id="search_result" class="row">

            </div>
            <div class="fixed_div row">


                <div class="input-group row">
                    <input id="filterName" type="text" class="form-control" placeholder="填写内容来标红"
                           aria-describedby="basic-addon2">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block tail_script %}

    <script type="text/javascript">
        function randomString(len) {
            len = len || 32;
            var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
            var maxPos = $chars.length;
            var pwd = '';
            for (var i = 0; i < len; i++) {
                pwd += $chars.charAt(Math.floor(Math.random() * maxPos));

            }
            return pwd;
        }

        function put_msg(obj) {
            var rad = randomString(6);
            var text = $(obj).html();

            var msg = '{"msg":{"head": {"random": "' + rad + '"},"body":[{"type":0, "content":{"text":"' + text + '"}}]}}';
            window.external.PutMsg(
                    msg
            );
        }

        $(function () {
            $("#filterName").keyup(function () {
                if ($("#filterName").val() != '') {
                    $("span").css("background-color", "white").filter(":contains('" + ( $(this).val() ) + "')").css("background-color", "red");
                }
                else {
                    $("span").css("background-color", "white");
                }
            })
        });

    </script>
{% endblock %}

