{% extends "weixin_base.html" %}

{% block title %} 微信订单 {% endblock %}

{% block head_script %}
    <link href='{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css' rel='stylesheet' xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html"/>

    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";

        p {
            padding: 0px;
            margin: 0px
        }

        .fixed_div {

            margin-right: 0px;
            bottom: 0px;

            right: 20px;
            position: absolute;
        }
    </style>


    <script type="text/javascript">

        var openid = "";
        function MCS_ClientNotify(EventData) {
            EventData = strToJson(EventData);
            switch (EventData['event']) {
                case 'OnUserChange':
                {
                    OnUserChange(EventData);
                    break;
                }
                case 'OnMapMsgClick':
                {
                    OnMapMsgClick(EventData);
                    break;
                }
            }
        }
        //class="label label-info"

        function OnUserChange(EventData) {
            openid = EventData.useraccount;
            var data = {'openid': openid};

            var url = '/m/duokefu_weixin_order/';
            $("#duokefu_weixin_order_info").empty();
            function callback(result) {                             // 页面加载的时候显示
                $(
                        '<div class="row">' +
                        '<div class="col-xs-2"><span><img src="' + result[0].product_img + '" width="64" height="64" /></span></div>' +
                        '<div class="col-xs-5"><span onclick="put_msg(this)">商品数量： ' + result[0].product_count + '</span>' + '<br>' +
                        '<span onclick="put_msg(this)">商品总价： ' + result[0].order_total_price + '</span>' + '<br>' +
                        '<span onclick="put_msg(this)">商品单价： ' + result[0].product_price + '</span></div>' +
                        '<div class="col-xs-5"><span onclick="put_msg(this)">快递费用： ' + result[0].order_express_price + '</span>' + '<br>' +
                        '<span onclick="put_msg(this)">订单状态： ' + result[0].order_status + '</span>' + '<br>' +
                        '<span onclick="put_msg(this)">收  件  人： ' + result[0].receiver_name + '</span>' +
                        '</div></div>' +

                        "<div>" +
                        "<div><span onclick='put_msg(this)'>商品名称： " + result[0].product_name + "</span></div>" +
                        "<div><span onclick='put_msg(this)'>订 单 ID： " + result[0].order_id + "</span></div>" +
                        "<div><span onclick='put_msg(this)'>地 址： " + result[0].address + "</span></div>" +
                        "</div>" +

                        '<div class="row">' +
                        '<div class="col-xs-6">' +
                        '<span onclick="put_msg(this)">手 机： ' + result[0].mobile + '</span></div>' +
                        '<div class="col-xs-6">' +
                        '<span onclick="put_msg(this)">下单时间： ' + result[0].order_create_time + '</span></div>' +
                        '</div>' +
                        '<div class="row"><div class="col-xs-6"><span onclick="put_msg(this)">快递单号： ' + result[0].delivery_id + '</span></div>' +
                        '<div class="col-xs-6"><span onclick="put_msg(this)">快递公司： ' + result[0].delivery_company + '</span></div></div>'
                ).appendTo("#duokefu_weixin_order_info");
            }

            $.ajax({url: url, data: data, type: "post", success: callback});
        }


        function strToJson(str) {
            var json = (new Function("return " + str))();
            return json;
        }

        function more_weixin_order() {
            console.log(openid);
            var url = '/m/duokefu_find_more/';
            data = {'openid': openid};
            function callback(result) {
                $("#more_order").empty();
                $.each(result, function (d, v) {

                    $(
                            '<div class="row">' +
                            '<div class="col-xs-2"><span><img src="' + v.product_img + '" width="64" height="64" /></span></div>' +
                            '<div class="col-xs-5"><span onclick="put_msg(this)">商品数量： ' + v.product_count + '</span>' + '<br>' +
                            '<span onclick="put_msg(this)">商品总价： ' + v.order_total_price + '</span>' + '<br>' +
                            '<span onclick="put_msg(this)">商品单价： ' + v.product_price + '</span></div>' +
                            '<div class="col-xs-5"><span onclick="put_msg(this)">快递费用： ' + v.order_express_price + '</span>' + '<br>' +
                            '<span onclick="put_msg(this)">订单状态： ' + v.order_status + '</span>' + '<br>' +
                            '<span onclick="put_msg(this)">收  件  人： ' + v.receiver_name + '</span>' +
                            '</div></div>' +

                            "<div>" +
                            "<div><span onclick='put_msg(this)'>商品名称： " + v.product_name + "</span></div>" +
                            "<div><span onclick='put_msg(this)'>订 单 ID： " + v.order_id + "</span></div>" +
                            "<div><span onclick='put_msg(this)'>地 址： " + v.receiver_address + "</span></div>" +
                            "</div>" +

                            '<div class="row">' +
                            '<div class="col-xs-6">' +
                            '<span onclick="put_msg(this)">手 机： ' + v.receiver_mobile + '</span></div>' +
                            '<div class="col-xs-6">' +
                            '<span onclick="put_msg(this)">下单时间： ' + v.order_create_time + '</span></div>' +
                            '</div>' +
                            '<div class="row"><div class="col-xs-6"><span onclick="put_msg(this)">快递单号： ' + v.delivery_id + '</span></div>' +
                            '<div class="col-xs-6"><span onclick="put_msg(this)">快递公司： ' + v.delivery_company + '</span></div></div>' +
                            "<hr style='height:2px;border:none;border-top:2px ridge green;margin-top: 0px;' />"
                    ).appendTo("#more_order");


                });
            }

            $.ajax({url: url, data: data, success: callback});
        }


    </script>

{% endblock %}


{% block container %}
    <div class="container">


        <div id="duokefu_weixin_order_info">

        </div>
        <hr style='height:2px;border:none;border-top:2px ridge green;margin-top: 0px'/>
        <div id="more_order">

        </div>
        <div class="fixed_div" >


            <div class="input-group">
                <input id="filterName" type="text" class="form-control" placeholder="填写内容来标红"
                       aria-describedby="basic-addon2">
                <a class="input-group-addon label-primary" id="basic-addon2 " onclick="more_weixin_order()">更多订单</a>
            </div>
        </div>

    </div>
{% endblock %}

{% block tail_script %}

    <script type="text/javascript">

        function randomString(len) {
            len = len || 32;
            var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
            var maxPos = $chars.length;
            var pwd = '';
            for (var i = 0; i < len; i++) {
                pwd += $chars.charAt(Math.floor(Math.random() * maxPos));

            }
            return pwd;
        }

        function put_msg(obj) {
            var rad = randomString(6);
            var text = $(obj).html();

            var msg = '{"msg":{"head": {"random": "' + rad + '"},"body":[{"type":0, "content":{"text":"' + text + '"}}]}}';
            window.external.PutMsg(
                    msg
            );
        }

        $(document).ready(function () {
            $('#filterName').focus();
        });


        $(function () {
            $("#filterName").keyup(function () {
                if ($("#filterName").val() != '') {
                    $("span").css("background-color", "white").filter(":contains('" + ( $(this).val() ) + "')").css("background-color", "red");
                }
                else {
                    $("span").css("background-color", "white");
                }
            })
        });

    </script>
{% endblock %}

