<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href='{{ STATIC_URL }}fullcalendar/css/fullcalendar.css' rel='stylesheet' />
<link href='{{ STATIC_URL }}fullcalendar/tags/jquery.tagsinput.css' rel='stylesheet'  />
<link href='{{ STATIC_URL }}fullcalendar/js/jquery-ui-1.8.13.css' rel='stylesheet'  />
<script src='{{ STATIC_URL }}fullcalendar/js/jquery-1.8.13.min.js'></script>
<script src='{{ STATIC_URL }}fullcalendar/js/jquery-ui-1.8.13.min.js'></script>
<script src='{{ STATIC_URL }}fullcalendar/js/jquery-ui-timepicker-addon.js'></script>
<script src='{{ STATIC_URL }}fullcalendar/js/fullcalendar.min.js'></script>
<script src='{{ STATIC_URL }}fullcalendar/tags/jquery.tagsinput.js'></script>
<script src="{{ STATIC_URL }}fullcalendar/staffevent.js" ></script>

<style>
	.btn-group {
		position: relative;
		display: inline-block;
		font-size: 0;
		white-space: nowrap;
		vertical-align: middle;
	}
	
	.left-nav {
		width:250px;
		display:inline;
		float:left;
		font-size: 14px;
	}
	
	.left-nav-search  .span2{
		width:140px;
	}
	
	.right-panel{
		max-width:900px;
	}
	
	.search-results{
		margin-top:5px;
	}
	
	.search-result-events {
		height:570px;
		overflow-y:scroll;
		overflow-x:none;
	}
	
	.event-label {
		margin-top:2px;
		width:215px;
		overflow: hidden;
	}
	
	.nav > li > a{
		padding-top:0px;
		padding-bottom:0px;
	}
	
	.search-filter{
		border:1px solid #DDD;
		padding:5px;
	}
	
	.filter-line label{
		display:inline;
		font-size:16px;
	}
	
	.filter-line select{
		display:inline;
		height:25px;
		width:95px;
		margin-bottom:8px;
		margin-right:2px;
	}
	
	.filter-line input[type="checkbox"]{
		dispaly:inline;
		margin-bottom:8px;
	}
	
	.filter-line input[type="text"]{
		display:inline;
		width:100px;
		height:16px;
		margin-right:2px;
	}
	
	#calendar {
		width:900px;
	}
	
	.add_staff_event{
		display:none;
		width:342px;
		position:absolute;
	    z-index:11111;
	}
	
	.staff-head {
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		white-space: nowrap;
		vertical-align: baseline;
		background-color: #777;
		height:20px;
		text-align:center;
	}
	
	.staff-body{
		padding:5px 2px;
		border:2px solid #999999;
    	background-color:white;
	}
	
	.control-group {
		display:block;
		margin-bottom:5px;
		clear:both;
	}
	
	.control-group a,.control-group div,.control-group input,.control-group label{
		display:inline;
	}
	
	#executors {
		width:272px;
	}
	
	.event-datetime{
		width:41%;
	}
	
	#event-content {
		width:95%;
	}
	
	div.tagsinput input{
		list-style:none;
		border: 1px solid #CCC;
		outline: 0;
		outline: thin dotted 9;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	}
	
	ul li{
		list-style-type: none;
	}
	
	.event-bottom{
		text-align:center;
	}
	.event-bottom a{
		margin-right:20px;
	}
	.prompt-tip{
		width:400px;
    	z-index: 1001; 
    	visibility: visible;
    	background: none repeat scroll 0 0 #FFFFFF;
	    border: 1px solid #CCCCCC;
	    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
	    position:absolute;
	    margin-bottom: 9px;
	    padding: 8px 14px;
	    display:none;
	}
	
	.tip-main{
	}
	
	.prong-dk,.prong-lt{
		border-bottom-width: 0;
	}
	
	#tip-close{
		float:right;
		cursor: pointer;
	    height: 13px;
	    right: 16px;
	    top: 16px;
	    width: 13px;
	}
	
	.tip-content{
		overflow: hidden;
		width:384px;
	}
	
	.tc-header{
		
	}
	
	.tc-footer{
		border-top: 1px solid #DDDDDD;
	    margin-top: 2em;
	    padding-top: 1em;
	    color: #1587BD;
	}
	
	#tc-event-text{
		margin-bottom:5px;
		line-height:20px;
	}
	
	.tip-bottom {
		height: 9px;
	    overflow: hidden;
	    width: 18px;
	    position: absolute;
	    left: 200px;
	    bottom:-9px;
	}
	
	.prong-dk{
		-moz-border-bottom-colors: none;
	    -moz-border-image: none;
	    -moz-border-left-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-top-colors: none;
	    border-color: #FFFFFF transparent transparent transparent;
	    border-style: solid;
	    border-width: 8px;
	    left:1px;
	}
	
	#event-creator{
		display:inline;
		overflow: hidden;
		width:50px;
	}
	
	#event-duration{
		display:inline;
		overflow: hidden;
		width:300px;
	}
	
	.actions-right{
		float: right;
	    margin: 0 1px;
	    white-space: nowrap;
	    display:inline;
	}
	
	.actions-left{
		float: left;
	    margin: 0 1px;
	    white-space: nowrap;
	    display:inline;
	}

</style>
	<div class="right-panel">
		<div id='calendar'></div>
		<div id="add_staff_event" class="add_staff_event draggable " >
			<div class="staff-head">
				<label class="label">填写事件信息</label>
			</div>
			<div class="staff-body">
				<div class="control-group executors">
					<input id="executors" name="executors" type="text" value=""  />
				</div>
				<div class="control-group">
					<input id="start-datetime" class="event-datetime" type='text' placeholder="最早执行时间" />
					<lable class="label">to</lable>
					<input id="end-datetime" class="event-datetime" type='text' placeholder="最晚完成时间" />
				</div>
				<div class="control-group">
					<div class="controls"><textarea id="event-content" rows="3" cols="50" placeholder="描述规范：开头用14字以内写任务标题，然后再写任务内容" ></textarea></div>
				</div>
				<div class="control-group event-bottom">
					<a id="btn-submit" >提交</a>
					<a id="btn-cancle" >取消</a>
				</div>
			</div>
		</div>
		<div id="prompt-tip" class="prompt-tip">
			<tip class="tip-main">
				<div id="tip-close" class="icon-remove"></div>
				<div id="tip-content" class="tip-content" >
					<div class="tc-header">
						<div id="tc-event-text" >正文内容</div>
						<div id="tc-event-track">
							<div class="actions-left">
								<label class="label">创建由:</label>
								<div id="event-creator"></div>
							</div>
							<div class="actions-right">
								<div id="event-duration"></div>
							</div>
						</div>
					</div>
					<div class="tc-footer">
						<div class="actions-right">
							<a id="event-complete" eventid="" href="javascript:void(0);">完成</a>
						</div>
						<div class="actions-left">
							<a id="event-delete" eventid="" href="javascript:void(0);">删除</a>
						</div>
					</div>
				</div>
				<div class="tip-bottom" id="prong:e" >
					<div class="prong-dk"></div>
				</div>
			</div>
			
		</div>
	</div>
</div>
<script type="text/javascript">
	
	//初始化日历事件对象
	var initial_calendar_events = function(calendar){
		
		var now = new Date();
		now.setMonth(now.getMonth()-3);
		var url = "/app/calendar/events/";
		var params = {'df':$.datepicker.formatDate('yy-mm-dd 00:00:01',now)};
		
		var callback = function(data){
	
			if (data.code==1){
				alert('数据初始化失败');
				return;
			}
			$.each(data.response_content, function(index, e) {
				 customRenderEvent(calendar,e);
		    });
		};
		
		$.ajax({ 
		    type: 'GET', 
		    url: url, 
		    data: params , 
		    dataType: 'json',
		    success: callback,
		});
	};
		
	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		var latestClickDiv = null;
		
		var calendar = $('#calendar');
		calendar.fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: false,
			monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
			monthNamesShort: ['1.','2.','3.','4.','5.','6.','7.','8.','9.','10.','11.','12.'],
			dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
			dayNamesShort: ['日','一','二','三','四','五','六'],
			buttonText: {
				prev: "<span class='fc-text-arrow'>&lsaquo;</span>",
				next: "<span class='fc-text-arrow'>&rsaquo;</span>",
				prevYear: "<span class='fc-text-arrow'>&laquo;</span>",
				nextYear: "<span class='fc-text-arrow'>&raquo;</span>",
				today: '今天',
				month: '月',
				week: '周',
				day: '天',
			},
			dayClick: function(date, allDay, jsEvent, view) {
				
				if (latestClickDiv){
					latestClickDiv.css('background-color', 'white');
				}
	            $(this).css('background-color', 'pink');
				$("#start-datetime").datetimepicker('setDate', (date))
				var pos = {'x':jsEvent.clientX,'y':jsEvent.clientY}
	       		showStaffEventAddDialog(pos);
				
				latestClickDiv = $(this);
				//隐藏提示框
				$('#prompt-tip').hide();
	   		},
	   		eventClick: function(calEvent, jsEvent, view) {
		
	       		$('#add_staff_event').hide();
	       		$(this).css('border-color', 'red');
	       		var pos = {'x':jsEvent.clientX,'y':jsEvent.clientY};
	       		showStaffEventTipDialog(calEvent,pos);
	   		},
	   		viewDisplay: function(view){
	   			//隐藏员工事件添加对话框
	   			$('#add_staff_event').hide();
	   			//隐藏提示框
				$('#prompt-tip').hide();
	   		},
		});
		initial_calendar_events(calendar);
		
	});
	//使输入的执行标记化
	$("#executors").tagsInput({
		'autocomplete_url': '/users/username/',
	    'autocomplete': {selectFirst:true,autoFill:true},
		'height':'100px',
		'width':'260px',
		'interactive':true,
		'defaultText':'事件分配给',
		'placeholderColor' : '#999999',
		'removeWithBackspace' : true,
	    'minChars' : 1,
	    'maxChars' : 20,
	});
	//设置填写事件对话框可拖动
	$("#add_staff_event").draggable({ containment: "parent" });
	
	$("#start-datetime").datetimepicker({
	               timeFormat: "HH:mm:ss",
	               dateFormat: "yy-mm-dd"
	           });
	$("#end-datetime").datetimepicker({
	               timeFormat: "HH:mm:ss",
	               dateFormat: "yy-mm-dd"
	           });
	//初始化添加事件对话框
	initStaffEventAddDialog();
	//初始员工事件添加对话框
	initStaffEventTipDialog();
	
</script>
