<!DOCTYPE html>
<html>
<head>
<title>事件日历</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href='{{ STATIC_URL }}fullcalendar/css/fullcalendar.css' rel='stylesheet' />
<link href='{{ STATIC_URL }}fullcalendar/css/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='{{ STATIC_URL }}fullcalendar/js/jquery-1.9.1.min.js'></script>
<script src='{{ STATIC_URL }}fullcalendar/js/jquery-ui-1.10.2.custom.min.js'></script>
<script src='{{ STATIC_URL }}fullcalendar/js/fullcalendar.min.js'></script>
<script>
	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: true,
			monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
			monthNamesShort: ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
			dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
			dayNamesShort: ['日','一','二','三','四','五','六'],
			buttonText: {
				prev: "<span class='fc-text-arrow'>&lsaquo;</span>",
				next: "<span class='fc-text-arrow'>&rsaquo;</span>",
				prevYear: "<span class='fc-text-arrow'>&laquo;</span>",
				nextYear: "<span class='fc-text-arrow'>&raquo;</span>",
				today: '今天',
				month: '月',
				week: '周',
				day: '天',
			},
			events: [
				{
					title: 'All Day Event',
					start: new Date(y, m, 1)
				},
				{
					title: 'Long Event',
					start: new Date(y, m, d-5),
					end: new Date(y, m, d-2)
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d-3, 16, 0),
					allDay: false
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d+4, 16, 0),
					allDay: false
				},
				{
					title: 'Meeting',
					start: new Date(y, m, d, 10, 30),
					allDay: false
				},
				{
					title: 'Lunch',
					start: new Date(y, m, d, 12, 0),
					end: new Date(y, m, d, 14, 0),
					allDay: false
				},
				{
					title: 'Birthday Party',
					start: new Date(y, m, d+1, 19, 0),
					end: new Date(y, m, d+1, 22, 30),
					allDay: false
				},
				{
					title: 'Click for Google',
					start: new Date(y, m, 28),
					end: new Date(y, m, 29),
					url: 'http://google.com/'
				}
			],
			dayClick: function(date, allDay, jsEvent, view) {
				console.log('date:'+date.getMonth(),date.getDay(),date.getHours());
                if (allDay) {
                    console.log('Clicked on the entire day: ' + date);
                }else{
                    console.log('Clicked on the slot: ' + date);
                }

                console.log(jsEvent);

                console.log(view);

                // change the day's background color just for fun
                $(this).css('background-color', 'red');
                
                var event = {
					title: 'just be lay',
					start: new Date(y, m, 26, 0, 0),
					//end: new Date(y, m, d, 26, 10),
					allDay: false
				};
                
                $('#calendar').fullCalendar( 'renderEvent', event , true)

    		},
    		eventClick: function(calEvent, jsEvent, view) {

        		console.log(calEvent);
        		console.log(jsEvent);
        		console.log('View: ' + view.name);
				
        		// change the border color just for fun
        		$(this).css('border-color', 'red');

    		},
    		eventDragStop:function(event, jsEvent, ui, view ){
    			console.log(event, jsEvent, ui, view);
    			console.log('eve:',event.start.getMonth(),event.end);
    		},
    		eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {

        		console.log(
            		event.title + " was moved " +
            		dayDelta + " days and " +
           			minuteDelta + " minutes."
        		);

        		if (allDay) {
            		console.log("Event is now all-day");
        		}else{
            		console.log("Event has a time-of-day");
        		}

        		if (!confirm("Are you sure about this change?")) {
            		revertFunc();
        		}
    		}
		});
	});

	

</script>
<style>

	body {
		margin-top: 40px;
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		}

	#calendar {
		width: 900px;
		margin: 0 auto;
		}

</style>
</head>
<body>
<div id='calendar'></div>
</body>
</html>