
{% extends "product_base.html" %}

{% load mathfilters %}

{% block title %}
商品资料
{% endblock %}

{% block container %}
<div class="container">


</div>
{% endblock %}

{% block tail_script %}
<script type="text/javascript">
      function screen(id, counter) {
      
      var buyPrice = parseFloat($("#id-buy-price-"+counter).val());
      if (isNaN(buyPrice) || buyPrice < 0) {
          $("#id-msg")[0].innerHTML = "请输入进货价：";
          $("#id-msg").css("color","red");
          return;
      }
        
      var url = "/supplychain/supplier/product/"+id+"/";
      var callback = function (res) {
         if (res["status"]) {
            $("#id-item-"+id).slideUp();
          }
        };
      
      var sale_time = "";
      var sale_time_sct  = $("#id-sale-time-"+counter);
      
       if (sale_time_sct){
      	sale_time = sale_time_sct.val();
      }
      console.log(sale_time,sale_time,isNaN(sale_time));
       if (sale_time_sct && sale_time == "") {
          $("#id-msg-"+counter)[0].innerHTML = "请选择上架日期";
          $("#id-msg-"+counter).css("color","red");
          return;
      }

      var memo = $("#id-memo-"+counter).val();
      var selection = $("#id-select-"+counter).val();
      
      var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
      var data = {"status": selection,
      						"csrfmiddlewaretoken":csrf_token,
      						"sale_price":buyPrice,
      						"sale_time":sale_time,
      						"memo":memo };
        
      var headers = {
	    'X-HTTP-Method-Override': 'PATCH'
	   };

        $.ajax({url:url,data:data,success:callback,method:"post",headers:headers });
      };
      
	function slideToggle(){ 
      	$(".supplier-info").slideToggle(1000);
      };
	
	$("#query_create").click(function(){
		
		var fetch_url =  $("#query_input").val();
		if ( !fetch_url ){return;}

		if ($("#fetch-form").length > 0){
			$("#fetch-form").css("border","1px solid #5BC0DE")
			return ;
		}
		var supplier_id = $("#supplier_id").val();
		var url = "/supplychain/supplier/brand/fetch/"+supplier_id+"/";
		var status = $("#status_id").val();
		
      	var callback = function (res) {
      		if ($("#items-group li").length == 0){
      			$("#items-group").append(res);
      		}else{
      			$("#items-group li:first").before(res);
      		}
        };
		
      	var data = {"fetch_url": fetch_url ,'status':status };
		
		$.ajax({url:url,data:data,success:callback,method:"GET" });
	});
     $(function() {
		 $(".datepicker").datepicker({ dateFormat: "yy-mm-dd 00:00:00" });
	}); 
</script>
{% endblock %}
    
