<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <title>待处理订单</title>
        <link rel="stylesheet" href="http://admin.xiaolumm.com/static/jquery/jquery-ui-1.10.1.css"/>
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap3.2.0.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}DataTables/DataTables-1.10.11/css/dataTables.bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}DataTables/Select-1.1.2/css/select.bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}Editor-1.5.5/css/editor.bootstrap.min.css">
        <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
        <style>
         body {font-family: SimHei;}
         #main-table tr[role="row"] td {padding-top: 7px; padding-bottom: 8px;}
         tr.odd {background-color: #e5ebf5;}
         .delay-3 {color: red;}
         #header {color: #fff;}
         #header .panel-body {background-color: #4c525b;}
         #header em {font-size: 180%;}
         .stat p {text-align: center;}
         .stat p:first-child {margin-bottom: 0; font-size: 120%;}
        </style>
    </head>
    <body>
        <div id="header" class="panel-message panel">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <h2>待处理订单</h2>
                        </div>
                        <div class="col-md-5"></div>
                        <div class="col-md-1 stat">
                            <p><em id="n-delay">0</em></p>
                            <p>三天未处理</p>
                        </div>
                        <div class="col-md-1 stat">
                            <p><em id="n-total">0</em></p>
                            <p>总计</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="width:98%">
            <form id="pay-time-range-form" action="/trades/dirty_orders2" method="get">
                <div class="row form-group">
                    <div class="col-md-5">
                        <input type="text" name="pay_time_start" class="form-control date" placeholder="开始时间" value="{{form.pay_time_start|default:''}}">
                    </div>
                    <div class="col-md-5">
                        <input type="text" name="pay_time_end" class="form-control date" placeholder="结束时间" value="{{form.pay_time_end|default:''}}">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-block">确定</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <table id="main-table" class="display" style="width:100%"></table>
            </div>
        </div>
        <script src="{{ STATIC_URL }}jquery/jquery-1.8.13.min.js"></script>
        <script src="/static/jquery/jquery-ui-1.10.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}underscore/underscore-min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-3.2.0.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}DataTables/datatables.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}DataTables/Select-1.1.2/js/dataTables.select.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}Editor-1.5.5/js/dataTables.editor.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}Editor-1.5.5/js/editor.bootstrap.js"></script>
        <script src="/static/wap/js/template.js"></script>
        <script src="/static/jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
                type="text/javascript"></script>
        <script src="/static/jquery-timepicker-addon/js/jquery.ui.datepicker-zh-CN.js.js"
                type="text/javascript"></script>
        <script src="/static/jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
                type="text/javascript"></script>
        {% verbatim %}
        <script id="link-tpl" type="text/html">
            <a href="{{url}}" target="_blank">
                {{text}}
            </a>
        </script>
        <script id="warning-tpl" type="text/html">
            <i class="glyphicon glyphicon-info-sign delay-3"></i>
            {{text}}
        </script>
        {% endverbatim %}
        <script>
         $(function(){
             $('.date').datepicker({dateFormat: 'yy-mm-dd'});
             var mainTable = $('#main-table').DataTable({
                 language: {
                     url: '{{ STATIC_URL }}DataTables/i18n/Chinese.json'
                 },
                 dom: 'Bfrtip',
                 pageLength: 5000,
                 ajax: '/trades/dirty_orders2?'+$('#pay-time-range-form').serialize(),
                 select: false,
                 columns: [
                     {data: 'order_id', title: '#', width: '80px', render: function(data, type, full, meta){
                         return type == 'display' && data ?
                                template('link-tpl', {text: data, url: '/admin/trades/mergeorder/?q='+full.order_sn}) : data;
                     }},
                     {data: 'trade_id', title: '订单ID', width: '80px', render: function(data, type, full, meta){
                         return type == 'display' && data ?
                                template('link-tpl', {text: data, url: '/admin/trades/mergetrade/?q='+full.trade_sn}) : data;
                     }},
                     {data: 'order_type', title: '订单类型', width: '100px'},
                     {data: 'product_name', title: '商品名', width: '200px', render: function(data, type, full, meta){
                         return type == 'display' && data ?
                                template('link-tpl', {text: data, url: '/admin/items/product/?q='+full.product_outer_id}) : data;
                     }},
                     {data: 'sku_properties_name', title: '规格', width: '100px'},
                     {data: 'num', title: '数量', width: '80px'},
                     {data: 'receiver_name', title: '收货人', width: '100px'},
                     {data: 'receiver_mobile', title: '收货人手机号', width: '100px'},
                     {data: 'receiver_address', title: '收货人地址', width: '220px'},
                     {data: 'payment_date', title: '支付日期', width: '80px', render: function(data, type, full, meta){
                         if(type == 'display'){
                             if(data.up_to_today - 0 >= 3)
                                 return template('warning-tpl', {text: data.display});
                         }
                         return data.display;
                     }},
                     {data: 'payment_time', title: '支付时间', width: '160px'},
                     {data: 'sys_status', title: '状态', width: '80px'},
                     {data: 'sys_memo', title: '备注', width: '150px'}
                 ],
                 buttons: [],
                 initComplete: function(settings, json){
                     var n = _.reduce(json.data, function(memo, el){return memo + (el.payment_date.up_to_today >= 3 ? 1 : 0)}, 0);
                     if(n){
                         $('#n-delay').html(n);
                         $('#n-total').html(json.data ? json.data.length : 0);
                     }

                     this.api().columns([2, 3, 7, 11]).every(function(){
                         var column = this;
                         var select = $('<select class="form-control"><option value=""></option></select>')
                             .appendTo($(column.header()))
                             .on('change', function(){
                                 var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                 column.search( val ? '^'+val+'$' : '', true, false ).draw();
                             });
                         column.data().unique().sort().each(function(d, j){
                             select.append('<option value="'+d+'">'+d+'</option>');
                         });
                     });
                     var column = this.api().column(9);
                     var select = $('<select class="form-control"><option value=""></option></select>')
                             .appendTo($(column.header()))
                             .on('change', function(){
                                 var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                 column.search( val ? '^'+val+'$' : '', true, false ).draw();
                             });
                     var pay_dates = _.sortBy(_.uniq(_.map(column.data(), function(el){return el.display;}))).reverse();
                     _.each(pay_dates, function(el){
                         select.append('<option value="'+el+'">'+el+'</option>');
                     });
                     $('i.delay-3').popover({
                         html: true,
                         trigger: 'hover',
                         content: '三天未处理'
                     });
                 }
             });
         });
        </script>
    </body>
</html>
