<!DOCTYPE html>
<html>
<head>
	<title>订单交易商品统计</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/base.less" rel="stylesheet/less" type="text/css" />
    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
	<script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
	<!-- <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery.ui.datepicker-zh-CN.js.js" type="text/javascript" charset="gb2312"></script> -->
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js" type="text/javascript"></script> 
    <style type="text/css">
		*{ margin:0; padding:0;}
		ul li{ 
			list-style:none; 
			display:inline; 
			margin-top:30px;
			margin-left:20px;
			float:left;
		}
		ul{
			width:900px;
			display:block; 
		}
		input{
			width:140px;
		}
		select{
			width:120px;
		}
	</style>
</head>
<body>
	{% with object.trade_items as trade_items %}
	<div class="container">
		<div >
			<form  class="form-inline" method="POST" action="/trades/order/statistic/" >
			<ul>
				<li>
					<label class="control-label" for="sc_by">日期类型:</label>
					<select name="sc_by" class="selector">
						<option value="pay" {% if object.sc_by == "pay" %}selected{% endif %}>付款日期</option>
						<option value="weight" {% if object.sc_by == "weight" %}selected{% endif %}>称重日期</option>
						<option value="create" {% if object.sc_by == "create" %}selected{% endif %}>生成日期</option>
					</select>
				</li>
				<li>
					<label class="control-label" for="shop_id">选择店铺:</label>
					<select name="shop_id" class="selector">
						<option value="" >全部</option>
					    {% for shop in object.shops %}
						<option value="{{ shop.id }}" {% if object.shop_id == shop.id %}selected{% endif %}>{{ shop.nick }}</option>
						{% endfor %}
					</select>
				</li>
				<li>
					<label class="control-label" for="df">起始日期:</label>
					<input type="text" id="f_datepicker" name="df" class="datepicker" value="{{ object.df }}"/>
				</li>
				<li>
					<label class="control-label" for="dt">结束日期:</label>
					<input type="text" id="t_datepicker" name="dt" class="datepicker" value="{{ object.dt }}"/>
				</li>
				<li>
					<label class="control-label" for="outer_id">商家编码:</label>
					<input type="text" name="outer_id" value="{{ object.outer_id }}"/>
				</li>
				<li>
					<label class="control-label" for="wait_send">待发货:</label>
					<input type="checkbox" name="wait_send" {% if object.wait_send %}checked{% endif %} />
				</li>
				<li>
					<input type="submit" value="查询" class="btn btn-primary"/>
				</li>
			</ul>
			</form>
		</div>
		<div id="post-items" style="display:block;clear:both;">
		  <fieldset>
		  	<legend>订单商品统计列表(成本:{{ object.total_cost }},销售额:{{ object.total_sales }},实付邮费:{{ object.post_fees }}
		  	,退款:{{ object.refund_fees }},付款单数:{{ object.trade_nums }},购买人数:{{ object.buyer_nums }})</legend>
			  <table class="table table-bordered  table-condensed">
			    <tr>
			      <th>商品编码</th><th style="width:150px;">商品名称</th><th>总数量</th><th>成本</th><th>销售额</th>
			      <th>规格编码</th><th style="width:200px;">商品规格</th><th>数量</th><th>成本</th><th>销售额</th>
			    </tr>
			    {% for trade in trade_items %}
				    {% with trade.1.skus|length as sku_len %}
				    {% if sku_len > 0 %}
					    {% for sku_id,sku in trade.1.skus %}
					    <tr class="{% if forloop.first and trade.1.cost >= trade.1.sales or sku.cost >= sku.sales %}label-warning{% endif %}">
					    	{% if forloop.first %}
					    	<td rowspan="{{ sku_len }}">{{ trade.0 }}</td>
					    	<td rowspan="{{ sku_len }}">{{ trade.1.title }}</td>
					    	<td rowspan="{{ sku_len }}">{{ trade.1.num }}</td>
					    	<td rowspan="{{ sku_len }}">{{ trade.1.cost }}</td>
					    	<td rowspan="{{ sku_len }}">{{ trade.1.sales }}</td>
							{% endif %}
							<td >{{ sku_id }}</td>
							<td >{{ sku.sku_name }}</td>
							<td >{{ sku.num }}</td>
							<td >{{ sku.cost }}</td>
							<td >{{ sku.sales }}</td>
					    </tr>
					    {% endfor %}
				    {% else %}
				    	<tr>
					    	<td >{{ trade.0 }}</td>
					    	<td >{{ trade.1.title }}</td>
					    	<td >{{ trade.1.num }}</td>
					    	<td >{{ trade.1.cost }}</td>
							<td >{{ trade.1.sales }}</td>
							<td colspan="5">--</td>
						</tr>
				    {% endif %}
				    {% endwith %}
			    {% endfor %}
			  </table>
		  </fieldset>
		</div>
	</div>	
	{% endwith %}
</body>
<script type="text/javascript">
	$(function() {
		 $("#f_datepicker").datetimepicker({
                timeFormat: "HH:mm:ss",
                dateFormat: "yy-mm-dd"
            });
		 $("#t_datepicker").datetimepicker({
                timeFormat: "HH:mm:ss",
                dateFormat: "yy-mm-dd"
            });
	});
</script>
</html>