<html>
 <head>
    {% block title %} {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">

    {% block head_script %} {% endblock %}
  </head> 
 
<body>
<div style="width:800px; padding:5px;">
<form id="form1" action="/trades/fenxiao/count/" method="post">
startDate
<input type="text" name="fromDate" value="{{ fromDateShow }}">
endDate
<input type="text" name="endDate" value='{{ toDateShow }}'>
<input type="submit" value="submit" onclick="submit()">
</form>
</div>

<div style="width:800px; padding:5px;margin:0px auto; text-align:center;">
<table class="table table-striped table-bordered table-condensed">
<thead>
<tr>
<th>fenxiao_user</td>
<th>interval_cast</td>
</tr>
</thead>
<tbody>
{% for key in data %}
<tr>
<td><a target="_blank" href= '/trades/fenxiao/count/detail/?fenxiao=
{{ key.0 }}&fdt={{ fromDateShow }}&tdt={{ toDateShow }} '>{{ key.0 }}</a></td>
<td>{{ key.1 }}</td>
</tr>
{% endfor %}
<tr>

</tr>
</tbody>
</table>
</div>
</body>
</html>