<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>商品退货统计</title>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap3.2.0.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-1.8.13.min.js"></script>
    <script src='{{ STATIC_URL }}jquery/addons/jquery.form.js'></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-3.2.0.min.js"></script>


    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}fixed-header-table-master/jquery.fixedheadertable.min.js"
            type="text/javascript"></script>

    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";
        @import "{{ STATIC_URL }}fixed-header-table-master/css/defaultTheme.css";
    </style>
</head>

<body class="container">

<div>
    <h3>商品库存退货统计</h3>
</div>
<div>
    <form method="get" id="my_form">
        <div class="input-group ">
            <span class="input-group-addon" id="mm_search">产品编号</span>
            <input type="text" name="outer_id" id="outer_id"
                   class="form-control  mama_base_data_search" placeholder="产品编号" value="{{ outer_id }}"
                   aria-describedby="basic-addon3">

            <span class="input-group-addon" id="date_from">开始时间</span>
            <input type="text" name="date_from" id="left_date_pic"
                   class="form-control select_saletime  datepicker" placeholder=""
                   value=""
                   aria-describedby="basic-addon1">

            <span class="input-group-addon" id="date_to">结束时间</span>
            <input type="text" name="date_to" id="right_date_pic"
                   class="form-control select_saletime  datepicker" placeholder="" value=""
                   aria-describedby="basic-addon2">
            <span class="input-group-btn">
                <button class="btn btn-default" id="go_search" type="submit">Go!</button>
            </span>
        </div>
    </form>
</div>
<div>
    <h3>商品库存退货单</h3>

    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>SKU</th>
                <th>sku库存</th>
                <th>产品库存</th>
                <th>申请退货数</th>
                <th>退货途中数</th>
                <th>退货到仓数</th>
                <th>退正品数</th>
                <th>退货价格</th>
                <th style="display: none">产品ID</th>
                <th>退次品数</th>
            </tr>
            </thead>
            <tbody id="return_good_list">
            </tbody>
        </table>
        <div id="create_return_good"></div>

    </div>
</div>
<div style="margin-top: 30px">
    <span id="task_id" style="display: none">{{ task_id }}</span>
    <table class="table table-bordered" id="mytable">
        <thead>
        <tr>
            <th>SKUID</th>
            <th>图片</th>
            <th>商品编码</th>
            <th>名称</th>
            <th>库存</th>
            <th>待发数</th>

            <th>同步</th>
            <th>发货仓</th>
            <th>上架状态</th>
            <th>商品备注</th>
            <th>退款数</th>

            <th>申请退货数</th>
            <th>退货途中数</th>
            <th>退货到仓数</th>

            <th>供应商</th>
            <th>已退数</th>
            <th style="display: none">产品ID</th>
            <th>次品数</th>
        </tr>
        </thead>
        <tbody id="pro_info_tr">

        </tbody>
    </table>
    <button onclick="create_preview_good()">生成退货单预览</button>
</div>
</body>

<script type="text/javascript" src="{{ STATIC_URL }}jquery-json/jquery.json.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}layer-v1.9.2/layer/layer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}layer-v1.9.2/layer/extend/layer.ext.js"></script>
<script type="text/javascript">
    $(function () {
        $("#left_date_pic").datepicker({
            dateFormat: "yy-mm-dd"
        });
        $("#right_date_pic").datepicker({
            dateFormat: "yy-mm-dd"
        });
    });
    function connect_supplier(suppleier_id, pro_id) {
        var html = '<div>' +
                '<div class="input-group" style="margin-top: 20px">' +
                '<span class="input-group-btn">' +
                '<button class="btn btn-default" type="button">退货数量</button>' +
                '</span><input type="text" class="form-control" id="return_num">' +
                '<span class="input-group-btn">' +
                '<button class="btn btn-default" type="button">退货总金额</button>' +
                '</span><input type="text" class="form-control" id="sum_amount">' +
                '<span class="input-group-btn"><button class="btn btn-default" type="button">备注</button>' +
                '</span></div><textarea id="return_memo" class="form-control" rows="5" style="margin-top: 20px"></textarea>' +
                '<button type="button" class="btn btn-warning return_supplier"  style="margin-top: 20px">确定</button>' +
                '</div>';
        layer.tab({
            area: ['600px', '300px'],
            tab: [{
                title: '退货给供应商',
                content: html
            }]
        });
        $(".layui-layer-page").removeClass("layui-layer-tab");//这句只是删除样式没有其他作用
        console.log("supplier", suppleier_id, pro_id);
        $(".return_supplier").click(function () {

            if ($(".return_supplier").hasClass("loading")) {
                return
            }
            var return_num = $("#return_num").val();
            var sum_amount = $("#sum_amount").val();
            var return_memo = $("#return_memo").val();
            console.log("return_num", return_num, "sum_amount", sum_amount, "return_memo", return_memo);
            var reqUrl = "/sale/dinghuo/tuihuo/";
            $(".return_supplier").addClass("loading");
            $.ajax({
                url: reqUrl,
                data: {
                    "pro_id": pro_id,
                    "suppleier_id": suppleier_id,
                    "return_num": return_num,
                    "sum_amount": sum_amount,
                    "return_memo": return_memo
                },
                type: "post",
                dataType: "json",
                success: requestCallBack
            });
            function requestCallBack(res) {
                $(".return_supplier").removeClass("loading");
                console.log(res);
                if (res.res == true) {
                    layer.confirm('退货单创建成功！关闭小窗口？', {
                        btn: ['确定'] //按钮
                    }, function () {
                        var already = '<h3><span class="label label-danger">已经处理</span></h3>';
                        $("#td_supplier").append(already);
                        layer.closeAll();
                    });
                }
                else {
                    layer.msg('创建出问题，请尝试刷新页面，不要重复提交！！！');
                }
            }
        });
    }
</script>
<script type="text/javascript">
    function create_preview_good() {
        console.log("create_return_good");
        var trs = $("#pro_info_tr tr");
        $("#return_good_list").empty();
        var supplier = "";
        $(trs).each(function (index, tr) {
            console.log("supplier", supplier);
            var before_supplier = supplier;
            supplier = tr.children[14].children[0].innerHTML;
            if (before_supplier != "" && before_supplier != supplier) {//
                $("#return_good_list").empty();//不是同一个供应商不能一批次退货
                alert("预览不是同一个供应商不能生成预览");
                return
            }
            var sku_id = tr.children[0].innerHTML;
            var quantity = tr.children[4].innerHTML.split('/')[0];
            var colec_num = tr.children[4].innerHTML.split('/')[1];
            var cost = tr.children[4].innerHTML.split('/')[2];
            var sended_refund_num = tr.children[11].innerHTML;
            var backing_refund_num = tr.children[12].innerHTML;
            var backed_refund = tr.children[13].innerHTML;
            var pro_id = tr.children[16].innerHTML;
            var sku_inferior_num = tr.children[17].innerHTML;
            var ret_num = parseInt(quantity);//退货数量默认为sku的库存数量
            var html = '<tr>' +
                    '<td>' + sku_id + '</td>' +
                    '<td>' + quantity + '</td>' +
                    '<td>' + colec_num + '</td>' +
                    '<td>' + sended_refund_num + '</td>' +
                    '<td>' + backing_refund_num + '</td>' +
                    '<td>' + backed_refund + '</td>' +
                    '<td><input type="number" value="' + ret_num + '" id="searchbar"></td>' +
                    '<td><input type="number" value="' + cost + '" id="searchbar"></td>' +
                    '<td style="display:none">' + pro_id + '</td>' +
                    '<td>' + sku_inferior_num + '</td>' +
                    '</tr>';
            $("#return_good_list").append(html);
            //$("#pro_info_tr tr").remove();
            var create_buyyton = '<button id="create_buyyton" onclick="create_record_to_database(' + before_supplier + ')">生成退货单</button>';
            $("#create_return_good").empty().append(create_buyyton);
        });

    }
    function create_record_to_database(supplier) {
        console.log("supplier: ", supplier);//生成退货单
        //删除　预览
        //$("#return_good_list").empty();
        //获取预览表中的数据　
        var trs = $("#return_good_list tr");
        var arr = new Array();
        $(trs).each(function (index, tr) {
            var sku_id = tr.children[0].innerHTML;
            var return_num = tr.children[6].children[0].value;
            var price = tr.children[7].children[0].value;
            var pro_id = tr.children[8].innerHTML;
            var sku_inferior_num = tr.children[9].innerHTML;
            var sku_return = {
                "supplier": supplier, "sku_id": sku_id, "return_num": return_num, "price": price,
                "pro_id": pro_id, "sku_inferior_num": sku_inferior_num
            };
            console.log(sku_return);
            arr[index] = sku_return;
        });
        console.log("arr: ", arr, $.type(arr));

        var json_arr = $.toJSON(arr);
        if ($(".create_buyyton").hasClass("loading")) {
            return
        }
        var reqUrl = "/sale/dinghuo/tuihuo/";
        $(".create_buyyton").addClass("loading");
        $.ajax({
            url: reqUrl,
            data: {"arr": json_arr},
            type: "post",
            dataType: "json",
            success: requestCallBack
        });
        function requestCallBack(res) {
            $(".create_buyyton").removeClass("loading");
            console.log(res);
            if (res.res == true) {
                layer.msg('创建成功！！！');
            }
            else {
                layer.msg('创建出问题，不要重复提交，联系技术！！！');
            }
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var task_id = $("#task_id").html();
        console.log(task_id);
        // 访问任务
        aj_task(task_id);
        //生成退货单
    });
</script>
<script style="text/javascript">
    function aj_task(task_id) {
        var task_url = "/djcelery/" + task_id + "/status";
        $.ajax({
            url: task_url,
            data: {},
            type: "get",
            dataType: "json",
            success: taskCallBack
        });
        function taskCallBack(res) {
            console.log(res.task.status);
            if (res.task.status == "PENDING") {
                console.log("稍等3秒再检查");
                setTimeout(function () {
                    aj_task(task_id)
                }, 3000);
            }
            if (res.task.status == "SUCCESS") {
                console.log(res.task.result);
                var pro_res = res.task.result;
                $(pro_res).each(function (index, pro) {
                    console.log(index, "-", pro);
                    var html = '<tr><td id="sku_id_{14}" name="sku_id">{14}</td>' +
                            '<td><img src="{0}" style="height: 100px;width: 62px;"></td>' +
                            '<td>{1}</td><td>{2}</td><td name="sku_quantity">{3}/{19}/{20}</td>' +
                            '<td>{4}</td><td>{5}</td>' +
                            '<td>{6}</td><td>{7}</td><td>{8}</td>' +
                            '<td>{9}</td><td name="sended_refund_num">{10}</td><td name="backing_refund_num">{11}</td>' +
                            '<td name="backed_refund">{12}</td><td id="td_supplier">' +
                            '<a style="display: none">{13}</a><a>{15}</a><br>' +
                            '<span class="label label-info">联系人：</span>{16}<br>' +
                            '<span class="label label-info">手机：</span>{17}<br>' +
                            '</td><td>{18}</td>' +
                            '<td style="display: none">{21}</td>' +
                            '<td>{22}</td>' +
                            '</tr>';
                    var format_html = String.format(html,
                            pro.pic_path,
                            pro.outer_id, pro.name, pro.sku_quantity,
                            pro.sku_wait_post_num, pro.sync_stock,
                            pro.ware_by, pro.shelf_status, pro.memo,
                            pro.return_num, pro.sended_refund_num, pro.backing_refund_num,
                            pro.backed_refund,
                            pro.sale_supplier_pk, pro.s_id, pro.sale_supplier_name,
                            pro.sale_supplier_contact,
                            pro.sale_supplier_mobile,
                            pro.already_num,
                            pro.collect_num,
                            pro.s_cost,
                            pro.id,
                            pro.sku_inferior_num//sku拆包次品数量
                    );

                    $("#pro_info_tr").append(format_html);
                });

                $('#mytable').dataTable({
                    //"bJQueryUI": true,
                    "bAutoWidth": false, //自适应宽度
                    "aaSorting": [[9, "asc"]],
                    "iDisplayLength": 50,
                    "aLengthMenu": [[20, 50, -1], [20, 50, "All"]],
                    //"bInfo":true,
                    //"sPaginationType": "full_numbers",
                    //"sDom": '<"H"Tfr>t<"F"ip>',
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ 条",
                        "sZeroRecords": "抱歉， 没有找到",
                        "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                        "sInfoEmpty": "没有数据",
                        "sSearch": "搜索",
                        "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "前一页",
                            "sNext": "后一页",
                            "sLast": "尾页"
                        },
                        "sZeroRecords": "没有检索到数据",
                        "sProcessing": "<img src='/static/img/loading.gif' />"
                    }
                });
            }
        }
    }
</script>
<script type="text/javascript">
    String.format = function () {
        if (arguments.length == 0)
            return null;
        var str = arguments[0];
        for (var i = 1; i < arguments.length; i++) {
            var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
            str = str.replace(re, arguments[i]);
        }
        return str;
    };
</script>
<script src="{{ STATIC_URL }}jquery-datatable-addon/jquery.dataTables.min.js" type="text/javascript"></script>
<script type="text/javascript">
</script>
</html>


