<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>商品退货统计--生成退货单</title>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap3.2.0.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-1.8.13.min.js"></script>
    <script src='{{ STATIC_URL }}jquery/addons/jquery.form.js'></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-3.2.0.min.js"></script>


    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}fixed-header-table-master/jquery.fixedheadertable.min.js"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-json/jquery.json.js"></script>
    <script src="{{ STATIC_URL }}jquery-datatable-addon/jquery.dataTables.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}layer-v1.9.2/layer/layer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}layer-v1.9.2/layer/extend/layer.ext.js"></script>
    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";
        @import "{{ STATIC_URL }}fixed-header-table-master/css/defaultTheme.css";

        input {
            width: 70px;
        }
    </style>
</head>

<body class="container">
<div>
    <h3>商品库存退货统计</h3>
</div>

<div>
    <form method="get" id="my_form">
        <div class="input-group ">
            <span class="input-group-addon" id="date_from">开始时间</span>
            <input type="text" name="date_from" id="left_date_pic"
                   class="form-control select_saletime  datepicker" placeholder=""
                   value="{{ date_from }}"
                   aria-describedby="basic-addon1">

            <span class="input-group-addon" id="date_to">结束时间</span>
            <input type="text" name="date_to" id="right_date_pic"
                   class="form-control select_saletime  datepicker" placeholder="" {% if date_to %}
                   value="{{ date_to }}" {% endif %}
                   aria-describedby="basic-addon2">
            <span class="input-group-btn">
                <button class="btn btn-success" id="go_search" type="submit">Go!</button>
            </span>
        </div>
    </form>
</div>
<div>
    <h3>商品库存退货单</h3>

    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>产品ID</th>
                <th>SKUID</th>
                <th>库存</th>
                <th>退货价格</th>
                <th>退正品数</th>
                <th>退次品数</th>
                <th>供应商</th>
            </tr>
            </thead>
            <tbody id="return_good_list">
            </tbody>
        </table>
        <div id="create_return_good"></div>

    </div>
</div>
<div style="margin-top: 30px">
    <span id="task_id" style="display: none">{{ task_id }}</span>
    <table class="table table-bordered" id="mytable">
        <thead>
        <tr>
            <th>产品ID</th>
            <th>SKUID</th>
            <th>名称</th>
            <th>成本</th>
            <th>库存</th>
            <th>待发数</th>
            <th>次品数</th>

            <th>退款数</th>
            <th>申请退货数</th>
            <th>退货到仓数</th>

            <th>供应商</th>
        </tr>
        </thead>
        <tbody id="pro_info_tr">
        </tbody>
    </table>
    <button onclick="create_preview_good()" type="button" class="btn btn-danger">生成退货单预览</button>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $("#left_date_pic").datepicker({
            dateFormat: "yy-mm-dd"
        });
        $("#right_date_pic").datepicker({
            dateFormat: "yy-mm-dd"
        });
    });
</script>
<script type="text/javascript">
    //生成退货单预览
    function create_preview_good() {
        console.log("create_return_good");
        var trs = $("#pro_info_tr tr");
        $("#return_good_list").empty();
        var suppliers = new Array();

        function isOneSupplier(element, index, array) {
            return (element == array[0]);//如果存在不相同的供应商返回false
        }

        $(trs).each(function (index, tr) {
            var supplier = tr.children[10].innerHTML;
            suppliers.push(supplier);
        });
        //判断所有的供应商都相等
        var supplier_is_one = suppliers.every(isOneSupplier);
        if (supplier_is_one == false) {
            layer.msg("供应商不一致，无法创建预览");
            return
        }
        var oTable = $('#mytable').dataTable();
        $(trs).each(function (index, tr) {
            var supplier = tr.children[10].innerHTML;
            var pro_id = tr.children[0].innerHTML;
            var sku_id = tr.children[1].innerHTML;
            var price = tr.children[3].innerHTML;
            var quantity = parseInt(tr.children[4].innerHTML);
            var tuihuo = parseInt(tr.children[8].innerHTML);
            var sku_inferior_num = tr.children[6].innerHTML;
            var ret_num = quantity + tuihuo;
            var html = '<tr>' +
                    '<td><input type="number" class="product_id" readonly="readonly" value="' + pro_id + '" ></td>' +
                    '<td><input type="number" class="prosku_id" readonly="readonly" value="' + sku_id + '" ></td>' +
                    '<td>' + quantity + '</td>' +
                    '<td><input type="number" class="return_price" value="' + price + '" onchange="change_price(this)"></td>' +
                    '<td><input type="number" value="' + ret_num + '" ></td>' +
                    '<td><input type="number" readonly="readonly" value="' + sku_inferior_num + '" ></td>' +
                    '<td><input type="number" readonly="readonly" value="' + supplier + '" class="supplier_id" ></td>' +
                    '</tr>';
            $("#return_good_list").append(html);
            var create_buyyton = '<button id="create_buyyton" onclick="create_record_to_database()" type="button" class="btn btn-warning">生成退货单</button>';
            $("#create_return_good").empty().append(create_buyyton);
            // 删除要添加过的行
            oTable.fnDeleteRow(tr);
        });
        var create_tr_for_new = '<button style="float:right" id="create_buyyton" onclick="create_new_line()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>';
        $("#create_return_good").append(create_tr_for_new);
    }
    // 生成 create_new_line
    function create_new_line() {
        // 自动填写 一些数据到
        // 供应商

        var product_id = $(".product_id")[0].value;
        var prosku_id = $(".prosku_id")[0].value;
        var supplier_id = $(".supplier_id")[0].value;

        var tr_html = '<tr>' +
                '<td><input type="number" value="{0}" style="color:green" ></td>' +
                '<td><input type="number" value="{1}" style="color:red" ></td>' +
                '<td></td>' +
                '<td><input type="number"  class="return_price"  value="0" ></td>' +
                '<td><input type="number" value="0" ></td>' +
                '<td><input type="number" value="0" ></td>' +
                '<td><input type="number" value="{2}" style="color:green" ></td>' +//supplier
                '<td><span class="glyphicon glyphicon-remove"></span></td></tr>';
        var dom = String.format(tr_html, product_id, prosku_id, supplier_id);
        $("#return_good_list").append(dom);
        console.log("tr_html:", tr_html);
        $(".glyphicon-remove").click(function () {
            $($(this).parent().parent()).remove();
        });
    }
    //
    function change_price(dom) {
        var va = $(dom).val();
        $.each($(".return_price"), function (i, pric_dom) {
            $(pric_dom).val(va);
        });
    }

    // 生成退货单信息
    function create_record_to_database() {
        layer.confirm('您确定创建退货单？　确定将有仓库审核，如通过将减去库存，并发货给供应商', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            create_record_to_database_func();
            layer.closeAll();

        }, function () {
            layer.msg("您取消了该预览退货单");
        });
    }
    function create_record_to_database_func() {
        //获取预览表中的数据　
        var trs = $("#return_good_list tr");
        var arr = new Array();
        $(trs).each(function (index, tr) {
            var pro_id = tr.children[0].children[0].value;
            var sku_id = tr.children[1].children[0].value;
            var price = tr.children[3].children[0].value;
            var return_num = tr.children[4].children[0].value;
            var sku_inferior_num = tr.children[5].children[0].value;
            var supplier = tr.children[6].children[0].value;
            var sku_return = {
                "supplier": supplier, "sku_id": sku_id, "return_num": return_num, "price": price,
                "pro_id": pro_id, "sku_inferior_num": sku_inferior_num
            };
            console.log(sku_return);
            arr[index] = sku_return;
        });
        console.log("arr: ", arr, $.type(arr));

        var json_arr = $.toJSON(arr);
        if ($(".create_buyyton").hasClass("loading")) {
            return
        }
        var reqUrl = "/sale/dinghuo/tuihuo/";
        $(".create_buyyton").addClass("loading");
        $.ajax({
            url: reqUrl,
            data: {"arr": json_arr},
            type: "post",
            dataType: "json",
            success: requestCallBack
        });
        function requestCallBack(res) {
            $(".create_buyyton").removeClass("loading");
            console.log(res);
            if (res.res == true) {
                layer.msg("创建成功！！！");
                //创建成功后才删除预览内容
                $("#return_good_list").empty();//删除　预览
            }
            else if (res.res == "multi_supplier") {
                layer.msg("不能为多个供应商创建退货单！！！");
            }
            else {
                layer.msg("创建出问题，不要重复提交，联系技术！！！");
            }
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var task_id = $("#task_id").html();
        console.log(task_id);
        // 访问任务
        aj_task(task_id);
        //生成退货单
    });
</script>
<!--字符串format函数-->
<script type="text/javascript">
    String.format = function () {
        if (arguments.length == 0)
            return null;
        var str = arguments[0];
        for (var i = 1; i < arguments.length; i++) {
            var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
            str = str.replace(re, arguments[i]);
        }
        return str;
    };
</script>
<!--访问任务，生成退货统计数据-->
<script style="text/javascript">
    function aj_task(task_id) {
        var task_url = "/djcelery/" + task_id + "/status";
        $.ajax({
            url: task_url,
            data: {},
            type: "get",
            dataType: "json",
            success: taskCallBack
        });
        function taskCallBack(res) {
            console.log(res.task.status);
            if (res.task.status == "PENDING") {
                console.log("稍等3秒再检查");
                setTimeout(function () {
                    aj_task(task_id)
                }, 3000);
            }
            if (res.task.status == "SUCCESS") {
                console.log(res.task.result);
                var pro_res = res.task.result;
                console.log("pro_res:---------------->", pro_res);
                $.each(pro_res[0], function (i, pro) {
                    console.log(i, "-", pro);
                    var html = '<tr>' +
                            '<td>{0}</td>' +
                            '<td>{1}</td>' +
                            '<td>{2}</td>' +
                            '<td>{3}</td>' +
                            '<td>{4}</td>' +
                            '<td>{5}</td>' +
                            '<td>{6}</td>' +
                            '<td>{7}</td>' +
                            '<td>{8}</td>' +
                            '<td>{9}</td>' +
                            '<td>{10}</td>' +
                            '</tr>';
                    var format_html = String.format(html,
                            pro.pro_id,
                            i,
                            pro.name,
                            pro.cost,
                            pro.quantity,
                            pro.wait_post_num,
                            pro.inferior_num,
                            pro.return_num,
                            pro.return_pro_num,
                            pro.backed_num,
                            pro.sale_supplier_pk
                    );
                    $("#pro_info_tr").append(format_html);
                });

                $('#mytable').dataTable({
                    //"bJQueryUI": true,
                    "bAutoWidth": false, //自适应宽度
                    "aaSorting": [[9, "asc"]],
                    "iDisplayLength": 50,
                    "aLengthMenu": [[20, 50, -1], [20, 50, "All"]],
                    "bInfo": true,
                    "sPaginationType": "full_numbers",
                    //"sDom": '<"H"Tfr>t<"F"ip>',
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ 条",
                        "sZeroRecords": "抱歉， 没有找到",
                        "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                        "sInfoEmpty": "没有数据",
                        "sSearch": "搜索",
                        "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "前一页",
                            "sNext": "后一页",
                            "sLast": "尾页"
                        },
                        "sZeroRecords": "没有检索到数据",
                        "sProcessing": "<img src='/static/img/loading.gif' />"
                    }
                });
            }
        }
    }
</script>
<script type="text/javascript">
</script>
</html>


