{% load custom_filter %}
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <title>提前订货</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css"/>
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap3.2.0.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
        <link href="{{ STATIC_URL }}chosen_v1.5.1/chosen.min.css" rel="stylesheet">
        <style>
         body{font-size:16px;}
         .portfolio-box img {
             width: 100px;
             box-shadow: 2px 2px 5px rgba(187, 187, 187, 0.5);
             -webkit-transition: -webkit-transform 0.2s ease-out;
             -moz-transition: -moz-transform 0.2s ease-out;
             -o-transition: -o-transform 0.2s ease-out;
             transition: transform 0.2s ease-out;
         }

         .portfolio-box img:hover {
             -webkit-transform: scale(1) rotate(20deg);
             -moz-transform: scale(1) rotate(20deg);
             -o-transform: scale(1) rotate(20deg);
             -ms-transform: scale(1) rotate(20deg);
             transform: scale(1) rotate(20deg);
         }

         div.supplier {
             margin: 0 auto;
             width: 80%;
         }
         .sku td {
             vertical-align: middle!important;
         }
         #actions {
             position: fixed;
             top: 40%;
             left: 20px;
             width: 150px;
             z-index: 1;
         }
         #actions .btn {
             width: 122px;
         }
         #dashboard {
             position: fixed;
             top: 100px;
             left: 70px;
         }

         .expand {
             float: right;
         }
         .expand > a {
             width: 80px;
         }

         .supplier > table {display:none;}

         .chosen-container {font-size:16px;}
        </style>
    </head>
    <body>
        <form id="form-1" action="/sale/dinghuo/instant_dinghuo/advance" method="get" class="container" style="width:82%;margin-top:10px">
            <div class="row">
                <div class="col-md-5">
                    <input type="text" name="start_date" class="form-control date" placeholder="开始日期" value="{{ start_date|default:'' }}">
                </div>
                <div class="col-md-5">
                    <input type="text" name="end_date" class="form-control date" placeholder="结束日期" value="{{ end_date|default:'' }}">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-block">确定</button>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-5">
                    <select class="chosen-select form-control" id="select-suppliers" multiple data-placeholder="供应商">
                        {% for supplier in suppliers %}
                        <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-5">
                    <select class="chosen-select form-control" id="select-buyers" multiple data-placeholder="拍货人">
                        {% for buyer in buyers %}
                        <option value="{{ buyer.id }}">{{ buyer.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
        {% if error %}
        <h2 style="text-align:center">{{error}}</h2>
        {% else %}
        {% if suppliers %}
        {% for supplier in suppliers %}
        <div class="supplier" data-supplier-id="{{ supplier.id }}" data-buyer-id="{{ supplier.buyer_id }}">
            <div style="line-height:1">
                <h2>
                    {{ supplier.name }}
                    <span class="expand">
                        <a href="javascript:;" class="btn btn-info">展开</a>
                    </span>
                </h2>
                <div style="clear:both"></div>
                <h5><label>拍货人:</label>{{ supplier.buyer_name }}</h5>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>
                        <div class="checkbox" style="margin-top:0">
                            <label>
                                <input type="checkbox" class="check-all" onclick="onCheckAllChange(this);">
                                <b>全选</b>
                            </label>
                        </div>
                    </th>
                    <th>商品名</th>
                    <th>图片</th>
                    <th>编码</th>
                    <th>尺寸</th>
                    <th>库存</th>
                </tr>
                {% for product in supplier.products %}
                {% for sku in product.skus %}
                <tr class="sku" data-outer-id="{{ product.outer_id }}">
                    {% if forloop.first %}
                    <td rowspan="{{ product.skus|length }}" style="width:80px">
                        <div class="checkbox" style="margin-top:10px">
                            <label>
                            <input type="checkbox" class="check-item" onchange="onCheckItemChange(this);">
                            {{ forloop.parentloop.counter }}
                            </label>
                        </div>
                    </td>
                    <td rowspan="{{ product.skus|length }}" style="width:200px">{{ product.name }}</td>
                    <td rowspan="{{ product.skus|length }}" style="width:200px">
                        <div class="portfolio-box">
                            <a href="{{ product.product_link }}" target="_blank">
                                <img src="{{ product.pic_path }}" class="img-circle">
                            </a>
                        </div>
                    </td>
                    <td rowspan="{{ product.skus|length }}">{{ product.outer_id }}</td>
                    {% endif %}
                    <td>{{ sku.properties_name }}</td>
                    <td>{{ sku.quantity }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </table>
        </div>
        {% endfor %}
        {% else %}
        <h2 style="text-align:center">没有数据</h2>
        {% endif %}
        {% endif %}

        <div id="dashboard">
            <h2 id="n"></h2>
        </div>
        <div id="actions">
            <form action="/sale/dinghuo/add_ding_huo/" id="form-2" method="get" target="_blank" class="container-fluid">
                <input type="hidden" id="outer-ids" name="outer_ids" value="[]">
                <div class="row">
                    <button class="btn btn-danger btn-lg">添加到订单</button>
                </div>
                <div class="row" style="margin-top:10px">
                    <a href="javascript:;" class="btn btn-info btn-lg" id="reset">重置</a>
                </div>
            </form>
        </div>
        <script src="{{ STATIC_URL }}jquery/jquery-1.8.13.min.js"></script>
        <script src="/static/jquery/jquery-ui-1.10.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}underscore/underscore-min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-3.2.0.min.js"></script>
        <script src="/static/jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
                type="text/javascript"></script>
        <script src="/static/jquery-timepicker-addon/js/jquery.ui.datepicker-zh-CN.js.js"
                type="text/javascript"></script>
        <script src="/static/jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
                type="text/javascript"></script>
        <script src="{{ STATIC_URL }}chosen_v1.5.1/chosen.jquery.js"></script>
        <script>
         var PROP_SELECTOR_TPL = _.template('[<%= propName %>="<%= propValue %>"]');

         function refreshN(){
             var n = $('.check-item:checked').length || 0;
             if(n)
                 $('#n').html(n);
             else
                 $('#n').html('');
         }


         function onCheckAllChange(el){
             $(el).closest('table').find('.check-item').prop('checked', $(el).prop('checked'));
             refreshN();
         }

         function onCheckItemChange(el){
             var $table = $(el).closest('table');
             if($table.find('.check-item:checked').length &&
                $table.find('.check-item:checked').length == $table.find('.check-item').length)
                 $table.find('.check-all').prop('checked', true);
             else
                 $table.find('.check-all').prop('checked', false);
             refreshN();
         }

         function onSelectChange(e, params){
             var supplierIds = $('#select-suppliers').val();
             var buyerIds = $('#select-buyers').val();
             var propArray = [
                 _.map(supplierIds, function(el){
                     return PROP_SELECTOR_TPL({propName: 'data-supplier-id', propValue: el});
                 }),
                 _.map(buyerIds, function(el){
                     return PROP_SELECTOR_TPL({propName: 'data-buyer-id', propValue: el});
                 }),
             ];
             propArray = _.filter(propArray, function(el){
                 return el.length > 0;
             });
             $('.supplier').each(function(index){
                 var $this = $(this);
                 var $table = $this.find('table');

                 var shouldVisible = propArray.length > 0 && _.every(propArray, function(i){
                     return $this.is(i.join(','));
                 });
                 if(shouldVisible){
                     if($table.is(':visible'))
                         return;
                     else{
                         $this.removeClass('selected').addClass('selected');
                         $table.slideDown();
                         $this.find('.expand a').html('隐藏');
                     }
                 }
                 else{
                     if($table.is(':visible')){
                         if($this.hasClass('selected')){
                             $this.removeClass('selected');
                             $table.slideUp();
                             $this.find('.expand a').html('展开');
                         }
                     }
                 }
             });
         }

         $(function(){
             $('.date').datepicker({dateFormat: 'yy-mm-dd'});

             $('.chosen-select').chosen({
                 no_results_text: '无此记录',
                 search_contains: true
             }).on('change', onSelectChange);

             $('#reset').click(function(){
                 $('.supplier :checked').prop('checked', false);
                 $('#n').html('');
             });

             $('#form-2').submit(function(){
                 var outer_ids = [];
                 $('.check-item:checked').each(function(){
                     outer_ids.push($(this).closest('tr').attr('data-outer-id') - 0);
                 });
                 $('#outer-ids').val(JSON.stringify(outer_ids));
                 return true;
             });

             $('.expand a').click(function(){
                 var $a = $(this);
                 $a.closest('div.supplier').find('table').toggle('fast', function(){
                     if($(this).is(':hidden')){
                         $a.html('展开');
                     }
                     else
                         $a.html('隐藏');
                 });
             });
         });
        </script>
    </body>
</html>
