{% extends "dinghuo/dinghuo_base.html" %}
{% block title %}爆款{% endblock %}
{% block head_script %}
    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>

    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";
    </style>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
            type="text/javascript"></script>
    <style type="text/css">
        .floatButton {
            margin-right: 0px;
            top: 50px;
            left: 20px;
            position: absolute;
        }

        .floatview {
            margin-right: 0px;
            bottom: 50px;
            right: 20px;
            position: absolute;
        }
    </style>
{% endblock %}
{% block container %}
    <form class="form-horizontal" role="form" method="GET" action="/sale/dinghuo/dailywork/">
        <div class="row form-group" style="margin-top: 40px">
            <div class="col-xs-2">
                <label class="control-label" for="df">上架日期:</label>
                <input type="text" id="f_datepicker" name="df" class="form-control datepicker"
                       value="{{ shelve_from }}"/>
            </div>
            <div class="col-xs-2">
                <label class="control-label" for="dt">订单结束时间:</label>
                <input type="text" id="t_datepicker" name="dt" class="form-control datepicker" value="{{ time_to }}"/>
            </div>
            <div class="col-xs-2">
                <label class="control-label" for="showt">查看订货日期:</label>
                <input type="text" id="show_datepicker" name="showt" class="form-control datepicker"
                       value="{{ searchDinghuo }}"/>
            </div>
            <div class="col-xs-2">
                <label class="control-label" for="groupname">查看分组:</label>
                <select class="form-control " name="groupname" id="groupname_id">
                    <option value="0" {% ifequal groupname 0 %} selected="selected" {% endifequal %}>所有</option>
                    <option class="btn-info" {% ifequal groupname 1 %} selected="selected" {% endifequal %} value="1">
                        采购A
                    </option>
                    <option class="btn-warning" {% ifequal groupname 2 %} selected="selected" {% endifequal %}value="2">
                        采购B
                    </option>
                    <option class="btn-success" {% ifequal groupname 3 %} selected="selected" {% endifequal %}value="3">
                        采购C
                    </option>
                </select>
            </div>

            <div class="col-xs-1">
                <input type="submit" value="查询" class="btn btn-primary" style="margin-top:27px;"/>
            </div>
        </div>
    </form>
    <div class="row" style="margin-top: 20px">
        <table class="table table-bordered" id="resultTable">
            <thead style="background-color:#01B5A2;">
            <th>商品信息</th>
            <th>商品名字</th>
            <th>图片</th>
            <th>分组</th>
            <th>属性</th>
            <th>成本价</th>
            <th>出售价格</th>
            <th>销售数</th>
            <th>销售成本</th>
            <th>销售额</th>
            <th>库存</th>
            <th>库存额</th>
            </thead>
            <tbody>
            {% for product in  target_product %}

                <tr>
                    <td><a href="/admin/items/product/?q={{ product.0 }}" target="_blank">{{ product.0 }}</a></td>
                    <td>{{ product.1.product_name }}</td>
                    <td><img src="{{ product.1.pic_path }}" width="100px" class="img-circle"></td>
                    <td><span id="group_{{ product.0 }}" data-category="{{ product.1.category }}"
                              data-product="{{ product.0 }}" class="group"></span></td>
                    <td><span id="category_{{ product.0 }}"></span></td>
                    <td id="cost_{{ product.0 }}">{{ product.1.cost }}</td>
                    <td id="agent_price_{{ product.0 }}">{{ product.1.agent_price }}</td>
                    <td id="sale_num_{{ product.0 }}">{{ product.1.sale_num }}</td>
                    <td id="total_cost_{{ product.0 }}"></td>
                    <td id="total_price_{{ product.0 }}"></td>
                    <td id="stock_num_{{ product.0 }}"></td>
                    <td id="stock_money_{{ product.0 }}"></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="floatButton" style="z-index: 9999;">
        {% if all_pro_sale %}
            销售最多<br>
            <img src="{{ all_pro_sale.1.pic_path }}" width="80px" class="img-circle"><span
                class="badge badge-important">{{ all_pro_sale.1.total_sale_num }}</span><br>
            {{ all_pro_sale.1.name }}<br>
            {{ all_pro_sale.0 }}
        {% endif %}
    </div>
    <div class="btn-group-vertical floatview">
        <button type="button" class="btn btn-default" id="goTop" title="去顶部"><span
                class="glyphicon glyphicon-arrow-up"></span></button>
        <button type="button" class="btn btn-default" id="goBottom" title="去底部"><span
                class="glyphicon glyphicon-arrow-down"></span></button>
    </div>

    {{ targetproduct }}
{% endblock %}

{% block tail_script %}
    <script type="text/javascript">
        $(function () {
            $("#f_datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });

            $("#t_datepicker").datetimepicker({
                timeFormat: "HH:mm:ss",
                dateFormat: "yy-mm-dd"
            });
            $("#show_datepicker").datetimepicker({
                timeFormat: "HH:mm:ss",
                dateFormat: "yy-mm-dd"
            });
            $('#goTop').click(function () {
                $('html,body').animate({scrollTop: '0px'}, 800);
            });
            $('#goBottom').click(function () {
                var height = document.body.scrollHeight;
                $('html,body').animate({scrollTop: height}, 800);
            });
            $(window).scroll(function () {
                var w_height = $(window).height();//浏览器高度
                var scroll_top = $(document).scrollTop();//滚动条到顶部的垂直高度
                $(".floatButton").css("position", "fixed");
                $(".floatview").css("position", "fixed");
            });
            var all_category = $(".group");
            $.each(all_category, function (index, obj) {
                get_category(all_category.eq(index).attr("data-product"), all_category.eq(index).attr("data-category"));
                cal_total_data(all_category.eq(index).attr("data-product"))
            });
            setTimeout(function () {
                add_data_table();
            }, 7000);
        });

        function add_data_table(){
            var oHead = document.getElementsByTagName('HEAD').item(0);
            var oScript = document.createElement("script");
            oScript.type = "text/javascript";
            oScript.src = "/static/js/dinghuo/stat_sale_status.js";
            oHead.appendChild(oScript);
        }
        //请求每个商品的分类信息
        function get_category(product, category) {
            var requestUrl = "/sale/dinghuo/product_category/";
            var data = {"product": product, "category": category};
            $.ajax({
                async: true,
                type: "GET",
                url: requestUrl,
                dataType: 'json',
                data: data,
                cache: false,
                error: function () {
                },
                success: function (result) {
                    if (result.flag == "done") {
                        $("#group_" + product).html(result.group);
                        $("#category_" + product).html(result.category);
                        $("#stock_num_" + product).html(result.stock);
                        $("#stock_money_" + product).html((parseFloat($("#cost_" + product).html()) * result.stock).toFixed(1).toString());
                    }
                }
            });
        }
        //计算总数据
        function cal_total_data(product) {
            var sale_num = parseInt($("#sale_num_"+product).html());
            var cost = parseFloat($("#cost_"+product).html());
            var agent_price = parseFloat($("#agent_price_"+product).html());
            $("#total_cost_"+product).html((sale_num * cost).toFixed(1).toString());
            $("#total_price_"+product).html((sale_num * agent_price).toFixed(1).toString());
        }
    </script>
    <script src="{{ STATIC_URL }}jquery-datatable-addon/jquery.dataTables.min.js" type="text/javascript"></script>

{% endblock %}