{% load custom_filter %}
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <title>缺货统计</title>
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap3.2.0.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}chosen_v1.5.1/chosen.min.css" rel="stylesheet">
        <style>
         .portfolio-box img {
             width: 100px;
             box-shadow: 2px 2px 5px rgba(187, 187, 187, 0.5);
             -webkit-transition: -webkit-transform 0.2s ease-out;
             -moz-transition: -moz-transform 0.2s ease-out;
             -o-transition: -o-transform 0.2s ease-out;
             transition: transform 0.2s ease-out;
         }

         .portfolio-box img:hover {
             -webkit-transform: scale(1) rotate(20deg);
             -moz-transform: scale(1) rotate(20deg);
             -o-transform: scale(1) rotate(20deg);
             -ms-transform: scale(1) rotate(20deg);
             transform: scale(1) rotate(20deg);
         }

         .supplier {
             margin: 0;
             padding: 0 20px;
             display: none;
             overflow: visible;
         }

         #supplier-btns {
             padding: 0 20px;
         }

         .supplier h5 label {
             margin-right: 5px;
         }
        </style>
    </head>
    <body>
        <div class="container" style="width:98%;margin-top:10px">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="control-label">供应商名</label>
                    <select class="chosen-select form-control" id="select-suppliers" multiple data-placeholder="供应商可多选">
                        {% for supplier in suppliers %}
                        <option value="{{ supplier.id }}">{{ supplier.supplier_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="control-label">拍货人</label>
                    <select class="chosen-select form-control" id="select-buyers" multiple data-placeholder="拍货人可多选">
                        {% for buyer in buyers %}
                        <option value="{{ buyer.id }}">{{ buyer.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">最近销售日期</label>
                    <select class="chosen-select form-control" id="select-dates" multiple data-placeholder="最近销售日期可多选">
                        {% for pay_date in pay_dates %}
                        <option value="{{ pay_date }}">{{ pay_date }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-4">
                    <a class="btn btn-default btn-block{% if show_ab == 1 %} btn-success{% endif %}"
                       href="/sale/dinghuo/instant_dinghuo?show_ab={% if show_ab == 1 %}0{% else %}1{% endif %}">仅显示异常</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-default btn-block{% if show_ab == 2 %} btn-success{% endif %}"
                       href="/sale/dinghuo/instant_dinghuo?show_ab={% if show_ab == 2 %}0{% else %}2{% endif %}">仅显示缺货</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-default btn-block{% if show_ab == 3 %} btn-success{% endif %}"
                       href="/sale/dinghuo/instant_dinghuo?show_ab={% if show_ab == 3 %}0{% else %}3{% endif %}">仅显示多货</a>
                </div>
            </div>
            {% for supplier in suppliers %}
            <div class="supplier" data-supplier-id="{{ supplier.id }}"
                 data-buyer-id="{{ supplier.buyer_id }}" data-last-pay-date="{{ supplier.last_pay_date }}"
                 style="overflow:visible;">
                <div class="row" style="line-height: 1">
                    <h2>{{ supplier.supplier_name }}</h2>
                    <h5><label>拍货人: </label>{{ supplier.buyer_name }}</h5>
                    <h5><label>最近下单时间:</label>{{ supplier.last_pay_date }}</h5>
                </div>
                <div class="row">
                    <table class="table table-striped">
                        <tr>
                            <th>商品名</th>
                            <th width="300px">编码</th>
                            <th width="100px">图片</th>
                            <th width="300px">尺寸</th>
                            <th width="100px">状态</th>
                            <th width="100px">销售数量</th>
                            <th width="150px">已拍未到数量</th>
                            <th width="120px">已到数量</th>
                            <th width="120px">次品数量</th>
                            <th width="120px">库存数量</th>
                        </tr>
                        {% for product in supplier.products %}
                        {% for sku in product.skus %}
                        <tr class="sku">
                            {% if forloop.first %}
                            <td rowspan="{{ product.skus|length }}">{{ product.name }}</td>
                            <td rowspan="{{ product.skus|length }}">{{ product.outer_id }}</td>
                            <td rowspan="{{ product.skus|length }}">
                                <div class="portfolio-box">
                                    <img src="{{ product.pic_path }}" class="img-circle">
                                </div>
                            </td>
                            {% endif %}
                            <td>{{ sku.properties_name }}</td>
                            <td{%if sku.effect_quantity > 0 %} class="ab-more"{% elif sku.effect_quantity < 0 %} class="ab-less"{% endif %}>
                                {% if sku.effect_quantity > 0 %}
                                多{{ sku.effect_quantity }}件
                                {% elif sku.effect_quantity < 0 %}
                                少{{ sku.effect_quantity|abs }}件
                                {% endif %}
                            </td>
                            <td>
                                <a href="/admin/trades/mergeorder/?outer_id={{product.outer_id}}&sku_properties_name={{sku.properties_name}}&order_pending_status=2" target="_blank">
                                    {{ sku.sale_quantity }}
                                </a>
                            </td>
                            <td>
                                <a href="/admin/dinghuo/orderdetail/?q={{sku.id}}&orderlist_status=待处理" target="_blank">
                                    {{ sku.buy_quantity }}
                                </a>
                            </td>
                            <td>{{ sku.arrival_quantity }}</td>
                            <td>{{ sku.inferior_quantity }}</td>
                            <td>
                                <a href="/admin/items/productsku/?id={{sku.id}}" target="_blank">
                                    {{ sku.quantity }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
        <script src="{{ STATIC_URL }}jquery/jquery-1.8.13.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}underscore/underscore-min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-3.2.0.min.js"></script>
        <script src="{{ STATIC_URL }}chosen_v1.5.1/chosen.jquery.js"></script>
        <script>
         var PROP_SELECTOR_TPL = _.template('[<%= propName %>="<%= propValue %>"]');
         function onSelectChange(e, params){
             var supplierIds = $('#select-suppliers').val();
             var buyerIds = $('#select-buyers').val();
             var payDates = $('#select-dates').val();

             var propArray = [
                 _.map(supplierIds, function(el){
                     return PROP_SELECTOR_TPL({propName: 'data-supplier-id', propValue: el});
                 }),
                 _.map(buyerIds, function(el){
                     return PROP_SELECTOR_TPL({propName: 'data-buyer-id', propValue: el});
                 }),
                 _.map(payDates, function(el){
                     return PROP_SELECTOR_TPL({propName: 'data-last-pay-date', propValue: el});
                 })
             ];

             propArray = _.filter(propArray, function(el){
                 return el.length > 0;
             });

             $('.supplier').each(function(index){
                 var el = this;
                 var shouldVisible = propArray.length > 0 && _.every(propArray, function(i){
                     return $(el).is(i.join(','));
                 });

                 var isVisible = $(el).is(':visible');
                 if(shouldVisible){
                     if(isVisible)
                         return;
                     else
                         $(el).slideDown();
                 }
                 else{
                     if(isVisible)
                         $(el).slideUp();
                     else
                         return;
                 }
             });
         }

         $(function(){
             $('#select-suppliers, #select-buyers, #select-dates').chosen({
                 no_results_text: '无此记录'
             }).on('change', onSelectChange);

             $('#supplier-btns button[value]').click(function(){
                 $(this).toggleClass('btn-success');
                 $(_.template('div[data-supplier-id="<%= id %>"]')({id: $(this).val()})).slideToggle();
             });
         });
        </script>
    </body>
</html>
