{% extends "xlmm_info/mama_base.html" %}

{% block title %} 妈妈数据查询 {% endblock %}

{% block head_script %}
    <link href='{{ STATIC_URL }}css/mama_profile.css' rel='stylesheet'/>
    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}layer-v1.9.2/layer/layer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}script/highchar-script/highchart-common.js"></script>

    <style type="text/css">
        th {
            width: 50px;
        }

        td {
            width: 50px;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="row" style="margin-top: 50px">
        <form method="get" id="my_form">
            <div class="input-group ">
                <span class="input-group-addon" id="mm_search">代理编号</span>
                <input type="number" name="id" id="xlmm_num"
                       class="form-control  mama_base_data_search" placeholder="妈妈编号" value="{{ xlmm }}"
                       aria-describedby="basic-addon3">
                <span class="input-group-addon" id="date_from">开始时间</span>
                <input type="text" name="date_from" id="left_date_pic" readonly="readonly"
                       class="form-control select_saletime  datepicker" placeholder="{{ left_date }}"
                       value="{{ left_date }}"
                       aria-describedby="basic-addon1">
                <span class="input-group-addon" id="date_to">结束时间</span>
                <input type="text" name="date_to" id="right_date_pic" readonly="readonly"
                       class="form-control select_saletime  datepicker" placeholder="{{ right }}" value="{{ right }}"
                       aria-describedby="basic-addon2">
            <span class="input-group-btn">
                <button class="btn btn-default" id="go_search" type="submit">Go!</button>
            </span>
            </div>
        </form>

        {############################################## 代理基本 #########################################################}
        <div class="panel panel-default " style="margin-top: 1px">
            <div class="panel-heading">基本信息</div>
            <table class="table table-condensed table-hover" style="margin-top: 20px">
                <thead>
                <th>专属ID</th>
                <th>手机号</th>
                <th>可用现金</th>

                <th>代理类别</th>
                <th>昵称</th>
                <th>管理员</th>

                <th>推荐人</th>
                <th>接管时间</th>

                <th>接管状态</th>
                <th>升级完成额</th>
                </thead>
                <tbody>
                <tr>
                    <td>{{ xlmm_obj.id }}</td>
                    <td>{{ xlmm_obj.mobile }}</td>
                    <td>{{ xlmm_obj.get_cash_display }}</td>

                    <td>{{ xlmm_obj.agencylevel }}</td>
                    <td>{{ xlmm_obj.weikefu }}</td>
                    <td>{{ xlmm_obj.manager }}</td>

                    <td>{{ xlmm_obj.referal_from }}</td>
                    <td>{{ xlmm_obj.charge_time }}</td>
                    <td>{{ xlmm_obj.get_charge_status_display }}</td>
                    <td>{{ xlmm_obj.target_complete }}</td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <button class="btn btn-danger" id="xlmm_exit_btn">一键退出 {{ xlmm_obj.id }}</button>

        <hr style="height:1px;border:none;border-top:1px ridge green;"/>
        <div style="margin-bottom: 10px">
            <a class="btn btn-primary  btn-xs" role="button" data-toggle="collapse" href="#mam_carry_sum_all"
               aria-expanded="false"
               aria-controls="mam_carry_sum_all">
                钱包收支汇总：
            </a>
            <span class="label label-success">确定总收入:</span>{{ carry_log_all_sum.0 }}&nbsp;&nbsp;&nbsp;
            <span class="label label-success">确定总支出:</span>{{ carry_log_all_sum.1 }}&nbsp;&nbsp;&nbsp;
            <span class="label label-warning">待确定总收入:</span>{{ carry_log_all_sum.2 }}&nbsp;&nbsp;&nbsp;
            <span class="label label-warning">待确定总支出:</span>{{ carry_log_all_sum.3 }}&nbsp;&nbsp;&nbsp;
        </div>
        <div class="container collapse row" id="mam_carry_sum_all">

            <div class="panel panel-default col-xs-6">
                <div class="panel-heading">已经确定的收支</div>
                <div>
                    <span class="label label-success">订单返利:</span><a>{{ sum_detail_confirm.0 }}</a>
                    <span class="label label-success">消费支出:</span><a>{{ sum_detail_confirm.1 }}</a>
                    <span class="label label-success">退款返现:</span><a>{{ sum_detail_confirm.2 }}</a>
                    <span class="label label-success">点击兑现:</span><a>{{ sum_detail_confirm.3 }}</a>
                    <span class="label label-success">钱包提现:</span><a>{{ sum_detail_confirm.4 }}</a>
                </div>
                <br>

                <div>
                    <span class="label label-success">押金:</span><a>{{ sum_detail_confirm.5 }}</a>
                    <span class="label label-success">千元提成:</span><a>{{ sum_detail_confirm.6 }}</a>
                    <span class="label label-success">代理补贴:</span><a>{{ sum_detail_confirm.7 }}</a>
                    <span class="label label-success">招募奖金:</span><a>{{ sum_detail_confirm.8 }}</a>
                    <span class="label label-success">订单红包:</span><a>{{ sum_detail_confirm.9 }}</a>
                </div>
                <br/>
                <div>
                    <span class="label label-success">妈妈充值:</span><a>{{ sum_detail_confirm.10 }}</a>

                </div>
            </div>
            <div class="panel panel-default col-xs-6">
                <div class="panel-heading">待确定的收支</div>
                <div>
                    <span class="label label-warning">订单返利:</span><a>{{ sum_detail_pending.0 }}</a>
                    <span class="label label-warning">点击兑现:</span><a>{{ sum_detail_pending.1 }}</a>
                    <span class="label label-warning">千元提成:</span><a>{{ sum_detail_pending.2 }}</a></div>
                <br>

                <div>
                    <span class="label label-warning">代理补贴:</span><a>{{ sum_detail_pending.3 }}</a>
                    <span class="label label-warning">招募奖金:</span><a>{{ sum_detail_pending.4 }}</a>
                    <span class="label label-warning">订单红包:</span><a>{{ sum_detail_pending.5 }}</a>
                </div>

            </div>
        </div>
        <hr style="height:1px;border:none;border-top:1px ridge green;"/>


        <div style="margin-bottom: 10px">
            <a class="btn btn-primary  btn-xs" role="button" data-toggle="collapse" href="#mam_carry_in"
               aria-expanded="false"
               aria-controls="mam_carry_in">
                收支明细
            </a>

        </div>
        <div class="container collapse row" id="mam_carry_in">
            <div class="panel panel-default ">
                <table class="table table-hover table-condensed">
                    <thead>
                    <th>金额</th>
                    <th>类型</th>
                    <th>状态</th>
                    <th>收支</th>
                    <th>业务日期</th>
                    </thead>
                    <tbody>
                    {% for log in allcarrylogs %}
                        <tr>
                            <td>{{ log.get_value_display }}</td>
                            <td>{{ log.get_log_type_display }}</td>
                            <td>{{ log.get_status_display }}</td>
                            <td>{{ log.get_carry_type_display }}</td>
                            <td>{{ log.carry_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>

        <hr style="height:1px;border:none;border-top:1px ridge green;"/>
        {################################################# 代理点击 ######################################################}
        <div style="margin-bottom: 10px">
            <a class="btn btn-primary  btn-xs" role="button" data-toggle="collapse" href="#click_order"
               aria-expanded="false"
               aria-controls="collapseExample">

                点击:&nbsp;&nbsp;<span class="badge">{{ total_clicks }} 个</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;订单:&nbsp;&nbsp;<span
                    class="badge">{{ total_orders }}个</span>
            </a>
        </div>
        <div class="container collapse  row" id="click_order">
            <div class="panel panel-default col-xs-6">
                <table class="table table-hover table-condensed">
                    <thead>

                    <th>人数</th>
                    <th>有效点击</th>
                    <th>日期</th>

                    </thead>
                    <tbody>
                    {% for click in clickcounts %}
                        <tr>
                            <td>{{ click.user_num }}</td>
                            <td>{{ click.valid_num }}</td>
                            <td>{{ click.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {################################################# 代理订单 ######################################################}
            <div class="panel panel-default col-xs-6">
                <table class="table table-hover table-condensed">
                    <thead>
                    <th>购买昵称</th>
                    <th>订单价格</th>
                    <th>订单提成</th>
                    <th>提成时间</th>


                    </thead>
                    <tbody>
                    {% for order in order_counts %}

                        <tr>
                            <td>{{ order.wxordernick }}</td>
                            <td>{{ order.order_cash }}</td>
                            <td>{{ order.ticheng_cash }}</td>
                            <td>{{ order.shoptime }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr style="height:1px;border:none;border-top:1px ridge green;"/>

        <div><a class="btn btn-primary  btn-xs" role="button" data-toggle="collapse" href="#rel_mama"
                aria-expanded="true"
                aria-controls="collapseExample">
            他推荐的代理:&nbsp;&nbsp;<span class="badge">{{ refs_num }} 个</span>
        </a>

            <div class=" collapse panel panel-default " style="margin-top: 1px" id="rel_mama">
                <table class="table table-condensed table-hover" style="margin-top: 20px">
                    <thead>
                    <th>专属ID</th>
                    <th>手机号</th>
                    <th>可用现金</th>

                    <th>昵称</th>
                    <th>管理员</th>
                    <th>接管时间</th>

                    </thead>
                    <tbody>
                    {% for xlmm in referals %}
                        <tr>
                            <td>{{ xlmm.id }}</td>
                            <td>{{ xlmm.mobile }}</td>
                            <td>{{ xlmm.get_cash_display }}</td>

                            <td>{{ xlmm.weikefu }}</td>
                            <td>{{ xlmm.manager }}</td>
                            <td>{{ xlmm.charge_time }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
        <hr style="height:1px;border:none;border-top:1px ridge green;"/>
    </div>

{% endblock %}

{% block tail_script %}
    <script>
        $(document).ready(function () {
            $("#xlmm_exit_btn").click(function () {
                var xlmm_id ={{ xlmm }};
                layer.confirm('您确定退出代理操作吗？', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    xlmmExit(xlmm_id);
                }, function () {
                    layer.msg('取消退出．．．');
                });
            });
        });
        function xlmmExit(xlmm_id) {
            var xlmmExitReq = "/m/xlmm_exit/";
            $.ajax({
                "url": xlmmExitReq,
                "data": {"xlmm_id": xlmm_id},
                "type": "post",
                "dataType": 'json',
                "success": exitCallBack,
                error: function (err) {
                    //statusText: "INTERNAL SERVER ERROR"
                    layer.msg(err.statusText, {shift: 6});
                }
            });
            function exitCallBack(res) {
                console.log(res);
                if (res.flush_cash == "mm_error_status") {
                    layer.msg("代理状态不在退出操作状态", {shift: 6});
                }
                else {
                    layer.closeAll();
                    layer.msg("补差额为" + res.flush_cash + "请校对", {shift: 6})
                }
            }
        }
        $(function () {
            $(".select_saletime").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>
{% endblock %}
