<div class="panel panel-default">
<div class="panel-heading clearfix">
    <a class="btn btn-link" target="_blank"  href="{% url 'forecast_v1:forecastinbound-dashboard' %}?action=all&supplier_id={{aggregate_order.supplier.id}}{% if staff_name %}&staff_name={{staff_name}}{% endif %}">{{aggregate_order.supplier.supplier_name}}</a>
    <div class=" pull-right inline">
        <div class="inline">
            <a class="btn btn-link" href="{% url 'admin:dinghuo_orderlist_changelist' %}?supplier_id={{aggregate_order.supplier.id}}" target="_blank">全部订货单</a>
            <a class="btn btn-link" href="{% url 'admin:forecast_forecastinbound_changelist' %}?supplier_id={{aggregate_order.supplier.id}}" target="_blank">全部预测单</a>
            <a class="btn btn-link" href="{% url 'admin:forecast_realinbound_changelist' %}?supplier_id={{aggregate_order.supplier.id}}" target="_blank">全部到货单</a>
        </div>
        <div class=" label label-danger inline"></div>
        <span class=" label-badge  ">0</span>
    </div>
</div>
<div class="panel-body">
    <ul class="list-group horizental clearfix">
        <li class="list-group-item col-xs-4">
            <ul class="list-group vertical">
                {% for order in aggregate_order.purchase_orders %}
                <li class="list-group-item">
                    <div class="row">
                        <a href="{% url 'changedetail' order.id %}" target="_blank">
                            <span>#{{order.id}}&nbsp;订货单&nbsp;{{order.created|date:'Y-m-d'}}&nbsp;{{order.sys_status_name}}&nbsp;({{order.purchase_total_num}})</span>
                        </a>
                        <div class="inline pull-right">
                            {% if order.note %}
                            <a tabindex="0" role="button" style="color:#333;" data-toggle="popover"  title="订货单备注"
                               data-html="true" data-content="<pre>{{order.note}}</pre>">
                                <i class="glyphicon glyphicon-list-alt"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="list-group-item col-xs-4">
            <ul class="list-group vertical">
                {% for forecast in aggregate_order.forecast_inbounds %}
                <li class="list-group-item">
                   <div class="row">
                       <a href="{% url 'admin:forecast_forecastinbound_change' forecast.id %}" class="{% if forecast.status == 'finished' %}gloomy{% endif %}" target="_blank">
                           <span>#{{forecast.id}}&nbsp;预测单&nbsp;{{ forecast.forecast_arrive_time|date:'Y-m-d' }}&nbsp;{{forecast.status_name}}
                               &nbsp;({{forecast.total_forecast_num}} / {{forecast.total_arrival_num}})</span>
                       </a>
                       <span class="pull-right">
                           {% if forecast.is_unarrive_intime %}<i class="glyphicon glyphicon-time"></i>{% endif %}
                           {% if forecast.is_unrecord_logistic %}<i class="glyphicon glyphicon-map-marker"></i>{% endif %}
                           {% if forecast.memo %}
                            <a tabindex="0" role="button" style="color:#333;"　data-container="body" data-toggle="popover" data-html="true"
                               data-placement="left" title="预测单备注" data-content="<pre>{{forecast.memo}}</pre>">
                                <i class="glyphicon glyphicon-list-alt"></i>
                            </a>
                            {% endif %}
                       </span>
                   </div>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="list-group-item col-xs-4">
            <ul class="list-group vertical">
                {% for inbound in aggregate_order.real_inbounds %}
                <li class="list-group-item">
                    <div class="row">
                        <a href="{% url 'admin:forecast_realinbound_change' inbound.id %}" target="_blank">
                            <span>#{{inbound.id}}&nbsp;到货单&nbsp;{{inbound.created|date:'Y-m-d'}}&nbsp;{{inbound.status_name}}
                                &nbsp;({{inbound.total_inbound_num}} / {{inbound.total_inferior_num}})</span>
                        </a>
                        <div class="inline pull-right">
                            {% if inbound.memo %}
                            <a tabindex="0" role="button" style="color:#333;" data-container="body" data-toggle="popover" data-placement="left"
                               data-html="true" title="到货单备注" data-content="<pre>{{inbound.memo}}</pre>">
                                <i class="glyphicon glyphicon-list-alt"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
<div class="panel-footer">
    <a class="btn btn-sm btn-primary btn-account" data-src="{% url 'forecast_v1:forecastinbound-calcstats' %}?order_group_key={{aggregate_order.order_group_key}}" >开始结算</a>
</div>
</div>