{% extends "supplier_base.html" %}

{% load mathfilters %}
{% load custom_filter %}

{% block title %}
品牌供应商
{% endblock %}

{% block head_script %}
{% endblock %}

{% block container %}
<div class="container">
  {% csrf_token %}
  <input id="supplier_id" type="hidden" value="{{ supplier.id }}" />
  <input id="status_id" type="hidden" value="{{ request_data.status }}" />
  <div class="row">
  	<div class="col-md-5" style=";margin: 53px 0px 0px;">
    <ul class="nav nav-tabs nav-justified" role="tablist" data-tabs="tabs">
	  <li role="presentation" {% if not request_data.status %}class="active" {% endif %}><a href="/supplychain/supplier/product/?sale_supplier={{ request_data.sale_supplier }}" >全部</a></li>
	  <li role="presentation" {% if request_data.status == "wait" %}class="active" {% endif %}><a href="/supplychain/supplier/product/?status=wait&sale_supplier={{ request_data.sale_supplier }}" >待选</a></li>
	  <li role="presentation" {% if request_data.status == "selected" %}class="active" {% endif %}><a href="/supplychain/supplier/product/?status=selected&sale_supplier={{ request_data.sale_supplier }}" >入围</a></li>
	  <li role="presentation" {% if request_data.status == "purchase" %}class="active" {% endif %}><a href="/supplychain/supplier/product/?status=purchase&sale_supplier={{ request_data.sale_supplier }}" >取样</a></li>
	  <li role="presentation" {% if request_data.status == "passed" %}class="active" {% endif %}><a href="/supplychain/supplier/product/?status=passed&sale_supplier={{ request_data.sale_supplier }}" >通过</a></li>
	  <li role="presentation" {% if request_data.status == "scheduling" %}class="active" {% endif %}><a href="/supplychain/supplier/product/?status=scheduling&sale_supplier={{ request_data.sale_supplier }}" >排期</a></li>
	</ul>
    </div>
  	<div class="col-md-6" style="float:right;">
  		<div class="page-header" style="text-align:right;" >
  		<h2>{{ supplier.supplier_name }}
  		  <a href="javascript:void(0);" onclick="slideToggle()" class="glyphicon glyphicon-pushpin"></a>
	      </h2>
  		</div>
  	</div>
  </div>
  <div class="row" style="margin-bottom:16px;">
	  <div class="col-md-6" >
	    <div class="input-group">
	      <input id="query_input" type="text" class="form-control"/>
	      <span class="input-group-btn">
	        <button id="query_create" class="btn btn-primary" type="button">查询并创建</button>
	      </span>
	      <span class="input-group-btn">
	        <button class="btn btn-primary" type="button" style="margin-left:10px;" onclick="slideProdcutToggle()" >手工创建&nbsp;<i class="glyphicon glyphicon-plus"></i></button>
	      </span>
	    </div><!-- /input-group -->
	  </div>
    <div class="col-md-2" >
    	<div class="btn-group">
		  <button type="button" class="btn btn-warning">{{ supplier.progress }}</button>
		  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
		    <span class="caret"></span>
		    <span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <ul id="progress" class="dropdown-menu" role="menu">
		    <li><a href="/supplychain/supplier/product/?status={{ request_data.status }}&sale_supplier={{ request_data.sale_supplier }}&progress=selected">待洽谈</a></li>
		    <li><a href="/supplychain/supplier/product/?status={{ request_data.status }}&sale_supplier={{ request_data.sale_supplier }}&progress=pricing">锁定价格</a></li>
		    <li><a href="/supplychain/supplier/product/?status={{ request_data.status }}&sale_supplier={{ request_data.sale_supplier }}&progress=storaged">锁定库存</a></li>
		    <li><a href="/supplychain/supplier/product/?status={{ request_data.status }}&sale_supplier={{ request_data.sale_supplier }}&progress=passed">已签合同</a></li>
		    <li class="divider"></li>
		    <li><a href="/supplychain/supplier/product/?status={{ request_data.status }}&sale_supplier={{ request_data.sale_supplier }}&progress=rejected">淘汰</a></li>
		  </ul>
		</div>
    </div>
    <div class="col-md-3" style="text-align:right;">
	<ul class="nav nav-pills pagination pagination-lg" style="margin:0px;">
	  {% if previous %}
	  <li><a href="{{ previous }}">&lt;&lt; 上一页</a></li>
      {% endif %}
	  {% if next %}
	  <li><a href="{{ next }}">下一页 &gt;&gt;</a></li>
	  {% endif %}
	</ul>
  </div>
</div><!-- /.row -->
<!-- 七牛图片上传模块 -->
<div style="display:none" id="success" class="col-md-12">
    <div class="alert-success">
        队列全部文件处理完毕
    </div>
</div>
<div class="col-md-12 ">
    <table class="table table-striped table-hover text-left" style="margin-top:40px;display:none">
        <thead>
        <tr>
            <th class="col-md-4">Filename</th>
            <th class="col-md-2">Size</th>
            <th class="col-md-6">Detail</th>
        </tr>
        </thead>
        <tbody id="fsUploadProgress">
        </tbody>
    </table>
</div>

<div class="panel panel-default product_add" >
    <form action="/supplychain/supplier/product/?status={{ request_data.status }}&sale_supplier={{ request_data.sale_supplier }}" method="post" id="product-add-form">
    {% csrf_token %}
    <input value="{{supplier.id}}" hidden="hidden" name="supplier">
    <input hidden="" id="domain" value="http://img.xiaolumeimei.com/">
    <input hidden="" id="uptoken_url" value="/mm/qiniu/?format=json">
        <!-- Default panel contents -->
        <div class="panel-heading">新建商品</div>
        <div class="panel-body">
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2" style="text-align:left;display:inline;"><label>商品名称：</label>
                        </div>
                        <div class="col-md-4" style="text-align:left;display:inline;">
                            <input class="form-control" name="title">
                        </div>
                        <div class="col-md-1" style="text-align:left;display:inline;">
                            <label>进货价：</label>
                        </div>
                        <div class="col-md-1" style="text-align:left;display:inline;">
                            <input class="form-control" name="sale_price">
                        </div>
                        <div class="col-md-1" style="text-align:left;display:inline;">
                            <label>预留数：</label>
                        </div>
                        <div class="col-md-1" style="text-align:left;display:inline;">
                            <input class="form-control" name="remain_num" value="20">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2" style="text-align:left;display:inline;">
                            <label>商品图片:</label>
                        </div>
                        <div class="col-md-3" style="text-align:left;display:inline;">
                            <input class="form-control" name="pic_url" id="pic_path">
                        </div>
                        <div id="container" class="col-md-1">
                            <a class="btn btn-default" id="pickfiles" href="javascript:void(0)" >
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>
                        </div>
                        <div class="col-md-2" style="text-align:left;display:inline;">
                            <label>类别：</label>
                        </div>
                        <div class="col-md-4" style="text-align:left;display:inline;">
                            <select class="form-control" name="sale_category">
                                {% for category in sale_category %}
                                <option value="{{category.id}}">{{ category.full_name }}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2" style="text-align:left;display:inline;">
                            <label>商品材质：</label>
                        </div>
                        <div class="col-md-4" style="text-align:left;display:inline;">
                            <input class="form-control" name="product_material">
                        </div>
                        <div class="col-md-2" style="text-align:left;display:inline;">
                            <label>商品预留时间：</label>
                        </div>
                        <div class="col-md-4" style="text-align:left;display:inline;">
                            <input class="form-control" id="reserve_time_id" name="reserve_time">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2" style="text-align:left;display:inline;">
                            <label>吊牌价：</label>
                        </div>
                        <div class="col-md-4" style="text-align:left;display:inline;">
                            <input class="form-control" name="std_sale_price">
                        </div>
                        <div class="col-md-2" style="text-align:left;display:inline;">
                            <label>出售价：</label>
                        </div>
                        <div class="col-md-4" style="text-align:left;display:inline;">
                            <input class="form-control" name="on_sale_price">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2" style="text-align:left;display:inline;">
                            <label>货号：</label>
                        </div>
                        <div class="col-md-4" style="text-align:left;display:inline;">
                            <input class="form-control" name="supplier_sku">
                        </div>
                        <div class="col-md-2" style="text-align:left;display:inline;">
                            <label>上架日期：</label>
                        </div>
                        <div class="col-md-4" style="text-align:left;display:inline;">
                            <input type="text" class="form-control datepicker" name="sale_time">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2" style="text-align:left;display:inline;">
                            <label>备注：</label><br>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="orderlist_show_memo">订货单详情显示备注
                                </label>
                            </div>
                        </div>
                        <div class="col-md-8" style="text-align:left;display:inline;">
                            <textarea rows="3" cols="20" class="form-control" name="memo"></textarea>
                        </div>
                        <div class="col-md-2" style="text-align:left;display:inline;float: right">
                            <input class="btn btn-primary" type="submit" value="确认新建">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
<div class="panel panel-default supplier-info" style="display:none;">
  <!-- Default panel contents -->
  <div class="panel-heading"> 商家信息  </div>
  <div class="panel-body">
    <label>说明：</label><p>{{ supplier.memo }}
    <a href="/admin/supplier/salesupplier/{{  supplier.id }}/" class="btn btn-primary" style="display:inline;float:right;" onclick="return showAddAnotherPopup(this);">修改</a></p>
  </div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">
    	<div class="row">
  		<div class="col-md-12" style="text-align:left;display:inline;">
  		<label>品牌主页：</label>
  		<a href="{{ supplier.main_page }}">{{ supplier.main_page }} </a></div>
  		</div>
  	</li>
    <li class="list-group-item">
		<div class="row">
  		<div class="col-md-6" style="text-align:left;display:inline;"><label>联系人：</label><span>{{ supplier.contact }}</span></div>
  		<div class="col-md-5" style="text-align:left;display:inline;"><label>传真：</label><span>{{ supplier.fax }}</span></div>
  		</div>
	</li>
    <li class="list-group-item">
    	<div class="row">
  		<div class="col-md-6" style="text-align:left;display:inline;"><label>固话：</label><span>{{ supplier.phone }}</span></div>
  		<div class="col-md-5" style="text-align:left;display:inline;"><label>手机：</label><span>{{ supplier.mobile }}</span></div>
  		</div>
    </li>
    <li class="list-group-item">
    	<div class="row">
  	    <div class="col-md-6" style="text-align:left;display:inline;"><label>邮编：</label><span>{{ supplier.zip_code }}</span></div>
  	    <div class="col-md-5" style="text-align:left;display:inline;"><label>邮箱：</label><span>{{ supplier.email }}</span></div>
  	</div>
    </li>
    <li class="list-group-item">
    	<div class="row">
  	    <div class="col-md-12" ><label>地址：</label><span>{{ supplier.address }}</span></div>
  	</div>
    </li>
  </ul>
</div>
<div>
    {% if code %}
	    <div class="col-xs-12 ">
	        <div class="alert alert-danger">{{ error_response }}</div>
	    </div>
	{% else %}
    <ul id="items-group" class="list-group">
    {% for record in results %}
    <li class="list-group-item" id="id-item-{{ record.id }}">
    <div class="row">
	<div class="col-xs-4">
	  <div class="thumbnail">
	    <a href="{{ record.product_link }}" target="_blank">
	    <img src="{{ record.pic_url }}">
	    </a>
	  </div>
	</div>
	<div class="col-xs-4">
	  <p>{{ record.title }}</p>
          <p>货号: <input id="id-supplier-sku-{{ forloop.counter }}" class="form-control" placeholder="请填写货号" value="{{ record.supplier_sku }}"></p>
	  <p>商家: {{ record.sale_supplier.supplier_name }}</p>
	  <p>平台: {{ record.platform }}</p>
	  <p>类别: {{ record.sale_category.name }}</p>
	  <p>状态: <label class="label label-danger">{{ record.status }}</label></p>
	</div>
	<div class="col-xs-4">
	  <p>进货价：<input id="id-buy-price-{{ forloop.counter }}" class="form-control" placeholder="进货价(必须)" value="{{ record.sale_price }}"></p>
	  <p>吊牌价: <input id="id-target-price-{{ forloop.counter }}" class="form-control" placeholder="吊牌价" value="{{ record.std_sale_price }}"></p>
          <p>出售价: <input id="id-sale-price-{{ forloop.counter }}" class="form-control" placeholder="出售价" value="{{ record.on_sale_price }}"></p>
	  <p>
	      <label   class="label label-success">上架时间:</label>
	      <input type="text" id="id-sale-time-{{ forloop.counter }}" name="dt" class="datepicker " value="{% if record.sale_time %}{{ record.sale_time }}{% endif %}"/>
	  </p>
          <p>预留数: <input id="id-remain-num-{{ forloop.counter }}" class="form-control" placeholder="请填写预留数" value="{{ record.remain_num }}"></p>
	  {% if request_data.status %}
	  {% ifequal record.status '待选' %}
	  <p style="margin-top:10px">选择 初选结果：</p>
	  {% else %}
	  <p style="margin-top:10px">选择 接洽结果：</p>
	  {% endifequal %}
	  <p><select class="form-control input" id="id-select-{{ forloop.counter}}">
	      {% ifequal record.status '待选' %}
	     <option value="selected">入围</option>
	     {% endifequal %}
	      {% ifequal record.status '入围' %}
	     <option value="purchase">取样</option>
	     {% endifequal %}
	      {% ifequal record.status '取样' %}
	     <option value="passed">通过</option>
	     {% endifequal %}
	     {% ifequal record.status '通过' %}
	     <option value="scheduling">排期</option>
	     {% endifequal %}
	     {% ifequal record.status '排期' %}
	     <option value="scheduling">排期</option>
	     {% endifequal %}
	     {% ifequal record.status '待选' %}
	     <option value="ignored">忽略</option>
	     {% else %}
	     <option value="rejected">淘汰</option>
	     {% endifequal %}
	  </select></p>
	  {% endif %}
	  <p style="margin-top:10px">
              备注：<br>
              <div class="checkbox">
                  <label>
                      <input type="checkbox" id="id-orderlist-show-memo-{{ forloop.counter }}" name="orderlist_show_memo"{% if record.orderlist_show_memo %} checked{% endif %}>订货单详情显示备注
                  </label>
              </div>
          </p>
          <textarea rows="1" cols="20" class="form-control" id="id-memo-{{ forloop.counter}}" >{{ record.memo }}</textarea>
	  <p>
	      <button type="button" class="btn btn-primary" style="margin-top:20px" onclick="screen('{{ record.id }}', '{{ forloop.counter }}')";>确定</button>
	      <a href="/admin/supplier/saleproduct/{{ record.id }}/" class="glyphicon glyphicon-edit"
	  	 style="display:inline;float:right;margin-top:20px;" onclick="return showAddAnotherPopup(this);">修改</a>
          </p>
	  <p id="id-msg-{{ forloop.counter }}"></p>
	</div>
    </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  </div>
  <div class="footer">
    <p>© Uni Littles 2014</p>
  </div>
</div>
{% endblock %}

{% block tail_script %}
<script src="{{ STATIC_URL }}js/supplier_price.js?v=1.1"></script>
<script type="text/javascript">
    function screen(id, counter) {
        var buyPrice = parseFloat($("#id-buy-price-" + counter).val());
        var stdSalePrice = parseFloat($("#id-target-price-" + counter).val());
        var onSalePrice = parseFloat($("#id-sale-price-" + counter).val());
        var supplierSku = $('#id-supplier-sku-' + counter).val() || '';
        var remainNum = $('#id-remain-num-' + counter).val() || 0;
        if (isNaN(buyPrice) || buyPrice < 0) {
            $("#id-msg-" + counter)[0].innerHTML = "请输入进货价：";
            $("#id-msg-" + counter).css("color", "red");
            return;
        }
        if (!isNaN(onSalePrice) && !isNaN(stdSalePrice) && (stdSalePrice <= 0 || onSalePrice <= 0)) {
            $("#id-msg-" + counter)[0].innerHTML = "请输入吊牌价和售价：";
            $("#id-msg-" + counter).css("color", "red");
            return;
        }
        if (isNaN(onSalePrice) || isNaN(stdSalePrice)) {
            stdSalePrice = onSalePrice = '0';
        }
        var url = "/supplychain/supplier/product/" + id + "/";
        var request_status = '{{ request_data.status|default:"" }}';
        var callback = function (res) {
            if(!request_status || request_status == 'scheduling')
                window.location.reload();
            else{
                if (res["status"]) {
                    $("#id-item-" + id).slideUp();
                }
            }
        };
        var sale_time = "";
        var sale_time_sct = $("#id-sale-time-" + counter);

        if (sale_time_sct) {
            sale_time = sale_time_sct.val();
        }
        if (sale_time_sct && sale_time == "") {
            $("#id-msg-" + counter)[0].innerHTML = "请选择上架日期";
            $("#id-msg-" + counter).css("color", "red");
            return;
        }
        var memo = $("#id-memo-" + counter).val();
        var selection = $("#id-select-" + counter).val();

        var orderlistShowMemo = $('#id-orderlist-show-memo-' + counter).prop('checked') ? 'true' : 'false'

        var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        var data = {
            status: selection,
            csrfmiddlewaretoken: csrf_token,
            sale_price: buyPrice,
            std_sale_price: stdSalePrice,
            on_sale_price: onSalePrice,
            sale_time: sale_time,
            memo: memo,
            supplier_sku: supplierSku,
            remain_num: remainNum,
            orderlist_show_memo: orderlistShowMemo
        };

        var headers = {
            'X-HTTP-Method-Override': 'PATCH'
        };
        $.ajax({url: url, data: data, success: callback, method: "post", headers: headers});
    };
    function slideToggle() {
        $(".supplier-info").slideToggle(500);
    };
    function slideProdcutToggle() {
        $(".product_add").slideToggle(500);
    };
    $("#query_create").click(function () {
        var fetch_url = $("#query_input").val();
        console.log('debug fetch:',fetch_url);
        if (!fetch_url) {
            return;
        }
        if ($("#fetch-form").length > 0) {
            $("#fetch-form").css("border", "1px solid #5BC0DE")
            return;
        }
        var supplier_id = $("#supplier_id").val();
        var url = "/supplychain/supplier/brand/fetch/" + supplier_id + "/";
        var status = $("#status_id").val();
        var callback = function (res) {
            if ($("#items-group li").length == 0) {
                $("#items-group").append(res);
            } else {
                $("#items-group li:first").before(res);
            }
        };
        var data = {"fetch_url": fetch_url, 'status': status};
        $.ajax({
            url: url,
            method: "GET",
            data: data,
            success: callback,
        });
    });
    $(function () {
        $(".datepicker").datepicker({dateFormat: "yy-mm-dd 00:00:00"});
        $("#reserve_time_id").datepicker({dateFormat: "yy-mm-dd 00:00:00"});
        $('input[id|=id-buy-price]').change(function(){
            var salePrice = calcSalePrice($(this).val());
            if(salePrice)
                $(this).closest('div').find('input[id|=id-sale-price]').val(salePrice);
        });
        $('input[name="sale_price"]', '#product-add-form').change(function(){
            var salePrice = calcSalePrice($(this).val());
            if(salePrice)
                $('input[name="on_sale_price"]', '#product-add-form').val(salePrice);
        });
    });
</script>
<script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/plupload/2.1.7/plupload.full.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/plupload/2.1.7/i18n/zh_CN.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}script/ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}script/qiniu.js"></script>
<script>
 $(function(){
     $('.product_add').slideToggle();
     var uploader = Qiniu.uploader({
         runtimes: 'html5,flash,html4',
         browse_button: 'pickfiles',
         container: 'container',
         drop_element: 'container',
         max_file_size: '100mb',
         flash_swf_url: 'js/plupload/Moxie.swf',
         dragdrop: true,
         chunk_size: '4mb',
         uptoken_url: $('#uptoken_url').val(),
         domain: $('#domain').val(),
         auto_start: true,
         init: {
             'FilesAdded': function (up, files) {
             },
             'BeforeUpload': function (up, file) {
             },
             'UploadProgress': function (up, file) {
             },
             'UploadComplete': function () {
             },
             'FileUploaded': function (up, file, info) {
                 var domain = up.getOption('domain');
                 var res = jQuery.parseJSON(info);
                 var sourceLink = domain + res.key; //获取上传成功后的文件的Url
                 $("#pic_path").val(sourceLink);
             },
             'Error': function (up, err, errTip) {
             },
             'Key': function (up, file) {
                 var name = file.name.replace(/[^\u4E00-\u9FA5\w\.]/g, '');
                 var timestamp = new Date().getTime();// 添加上传时间戳
                 return 'TT' + timestamp + name;
             }
         }
     });
 });
</script>
{% endblock %}
