{% extends "pay/base_pay.html" %}

{% block title %}小鹿美美-商品详情{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ STATIC_URL }}jquery/jquery.mobile-1.4.5.min.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}style/product.css">
<link rel="stylesheet" href="{{ STATIC_URL }}style/style_other.css">
<link rel="stylesheet" href="{{ STATIC_URL }}style/animation.css">
<style type="text/css">
.ui-icon-loading {
	background: url({{ STATIC_URL }}jquery/images/ajax-loader.gif);
}
.error_msg{
	color:red;
	display:inline;
}
.c_limit{
	display:inline;
}
</style>
{% endblock %}

{% block preload_script %}

{% endblock %}
   

{% block container %}
{% csrf_token %}
<input type="hidden" id="id_product" value="{{ id }}"/>
<div id="image_slider">
    <div class="holder">
        <!-- 此处为商品所有的展示图 -->
        {% for img in details.head_imgs %}
        <div class="img_holder"><img src="{{ img }}"/></div>
        {% endfor %}
 
    </div>
    <div class="tags"></div>
    <div class="mark"><img src="{{ STATIC_URL }}images/watermark_white.png"></div>
</div>
<div id="info_holder">
    <div class="name">
        {{ name }}
    </div>
    <!--<div class="detail">
         商品详情 
        {{ memo }}
    </div>-->
    <div class="price">
        ￥
        <span class="p">
            {{ agent_price }}
        </span>
        <span class="t">价格</span>
    </div>
    <!--<div class="sale">
        销量：{{ wait_post_num }}
        <span>
             商品销量 
        </span>
    </div>-->
</div>


<div id="recommend">
    <div class="img"><img src="{{ details.content_imgs.0 }}" /><span class="dot">.</span></div>
    <div class="text">商品详情<span></span></div>
</div>

<div id="detail">
	{% for img in details.content_imgs %}
	{% if not forloop.first %}
    <img src="{{ img }}" />
    {% endif %}
    {% endfor %}
</div>

<a id="buy_now" href="javascript:void(0)" onclick="Ctrl_buy_now()" target="_top">
    <div class="btn"><img width="16" height="16" style="margin-right: 5px;" src="{{ STATIC_URL }}images/buy.png" />立即购买</div>
</a>
<a id="popout_show" onclick="View_popout_show()"></a>

<div id="popout">
    <div class="title">选择分类<div class="i" onclick="View_popout_hide()"><img src="{{ STATIC_URL }}images/shut.png"></div></div>
    <div class="holder">
        <div class="chooser info">
            <div class="name">
                <!-- 商品名称 -->
                {{ name }}
            </div>
            <div class="detail">
                <!-- 商品详情 -->
            </div>
            <div class="price">
                ￥<span><!-- 商品价格 -->{{ agent_price }}</span>
            </div>
        </div>
        <div id="size" class="chooser single">
            <div class="name">尺码选择</div>
            <div class="choose">
              {% for sku in prod_skus %}
              <a id="{{ sku.id }}"  class="{% if sku.sale_out %}none{% endif %}" 
              	origin-price='{{ sku.std_sale_price }}' sale-price='{{ sku.agent_price }}'>{{ sku.properties_alias }}</a>
              {% endfor %}
            </div>
        </div>
        <div id="amount" class="chooser count">
            <div class="name">数量</div>
            <div class="counter">
                <a class="add" >+</a>
                <a class="amount">1</a>
                <a class="min" >-</a>
            </div>
            <div class='error_msg'></div>
            {% if details.buy_limit %}<div class="c_limit">（限购&nbsp;{{ details.per_limit }}&nbsp;件）</div>{% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block delayed_script %}
<script type="text/javascript">
function showLoader() {
    //显示加载器.for jQuery Mobile 1.2.0
    $.mobile.loading('show', {
		text: '更新中...', //加载器中显示的文字
		textVisible: true, //是否显示文字
		theme: 'a',        //加载器主题样式a-e
		textonly: false,   //是否只显示文字
		html: ""           //要显示的html内容，如图片等
	});
}

function hideLoader()
{
    //隐藏加载器
    $.mobile.loading('hide');
}


</script>
<script type="text/javascript">
    var MAX = 3;

    var moveX_start;
    var sliderNow;
    var sliderNext;
    var sliderPrev;
    var sliderSpeed = 700;
    var sliderInterval = 3000;
    var sliderTimer;
    var sliderAnimation = false;
    $(document).ready(function(){
        //$('.ui-loader').remove();
        //页面载入时的更新页面信息，包括名称，介绍，价格，尺码，颜色等数据
        //若采用服务器直接生成页面则可以不使用这个函数
        //View_Page_in();

        View_slider_start();

        //选项选择
        $('.chooser.single').on('tap','.choose a',function(){
        
        	$('.chooser.info .price span').html($(this).attr('sale-price'));
        	
        	if(!$(this).hasClass('none')){
	            $(this).closest('.choose').find('a').removeClass('active');
	            $(this).addClass('active');
	        }
	        $('#amount .error_msg').html('');
	        $('.amount').html(1); 
        });

        //数量+1/-1
        $('#amount').on('tap','.counter a',function(){
        
            if ($(this).hasClass('add')){
            	$(this).removeClass('add');
            	
                var n = parseInt($('.amount').html())+1;
                var product_id = $('#id_product').val();
				var sku_id = $('.chooser .choose .active').attr('id');

				if (sku_id === 'undifined' || sku_id == null){
					alert('请选择正确的尺寸');
					$(this).addClass('add');
					return 
				}

				showLoader();
				var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
				
				var that = $(this);
				var callback = function(resp){
					try{
						if (resp.success){
							$('.amount').html(n);
						}else{
							$('#amount .error_msg').html('库存不够了');
						}
					}catch(err){
						console.log('AjaxError:'+err);
					}finally{
						hideLoader();
					}
					that.addClass('add');
				};
				
				$.post('{% url 'skuquantity_lock' %}',
						{ "product_id":product_id, "sku_id":sku_id,"num":n,"csrfmiddlewaretoken":csrf_token},
						callback,
						'json');
            }
            if ($(this).hasClass('min')){
                var n = parseInt($('.amount').html())-1;
                n = n>0?n:1;
                $('.amount').html(n);
            }
        });

        //slider_bind();

        $('#buy_now').on('touchstart',function(){
            $(this).addClass('pressed');
        })
        $('#buy_now').on('touchend',function(){
            $(this).removeClass('pressed');
        })
    });

    //
    function Ctrl_slider_touch_start(event){
        event.preventDefault();
        Ctrl_slider_set();
        moveX_start = event.changedTouches[0].screenX;
        var target = document.getElementById('image_slider');
        $(target)[0].addEventListener("touchmove",Ctrl_slider_touch_move,false);
        $(target)[0].addEventListener("touchend",Ctrl_slider_touch_end,false);
        window.clearInterval(sliderTimer);
    }
    function Ctrl_slider_touch_move(event){
        event.preventDefault();
        var move_x = event.changedTouches[0].screenX - moveX_start;
        sliderNow.css('left',move_x+'px');
        if (move_x>=0){
            sliderPrev.css('left',move_x-$('#image_slider').width()+'px');
        }
        else{
            sliderNext.css('left',move_x+$('#image_slider').width()+'px');
        }
    }
    function Ctrl_slider_touch_end(event){
        event.preventDefault();
        var move_x = (event.changedTouches[0].screenX - moveX_start)*2;
        var width = $('#image_slider').width();
        var speed;
        if (move_x>=width){
            console.log('touchend prev');
            speed = (width-move_x/2)/width*sliderSpeed;
            View_slider_prev(true,speed);
        }
        else if ((0-move_x)>=width){
            console.log('touchend next');
            speed = (width+move_x/2)/width*sliderSpeed;
            View_slider_next(true,speed);
        }
        else{
            sliderNow.animate({
                left:'0%'
            },sliderSpeed);
            sliderPrev.animate({
                left:'-100%'
            },sliderSpeed);
            sliderNext.animate({
                left:'100%'
            },sliderSpeed);
        }
        var target = document.getElementById('image_slider');
        $(target)[0].removeEventListener("touchmove",Ctrl_slider_touch_move,false);
        sliderTimer = setInterval(View_slider_next,sliderInterval)
    }
    //banner定义
    function Ctrl_slider_set(){
        var index = sliderNow.index();
        $('#image_slider .tags span').removeClass('active');
        $('#image_slider .tags span:eq('+index+')').addClass('active');
        if (index==0){
            sliderPrev = $('.img_holder:last')
        }
        else{
            sliderPrev = sliderNow.prev();
        }
        if (index>=$('#image_slider .img_holder').length-1){
            sliderNext = $('.img_holder:first')
        }
        else{
            sliderNext = sliderNow.next();
        }
        sliderNow.css('left','0%');
        sliderPrev.css('left','-100%');
        sliderNext.css('left','100%');
    }
    //banner滚动开始
    function View_slider_start(){
        var n = $('#image_slider .img_holder').length;
        var width = $(window).width();
        $('#image_slider').height(width);
        if (n<=1){
            return;
        }
        var ht = '';
        for (var i=0;i<n;i++){
            ht += '<span></span>';
        }
        $('#image_slider .tags').html(ht);
        sliderNow = $('#image_slider .img_holder:first');
        Ctrl_slider_set();
        $('#image_slider').on('swipeleft',View_slider_next);
        $('#image_slider').on('swiperight',View_slider_prev);
        sliderTimer = setInterval(View_slider_next,sliderInterval)
    }
    //banner下一个
    function View_slider_next(check,speed){
        if(sliderAnimation){return}
        sliderAnimation = true;
        window.clearInterval(sliderTimer);
        if (!speed){speed = sliderSpeed}
        if(!check){
            sliderNext.css('left','100%');
        }
        sliderNow.animate({
            left:'-100%'
        },speed);
        sliderNext.animate({
            left:'0%'
        },speed,function(){
            sliderNow = sliderNext;
            Ctrl_slider_set();
            sliderTimer = setInterval(View_slider_next,sliderInterval);
            sliderAnimation = false;
        });
    }
    //banner上一个
    function View_slider_prev(check,speed){
        if(sliderAnimation){return}
        sliderAnimation = true;
        window.clearInterval(sliderTimer);
        if (!speed){speed = sliderSpeed}
        if (!check){
            sliderPrev.css('left','-100%');
        }
        sliderNow.animate({
            left:'100%'
        },speed);
        sliderPrev.animate({
            left:'0%'
        },speed,function(){
            sliderNow = sliderPrev;
            Ctrl_slider_set();
            sliderTimer = setInterval(View_slider_next,sliderInterval);
            sliderAnimation = false;
        });
    }

//弹出框显示
    function View_popout_show(){
        var h = $('#popout').height()+59;
        $('#popout').animate({
            marginTop:0-h+'px'
        },400,function(){
            $('#popout_show').hide();
        })
    }
    //弹出框隐藏
    function View_popout_hide(){
        $('#popout').animate({
            marginTop:'0px'
        },400,function(){
            $('#popout_show').show();
        })
    }

    //分享按钮的函数
    function Ctrl_share(){
        console.log('share_start');
    }

    //点击立即购买后执行的函数,获取了页面中的选择信息(数量、尺码、颜色)，后续请自行添加
    function Ctrl_buy_now(){
        var size = $('#size a.active').attr('id');//尺寸
        var amount = parseInt($('.amount').html());//数量
        var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        
        if (size === 'undifined' || size == null){
			alert('请选择正确的尺寸');
			return 
		}
        
        var params = {"pid":$('#id_product').val(),
                      "sid":size,
                      "format":"html",
                      "num":amount}
                      //"csrfmiddlewaretoken":csrf_token};
        window.location.href = '/mm/orderbuy/?'+$.param(params);
    }

</script>

<script type="text/javascript">
    function slider_bind(){
        var isTouchPad = (/hp-tablet/gi).test(navigator.appVersion),
                hasTouch = 'ontouchstart' in window && !isTouchPad,
                START_EV = hasTouch ? 'touchstart' : 'mousedown',
                MOVE_EV = hasTouch ? 'touchmove' : 'mousemove',
                END_EV = hasTouch ? 'touchend' : 'mouseup';

        var target = document.getElementById('image_slider');
        $(target)[0].addEventListener("touchstart",Ctrl_slider_touch_start,false);
    }
</script>
{% endblock %}