<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>排期管理</title>
        <style type="text/css" title="currentStyle">
         @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
         @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";
        </style>

        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap3.2.0.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css"/>
        <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" />
        <link href="https://cdn.bootcss.com/lightbox2/2.7.1/css/lightbox.css" media="all" rel="stylesheet"/>
        <link rel="stylesheet" href="/static/wap/css/sweet-alert.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-star-rating/css/star-rating.css"  media="all"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-switch.css" />
        <!-- js -->
        <script src="{{ STATIC_URL }}jquery/jquery-1.8.13.min.js"></script>

        <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
        <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
                type="text/javascript"></script>
        <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery.ui.datepicker-zh-CN.js.js"
                type="text/javascript"></script>
        <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
                type="text/javascript"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-3.2.0.min.js"></script>
        <script type="text/javascript" src="https://cdn.bootcss.com/lightbox2/2.7.1/js/lightbox.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-star-rating/js/star-rating.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}underscore/underscore-min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-switch.min.js"></script>
        <style>
         .container {
             width: 90%;
         }

         img {
             border-radius: 5px;
             border: 1px solid #c6c5c2;
         }
         #panel-batch-set {
	     position: fixed;
	     height: 190px;
	     bottom: 0px;
	     width: 100%;
	     text-align: center;
	     z-index: 1;
         }
         #panel-batch-set form {
             background-color: #fff68f;
         }
         a.buyer-takeover {
             margin-top: 20px;
         }
         #panel-message {
             position: fixed;
             width: 100%;
             z-index: 1;
             text-align: center;
             top: 0px;
         }
         #panel-dashboard {
             position: fixed;
             width: 30%;
             z-index: 1,
             top: 200px;
             padding-left: 30px;
         }
         #panel-message .panel-body {
             padding: 0;
         }
         input[type=checkbox] + span{
            background-color: #777;
         }
         input[name=promotion]:checked + span{
            background-color: #d9534f;
         }
         input[name=atop]:checked + span{
            background-color: #337ab7;
         }
         input[name=brand]:checked + span{
            background-color: #5cb85c;
         }
        </style>
    </head>
    <body>
        <div id="panel-message" class="panel">
            <div class="panel-body">
                {% for message in messages %}
                <p class="bg-danger">{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        <div id="panel-dashboard">
            <h2 class="text-danger" id="num-selected"></h2>
        </div>
        <div class="container" style="margin-top:20px;margin-bottom:80px">
            <form action="/supplychain/supplier/manage_schedule/" method="get">
                <div class="row">
                    <div class="col-xs-2">
                        <h1 style="color: #008000">排期管理</h1><span style="font-size: 13px">天蓝色：传图完成；</span><span style="font-size: 13px">白色：未完成</span>
                    </div>
                    <div class="col-xs-2">
                        <label class="control-label" for="target_date">查询日期:</label>
                        <input type="text" readonly name="target_date" class="form-control datepicker"
                               value="{{ target_date }}"/>
                    </div>
                    <div class="col-xs-2">
                        <label class="control-label" for="category">分类:</label>
                        <select class="form-control" name="category">
                            <option value="0" {% ifequal category "0" %}selected="selected" {% endifequal %}>所有</option>
                            <option value="1" {% ifequal category "1" %}selected="selected" {% endifequal %}>女装</option>
                            <option value="2" {% ifequal category "2" %}selected="selected" {% endifequal %}>童装</option>
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <input type="submit" class="btn btn-info" style="margin-top: 22px" value="查询"></div>
                </div>
            </form>
            <div class="main">
                {% for one_data in result_data %}
                <section class="grid" style="margin-top: 10px">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="preview_img" src="{{ one_data.wem_posters }}" width="400px">
                            <a class="btn btn-danger poster_of_date_female" style="margin-top: 5px" onclick="postPost(this)"
                               cid="/mm/post_poster/?date={{ one_data.date }}&categray=female">传女装海报</a>
                        </div>
                        <div class="col-xs-4">
                            <div class="row">
                                <div style="border: 1px solid rgba(255, 255, 188, 0);">
                                    {% if one_data.schedule_id %}
                                    <a style="font-size: 30px" href="/supplychain/supplier/schedule_detail/?schedule_id={{ one_data.schedule_id }}" target="_blank">{{ one_data.date }}排期</a>
                                    {% else %}
                                    <span style="font-size: 30px">{{ one_data.date }}排期</span>
                                    {% endif %}
                                    <a href="javascript:;" data-date="{{ one_data.date }}" class="switch" target="_self">收起</a>
                                </div>
                            </div>
                            {% if one_data.n_total %}
                            <div class="row">
                                <table class="table table-condensed" style="width:260px">
                                    <tr class="warning">
                                        <td width="40%">50元以下</td>
                                        <td width="30%">{{ one_data.n_50 }}</td>
                                        <td width="30%">{{ one_data.p_50 }}%</td>
                                    </tr>
                                    <tr class="info">
                                        <td>50-150元</td>
                                        <td>{{ one_data.n_50_150 }}</td>
                                        <td>{{ one_data.p_50_150 }}%</td>
                                    </tr>
                                    <tr class="danger">
                                        <td>150以上</td>
                                        <td>{{ one_data.n_150 }}</td>
                                        <td>{{ one_data.p_150 }}%</td>
                                    </tr>
                                    <tr>
                                        <td>总计</td>
                                        <td>{{ one_data.n_total }}</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-xs-4">
                            <img class="preview_img" src="{{ one_data.chd_posters }}" style="float: right" width="400px">
                            <a class="btn btn-info poster_of_date_child" style="margin-top: 5px;float: right" onclick="postPost(this)"
                               cid="/mm/post_poster/?date={{ one_data.date }}&categray=child">传童装海报</a>
                        </div>
                    </div>
                    <table class="table table-bordered" id="content_{{ one_data.date }}">
                        <thead>
                        <tr class="mine">
                            <th width="3%" style="text-align:center">
                                计数
                                <input type="checkbox" class="check-all">
                            </th>
                            <th width="4%">类别</th>
                            <th width="4%">图片/链接</th>
                            <th width="4%">选品备注</th>
                            <th width="10%">名称</th>
                            <th width="10%">平面信息</th>
                            <th width="14%">
                                尺码
                                {% if show_buyer_btn %}
                                <a href="javascript:;" class="btn btn-warning btn-sm buyer-mine">看我的</a>
                                <a href="javascript:;" class="btn btn-primary btn-sm buyer-all">看全部</a>
                                {% endif %}
                            </th>
                            <th width="10%">上架名称</th>
                            <th width="3%">主图</th>
                            <th width="10%">操作</th>
                        </tr>
                        </thead>
                        {% for data1 in one_data.data %}
                        <tr {% if data1.design_complete %}bgcolor="#CCFFFF"{% endif %}>
                            <td style="text-align:center">
                                <span style="font-size: 20px">{{ forloop.counter }}</span>
                                <input type="checkbox" class="check-item" data-product="{{data1.id}}">
                            </td>
                            <td>{{ data1.sale_category }}</td>
                            <td>
                                <a href="{{ data1.product_link }}" target="_blank">
                                    <img src="{{ data1.pic_path }}?imageMogr2/strip/format/jpg/quality/90/interlace/1/thumbnail/200/" width="100px"></img>
                                </a>
                            </td>
                            <td><textarea style="width:150px;height: 150px;border:0;" readonly="readonly">{{ data1.sale_memo }}</textarea></td>
                            <td>
                                <a data-sale-product="{{ data1.sale_product_id }}" class="id_list"
                                   href="/supplychain/supplier/bdproduct/{{ data1.sale_product_id }}"
                                   target="_blank">{{ data1.name }}</a>
                                <p class="sale_product_sale_dates_{{ data1.sale_product_id }}" style="margin-top:8px;color:#cc3333;"></p>
                            </td>
                            <td>
                                <span style="font-size: 18px;font-family: sans-serif;"
                                      class="color_{{ data1.sale_product_id }}"></span><br><br>
                                <span style="color: #008000" class="low_price_{{ data1.sale_product_id }}"></span><br>
                                <span style="color: #0000ff" class="purchase_price_{{ data1.sale_product_id }}">标准采购价：{{data1.std_purchase_price}}</span><br>
                                <span style="color:#8b008b" class="sale_product_price_{{ data1.sale_product_id }}"></span><br>
                                <br>
                                <span style="color:#008000" class="sale_product_is_watermark_{{ data1.sale_product_id }}"></span><br>
                                <span style="color:#0000ff" class="sale_product_is_seckill_{{ data1.sale_product_id }}"></span><br>
                                <span style="color:#8b008b" class="sale_product_is_recommend_{{ data1.sale_product_id }}"></span><br>
                                <br>
                                <span style="color:#008000" class="sale_product_order_weight_{{ data1.sale_product_id }}"></span><br>
                                <span style="color:#0000ff" class="sale_product_rebeta_schema_{{ data1.sale_product_id }}"></span><br>
                            </td>
                            <td class="buyer_{{ data1.sale_product_id }}"><span class="sku_{{ data1.sale_product_id }}"></span><br>
                                <span style="color: #1c020b" class="sale_charger_{{ data1.sale_product_id }}"></span>
                            </td>
                            <td>
                                <span class="name_{{ data1.sale_product_id }}"></span><br>
                                <a href="/admin/items/product/?sale_product={{ data1.sale_product_id }}" class="btn btn-success" target="_blank" >关联库存商品</a>
                                <br><br>
                                <a href="/admin/supplier/saleproduct/?q={{ data1.sale_product_id }}" class="btn btn-info" target="_blank">选品列表</a>
                                 <div class="checkbox">
                                     <label>
                                        <input type="checkbox" name="promotion" data-id="{{data1.id}}" {% if data1.is_promotion %}checked{% endif %}/>
                                         <span class="label">每日推送商品</span>
                                     </label>
                                  </div>
                                 <div class="checkbox">
                                     <label>
                                        <input type="checkbox" name="atop" data-id="{{data1.id}}" {% if data1.is_top_type %}checked{% endif %}/>
                                         <span class="label">top10商品</span>
                                     </label>
                                  </div>
                                 <div class="checkbox">
                                     <label>
                                        <input type="checkbox" name="brand" data-id="{{data1.id}}" {% if data1.is_brand_type %}checked{% endif %}/>
                                         <span class="label">品牌商品</span>
                                     </label>
                                  </div>
                            </td>
                            <td><img  src="" class="preview_img zhutu_{{ data1.sale_product_id }}" width="100px">
                            </td>
                            <td>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-8 op-info">
                                            {% ifequal data1.design_take_over "takeover" %}
                                            <div class="row takeoverinfo">接管人: {{ data1.design_person }}</div>
                                            {% endifequal %}
                                            {% if data1.design_complete %}
                                            <div class="row complete_status">已经完成</div>
                                            {% endif %}
                                            {% for m in data1.pic_rating_memos %}
                                            <div class="row">{{ m }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-4">
                                            {% ifnotequal data1.design_take_over "takeover" %}
                                            <div class="row">
                                                <a data-product="{{ data1.id }}" target="_blank" class="btn btn-sm btn-danger takeover">接管</a>
                                            </div>
                                            {% endifnotequal %}
                                            <div class="row">
                                                <a class="preview_page_{{ data1.sale_product_id }} btn btn-warning btn-sm" style="margin-top: 5px" target="_blank">预览</a>
                                            </div>
                                            {% if data1.design_complete %}
                                            {% if user.username == data1.design_person or perms.supplier.revert_done %}
                                            <div class="row">
                                                <a data-product="{{ data1.id }}" style="margin-top: 5px"
                                                   target="_blank" class="btn btn-sm btn-danger revert_complete">反完成</a>
                                            </div>
                                            {% endif %}
                                            {% else %}
                                            <div class="row">
                                                <a class="chuantu_page_{{ data1.sale_product_id }} btn btn-sm btn-info" style="margin-top: 5px"
                                                   target="_blank">传图</a><br>
                                            </div>
                                            <div class="row">
                                                <a data-product="{{ data1.id }}" style="margin-top: 5px"
                                                   target="_blank" class="btn btn-sm btn-danger complete">完成</a>
                                            </div>
                                            {% endif %}
                                            {% if show_pic_rating_btn %}
                                            <div class="row">
                                                <a href="javascript:;" data-product="{{ data1.id }}" style="margin-top: 5px" class="btn btn-sm btn-success pic-rating">评分</a>
                                            </div>
                                            {% endif %}
                                            {% if show_eliminate_btn %}
                                            <div class="row">
                                                <a href="javascript:;" data-product="{{ data1.id }}" style="margin-top: 5px" class="btn btn-sm btn-danger eliminate-product">淘汰</a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <input type="number" min="0" max="5" data-readonly="true" step=".1" data-show-clear="false" data-readonly="true" data-size="xs" data-default-caption="{rating} 颗星"
                                               data-star-captions="{}" class="rating" data-clear-caption="未评" data-product="{{ data1.id }}" {%if data1.pic_rating %}value="{{data1.pic_rating}}"{%endif%}>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>

                    <div class="row">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <a href="javascript:;" data-date="{{ one_data.date }}" class="switch" target="_self">收起</a>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                </section>
                {% endfor %}
            </div>
            <div class="popup-gallery">
            </div>
        </div>
        <div class="modal fade" id="modal-pic-rating" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="form-pic-rating" method="post">
                            <div class="form-group">
                                <label for="input-pic-rating" class="control-label">评分:</label>
                                <input class="form-control" id="input-pic-rating" type="number">
                            </div>
                            <div class="form-group">
                                <textarea id="pic-rating-memo" rows="3" cols="25"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="btn-pic-rating">确定</button>
                    </div>
                </div>
            </div><!-- modal-dialog -->
        </div><!-- modal -->
        <div id="panel-batch-set" class="panel collapse">
            <div class="panel-body">
                <div class="container-fluid">
                    <form class="form well" id="batch-set-form" action="/supplychain/supplier/schedule_batch_set/" method="post">
                        <input type="hidden" name="detail_ids" id="detail-ids" value="[]">
                        <div class="form-group row">
                            <div class="col-md-1">
                                <div class="checkbox" style="margin-top:0"><label><input type="checkbox" name="is_watermark">设置水印</label></div>
                            </div>
                            <div class="col-md-1">
                                <div class="checkbox" style="margin-top:0"><label><input type="checkbox" name="cancel_watermark">取消水印</label></div>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon">￥</span>
                                    <input type="text" class="form-control" placeholder="售价" name="price">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <select class="form-control" name="rebeta_schema_id">
                                    <option selected="selected" value>选择返利计划</option>
                                    {% for item in schemas %}
                                    <option value="{{item.id}}">{{item.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1">
                                <div class="checkbox" style="margin-top:0"><label><input type="checkbox" name="is_seckill">设置秒杀</label></div>
                            </div>
                            <div class="col-md-1">
                                <div class="checkbox" style="margin-top:0"><label><input type="checkbox" name="cancel_seckill">取消秒杀</label></div>
                            </div>
                            <div class="col-md-5">
                                <select class="form-control" name="order_weight">
                                    <option selected="selected" value>选择权重</option>
                                    {% for item in order_weights %}
                                    <option value="{{item.id}}">{{item.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-5">
                                <input type="text" id="onshelf-date" name="onshelf_date" class="form-control" placeholder="上架日期">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-1">
                                <div class="checkbox" style="margin-top:0"><label><input type="checkbox" name="is_recommend">专区推荐</label></div>
                            </div>
                            <div class="col-md-1">
                                <div class="checkbox" style="margin-top:0"><label><input type="checkbox" name="cancel_recommend">取消专区</label></div>
                            </div>
                            <div class="col-md-1">
                                <div class="checkbox" style="margin-top:0"><label><input type="checkbox" name="sync_stock">同步库存</label></div>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-2">
                                <a class="btn btn-block btn-default" id="btn-cancel-batchset" href="javascript:;" role="button">取消</a>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary btn-block" id="btn-batchset">确定</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="/static/wap/js/sweet-alert.min.js"></script>
        <script>
         function buyerTakeOver(sale_product_id){
             swal({
                 title: "接管",
                 text: "要接管吗？",
                 type: "warning",
                 showCancelButton: true,
                 confirmButtonText: "确认接管",
                 cancelButtonText: "取消"
             }, function(){
                 $.ajax({
                     url: '/supplychain/supplier/sale_product_api/',
                     type: 'post',
                     dataType: 'json',
                     data: {sale_product: sale_product_id, type: 5},
                     success: function(result){
                         if(result.add_product_url){
                             window.open(result.add_product_url);
                         }
                     },
                     complete: function(){
                         window.location.reload();
                     }
                 });
             });
         }
         $(function () {
             $(".datepicker").datepicker({
                 dateFormat: "yy-mm-dd"
             });
             var all_id = $(".id_list");
             $.each(all_id, function (index, obj) {
                 ajaxProduct(all_id.eq(index).attr("data-sale-product"));
             });
             $(".switch").bind("click", function () {
                 var hide_date = $(this).attr("data-date");
                 var content = $("#content_" + hide_date);

                 $(this).text(content.is(":hidden") ? "收起" : "展开");
                 content.slideToggle();
             });
             //图片预览
             $(".preview_img").bind("click", function () {
                 var url = $(this).attr("src");
                 var gallery = $('.popup-gallery');
                 var gallery_img = $('.popup-gallery a');
                 gallery_img.remove();
                 gallery.append('<a class="example-image-link" style="display:None" href="' + url + '" data-lightbox="example-1"></a>');

                 var example = $(".example-image-link");
                 if (example.length > 0) {
                     example.trigger("click");
                 }
             });

             //接管操作
             $(".takeover").bind("click", function () {
                 var detail = $(this).attr("data-product");
                 var target_sale = $(this);
                 swal({
                     title: "接管",
                     text: "要接管吗？",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonText: "确认接管",
                     cancelButtonText: "取消"
                 }, function () {
                     var requestUrl = "/supplychain/supplier/sale_product_api/";
                     $.ajax({
                         async: true,
                         type: "POST",
                         url: requestUrl,
                         dataType: 'json',
                         data: {"detail_id": detail, "type": "1"},
                         cache: false,
                         error: function () {
                         },
                         success: function (result) {
                             if (result.result == "error") {
                                 alert("有错误");
                             } else if (result.result == "success") {
                                 alert("接管成功");
                                 target_sale.parent('.takeoverinfo').html("接管人:"+result.username);
                             } else if (result.result == "alreadytakeover") {
                                 alert("已经被接管了");
                             }
                         }
                     });
                 });
             });
             //完成操作
             $(".complete").bind("click", function () {
                 var detail = $(this).attr("data-product");
                 var target_sale = $(this);
                 swal({
                     title: "完成",
                     text: "确定完成了吗？",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonText: "确认",
                     cancelButtonText: "取消"
                 }, function () {
                     var requestUrl = "/supplychain/supplier/sale_product_api/";
                     $.ajax({
                         async: true,
                         type: "POST",
                         url: requestUrl,
                         dataType: 'json',
                         data: {"detail_id": detail, "type": "2"},
                         cache: false,
                         error: function () {
                         },
                         success: function (result) {
                             if (result.result == "error") {
                                 alert("有错误");
                             } else if (result.result == "success") {
                                 target_sale.parent().parent().parent().attr("bgcolor","#CCFFFF");
                                 target_sale.parent().parent().parent().find('.complete_status').html('已经完成');
                                 //target_sale.parent(".complete_status").html("</br>已经完成");
                             } else if (result.result == "alreadycomplete") {
                                 alert("已经完成了");
                             } else if (result.result == "not_same_people") {
                                 alert("您不是接管人");
                             }
                         }

                     });
                 });
             });

             //反完成操作
             $(".revert_complete").bind("click", function () {
                 var detail = $(this).attr("data-product");
                 var target_sale = $(this);
                 swal({
                     title: "取消完成",
                     text: "确定取消完成吗？",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonText: "确认",
                     cancelButtonText: "取消"
                 }, function () {
                     var requestUrl = "/supplychain/supplier/sale_product_api/";
                     $.ajax({
                         async: true,
                         type: "POST",
                         url: requestUrl,
                         dataType: 'json',
                         data: {"detail_id": detail, "type": "3"},
                         cache: false,
                         error: function () {
                         },
                         success: function (result) {
                             if (result.result == "error") {
                                 alert("有错误");
                             } else if (result.result == "success") {
                                 alert("成功");
                                 target_sale.parent().parent().parent().attr("bgcolor","white");
                                 target_sale.parent().parent().parent().find('.complete_status').html('未完成');
                                 //target_sale.parent(".complete_status").html("未完成");
                             } else if (result.result == "notdone") {
                                 alert("尚未完成，请刷新。");
                             } else if (result.result == "forbidden") {
                                 alert("您无权限");
                             }
                         }
                     });
                 });
             });
         });

         //请求每个选品的商品信息
         function ajaxProduct(sale_product_id) {
             var requestUrl = "/supplychain/supplier/sale_product_api/";
             var data = {"sale_product": sale_product_id};
             var TAKEOVER_BTN_TPL = _.template('<a href="javascript:buyerTakeOver(<%= sale_product_id %>);" class="btn btn-danger btn-block buyer-takeover">接管</a>');
             var ADD_PRODUCT_BTN_TPL = _.template('<a href="<%= add_product_url %>" target="_blank" class="btn btn-success btn-block">录入资料</a>');
             var SPAN_TPL = _.template('<span><%= value %></span>');
             $.ajax({
                 async: true,
                 type: "GET",
                 url: requestUrl,
                 dataType: 'json',
                 data: data,
                 cache: false,
                 error: function () {
                 },
                 success: function (result) {
                     var buyer_spans = [];
                     if (result.flag == "done") {
                         $(".name_" + sale_product_id).html(result.name);
                         //$(".sku_" + sale_product_id).html(result.sku_list);
                         $(".color_" + sale_product_id).html(result.color_list);
                         //$(".sale_charger_" + sale_product_id).html("资料负责：" + result.sale_charger);
                         $(".zhutu_" + sale_product_id).attr("src", result.zhutu);
                         $(".low_price_" + sale_product_id).html("出售最低价：" + result.lowest_price);

                         $('.sale_product_is_watermark_' + sale_product_id).html(result.sale_product_is_watermark);
                         $('.sale_product_is_seckill_' + sale_product_id).html(result.sale_product_is_seckill);
                         $('.sale_product_is_recommend_' + sale_product_id).html(result.sale_product_is_recommend);
                         $('.sale_product_order_weight_' + sale_product_id).html(result.sale_product_order_weight);
                         $('.sale_product_price_' + sale_product_id).html(result.sale_product_price);
                         $('.sale_product_rebeta_schema_' + sale_product_id).html(result.sale_product_rebeta_schema);
                         if (result.model_id) {
                             $(".preview_page_" + sale_product_id).attr("href", "/mall/product/details/" + result.model_id);
                         }
                         $(".chuantu_page_" + sale_product_id).attr("href", "/mm/add_aggregeta/?search_model=" + result.model_id);
                         buyer_spans.push(SPAN_TPL({value: '选品负责：' + result.contactor_name}));
                         buyer_spans.push(SPAN_TPL({value: result.sku_list}));
                         buyer_spans.push(SPAN_TPL({value: '资料负责：' + result.sale_charger}));
                     }
                     else if(result.flag == 'working'){
                         buyer_spans.push(SPAN_TPL({value: '选品负责：' + result.contactor_name}));
                         if(result.librarian){
                             buyer_spans.push(SPAN_TPL({value: '接管人：' + result.librarian}));
                             if(result.librarian == result.username){
                                 buyer_spans.push(ADD_PRODUCT_BTN_TPL({add_product_url: result.add_product_url}));
                             }
                         }
                         else{
                             if(result.show_buyer_btn){
                                 buyer_spans.push(TAKEOVER_BTN_TPL({sale_product_id: sale_product_id}));
                             }
                         }
                     }
                     if(result.librarian && result.librarian == result.username){
                         $('.name_' + sale_product_id).closest('tr').addClass('mine');
                     }
                     if(result.sale_dates){
                         $('.sale_product_sale_dates_' + sale_product_id).html('上架日期:' + result.sale_dates);
                     }
                     $('td.buyer_' + sale_product_id).html(buyer_spans.join('<br>'));
                 }
             });
         }
        </script>
        <script src="{{ STATIC_URL }}layer-v1.9.2/layer/layer.js"></script>
        <script>
         var pop_frame = 1;
         function postPost(dom){
             var poppage_url = $(dom).attr('cid');
             console.log("上传页面地址 :", poppage_url );

             layer.open({
                 type: 2,
                 title: '上传海报页面',
                 shadeClose: true,
                 shade: 0.8,
                 area: ['500px', '61%'],
                 content: poppage_url,
                 btn: ['确定上传成功']
                 , yes: function () {
                     console.log(location.href);
                     console.log($('iframe'));
                     console.log("上传成功后给的链接:", $(window.frames["layui-layer-iframe" + pop_frame].document).find("body img").attr('src'));
                     var src = $(window.frames["layui-layer-iframe" + pop_frame].document).find("body img").attr('src');
                     $($(dom).parent().children()[0]).attr('src', src);
                     pop_frame += 1;
                     layer.closeAll();
                 }
             });
         }
        </script>
        <script>
         var SELECTOR_TPL_OF_SHOW_PIC_RATING = _.template('input[data-product="<%= _id %>"]');
         var SELECTOR_TPL_OF_OP_INFO = _.template('.op-info[data-product="<%= _id %>"]');
         var MEMO_TPL_OF_PIC_RATING = _.template('<div class="row"><%= content %></div>');
         var replay_flag = false;
         $(function(){
             $('#input-pic-rating').rating({
                 min: 0,
                 max: 5,
                 step: 0.1,
                 size: 'xs',
                 defaultCaption: '{rating} 颗星',
                 starCaptions: '{}',
                 showClear: false,
                 clearCaption: '未评'
             });
             $('td a.pic-rating').click(function(){
                 //对form做清空处理
                 //区分已评未评
                 var _id = $(this).attr('data-product') - 0;
                 var rating = $(SELECTOR_TPL_OF_SHOW_PIC_RATING({_id: _id})).val();
                 $('#input-pic-rating').rating('clear');
                 if(rating)
                     $('#input-pic-rating').rating('update', rating);
                 $('#pic-rating-memo').val('');
                 $('#form-pic-rating').data('data-product', _id);
                 $('#modal-pic-rating').modal();
             });
             $('#btn-pic-rating').click(function(){
                 //使用modal的data来通信
                 var _id = $('#form-pic-rating').data('data-product');
                 var memo = $('#pic-rating-memo').val() || '';
                 var rating = $('#input-pic-rating').val() || 0;
                 var that = this;
                 if(!replay_flag){
                     replay_flag = true;
                     $.ajax({
                         url: '/supplychain/supplier/sale_product_api/',
                         type: 'post',
                         dataType: 'json',
                         data: {memo: memo, rating: rating, detail_id: _id, type: 4},
                         success: function(result){
                             //更新页面数据
                             $(SELECTOR_TPL_OF_SHOW_PIC_RATING({_id: _id})).rating('update', rating);
                             $(SELECTOR_TPL_OF_SHOW_PIC_RATING({_id: _id})).closest('.container').find('.op-info').append(MEMO_TPL_OF_PIC_RATING({content: result.memo}));
                             replay_flag = false;
                             $('#modal-pic-rating').modal('hide');
                         }
                     });
                 }
             });
             $('.check-item').change(function(){
                 var n = $('.check-item:checked').length || 0;
                 if(n){
                     $('#panel-batch-set').collapse('show');
                     $('#panel-dashboard').show();
                     $('#num-selected').html(n);
                 }
                 else{
                     $('#panel-batch-set').collapse('hide');
                     $('#panel-dashboard').hide();
                 }
             });

             $('.check-all').change(function(){
                 var items = $(this).closest('table').find('.check-item');
                 items.prop('checked', $(this).prop('checked'));
                 items.first().trigger('change');
             });

             $('#batch-set-form').submit(function(){
                 var detail_ids = [];
                 $('.check-item:checked').each(function(){
                     detail_ids.push($(this).attr('data-product') - 0)
                 });
                 $('#detail-ids').val(JSON.stringify(detail_ids));
                 $.ajax({
                     url: '/supplychain/supplier/schedule_batch_set/',
                     type: 'post',
                     dataType: 'json',
                     data: $('#batch-set-form').serialize(),
                     complete: function(){
                         window.location.reload();
                     }
                 });
                 return false;
             });
             $('#btn-cancel-batchset').click(function(){
                 $('.check-item:checked').prop('checked', false);
                 $('.check-all:checked').prop('checked', false);
                 $('#panel-batch-set').collapse('hide');
                 $('#panel-dashboard').hide();
             });

             $('a.buyer-mine').click(function(){
                 $(this).closest('table').find('tr:not(.mine)').hide();
             });
             $('a.buyer-all').click(function(){
                 $(this).closest('table').find('tr').show();
             });
             $('a.eliminate-product').click(function(){
                 var _id = $(this).attr('data-product') - 0;
                 swal({
                     title: "淘汰",
                     text: "要淘汰吗？",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonText: "确认淘汰",
                     cancelButtonText: "取消"
                 }, function(){
                     $.ajax({
                         url: '/supplychain/supplier/sale_product_api/',
                         type: 'post',
                         dataType: 'json',
                         data: {detail_id: _id, type: 6},
                         complete: function(){
                             window.location.reload();
                         }
                     });
                 });
             });
             $('#onshelf-date').datepicker({
                 dateFormat: 'yy-mm-dd'
             });
         });
         // 是否选择为每日推送商品
         $('input[name="promotion"]').click(function(){
             var checked = typeof($(this).attr('checked')) != 'undefined'?'on':'';
             var detail_id = $(this).attr('data-id');
             var params = {'is_promotion':checked};
             $.post('/supplychain/supplier/schedule/detail/'+ detail_id +'/',
                params,
                function(resp){
                    console.log(resp);
                },
                'json'
             )
         });
         // 是否选择TOP10商品
         $('input[name="atop"]').click(function(){
             var schedule_type = typeof($(this).attr('checked')) != 'undefined'?'atop':'sale';
             var detail_id = $(this).attr('data-id');
             var params = {'schedule_type': schedule_type};
             $.post('/supplychain/supplier/schedule/detail/'+ detail_id +'/',
                params,
                function(resp){
                    console.log(resp);
                },
                'json'
             )
         });
         // 是否选择品牌商品
         $('input[name="brand"]').click(function(){
             var schedule_type = typeof($(this).attr('checked')) != 'undefined'?'brand':'sale';
             var detail_id = $(this).attr('data-id');
             var params = {'schedule_type': schedule_type};
             $.post('/supplychain/supplier/schedule/detail/'+ detail_id +'/',
                params,
                function(resp){
                    console.log(resp);
                },
                'json'
             )
         });
        </script>
    </body>
</html>
