body {
  background-color: #FFD609;
}

.invitation-bg {
  background: url('http://7xogkj.com2.z0.glb.qiniucdn.com/invitation-bg.png') no-repeat;
  background-size: contain;
  height: 731px;
  width: 320px;
  margin: 0 auto;
}

.invitation-count {
  margin: 18% 10% 0% 8%;
}

.invitation-count > span {
  text-align: center;
  font-size: 28px;
  color: #fff;
  background: url('http://7xogkj.com2.z0.glb.qiniucdn.com/count-bg.png') center center no-repeat;
  background-size: contain;
}

.invited-friends-list {
  list-style-type: none;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.invited-friends-list > .item {
  margin-top: -24px;
  padding: 24px 0px;
  height: 125px;
  background: url('http://7xogkj.com2.z0.glb.qiniucdn.com/item-bg.png') center center no-repeat;
  background-size: contain;
}

.red-packet {
  background: url('http://7xogkj.com2.z0.glb.qiniucdn.com/red-packet.png') center center no-repeat;
  background-size: contain;
}

.m-pull-right {
  float: right;
}

.m-pull-left {
  float: left;
}

.invitation-class-gold {
  height: 7.9%;
  background: url('http://7xogkj.com2.z0.glb.qiniucdn.com/gold-normal.png') center center no-repeat;
  top: 7%;
  left: 66%;
  background-size: contain;
}

.invitation-class-gold.active {
  background: url('http://7xogkj.com2.z0.glb.qiniucdn.com/gold-active.png') center center no-repeat;
  background-size: contain;
}

.invitation-class-diamond {
  height: 7.9%;
  background: url('http://7xogkj.com2.z0.glb.qiniucdn.com/diamond-normal.png') center center no-repeat;
  top: 15.8%;
  left: -14.5%;
  background-size: contain;
}

.invitation-class-diamond.active {
  background: url('http://7xogkj.com2.z0.glb.qiniucdn.com/diamond-active.png') center center no-repeat;
  background-size: contain;
}

.invitation-class-crown {
  height: 7.9%;
  background: url('http://7xogkj.com2.z0.glb.qiniucdn.com/crown-normal.png') center center no-repeat;
  top: 24.5%;
  left: 9.6%;
  background-size: contain;
}

.invitation-class-crown.active {
  background: url('http://7xogkj.com2.z0.glb.qiniucdn.com/crown-active.png') center center no-repeat;
  background-size: contain;
}

.invitation-class-gold-crown {
  height: 7.9%;
  background: url('http://7xogkj.com2.z0.glb.qiniucdn.com/gold-crown-normal.png') center center no-repeat;
  top: 33.8%;
  left: -38%;
  background-size: contain;
}

.invitation-class-gold-crown.active {
  background: url('http://7xogkj.com2.z0.glb.qiniucdn.com/gold-crown-active.png') center center no-repeat;
  background-size: contain;
}

.invite-btn {
  top: 41%;
}

.invited-friends-head {
  top: 50%;
}

.invited-friends-list {
  top: 50%;
}

.my-invitation-friends {
  margin-top: 70px;
  height: 50px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background: url("http://7xogkj.com2.z0.glb.qiniucdn.com/my-invitation-mm-icon.png") no-repeat;
  background-size: 100% 100%;
}

.friends-info-icon {
  width: 100%;
  height: 81px;
  margin: 0 auto;
  background: url("http://7xogkj.com2.z0.glb.qiniucdn.com/friends-info.png") no-repeat;
  background-size: 100% 100%;
  /*text-align: center;*/
  margin-bottom: 5px;
}

.friends-info-icon .detail-info {
  position: relative;
  margin: 0 auto;
  width: 87%;
  height: 100%;
  vertical-align: middle;
}

.friend-head {
  position: absolute;
  display: inline-block;
  float: left;
  width: 40px;
  height: 40px;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  /*background: url("") no-repeat;*/
  background-size: 100% 100%;
  /*border: solid 2px #000000;*/
}

.friends-info-icon .detail-info .friend-desc {
  display: inline-block;
  width: 65%;
  height: 75%;
  margin-left: 3%;
  position: absolute;
  top: 27%;
  left: 22%;
}

.friends-info-icon .detail-info .friend-desc .join-mama {
  font-size: 12px;
}

.friends-info-icon .detail-info .friend-desc em {
  font-style: normal;
  color: #00b0d9;
}

.friends-info-icon .detail-info .red-packet {
  position: absolute;
  float: right;
  top: 29%;
  display: inline-block;
  width: 35px;
  height: 35px;
  bottom: 0;
  left: 85%;
  background: url("http://7xogkj.com2.z0.glb.qiniucdn.com/red-packer-30.png") no-repeat;
  background-size: 100% 100%;
}
