body {
    height: 100%;
    display: block;
    margin: 0;
    background: #EFF0F0;
    font-family: STHeiti, sans-serif;
}

.border-show-1 {
    border: 1px solid #008000;
}

.border-show-2 {
    border: 1px solid red;
}

.border-show-3 {
    border: 1px solid #0000ff;
}

.shop-head {
    height: 100%;
    background: url("http://7xogkj.com2.z0.glb.qiniucdn.com/lALOCdKQyM0BuM0C7g_750_440.png") repeat-x;
    width: 100%;
    margin: 0 auto;
}

.shop-head .shop-info {
    width: 100%;
    margin: 0 auto;
    height: 377px;
    /*background: url("http://7xogkj.com2.z0.glb.qiniucdn.com/lALOCdKQyM0BuM0C7g_750_440.png") no-repeat;*/
}

.shop-head .shop-info .action-btn {
    position: relative;
    top: 45px;
    height: 60px;
}

.shop-head .shop-info .action-btn .go-back {
    width: 60px;
    float: left;
    height: 100%;
    margin-left: 12px;
}

.shop-head .shop-info .action-btn .go-share {
    width: 60px;
    float: right;
    height: 100%;
    margin-right: 12px;
}

.shop-head .shop-info .head-star-img-div {
    position: relative;
    top: 42px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    background: url("http://7xogkj.com2.z0.glb.qiniucdn.com/group14%403x.png") no-repeat;
    background-size: 100%;
    text-align: center;
}

.shop-head .shop-info .head-star-img-div .head-img {
    position: relative;
    top: 13%;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    vertical-align: middle;
}

.shop-head .shop-info .shop-name-div {
    position: relative;
    top: 80px;
    height: 39px;
    text-align: center;
    margin: 0 auto;
}

.shop-head .shop-info .shop-name {
    position: relative;
    height: 100%;
    width: 45%;
    font-size: 34px;
    font-weight: 600;
}

.category-back {
    width: 100%;
    background: #FFFFFF;
}

.category-back .category-zone {
    height: 84px;
    width: 640px;
    margin: 0 auto;
}

.category-back .category-zone .category-icon-zone {
    height: 80px;
}

.category-back .category-zone .category-icon-zone .female-zone {
    float: left;
    margin-left: 10%;
    width: 27%;
    height: 83%;
    margin-top: 15px;
}

.category-back .category-zone .category-icon-zone .female-zone .female-icon {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.category-back .category-tag {
    height: 40px;
    width: 640px;
    margin: 0 auto;
    font-size: 20px;
}

.category-back .category-tag .icon-tag-girls {
    display: inline-block;
    width: 125px;
    text-align: center;
    float: left;
    margin-left: 13.5%;
}

.category-back .category-tag .icon-tag-childs {
    display: inline-block;
    width: 125px;
    text-align: center;
    float: right;
    margin-right: 13.5%;
}

.category-back .category-zone .category-icon-zone .female-zone .active-bar {
    position: relative;
    top: 56%;
    height: 5px;
    width: 40%;
    margin: 0 auto;
    background: #000000;
    border-radius: 5px;
}

.category-back .category-zone .category-icon-zone .child-zone {
    float: right;
    margin-right: 10%;
    width: 27%;
    height: 83%;
    margin-top: 15px;
}

.category-back .category-zone .category-icon-zone .child-zone .child-icon {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.shop-body-back {
    background: #FFFFFF;
    margin-top: 2px;
}

.shop-body-back .shop-body {
    position: relative;
    top: 10px;
    background: #FFFFFF;
    width: 640px;
    margin: 0 auto;
}

.shop-body-back .shop-body .leave-time-div {
    height: 75px;
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.shop-body-back .shop-body .leave-time {
    position: relative;
    top: 25%;
    font-size: 20px;
    color: #320C08;
}

.shop-body-back .shop-body .leave-time em {
    position: relative;
    font-size: 35px;
    font-style: normal;
    font-weight: bold;
    top: 4%;
}

.shop-body-back .shop-body .products-div {
    position: relative;
    width: 640px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.shop-body-back .shop-body .products-div .product-info {
    position: absolute;
    height: 30%;
    bottom: 0.8%;
    width: 600px;
    margin-left: 3%;
    margin-right: 3%;
    background: url("http://7xogkj.com2.z0.glb.qiniucdn.com/rectangle9%403x.png") no-repeat;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(0.5, #FFFFFF), to(#000000));*/
    /*opacity: 0.25;*/
}

.shop-body-back .shop-body .products-div .product-show {
    width: 600px;
    height: 600px;
    margin-left: 3%;
    margin-right: 3%;
}

.shop-body-back .shop-body .products-div .pro-price-div {
    position: absolute;
    height: 68px;
    width: 70%;
    bottom: 12%;
    z-index: 100;
    left: 4%;
    text-shadow: rgb(164, 164, 169) 2px 2px 15px;
}

.shop-body-back .shop-body .products-div .pro-price-div .sale-price {
    position: relative;
    top: 10%;
    height: 100%;
    font-size: 60px;
    color: white;
}

.shop-body-back .shop-body .products-div .pro-price-div .std-price {
    position: relative;
    top: 10%;
    height: 100%;
    font-size: 22px;
    color: white;
}

.shop-body-back .shop-body .products-div .pro-name-div {
    position: absolute;
    height: 34px;
    width: 85%;
    bottom: 4%;
    z-index: 100;
    left: 6%;
    text-shadow: rgb(164, 164, 169)  2px 2px 6px;
}

.shop-body-back .shop-body .products-div .pro-name-div .pro-name {
    position: relative;
    color: white;
    font-size: 28px;
}

#toast {
    position: fixed;
    left: 50%;
    top: 500px;
    color: white;
    font-size: 28px;
    width: 260px;
    margin-left: -130px;
    border: 1px solid #E2E4FF;
    background-color: #333;
    padding: 15px 5px;
    text-align: center;
    opacity: .9;
    z-index: 9999;
    border-radius: 8px;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}
