<!DOCTYPE html>
{% load custom_filter %}
<html lang="en">
<head>
    <title>供应链订货/到货数据统计</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/dc/2.0.0-alpha.3/dc.css"/>
    <style>
    * {
        padding: 0 0;
        margin: 0 0;
    }
    .chart-area{
        float:left;
    }
    .chart{
        margin: 30px 5px;
        float:left;
    }
    .inline {
        display: inline;
    }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>供应链订货/到货数据统计报表
            <div class="pull-right ">
                <div class="dropdown inline">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {% if action == 'purchase_time' %}订货时间{% elif action == 'arrival_time' %}到货时间{% elif action == 'forecast_time' %}预测时间{% endif %}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="/apis/forecast/v1/stats.html?action=purchase_time&start_time={{start_time}}&end_time={{end_time}}">订货时间</a></li>
                    <li><a href="/apis/forecast/v1/stats.html?action=arrival_time&start_time={{start_time}}&end_time={{end_time}}">到货时间</a></li>
                    <li><a href="/apis/forecast/v1/stats.html?action=forecast_time&start_time={{start_time}}&end_time={{end_time}}">预测时间</a></li>
                  </ul>
                </div>
                <input class="inline" name="daterange">
            </div>
        </h1>
    </div>
    <div class="row" >
        <div class="chart-area" style="width:24%;background-color:#777;">
            <div id="chart-supplier-amount" class="chart" style="height:100%;height:900px;">
                <div>供应商 / 采购金额(百元) </div>
                <div class="reset" style="visibility: hidden;">selected: <span class="filter"></span>
                    <a href="javascript:supplierRowChart.filterAll();dc.redrawAll();">reset</a>
                </div>
            </div>
        </div>
        <div style="width:50%;" class="chart-area">
            <div id="chart-dinghuo-peroid" class="chart"  style="width:48%; height:300px">
                <div>到货周期 = 到货时间 - 订货时间</div>
                <div class="reset" style="visibility: hidden;">selected: <span class="filter"></span>
                    <a href="javascript:arrivalPeroidHistChart.filterAll();dc.redrawAll();">reset</a>
                </div>
            </div>
            <div id="chart-arrival-peroid" class="chart"  style="width:48%; height:300px">
                <div>发货周期 = 发货时间 - 订货时间</div>
                <div class="reset" style="visibility: hidden;">selected: <span class="filter"></span>
                    <a href="javascript:deliveryPeroidHistChart.filterAll();dc.redrawAll();">reset</a>
                </div>
            </div>
            <div id="chart-logistic-peroid" class="chart"  style="width:48%; height:300px">
                <div>物流周期 = 到货时间 - 发货时间</div>
                <div class="reset" style="visibility: hidden;">selected: <span class="filter"></span>
                    <a href="javascript:logisticPeroidHistChart.filterAll();dc.redrawAll();">reset</a>
                </div>
            </div>
            <div id="chart-chain-quantity" class="chart"  style="width:48%; height:300px">
                <div>到货异常分类</div>
                <div class="reset" style="visibility: hidden;">selected: <span class="filter"></span>
                    <a href="javascript:deliveryPeroidHistChart.filterAll();dc.redrawAll();">reset</a>
                </div>
            </div>
        </div>
        <div style="width:25%;" class="chart-area">
            <div id="chart-ring-status" class="chart"  style="width:100%;height:280px">
                <div>预测单状态</div>
                <div class="reset" style="visibility: hidden;">range: <span class="filter"></span>
                    <a href="javascript:statusRingChart.filterAll();dc.redrawAll();">reset</a>
                </div>
            </div>
            <div id="chart-ring-buyer" class="chart"  style="width:100%;height:280px">
                <div>买手</div>
                <div class="reset" style="visibility: hidden;">range: <span class="filter"></span>
                    <a href="javascript:buyerRingChart.filterAll();dc.redrawAll();">reset</a>
                </div>
            </div>
            <div id="chart-ring-purchaser" class="chart"  style="width:100%;height:280px">
                <div>采购员</div>
                <div class="reset" style="visibility: hidden;">range: <span class="filter"></span>
                    <a href="javascript:purchaserRingChart.filterAll();dc.redrawAll();">reset</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="width:100%;" class="chart-area">
            <div>到货数量 TOP-50 预测到货单列表 </div>
            <table id="chart-datatable" class="table table-striped chart">
            </table>
        </div>
    </div>
    <script src="http://cdn.bootcss.com/d3/3.5.17/d3.js"></script>
<!--<script type="text/javascript" src="//cdn.bootcss.com/d3/3.5.17/d3.min.js"></script>-->
<!--<script src="{{STATIC_URL}}forecast/js/d3-4.1.1.js"></script>-->
<script type="text/javascript" src="//cdn.bootcss.com/crossfilter/1.3.12/crossfilter.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/dc/2.0.0-beta.30/dc.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/FileSaver.js/2014-11-29/FileSaver.min.js"></script>

<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/bootstrap-daterangepicker/2.1.23/moment.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.bootcss.com/bootstrap-daterangepicker/2.1.23/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap-daterangepicker/2.1.23/daterangepicker.min.css" />
<script type="text/javascript">

var supplierRowChart   = dc.rowChart("#chart-supplier-amount"),
    arrivalPeroidHistChart  = dc.barChart("#chart-dinghuo-peroid"),
    deliveryPeroidHistChart  = dc.barChart("#chart-arrival-peroid"),
    logisticPeroidHistChart  = dc.barChart("#chart-logistic-peroid"),
    statusRingChart   = dc.pieChart("#chart-ring-status"),
    buyerRingChart   = dc.pieChart("#chart-ring-buyer"),
    purchaserRingChart   = dc.pieChart("#chart-ring-purchaser");
// use static or load via d3.csv("spendData.csv", function(error, spendData) {/* do stuff */});
var spendData = {{ results|jsonify }};
function initial(dataset){
    var i, d, tags;
    for(i=0;i<dataset.length;i++){
        d = dataset[i];
        tags = [];
        if (d.is_lack > 0) tags.push('lack');
        if(d.is_defact > 0) tags.push('defact');
        if(d.is_timeouted > 0) tags.push('timeouted');
        if(d.is_overhead > 0) tags.push('overhead');
        if(d.is_wrong > 0) tags.push('wrong');
        if(d.is_unrecord > 0) tags.push('unrecord');
        if(d.is_close > 0) tags.push('close');
        d['tags'] = tags;
    }
    return dataset
}

var ndx = crossfilter(initial(spendData)),
    statusDim = ndx.dimension(function(d) {return d.status;}),
    buyerDim = ndx.dimension(function(d) {return d.buyer_name;}),
    purchaserDim = ndx.dimension(function(d) {return d.purchaser;}),
    arrivalPeroidDim  = ndx.dimension(function(d) {return d.arrival_period;}),
    logisticPeroidDim  = ndx.dimension(function(d) {return d.logistic_period;}),
    deliveryPeroidDim  = ndx.dimension(function(d) {return d.delivery_period;}),

    statusCountGroup = statusDim.group().reduceCount(),
    buyerAmountGroup = buyerDim.group().reduceSum(function(d) {return +d.purchase_amount;}),
    purchaserAmountGroup = purchaserDim.group().reduceSum(function(d) {return +d.purchase_amount;}),
    arrivalPeroidGroup = arrivalPeroidDim.group().reduceCount(),
    deliveryPeroidGroup = deliveryPeroidDim.group().reduceCount(),
    logisticPeroidGroup = logisticPeroidDim.group().reduceCount();

// var trendDimension = ndx.dimension(function(d) {return [d.Expt, d.purchase_period]; });
// var trendGroup = runDimension.group().reduceSum(function(d) { return +d.Speed; });

var supplierDim  = ndx.dimension(function(d) {return d.supplier_name}),
    supplierAmountGroup = supplierDim.group().reduceSum(function(d) {return +d.purchase_amount;});

supplierRowChart
    .dimension(supplierDim)
    .group(supplierAmountGroup)
    .elasticX(true)
    .ordering(function(d) { return -d.value })
    .controlsUseVisibility(true)
    .title(function(d){return d.value;})
    .label(function(d) { return d.key });

supplierRowChart.data(function(group) {
   return group.top(50);
});
supplierRowChart.xAxis().tickFormat(function(d) {return parseInt(d / 100)});

var xRange = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15];
arrivalPeroidHistChart
    .dimension(arrivalPeroidDim)
    .group(arrivalPeroidGroup)
    .x(d3.scale.ordinal().domain(xRange))
    .xUnits(dc.units.ordinal)
    .elasticY(true)
    .controlsUseVisibility(true);

arrivalPeroidHistChart.xAxis().tickFormat(function(d) {return parseInt(d)}).tickSubdivide(0); // convert back to base unit
// dhPeroidHistChart.yAxis().ticks(2);

deliveryPeroidHistChart
    .dimension(deliveryPeroidDim)
    .group(deliveryPeroidGroup)
    .x(d3.scale.ordinal().domain(xRange))
    .xUnits(dc.units.ordinal)
    .elasticY(true)
    .controlsUseVisibility(true);

logisticPeroidHistChart
    .dimension(logisticPeroidDim)
    .group(logisticPeroidGroup)
    .x(d3.scale.linear().domain([0,15]))
    .elasticY(true)
    .controlsUseVisibility(true);

var mapStatusName = {
    staging: '待收货',
    arrival: '已到货',
    closed: '已关闭',
};

statusRingChart
    .dimension(statusDim)
    .group(statusCountGroup)
    .innerRadius(30)
    .externalLabels(10)
    .externalRadiusPadding(50)
    .drawPaths(true)
    .label(function(d) { return d.key + ':' + d.value;})
    .controlsUseVisibility(true)
    .legend(dc.legend().legendText(function (d) {
        return mapStatusName[d.name] + ':' + d.data;
    }));;

buyerRingChart
    .dimension(buyerDim)
    .group(buyerAmountGroup)
    .innerRadius(30)
    .externalLabels(10)
    .externalRadiusPadding(50)
    .drawPaths(true)
    .label(function(d) { return d.key + ':' + d.value;})
    .controlsUseVisibility(true)
    .legend(dc.legend().legendText(function (d) {return d.name + ':' + d.data;}));;

purchaserRingChart
    .dimension(purchaserDim)
    .group(purchaserAmountGroup)
    .innerRadius(30)
    .externalLabels(10)
    .externalRadiusPadding(50)
    .drawPaths(true)
    .label(function(d) { return d.key})
    .controlsUseVisibility(true)
    .legend(dc.legend().legendText(function (d) {return d.name + ':' + d.data;}));


function reduceAdd(p, v) {
  v.tags.forEach (function(val, idx) {
     p[val] = (p[val] || 0) + 1; //increment counts
  });
  return p;
}

function reduceRemove(p, v) {
  v.tags.forEach (function(val, idx) {
     p[val] = (p[val] || 0) - 1; //decrement counts
  });
  return p;
}

function reduceInitial() {
  return {};
}

var chainQuanlityRingChart  = dc.pieChart("#chart-chain-quantity"),
    tagsDimension  = ndx.dimension(function(d) {return d.tags});
var tagsGroup = tagsDimension.groupAll().reduce(reduceAdd, reduceRemove, reduceInitial).value();
// hack to make dc.js charts work
tagsGroup.all = function() {
  var newObject = [];
  for (var key in this) {
    if (this.hasOwnProperty(key) && key != "all") {
      newObject.push({
        key: key,
        value: this[key]
      });
    }
  }
  return newObject;
}

var mapNames = {
    lack: '到货缺货',
    defact: '次品',
    timeouted: '到货超时',
    overhead: '多到',
    wrong: '错货',
    unrecord: '未及时催货',
    close: '下单缺货',
    empty: '无异常',
    id: '预测单ID',
    supplier_name: '供应商',
    purchase_time: '采购日期',
    delivery_time: '发货日期',
    arrival_time: '到货日期',
    forecast_arrive_time: '预测到货日期',
    buyer_name: '买手',
    purchaser: '采购',
    purchase_num: '预测数量',
    lack_num: '缺货数量',
    relate_orders:'关联订货单'
};

chainQuanlityRingChart
  //.slicesCap(4)
  .innerRadius(30)
  .externalLabels(20)
  .externalRadiusPadding(50)
  .drawPaths(true)
  .dimension(tagsDimension)
  .group(tagsGroup)
  .label(function(d) { return mapNames[d.key] + ':' + d.value;})
  .legend(dc.legend().legendText(function (d) { return mapNames[d.name]+':'+d.data;}));

var dataTable = dc.dataTable("#chart-datatable"),
    dtDimension    = ndx.dimension(function(d) {return '' + d.forecast_inbound_id;}),
    dtGroupDimension = dtDimension.group(),
    rank = function (d) { return d.forecast_inbound_id };
dataTable
    .dimension(dtDimension)
    .group(rank)
    .showGroups(false)
    .columns([
        { label: mapNames['id'], format: function (d) { return d.forecast_inbound_id; }},
        { label: mapNames['supplier_name'], format: function (d) { return d.supplier_name; }},
        { label: mapNames['purchase_time'], format: function (d) { return d.purchase_time; }},
        { label: mapNames['delivery_time'], format: function (d) { return d.delivery_time; }},
        { label: mapNames['arrival_time'], format: function (d) { return d.arrival_time; }},
        { label: mapNames['forecast_arrive_time'], format: function (d) { return d.forecast_arrive_time; }},
        { label: mapNames['buyer_name'], format: function (d) { return d.buyer_name; }},
        { label: mapNames['purchaser'], format: function (d) { return d.purchaser; }},
        { label: mapNames['purchase_num'], format: function (d) { return d.purchase_num; }},
        { label: mapNames['lack_num'], format: function (d) { return d.lack_num; }},
        { label: mapNames['relate_orders'], format: function (d) { return d.relate_orders; }}
    ])
    .size(50)
    .sortBy(function (d) { return d.buyer_name; })
    .order(d3.descending);

/* chart
    .width(768)
    .height(480)
    .chart(function(c) { return dc.lineChart(c).interpolate('basis'); })
    .x(d3.scale.linear().domain([0,20]))
    .brushOn(false)
    .yAxisLabel("Measured Speed km/s")
    .xAxisLabel("Run")
    .clipPadding(10)
    .elasticY(true)
    .dimension(runDimension)
    .group(runGroup)
    .mouseZoomable(true)
    .seriesAccessor(function(d) {return "Expt: " + d.key[0];})
    .keyAccessor(function(d) {return +d.key[1];})
    .valueAccessor(function(d) {return +d.value - 500;})
    .legend(dc.legend().x(350).y(350).itemHeight(13).gap(5).horizontal(1).legendWidth(140).itemWidth(70));
chart.yAxis().tickFormat(function(d) {return d3.format(',d')(d+299500);});*/

dc.renderAll();
</script>
<script>
    function getLinkParam(url,name){
        var reg = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var r = url.substr(1).match(reg);
        if (r != null) return unescape(r[1]);
        return null;
    }

    function getUrlParam(name) {
        var local_link = window.location.href;
        return getLinkParam(local_link,name);
    }
    $(function(){
        $('input[name="daterange"]').daterangepicker(
        {
            locale: {
              format: 'YYYY-MM-DD'
            },
            startDate: '{{start_time}}',
            endDate: '{{end_time}}',
            ranges: {
               '今日': [moment(), moment()],
               '昨日': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
               '过去七天': [moment().subtract(6, 'days'), moment()],
               '过去一月': [moment().subtract(29, 'days'), moment()],
               '本月': [moment().startOf('month'), moment().endOf('month')],
               '上个月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        },
        function(start, end, label) {
            var path = window.location.pathname;
            var action = getUrlParam('action');
            window.location.href = path+'?action='+ action +'&start_time='+ start.format('YYYY-MM-DD 00:00:00') + '&end_time=' + end.format('YYYY-MM-DD 23:59:59');
        });
    })
</script>

</div>
</body>
</html>