<!DOCTYPE html>
<html>
<head>
<title>小鹿美美</title>
<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="email=no"/>
<meta id="viewport" name="viewport" />
<script src="../js/common.js"></script>
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/gouwuche.css">
<link rel="stylesheet" href="../css/queren-dd.css">
</head>
<body>
<div class="header">
  <h1>确认订单</h1>
  <a class="back" href="javascript:history.go(-1)"></a>
  <a class="user" href="gerenzhongxin.html"></a>
</div>

<ul id="js-addr" class="addr">
  <li>
    <div class="h2 label2">
      <div class="title">新增收货地址</div>
	  <a class="add" href="shouhuodz-add.html"><div style="width:100%;height:30px;"></div></a>
    </div>
  </li>
  <li>&nbsp</li>
  <script id="addr-template" type="text/html">
  <li class="{{ addr_class }}" name="select-addr">
    <p class="label3">{{ receiver_name }}&nbsp;{{ receiver_mobile }}</p>
    <p class="label4">{{ receiver_state }} - {{ receiver_city }} - {{ receiver_district }}-{{receiver_address}}</p>
    <a class="icon-edit" href="shouhuodz-edit.html?id={{ id }}"></a>
    <i class="icon-radio" addrid={{ id }}></i>
  </li>
  </script>
</ul>

<div class="cost">
  <h2>商品支付详情</h2>
  <div id="item-list" class="cart-list">
    <script id="form-template" type="text/html">
      <form id="pay-form" action="#" method="POST">
		<div class="item" >
		  <div class="gpic"><img src="{{ sku.product.pic_path }}"></div>
		  <div class="gname">{{ sku.product.name }}</div>
		  <div class="gprice">¥ <span class="item_price" id="itemprice_{{ sku.id }}">{{ sku.agent_price }}</span></div>
		  <div class="gsize">尺码：{{ sku.sku_name }}</div>
		  <div class="goprice"><s>¥{{ sku.std_sale_price }}</s></div>
		  <div class="gcount">
		    <div class="btn reduce" onclick="minus_shop({{ sku.id }})" name="btn-reduce"></div>
		    <div class="total">
		      <input type="number" name="num" readonly id="num_{{ sku.id }}" value="1">
		    </div>
		    <div class="btn plus" onclick="plus_shop({{ sku.id }})" name="btn-plus"></div>
		  </div>
		</div>
		<input type="hidden" name="uuid" value="{{uuid}}" />
		<input type="hidden" name="item_id" value="{{sku.product.id}}" />
		<input type="hidden" name="sku_id" value="{{sku.id}}" />
		<input type="hidden" name="payment" value="{{ total_payment }}" />
		<input type="hidden" name="post_fee" value="{{ post_fee }}" />
		<input type="hidden" name="agent_price" value="{{ sku.agent_price }}" />
		<input type="hidden" name="discount_fee" value="{{ discount_fee }}" />
		<input type="hidden" name="total_fee" value="{{ total_fee }}" />
      </form>
    </script>
  </div>
  <div>
    <p class="label1">商品总金额<span id="total_money">¥ 0</span></p>
    <p class="label2">小鹿美美运费<span>¥ 0</span></p>
  </div>
</div>

<div class="coupons">
    <div class="title">
        <div class="inner" id="coupon_nums"></div>
        <div class="coupon_value"><span id="coupon_value"></span></div>
    </div>
    <ul class="coupons-list">
	  <script id="coupon-template" type="text/html">
	  <li class="type5">
	      <p class="name">{{ coupon_title }}</p>
	      <p class="date">{{ receive_date }} - {{ deadline }}</p>
	      <i class="icon-radio icon-radio-select" couponid="{{ coupon_id }}"></i>
	  </li>
	  </script>
  </ul>
</div>


<div class="pay-type">
  <h2>支付方式</h2>
  <ul id="js-pay-type" class="pay-list">
<!--  	<li><i></i>货到付款（现金）</li>-->
  </ul>
</div>

<div class="buy">
  <p class="cou">优惠金额：<span>￥ 0</span></p>
  <p class="total">总金额：<span>￥ 0</span></p>
  <a class="btn-buy" name="btn-buy">购&nbsp;&nbsp;买</a>
</div>
<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="../js/pingpp_pay.js"></script>
<script src="../js/pingpp_ap.js"></script>
<script src="../js/tmpay.js"></script>
<script src="../js/tmyhquse.js"></script>
<script type="text/javascript">
(function($){
  //地址切换
  $(document).on({
  	touchend:change_address,
  	click:change_address
  },'#js-addr li');
  //支付方式切换
  $(document).on({
  	touchend:change_paytype,
  	click:change_paytype
  },'#js-pay-type li');
  //获取用户地址
  Set_user_address(GLConfig.get_user_address);
  //获取用户优惠券
  //Set_user_coupons(GLConfig.today_suffix);
  //获取购买信息
  var urlParams = window.location.href.split('?')[1];
  Set_user_orderinfo(GLConfig.get_now_payinfo_url+'?'+urlParams);
  
  //优惠券显示
  get_Coupon_On_Buy();
  
  $(document).on({click:Confirm_charge,touchend:Confirm_charge},'.buy .btn-buy');
    
})(jQuery);

function change_address(){
    $('#js-addr li.active').removeClass('active').addClass('normal');
    $(this).removeClass('normal').addClass('active');
};
function change_paytype(){
    $('#js-pay-type li.active').removeClass('active').addClass('normal');
    $(this).removeClass('normal').addClass('active');
};
function Confirm_charge(){
    Ctrl_sure_charge(GLConfig.get_buynow_url);
};

</script>
</body>
</html>
