<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="http://7xogkj.com1.z0.glb.clouddn.com/mall/mama/v1/notification.png?imageMogr2/strip/format/jpg/quality/100/interlace/1/thumbnail/16/">
    <title>运营数据统计</title>

    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="//cdn.bootcss.com/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/sortable/0.8.0/css/sortable-theme-bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/echarts/3.2.2/echarts.min.js"></script>
    <style type="text/css">
    body {
      padding-top: 60px;
    }
    .sub-header {
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }
    .nav-second-level {
      padding-left: 30px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">运营数据统计</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="#">每日一览</a></li> -->
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a href="{% url 'yy-index' %}">每日一览</a></li>
          <li>
            <a class="" data-toggle="collapse" href="#collapse1">用户分析</a>
            <ul class="nav nav-second-level collapse in" id="collapse1">
              <li> <a href="{% url 'yy-customer-list' %}">用户列表</a> </li>
              <li> <a href="{% url 'yy-customer-wallet' %}">用户钱包收支明细</a> </li>
              <!-- <li> <a href="{% url 'yy-customer-index' %}?start_date=2016-08-01">xxx</a> </li> -->
            </ul>
          </li>
          <li>
            <a class="" data-toggle="collapse" href="#collapseExample">小鹿妈妈</a>
            <ul class="nav nav-second-level collapse in" id="collapseExample">
              <li><a href="{% url 'yy-mama-new_mama' %}" style="color:red">一元妈妈传播率</a></li>
              <li> <a href="{% url 'yy-mama-new_task' %}?start_date=2016-08-01">妈妈新手任务</a> </li>
              <li> <a href="{% url 'yy-mama-show' %}">妈妈信息查询</a> </li>
              <li> <a href="{% url 'yy-mama-carry' %}">一元妈妈收益</a> </li>
              <li> <a href="{% url 'yy-mama-retain' %}">七日留存</a> </li>
              <li> <a href="{% url 'yy-mama-click' %}">点击统计</a> </li>
              <li> <a href="{% url 'yy-mama-coupon' %}">精品流通券</a> </li>
              <li> <a href="{% url 'yy-mama-coupon_rank' %}">精品流通券排行</a></li>
              <li> <a href="{% url 'yy-mama-rank' %}">排行榜<span class="label label-danger">New!</span></a> </li>
              <!-- <li> <a href="{% url 'yy-mama-score' %}">妈妈分数</a> </li> -->
            </ul>
          </li>
          <li>
            <a class="" data-toggle="collapse" href="#collapse2">商品分析</a>
            <ul class="nav nav-second-level collapse in" id="collapse2">
              <li><a href="{% url 'yy-product-index' %}">商品销量</a></li>
              <li><a href="{% url 'yy-product-salecategory' %}">商品类目销量</a></li>
              <li><a href="{% url 'yy-product-activity' %}">商品专题销量</a></li>
            </ul>
          </li>
          <li><a href="{% url 'yy-mama-tab' %}">SQL查询转图表</a></li>
          <li><a href="{% url 'yy-sql-index' %}">历史查询</a></li>
          <li><a href="{% url 'yy-database-index' %}">数据库</a></li>
        </ul>
      </div>
      <div class="col-md-10 main">
        {% block main %}
        {% endblock %}
      </div>
    </div>
  </div>

    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="//cdn.bootcss.com/sortable/0.8.0/js/sortable.min.js"></script>
    <!-- <script src="//vuejs.org.cn/js/vue.js"></script> -->
    <!-- <script src="//cdn.jsdelivr.net/vue.resource/1.0.2/vue-resource.min.js"></script> -->
    <!-- <script src="/static/js/houtai.js"></script> -->

    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-CN'
        });
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>