<div id="product_sku_layer" style="width:560px;heigth:650px;">
	<form id="product_sku_form" class="form-horizontal" method="POST" action="/" >
		<input id="id" name="id" type="hidden" value="{{ object.id }}" />
		<div class="control-group">
			<label class="control-label" for="name">属性编码:</label>
			<div class="controls">
				<input id="outer_id" name="outer_id" type="text" value="{{ object.outer_id }}"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="name">规格:</label>
			<div class="controls">
				<input id="properties_name" name="properties_name" type="text" value="{{ object.properties_name }}"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="purchase">对应采购属性:</label>
			<div class="controls">
				<input id="purchase_product_sku" name="purchase_product_sku" type="text" value="{{ object.purchase_product_sku.properties }}" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label"  for="collect">库存数:</label>
			<div class="controls">
				<input id="quanlity" name="quanlity" type="text" value="{{ object.quanlity }}"  />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label"  for="warn">警告库位:</label>
			<div class="controls">
				<input id="warn_num" name="warn_num" type="text" value="{{ object.warn_num }}"/>
				</div>
		</div>
		<div class="control-group">
			<label class="control-label"  for="remain">保留库存:</label>
			<div class="controls">
				<input id="remain_num" name="remain_num" type="text" value="{{ object.remain_num }}" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label"  for="syncstock">库存同步:</label>
			<div class="controls">
				<input id="sync_stock" name="sync_stock" type="checkbox" {% if object.sync_stock %}checked="yes"{% endif %} />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label"  for="outstock">缺货:</label>
			<div class="controls">
				<input id="out_stock" name="out_stock" type="checkbox" {% if object.out_stock %}checked="yes"{% endif %} />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label"  for="is_assign">库位警告:</label>
			<div class="controls">
				<input id="is_assign" name="is_assign" type="checkbox" {% if object.is_assign %}checked="yes"{% endif %} />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label"  for="status">属性状态:</label>
			<div class="controls">
				<select id="status" name="status">
					<option value="1" {% if object.status == 'normal'%}selected{% endif %}>已使用</option>
					<option value="0" {% if object.status == 'delete'%}selected{% endif %}>未使用</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">保存</button>
				<button type="cancle" class="btn">取消</button>
			</div>
		</div>
	</form>
</div>