<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap3.2.0.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css"/>
    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-1.8.13.min.js"></script>
    <script src='{{ STATIC_URL }}jquery/addons/jquery.form.js'></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-3.2.0.min.js"></script>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}script/highchar-script/highchart-common.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <title>上传九张图</title>
    <style>
        .file {
            position: relative;
            display: inline-block;
            background: #D0EEFF;
            border: 1px solid #99D3F5;
            border-radius: 4px;
            padding: 4px 12px;
            overflow: hidden;
            color: #1E88C7;
            text-decoration: none;
            text-indent: 0;
            line-height: 20px;
        }

        .file input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
        }

        .file:hover {
            background: #AADFFD;
            border-color: #78C3F3;
            color: #004974;
            text-decoration: none;
        }
    </style>
</head>
<body>

<div class="container">
    <h2 style="margin-top: 30px">上传九张图</h2>

    <div class="alert alert-warning" role="alert">如果要修改请点击＂回后台修改＂，并注意轮数</div>

    <h3 style="margin-bottom: 30px">
        <small>
            <a href="/m/adver_nine_pic/">今天</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-dashboard" aria-hidden="true">上传日期：<a
                    id="current_date">{{ date }}</a></span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/m/adver_nine_pic/?target_day={{ target_day_tomorow }}">Next Day</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-user" aria-hidden="true">当前用户：{{ auther }}　</span>
            <a href="/admin/xiaolumm/ninepicadver/?start_time__gte={{ date }}&start_time__lt={{ target_day_tomorow }}">回后台修改</a>
        </small>
    </h3>

    {% for nine in today_query %}
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-flag turns_num" aria-hidden="true">第{{ nine.turns_num }}轮</span>
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true">开始时间：{{ nine.start_time }}</span>
                    <span class="glyphicon glyphicon-user" aria-hidden="true">作者：{{ nine.auther }}　</span>
                    <span class="label label-info">标题：{{ nine.title }}</span>
                </h3>
            </div>
            <div class="panel-body">
                <p>文案：{{ nine.description }}</p>
                {% for pic in nine.pic_arry %}
                    <img src="{{ pic }}" style="width: 110px;height: 160px;margin-left: 8px"/>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <div class="panel panel-info" style="margin-bottom: 200px">
        <div class="panel-heading">
            <h3 class="panel-title">新建区域</h3>

            <div class="panel-body">
                <p style="color:red;">注意：标题可以为空,注意时间对应轮数的选择; 文案内容可以为空，建议填写方便用户分享；选择文件的时候请一次性选择对应类型的张数，否则将导致上传失败</p>
            </div>
        </div>
        <div class="panel-body">
            <div style="margin-top: 30px">
                <div class="input-group col-md-12">
                    <span class="input-group-addon">标题</span>
                    <input type="text" name="date_from" id="title_adv" class="form-control">
                    <span class="input-group-addon" id="date_from">开始时间</span>
                    <input type="text" name="date_from" id="start_ime" readonly="readonly"
                           class="form-control datepicker" value="{{ start_t }}"
                           aria-describedby="basic-addon1">
                </div>
                <div class="col-xs-6 panel panel-default" style="margin-top: 30px">
                    <div class="panel-heading">填写描述文案</div>
                    <div class="panel-body">
                        <textarea style="font-size: 10px" rows="7" cols="80" id="description"></textarea>
                    </div>
                </div>
                <div class="col-xs-2" style="margin-top: 30px">
                    <select name="ware_by" id="category_choices" class="file">
                        {% for k,v in category_choices %}
                            <option value="{{ k }}">{{ v }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2" style="margin-top: 30px">
                    <a id="uploadfile" class="file">选择文件
                        <input class="btn btn-info" type="file" name="poster" id="pickfiles">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- 获取qiniu uptoken -->
<input hidden="" id="domain" value="http://image.xiaolu.so/">
<input hidden="" id="uptoken_url" value="/mm/qiniu/?format=json">

<script type="text/javascript" src="//cdn.bootcss.com/plupload/2.1.7/plupload.full.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/plupload/2.1.7/i18n/zh_CN.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}script/ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}script/qiniu.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/upload_nine_pic.js"></script>
<script src="{{ STATIC_URL }}layer-v1.9.2/layer/layer.js"></script>
<script>
    $(document).ready(function () {
        $("#start_ime").timepicker({
            timeFormat: "HH:mm:ss"
        });
    });
</script>
</html>