<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>每日汇总表</title>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap3.2.0.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-1.8.13.min.js"></script>
    <script src='{{ STATIC_URL }}jquery/addons/jquery.form.js'></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-3.2.0.min.js"></script>
    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}fixed-header-table-master/jquery.fixedheadertable.min.js"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-json/jquery.json.js"></script>
    <script src="{{ STATIC_URL }}jquery-datatable-addon/jquery.dataTables.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}layer-v1.9.2/layer/layer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}layer-v1.9.2/layer/extend/layer.ext.js"></script>
    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";
        @import "{{ STATIC_URL }}fixed-header-table-master/css/defaultTheme.css";
    </style>
    <script src="{{ STATIC_URL }}Chart-js/Chart.min.js"></script>
</head>

<body class="container">
<div>
    <h3>每日汇总表</h3>
</div>
<div>
    <div class="input-group ">
        <span class="input-group-addon" id="date_from">开始时间</span>
        <input type="text" name="date_from" id="left_date_pic"
               class="form-control select_saletime  datepicker" placeholder=""
               aria-describedby="basic-addon1" value="{{ start_date }}">
        <span class="input-group-addon" id="date_to">结束时间</span>
        <input type="text" name="date_to" id="right_date_pic"
               class="form-control select_saletime  datepicker" placeholder=""
               aria-describedby="basic-addon2" value="{{ end_date }}">
            <span class="input-group-btn">
                <button class="btn btn-success" id="go_search" type="submit">Go!</button>
            </span>
    </div>
</div>

<div class="col-lg-12" style="margin-top: 30px" id="main_display">

</div>
<div class="col-lg-12">
    <canvas id="myChart_rate" width="1100" height="400"></canvas>
</div>

</body>

<script type="text/javascript">
    var count = 1;
    $(function () {
        $(".select_saletime").datepicker({
            dateFormat: "yy-mm-dd"
        });
    });
    function chartShow(X_axis, Y_axis1, Y_axis2) {
        $("#main_display").empty().append('<canvas id="myChart'+count.toString()+'" width="1100" height="200"></canvas>');
        var ctx = $("#myChart"+count.toString()).get(0).getContext("2d");
        count++;
        var data = {
            labels: X_axis,//日期数组
            datasets: [
                {
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(80%,10%,10%,1)",
                    pointStrokeColor: "#fff",
                    data: Y_axis1
                },

            ]
        };
        new Chart(ctx).Line(data);
    }

    $(document).ready(function () {
        var date_from = $("#left_date_pic").val();
        var date_to = $("#right_date_pic").val();
        if (date_from == '' || date_to == '') {
            layer.msg('时间不能为空');
            return
        }
        else {
            getRateData(date_from, date_to);
        }
        $("#go_search").click(function () {
            var date_from = $("#left_date_pic").val();
            var date_to = $("#right_date_pic").val();
            if (date_from == '' || date_to == '') {
                layer.msg('时间不能为空');
                return
            }
            else {
                getRateData(date_from, date_to);
            }
        });
    });

    function getRateData(t1, t2) {
        var task_url = '/sale/daystats/daily_hui/';
        var data = {"date_from": t1, "date_to": t2};
        $.ajax({
            url: task_url,
            data: data,
            type: "post",
            dataType: "json",
            success: taskCallBack
        });
        function taskCallBack(res) {
            console.log(res)
            var X_axis = []; // X_axis : 日期
            var Y_axis1 = [];
            $.each(res, function (i, rate) {
                X_axis.push(rate.sale_time);
                Y_axis1.push(rate.time_to_day);

            });
            chartShow(X_axis, Y_axis1);
        }
    }

</script>
</html>


