
{% load trade_tags %}
<div class="map-content" style="margin-left: auto; margin-right: auto; width: 800px">
	<div>
		<div class="order-head"><h3 class="head-title">退货单列表</h3></div>
		<div class="order-content">
			<table class="table table-bordered table-striped table-condensed">
				<thead>
					<th>序号</th><th style="width:200px;">标题</th><th>规格</th><th>数量</th><th>退款状态</th><th>已处理</th>
				</thead>
				<tbody>
					{% for order in refund_orders %}
					<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ order.title }}</td>
					<td>{{ order|refund_sku:'name' }}</td>
					<td>{{ order|refund_sku:'num' }}</td>
					<td>待卖家确认收货</td>
					<td>{% if order.is_reissue %}<img src="{{ STATIC_URL }}admin/img/icon-yes.gif" alt="yes">
					{% else %}<img src="{{ STATIC_URL }}admin/img/icon-no.gif" alt="no">{% endif %}</td>
					{% endfor %}
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div>
		<div class="product-head"><h3 class="head-title">退回商品列表</h3></div>
		<div class="product-content">
			<table class="table table-bordered table-stdiped table-condensed">
				<thead>
					<th>序号</th><th>标题</th><th>规格</th><th>数量</th><th>二次销售</th><th>已确认</th><th>备注</th>	
				</thead>
				<tbody>
					{% for prod in refund_products %}
					<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ prod.title }}</td>
					<td>{{ prod.property }}</td>
					<td>{{ prod.num }}</td>
					<td>{% if prod.can_reuse %}<img src="{{ STATIC_URL }}admin/img/icon-yes.gif" alt="yes">
					{% else %}<img src="{{ STATIC_URL }}admin/img/icon-no.gif" alt="no">{% endif %}</td>
					<td>{% if prod.is_finish %}<img src="{{ STATIC_URL }}admin/img/icon-yes.gif" alt="yes">
					{% else %}<img src="{{ STATIC_URL }}admin/img/icon-no.gif" alt="no">{% endif %}</td>
					<td>{{ prod.memo }}</td>
					{% endfor %}
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>