{% extends "items/base.html" %}

{% block title%} 产品管理界面 {% endblock %}

{% block navbar %}<div style="margin-top:30px"></div>{% endblock %}

{% block container %}
{% load item_extras %}
<div class='list_top'>
<div id="id-csrftoken">{% csrf_token %}</div>
<div class="pagination pagination-left " style="display:inline;">
    <ul>
    	{% if object.page > 1 %}<li class="disabled"><a href="{{ object.previous }}">上一页</a></li>{% endif %}
	    {% for i in object.pages|int_to_list %}
	    <li class="{% if object.page == forloop.counter %}active{% else %}disabled{% endif %}">
	    	<a href="/items/product/?page={{ forloop.counter }}&limit={{ object.per_page }}">{{ forloop.counter }}</a>
	    </li>
	    {% endfor %}
	    {% if object.page < object.pages  %}<li class="disabled"><a href="{{ object.next }}">下一页</a></li>{% endif %}
    </ul>
</div>
<div style="float:right;display:inline;margin-top:20px;"><a title="店铺库存设置"><i class="icon-list-alt"></i></a></div>
<div>
<table class="table table-bordered table-condensed" style="margin-bottom:0px;">
  <tr>
      <th style="width:10px;"><input type="checkbox" /></th>
      <th>序号</th>
      <th>商品编码</th>
      <th style="width:250px;">商品简称</th>
      <th>库存</th>
      <th>待发数</th>
      <th>警戒库位</th>
      <th>预留库位</th>
      <th>同步</th>
      <th>可拆分</th>
      <th>有匹配</th>
      <th style="width:75px;">操作</th>
  </tr>
  {% for prod in object.results %}
	<tr class="{% if prod.is_stock_warn %}{% if prod.is_assign %}label-info{% else %}label-important{% endif %}{% elif prod.is_warning %}label-warning{% endif %}">
	<td><input type="checkbox" pid="{{ prod.id }}" /></td>
	<td >{{ forloop.counter }}</td>
	<td class="click_title">{{ prod.outer_id }}<a onclick="return false;" class="rel_item" outer_id="{{ prod.outer_id }}" title="查看关联在线商品"><i class="icon-leaf"></a></td>
	<td >{{ prod.name }}</td>
	<td >{{ prod.collect_num }}</td>
	<td >{{ prod.wait_post_num }}</td>
	<td >{{ prod.warn_num }}</td>
	<td >{{ prod.remain_num }}</td>
	<td >
		{% if prod.sync_stock %}
		<img src="{{ STATIC_URL }}admin/img/icon-yes.gif" alt="yes">
		{% else %}
		<img src="{{ STATIC_URL }}admin/img/icon-no.gif" alt="no">
		{% endif %}
	</td>
	<td >
		{% if prod.is_split %}
		<img src="{{ STATIC_URL }}admin/img/icon-yes.gif" alt="yes">
		{% else %}
		<img src="{{ STATIC_URL }}admin/img/icon-no.gif" alt="no">
		{% endif %}
	</td>
	<td >
	{% if prod.is_match %}
		<img src="{{ STATIC_URL }}admin/img/icon-yes.gif" alt="yes">
		{% else %}
		<img src="{{ STATIC_URL }}admin/img/icon-no.gif" alt="no">
		{% endif %}
	</td>
	<td >
		<div style="margin:5px;">
			<a outer_id="{{ prod.outer_id.strip }}" class="product_modify" target="_blank" style="display:inline;float:left;" title="修改"><i class="icon-edit"></i></a>
			{% if prod.warn_num >= prod.collect_num and not prod.is_assign  %}<a  outer_id="{{ prod.outer_id.strip }}" outer_sku_id="{{ sku.outer_id.strip }}" class="stock_assign" style="display:inline;float:left;" title="库位警告，点击取消"><i class="icon-warning-sign"></i></a>{% endif %}
			{% if prod.warn_num < prod.collect_num  %}<a outer_id="{{ prod.outer_id.strip }}" class="sync-stock" style="display:inline;float:left;" title="同步在线库存"><i class="icon-refresh"></i></a>{% endif %}
			{% if prod.purchase_product  %}<a  purchase_id="{{ prod.purchase_product.id }}"  class="rel_purchase" style="display:inline;float:left;" title="查看关联采购商品"><i class="icon-info-sign"></i></a>{% endif %}
			<a outer_id="{{ prod.outer_id.strip }}" class="del_prod"  style="display:inline;float:right;" title="删除"><i class="icon-remove"></i></a>	
		</div>
	</td>
	</tr>
  {% endfor %}
  </table>
  <div class="table-footer">
  	<form action="/items/product/" method="POST">
  		<div class="pagination pagination-left bottom-paginate" >
		    <ul>
		    	{% if object.page > 1 %}<li class="disabled"><a href="{{ object.previous }}">上一页</a></li>{% endif %}
			    {% for i in object.pages|int_to_list %}
			    <li class="{% if object.page == forloop.counter %}active{% else %}disabled{% endif %}">
			    	<a href="/items/product/?page={{ forloop.counter }}&limit={{ object.per_page }}">{{ forloop.counter }}</a>
			    </li>
			    {% endfor %}
			    {% if object.page < object.pages  %}<li class="disabled"><a href="{{ object.next }}">下一页</a></li>{% endif %}
		    </ul>
		    <div >
		    	<label >每页</label>
		    	<select class="selection">
		    		<option value="50"  {% if limit == 50 %}selected{% endif %}>50</option>
		    		<option value="100" {% if limit == 100 %}selected{% endif %}>100</option>
		    		<option value="200" {% if limit == 200 %}selected{% endif %}>200</option>
		    	</select>
		    	<label class="element-inline">条,已选<span>50</span>条</label>
		    </div>
		</div>
		<div class="bottom-action">
	  		<ul>
	  			<li><label>预留库存：</label><input type="text" size="3"/></li>
	  			<li><label>可同步：</label>
	  				<select class="selection">
	  				<option value="0" selected >--</option>
	  				<option value="1">是</option>
	  				<option value="2">否</option>
	  				</select>
	  			</li>
	  			<li><input type="submit" class="btn btn-small btn-primary" value="确定" /></li>
	  		</ul>
  		</div>
 	 </form>
  </div>
</div>
<div id="prompt-dialog" class="prompt-dialog" >
	<input id="id_stock_num" type="text" style="width:40px;" />
	<input type="radio" class="radio-mode" name="update_mode" value="1" checked/>全量
	<input type="radio" class="radio-mode" name="update_mode" value="0" />增量
	<button id="prompt_submit" class="btn btn-mini btn-primary">确定<button>
</div>
<div class="footer"></div>
</div>
{% endblock %}

{% block delayed_script %}
  <script type="text/javascript"> 
	 new product.Manager();
  </script>
{% endblock %}

