<div class='list_top' style="width:800px;">
<div class="left-field">
	<fieldset>
		<legend>产品信息</legend>
		<form id="id_product_form" action="" >
			<div id="id-csrftoken">{% csrf_token %}</div>
			<div>
				<div class="sample-item">
					<label class="" for="name">商家编码:</label>
					<input id="outer_id" name="outer_id" type="text" value="{{ object.outer_id }}" disabled="disabled"/>
				</div>
				<div class="sample-item">
					<label class="" for="name">商品简称:</label>
					<input id="name" name="name" type="text" value="{{ object.name }}" />
				</div>
				<div class="sample-item">
					<label class=""  for="category">内部分类:</label>
					<input id="category" name="category" type="text" disabled="disabled" value="{{ object.category.name }}" />
				</div>
			</div>
			<div>
				<div class="sample-item">
					<label class=""  for="collect">库存数量:</label>
					<input id="collect_num" name="collect_num" sku_id="" class="stock-modify" type="text" value="{{ object.collect_num }}" {% if object.pskus %}disabled="disabled"{% endif %} />
				</div>
				<div class="sample-item">
					<label class=""  for="remain">预留库位:</label>
					<input id="remain_num" name="remain_num" type="text" value="{{ object.remain_num }}" {% if object.pskus %}disabled="disabled"{% endif %}/>
				</div>
			</div>
			<div>
			<div class="sample-item">
				<label class=""  for="syncstock">库存同步:</label>
				<input id="sync_stock" name="sync_stock" type="checkbox" {% if object.sync_stock %}checked="yes"{% endif %} />
			</div>
			<div class="sample-item">
				<label class=""  for="outstock">商品拆分:</label>
				<input id="is_split" name="is_split" type="checkbox" {% if object.is_split %}checked="yes"{% endif %} />
			</div>
			<div class="sample-item">
				<label class=""  for="outstock">商品匹配:</label>
				<input id="is_match" name="is_match" type="checkbox" {% if object.is_match %}checked="yes"{% endif %} />
			</div>
			<div class="sample-item">
				<label class=""  for="assign">警告解除:</label>
				<input id="is_assign" name="is_assign" type="checkbox" {% if object.is_assign %}checked="yes"{% endif %} />
			</div>
			</div>
		</form>
	</fieldset>
</div>
<div class="right-field" >
	<fieldset>
		<legend>产品销售属性列表</legend>
		{% if object.skus %}
		<table class="table table-bordered table-condensed">
			<thead>
		 	 	<th style="width:10px;"><input type="checkbox" /></th>
		 	 	<th>销售编码</th>
		 	 	<th style="width:240px;">属性名</th>
		 	 	<th >库存数量</th>
		 	 	<th >警告库位</th>
		 	 	<th >保留库位</th>
		 	 	<th >同步</th>
		 	 	<th >拆分</th>
		 	 	<th >匹配</th>
		 	 	<th >状态</th>
		 	 	<th>操作</th>
			</thead>
			{% for sku in object.skus %}
			<tr class="{% if sku.is_stock_warn %}{% if sku.is_assign %}label-info{% else %}label-important{% endif %}{% elif sku.is_warning %}label-warning{% endif %}">
			<td><input type="checkbox" pid="{{ sku.id }}" /></td>
			<td>{{ sku.outer_id }}</td>
			<td >{% if sku.properties_alias %}{{ sku.properties_alias }}{% else %}{{ sku.properties_name }}{% endif %}</td>
			<td><input type="text" sku_id="{{ sku.id }}" class="stock-modify" value="{{ sku.quantity }}" /></td>
			<td>{{ sku.warn_num }}</td>
			<td><input type="text" value="{{ sku.remain_num }}" /></td>
			<td><input type="checkbox" id="id_sync_stock"  {% if sku.sync_stock %}checked="yes"{% endif %} onclick= "return false" /></td>
			<td><input type="checkbox" id="id_is_split" " {% if sku.is_split %}checked="yes"{% endif %} onclick= "return false" /></td>
			<td><input type="checkbox" id="id_is_match"  {% if sku.is_match %}checked="yes"{% endif %} onclick= "return false" /></td>
			<td >{% if sku.status == 'normal' %}<a class="badge badge-success" style="display:block;"><i class="icon-ok"></i>在售</a>
  				{% elif sku.status == 'remain' %}<a class="badge badge-info" style="display:block;"><i class="icon-move"></i>待用</a>
  				{% else %}<a class="badge" style="display:block;"><i class="icon-remove"></i>作废</a>{% endif %}</td>
			<td><a prod_sku_id="{{ sku.id }}" class="update_sku"  title="修改"><i class="icon-edit"></i></a></td>
			</tr>	
			{% endfor %}
		<table>
		{% else %}
		<div>该产品没设置销售属性！ </div>
		{% endif %}
	</fieldset>
</div>
</div>

