{% extends "trades/base.html" %}

{% block title%} 订单淘宝同步发货 {% endblock %}

{% block navbar %}<div style="margin-top:0px"></div>{% endblock %}

{% block container %}
<div class='list_top' style='width:800px;'>
	<div>
		<div>
			<button e_id="post-status" class="fold">收起</button>
		</div>
		<div id="post-status" style="display:block;">
		  <fieldset>
		  	<legend>发货订单状态（共{{ trades|length }}单,批次编号：{{ post_no }}）</legend>
			  <table class="table table-bordered table-striped table-condensed">
			    <tr>
			      <th>订单ID</th><th>淘宝订单编号</th><th>店铺名称</th><th>买家昵称</th><th>快递名称</th><th>快递单号</th><th>发货状态</th>
			    </tr>
			    <tr><td colspan="7">发货失败的订单</td></tr>
			    {% for trade in trades %}
			    {% if not trade.is_success %}
			    <tr>
			    	<td>{{ trade.id }}</td>
					<td>{{ trade.tid }}</td>
					<td>{{ trade.seller_nick }}</td>
			    	<td>{{ trade.buyer_nick }}</td>
			    	<td>{{ trade.company_name }}</td>
			    	<td>{{ trade.out_sid }}</td>
			    	<td><img src="{{ STATIC_URL }}admin/img/icon-no.gif" alt="no"></td>
			    </tr>
			    {% endif %}
			    {% endfor %}
			    <tr><td colspan="7">发货成功的订单</td></tr>
			    {% for trade in trades %}
			    {% if trade.is_success %}
			    <tr>
			    	<td>{{ trade.id }}</td>
					<td>{{ trade.tid }}</td>
					<td>{{ trade.seller_nick }}</td>
			    	<td>{{ trade.buyer_nick }}</td>
			    	<td>{{ trade.company_name }}</td>
			    	<td>{{ trade.out_sid }}</td>
			    	<td><img src="{{ STATIC_URL }}admin/img/icon-yes.gif" alt="yes"></td>
			    </tr>
			    {% endif %}
			    {% endfor %}
			  </table>
		  </fieldset>
		</div>
	</div>
	<div>
		<div>
			<button e_id="post-items" class="fold">收起</button>
		</div>
		<div id="post-items" style="display:block;">
		  <fieldset>
		  	<legend>发货商品列表（批次编号：{{ post_no }}）</legend>
			  <table class="table table-bordered table-striped table-condensed">
			    <tr>
			      <th>商品码</th><th style="width:200px;">商品名称</th><th>总数量</th><th>规格码</th><th>规格名</th><th>库位</th><th>数量</th>
			    </tr>
			    {% for trade in trade_items %}
				    {% with trade.1.skus|length as sku_len %}
				    {% if sku_len > 0 %}
					    {% for sku_id,sku in trade.1.skus %}
					    <tr>
					    	{% if forloop.first %}
					    	<td rowspan="{{ sku_len }}">{{ trade.0 }}</td>
					    	<td rowspan="{{ sku_len }}">{{ trade.1.title }}</td>
					    	<td rowspan="{{ sku_len }}">{{ trade.1.num }}</td>
							{% endif %}
							<td >{{ sku_id }}</td>
							<td >{{ sku.sku_name }}</td>
							<td >{{ sku.location }}</td>
							<td >{{ sku.num }}</td>
					    </tr>
					    {% endfor %}
				    {% else %}
				    	<tr>
					    	<td >{{ trade.0 }}</td>
					    	<td >{{ trade.1.title }}</td>
					    	<td >{{ trade.1.num }}</td>
							<td >-</td>
							<td >{{ trade.1.location }}</td>
							<td >-</td>
						</tr>
				    {% endif %}
				    {% endwith %}
			    {% endfor %}
			  </table>
		  </fieldset>
		</div>
	</div>
</div>

{% endblock %}

{% block delayed_script %}
  <script type="text/javascript">
      $(".fold").click(show_hide);
  </script>
{% endblock %}
