<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://cdn.bootcss.com/fullPage.js/2.5.2/vendors/jquery.easings.min.js"></script>

  <link rel="stylesheet" href="{{ STATIC_URL }}style/main.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}style/style_other.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}style/animation.css">

  <title>小鹿美美-外卖原单正品热卖</title>
</head>
<body>

  <!-- 头图 -->
  <div id="header"><img src="{{ STATIC_URL }}images/title.png"/></div>

  <!-- 导航 -->
  <div id="tab_nav">
    <div class="block">
      <a id="for_boy">童装</a>
      <a id="for_all" class="active">全部</a>
      <a id="for_girl">女装</a>
    </div>
  </div>

  <!-- 商品列表 -->
  <div id="p_list">
  {% for product in results %}
    <div class="holder">
      <a id="p{{ product.id }}" class="wrapper {% if product.category == 5 %}boy{% else %}girl{% endif %}" href="../p/{{ product.id }}/" target="_top">
      <div class="image" style="height:240px">
      <img src="{{ product.pic_path }}"><span>已抢光</span></div>
      <div class="name">{{ product.name }}</div>
      <div class="price">￥<span>{{ product.agent_price }}</span></div>
      <div class="price_o">￥<span>{{ product.std_sale_price }}</span>&nbsp;</div>
      </a>
    </div>
    {% endfor %}
  </div>
  
  <div id="no_more" next="{% if next %}{{ next }}&format=json{% endif %}">努力加载中...</div>

  <nav id="main-nav" class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
	  <ul class="nav nav-pills nav-justified">
		  <li role="presentation" ><a href="{% url sale_home %}" class="col-xs-6" target="_self">今日上新</a></li>
		  <li role="presentation" ><a href="{% url user_profile %}" class="col-xs-6" target="_self">个人中心</a></li>
	  </ul>
  </div>
  </nav>
<script>
  var from_top = 75;
  var page_height = 1000;
  
  $(document).ready(function(){
    $('.ui-loader').remove();
	var width = $('#p_list').width()/2-8;

    $.each($('.holder .image'),function(index,entry){
    	$(entry).css('height',width);
    })
    
    $(document).on('scroll touchmove',function(){
      var h = $('body').scrollTop();

      if ( h >= from_top){
        $('#tab_nav').addClass('blocked');
        if (!$('#no_more').hasClass('loading')){
        	Ctrl_list_write();
        	from_top += page_height;
        } 
      }
      else{
        $('#tab_nav').removeClass('blocked');
      }

      if ((from_top > page_height && from_top - page_height> h)|| h < $(window).height()){
      	$('#main-nav').show();
      }else{
      	$('#main-nav').hide();
      }
      
    });

    //若采用页面内筛选的形式,则可以用以下绑定来完成筛选
    $('#tab_nav').on('tap','.block a:not(.active)',function(){
      $('#tab_nav .block a').removeClass('active');
      $(this).addClass('active');
      var id = $(this).attr('id');
      $('#p_list .holder').show();
      if (id == 'for_boy'){
        $('#p_list .holder .wrapper.boy').closest('.holder').show();
        $('#p_list .holder .wrapper.girl').closest('.holder').hide();
      }
      if (id == 'for_girl'){
        $('#p_list .holder .wrapper.boy').closest('.holder').hide();
        $('#p_list .holder .wrapper.girl').closest('.holder').show();
      }
    });

    //Ctrl_list_write();//列表写入
  });


  //商品列表信息引入，使用JSON文件引入数据
  function Ctrl_list_write(){
  
    $('#no_more').addClass('loading');
	var list_url = $('#no_more').attr('next');
	if (!list_url){return;}
	
    //实际JSON引入部分，可根据实际情况调整
    $.getJSON(list_url,function(data){
      
      $.each(data.results,function(index,entry){
        View_list_wrapper_write(entry);
      });
      console.log('next:',data.next);
      if( data.next != ''||data.next != 'undifine' ){
      	$('#no_more').attr('next',data.next).html('努力加载中...');
      };
      
      if( data.next == '' && data.next == 'undifine' ){
      	$('#no_more').attr('next','').html('没有更多了');
      };
      $('#no_more').removeClass('loading');
    });
  }
  
  //列表中单个商品写入 object中包含商品的相关信息进行替换
  function View_list_wrapper_write(object){
    var id = object.id;//商品ID，可用以跳转到对应页面
    var name = object.name;//商品名/简介
    var href = '../p/'+ object.id +'/';//商品对应页面的链接
    var type = object.category==5?'boy':'girl';//分类：boy/girl
    var src = object.pic_path;//图片路径
    var price = object.agent_price;//售价
    var price_o = object.std_sale_price;//原价
    var price_change = parseInt(Math.random()*2)==1?true:false;//是否有降价
    var sold_out = parseInt(Math.random()*3)==1?true:false;//是否已售完

    var width = $('#p_list').width()/2-8;

    var ht = '';
    ht += '<div class="holder">';
    ht += '<a id="' + id + '" class="wrapper ' + type;
    if (sold_out){ht += ' soldout'};
    ht += '" href="'+href+'" target="_top">';
    ht += '<div class="image" style="height:'+width+'px">';
    ht += '<img src="' + src + '"/>';
    ht += '<span>已抢光</span>';
    ht += '</div>';
    ht += '<div class="name">' + name + '</div>';
    ht += '<div class="price">￥<span>' + price + '</span></div>';
    ht += '<div class="price_o" ';
    if (!price_change){ht += 'style="display:none"'};
    ht += '>￥<span>' + price_o + '</span>&nbsp;</div>';
    ht += '</a>';
    ht += '</div>';
    $('#p_list').append(ht);
  }

</script>
</body>
</html>