
.modal-dialog {
  background: #c1d9ff;
  border: 1px solid #3a5774;
  color: #000;
  padding: 4px;
  position: absolute;
}
/*
.modal-dialog[style] {
  left:324px !important;
  top:252px !important;
}*/


.modal-dialog a,
.modal-dialog a:link,
.modal-dialog a:visited  {
  color: #06c;
  cursor: pointer;
}

.modal-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
}

.modal-dialog-title {
  background: #e0edfe;
  color: #000;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;

  /* Add padding on the right to ensure the close button has room. */
  padding: 8px 31px 8px 8px;

  position: relative;
  _zoom: 1; /* Ensures proper width in IE6 RTL. */
}

.modal-dialog-title-close {
  /* Client apps may override the URL at which they serve the sprite. */
  background: #e0edfe url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -528px 0;
  cursor: default;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 15px;
  vertical-align: middle;
}

.modal-dialog-buttons,
.modal-dialog-content {
  background-color: #fff;
  padding: 8px;
}

.goog-buttonset-default {
  font-weight: bold;
  font-size: 12px;
  margin-left: 10px;
}

.trade_memo {
  width:96%;
  height:100px;
  background-color:rgba(246, 167,222, 0.8);
}

.memo_label {
  margin-right:10px; 
  display: inline-block; 
}

.buyer_message_label,.seller_message_label{
  display: inline-block; 
  padding: 8px 35px 8px 14px;
  margin-bottom: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.icon-tags, .icon-time {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

