<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>商品退货统计</title>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap3.2.0.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-1.8.13.min.js"></script>
    <script src='{{ STATIC_URL }}jquery/addons/jquery.form.js'></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-3.2.0.min.js"></script>
    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}fixed-header-table-master/jquery.fixedheadertable.min.js"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-json/jquery.json.js"></script>
    <script src="{{ STATIC_URL }}jquery-datatable-addon/jquery.dataTables.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}layer-v1.9.2/layer/layer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}layer-v1.9.2/layer/extend/layer.ext.js"></script>
    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";
        @import "{{ STATIC_URL }}fixed-header-table-master/css/defaultTheme.css";
    </style>
    <script src="{{ STATIC_URL }}Chart-js/Chart.min.js"></script>
</head>

<body class="container">
<div>
    <h3>退货统计</h3>
</div>
<div>
    <div class="input-group ">
        <span class="input-group-addon" id="date_from">开始时间</span>
        <input type="text" name="date_from" id="left_date_pic"
               class="form-control select_saletime  datepicker" placeholder=""
               value="2015-8-1"
               aria-describedby="basic-addon1">

        <span class="input-group-addon" id="date_to">后置天数</span>
        <input type="number" name="date_to" id="right_date_pic"
               class="form-control select_saletime  datepicker" placeholder="" value="5"
               aria-describedby="basic-addon2">
            <span class="input-group-btn">
                <button class="btn btn-default" id="go_search" type="submit">Go!</button>
            </span>
    </div>
</div>

<div>
    <canvas id="myChart" width="1200" height="200"></canvas>
</div>
<div>
    <canvas id="myChart_rate" width="1200" height="400"></canvas>
</div>

<div style="margin-top: 30px">
    <span id="task_id" style="display: none">{{ task_id }}</span>
    <table class="table table-bordered" id="mytable">
        <thead>
        <tr>
            <th>日期</th>
            <th>退款数</th>
            <th>付款数</th>
            <th>退款率</th>
        </tr>
        </thead>
        <tbody id="pro_info_tr">
        </tbody>
    </table>
</div>
</body>

<script type="text/javascript">
    $(function () {
        $("#left_date_pic").datepicker({
            dateFormat: "yy-mm-dd"
        });
        //$("#right_date_pic").datepicker({
        //  dateFormat: "yy-mm-dd"
        //});
    });
</script>
<script type="text/javascript">
    function reversArray(arr) {
        var x = [];
        $.each(arr, function (i, re) {
            x[i] = arr.pop();
        });
        return x
    }

    function chartShow(X_axis, Y_axis1, Y_axis2, Y_axis3) {
        // X_axis : 日期
        // Y_axis1　: 退款率
        // Y_axis2　: 退款数
        // Y_axis3　: 付款数
        X_axis= reversArray(X_axis);
        Y_axis1= reversArray(Y_axis1);
        Y_axis2= reversArray(Y_axis2);
        Y_axis3= reversArray(Y_axis3);

        var ctx = $("#myChart").get(0).getContext("2d");
        var ctx_rate = $("#myChart_rate").get(0).getContext('2d');
        var data = {
            labels: X_axis,//日期数组
            datasets: [
                {
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(80%,10%,10%,1)",
                    pointStrokeColor: "#fff",
                    data: Y_axis1//退款数数组
                },
                {
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    data: Y_axis2//付款数数组
                }
            ]
        };
        var rate_data = {
            labels: X_axis,//日期数组
            datasets: [
                {
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(80%,10%,10%,1)",
                    pointColor: "rgba(255,255,100,1)",
                    pointStrokeColor: "#fff",
                    data: Y_axis3//退款率数组
                }
            ]
        };
        new Chart(ctx).Line(data);
        new Chart(ctx_rate).Line(rate_data);
    }
    var X_axis = []; // X_axis : 日期
    var Y_axis1 = []; // Y_axis1　: 退款率
    var Y_axis2 = []; // Y_axis2　: 退款数
    var Y_axis3 = []; // Y_axis3　: 付款数

    $(document).ready(function () {
        $("#go_search").click(function () {
            var time_from = $("#left_date_pic").val();
            var days = $("#right_date_pic").val();


            if (time_from == '' || days == '') {
                layer.msg('时间不能为空');
                return
            }
            else {//片取时间　
                var dateArray = dateSegSplit(time_from);
                var sdArray = dateToStr(dateArray);
                getTskID(sdArray);
            }
        });
        // 访问任务
        // aj_task();
        //生成退货单
    });

    function dateToStr(dateArray) {
        var dsArray = new Array();
        for (var i = 0; i < dateArray.length; i++) {
            console.log(dateArray[i]);
            var date_str = String(dateArray[i].getFullYear()) + '-' + String(dateArray[i].getMonth() + 1) + '-' + String(dateArray[i].getDate());
            dsArray.push(date_str);
        }
        return dsArray
    }

    <!-- 获取taskid -->
    function getTskID(sdArray) {
        console.log("sdArray:", sdArray);
        var date = sdArray.pop();
        var task_url = '/refunds/refund_ana/';
        var data = {"date": date};
        console.log("data:", data);
        $.ajax({
            url: task_url,
            data: data,
            type: "get",
            dataType: "json",
            success: taskCallBack
        });
        function taskCallBack(res) {
            if (date != null) {
                aj_task(res.task_id, sdArray);
            }
            else {
                dataTbleFnc();// 所有数据获取完成　调用 datatable
                chartShow(X_axis, Y_axis1, Y_axis2, Y_axis3);// 调用图标处理
            }
        }
    }


    function dateSegSplit(strf) {
        var fyear_s = parseInt(strf.split('-')[0]);
        var fmonth_s = parseInt(strf.split('-')[1]) - 1;// 月份0-11
        var fday_s = parseInt(strf.split('-')[2]);
        var date_from = new Date();
        date_from.setFullYear(fyear_s, fmonth_s, fday_s);
        var dateArray = new Array();
        var i = 0;
        var days = parseInt($("#right_date_pic").val());
        while (i < days) {//比较日期
            dateArray.push(date_from);//加入数组
            var plusDate = date_from.setDate(date_from.getDate() + 1);//加一天
            date_from = new Date(plusDate);//转化为日期
            i++;
        }
        return dateArray
    }


    <!--字符串format函数-->
    String.format = function () {
        if (arguments.length == 0)
            return null;
        var str = arguments[0];
        for (var i = 1; i < arguments.length; i++) {
            var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
            str = str.replace(re, arguments[i]);
        }
        return str;
    };

    <!--访问任务，生成退货统计数据-->
    function aj_task(task_id, sdtArray) {
        var task_url = "/djcelery/" + task_id + "/status";
        $.ajax({
            url: task_url,
            data: {},
            type: "get",
            dataType: "json",
            success: taskCallBack
        });
        function taskCallBack(res) {
            console.log(res.task.status);
            if (res.task.status == "PENDING") {
                console.log("稍等3秒再检查");
                setTimeout(function () {
                    aj_task(task_id, sdtArray);
                }, 3000);
            }
            else if (res.task.status == "SUCCESS") {
                // 调用第二个数组日期

                console.log(res.task.result);
                var ref_res = res.task.result;
                console.log("ref_res:-->", ref_res);
                var ref = ref_res[0];

                var html = '<tr>' +
                        '<td>{0}</td>' +
                        '<td>{1}</td>' +
                        '<td>{2}</td>' +
                        '<td>{3}</td>' +
                        '</tr>';
                var format_html = String.format(html,
                        ref.dat,
                        ref.ref_num,
                        ref.pay_num,
                        ref.ref_rate
                );
                X_axis.push(ref.dat);
                Y_axis1.push(ref.ref_num);
                Y_axis2.push(ref.pay_num);
                Y_axis3.push(ref.ref_rate);

                $("#pro_info_tr").append(format_html);
                getTskID(sdtArray);
            }
        }
    }
    function dataTbleFnc() {
        $('#mytable').dataTable({
            //"bJQueryUI": true,
            "bAutoWidth": false, //自适应宽度
            "aaSorting": [[0, "asc"]],
            "iDisplayLength": 50,
            "aLengthMenu": [[20, 50, -1], [20, 50, "All"]],
            "bInfo": true,
            "sPaginationType": "full_numbers",
            //"sDom": '<"H"Tfr>t<"F"ip>',
            "oLanguage": {
                "sLengthMenu": "_MENU_ 条",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条",
                "sInfoEmpty": "没有数据",
                "sSearch": "搜索",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                },
                "sZeroRecords": "没有检索到数据",
                "sProcessing": "<img src='/static/img/loading.gif' />"
            }
        });
    }
</script>

</html>


