<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>商品退货统计</title>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap3.2.0.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-1.8.13.min.js"></script>
    <script src='{{ STATIC_URL }}jquery/addons/jquery.form.js'></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-3.2.0.min.js"></script>
    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}fixed-header-table-master/jquery.fixedheadertable.min.js"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-json/jquery.json.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}layer-v1.9.2/layer/layer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}layer-v1.9.2/layer/extend/layer.ext.js"></script>

    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/highcharts/4.1.9/modules/exporting.js"></script>
</head>

<body class="container">
<div>
    <h3>退款率图表</h3>
</div>
<div>
    <div class="input-group ">
        <span class="input-group-addon" id="date_from">开始时间</span>
        <input type="text" name="date_from" id="left_date_pic"
               class="form-control select_saletime  datepicker" placeholder="" value="{{ time_from }}"
               aria-describedby="basic-addon1">
        <span class="input-group-addon" id="date_to">结束时间</span>
        <input type="text" name="date_to" id="right_date_pic"
               class="form-control select_saletime  datepicker" placeholder="" value="{{ time_to }}"
               aria-describedby="basic-addon2">
            <span class="input-group-btn">
                <button class="btn btn-success" id="go_search" type="submit">Go!</button>
            </span>
    </div>
</div>

<div class="col-lg-12" id="div_myChart" style="margin-top: 30px">
    <div id="hight_all" style="min-width:900px;height:400px"></div>
</div>
<div class="col-lg-12" id="div_myChart_rate">
    <div id="hight_rate_ana" style="min-width:900px;height:400px"></div>
</div>

<div style="margin-top: 30px;margin-bottom: 40px">
    <h4>数量记录</h4>

    <div id="hight_hour" style="min-width:900px;height:400px"></div>
</div>

<div class="col-lg-12" id="div_refund_rcord_rate" style="margin-top: 40px; margin-bottom: 100px">
    <div id="hight_hour_rate" style="min-width:900px;height:400px"></div>
</div>


</body>

<script type="text/javascript">
    $(function () {
        $(".select_saletime").datepicker({
            dateFormat: "yy-mm-dd"
        });
    });

    function highChar(dom, X_axis, Title, series) {
        // X_axis = [1,2,3] x坐标轴
        // Title = {"xtitle": "str123", "xsub_title": "sub 123", "ytitle": "ytitle"}
        // http://www.hcharts.cn/test/index.php?from=demo&p=10  文档
        $(dom).highcharts({
            title: {
                text: Title.xtitle,
                x: -20 //center
            },
            subtitle: {
                text: Title.xsub_title,
                x: -20
            },
            xAxis: {
                categories: X_axis
            },
            yAxis: {
                title: {
                    text: Title.ytitle
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ''
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: series
        });
    }

    $(document).ready(function () {
        // 默认加载　渲染的时间
        var date_from = $("#left_date_pic").val();
        var date_to = $("#right_date_pic").val();
        getRateData(date_from, date_to);
        getRcordData(date_from, date_to);
        $("#go_search").click(function () {
            var date_from = $("#left_date_pic").val();
            var date_to = $("#right_date_pic").val();

            if (date_from == '' || date_to == '') {
                layer.msg('时间不能为空');
                return
            }
            else {
                getRateData(date_from, date_to);
                getRcordData(date_from, date_to);
            }
        });
    });

    <!-- 获取退款率数据 -->
    function getRateData(t1, t2) {
        var task_url = '/refunds/ref_rate/';
        var data = {"date_from": t1, "date_to": t2};
        $.ajax({
            url: task_url,
            data: data,
            type: "post",
            dataType: "json",
            success: taskCallBack
        });
        function taskCallBack(res) {
            var X_axis = []; // X_axis : 日期
            var Y_axis1 = []; //退款数数组
            var Y_axis2 = []; //付款数数组
            var Y_axis3 = []; //退款率数组  回归方程的纵轴

            $.each(res, function (i, rate) {
                X_axis.push(rate.date_cal);
                Y_axis1.push(rate.ref_num);
                Y_axis2.push(rate.pay_num);
                Y_axis3.push(rate.ref_rate);
            });
            console.log('数组长度:', Y_axis3.length);
            // 回归分析
            var X_array = new Array();
            for (var i = 0; i < X_axis.length; i++) {
                X_array.push(i);
            }
            var LineArray = LineXy(X_array, Y_axis3);
            console.log(LineArray );
            var series_all = [{
                name: '退款数',
                data: Y_axis1
            }, {
                name: '付款数',
                data: Y_axis2
            }];
            var series_nan = [{
                name: '退款率',
                data: Y_axis3
            }
                //, {    不显示
                //name: '线性回归',
                //data: LineArray
           // }

            ];
            var dom_all = $("#hight_all");
            var dom_ana = $("#hight_rate_ana");
            var Titleall = {"xtitle": "退款趋势图", "xsub_title": "订单退款数量趋势图信息", "ytitle": "件数"};
            var Titl_nan = {"xtitle": "退款率趋势图", "xsub_title": "订单退款率趋势图信息", "ytitle": "件数"};
            highChar(dom_all, X_axis, Titleall, series_all);
            highChar(dom_ana, X_axis, Titl_nan, series_nan);
        }
    }

    <!-- 获取退款记录表中数据 -->
    function getRcordData(t1, t2) {
        var task_url = '/refunds/ref_rcord/';
        var data = {"date_from": t1, "date_to": t2};
        $.ajax({
            url: task_url,
            data: data,
            type: "post",
            dataType: "json",
            success: taskCallBack
        });
        function taskCallBack(res) {
            var X_axis = []; // X_axis : 日期
            var Y_axis1 = []; //24h外未发货申请数
            var Y_axis2 = []; //24h内未发货申请数
            var Y_axis3 = []; //发货后申请数
            var Y_axis4 = []; //付款数数组 总数

            var Y_axis5 = [];
            var Y_axis6 = [];
            var Y_axis7 = [];

            $.each(res, function (i, record) {
                X_axis.push(record.date_cal);
                Y_axis1.push(record.ref_num_out);
                Y_axis2.push(record.ref_num_in);
                Y_axis3.push(record.ref_sed_num);
                Y_axis4.push(record.pay_num);

                Y_axis5.push(parseFloat((record.ref_num_out / record.pay_num).toFixed(4)));// 24外率
                Y_axis6.push(parseFloat((record.ref_num_in / record.pay_num).toFixed(4)));// 24内率
                Y_axis7.push(parseFloat((record.ref_sed_num / record.pay_num).toFixed(4)));// 发货后率

            });
            var dom_hour = $("#hight_hour");
            var dom_hour_rate = $("#hight_hour_rate");

            var series_hour = [{
                name: '24小时内',
                data: Y_axis2
            }, {
                name: '24小时外',
                data: Y_axis1
            }, {
                name: '发货后',
                data: Y_axis3
            }, {
                name: '付款数',
                data: Y_axis4
            }];
            var series_hour_rate = [{
                name: '24小时内',
                data: Y_axis6
            }, {
                name: '24小时外',
                data: Y_axis5
            }, {
                name: '发货后',
                data: Y_axis7
            }];
            var Title_hour = {"xtitle": "退款状况趋势图", "xsub_title": "订单退款状况趋势图信息", "ytitle": "件数"};
            var Title_hour_rate = {"xtitle": "退款状况趋势图", "xsub_title": "订单退款状况趋势图信息", "ytitle": "件数"};
            highChar(dom_hour, X_axis, Title_hour, series_hour);
            highChar(dom_hour_rate, X_axis, Title_hour_rate, series_hour_rate);
        }
    }

    <!--字符串format函数-->
    String.format = function () {
        if (arguments.length == 0)
            return null;
        var str = arguments[0];
        for (var i = 1; i < arguments.length; i++) {
            var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
            str = str.replace(re, arguments[i]);
        }
        return str;
    };


    <!--回归方程-->
    function LineXy(Xarry, Yarry) {
        // 回归方程 y = b_bar * x + a_bar
        var n = Xarry.length;
        var avg_x = Avg(Sum(Xarry), n, 4);//数组平均数
        var avg_y = Avg(Sum(Yarry), n, 4);//数组平均数
        var sgm_xiyi = Sum(Milti(Xarry, Yarry, 4));//数组 SIGEMA xiyi
        var sgm_xi2 = Sum(Milti(Xarry, Xarry, 4));

        var b_bar = (sgm_xiyi - n * avg_x * avg_y) / (sgm_xi2 - n * avg_x * avg_x);
        var a_bar = avg_y - b_bar * avg_x;

        console.log(avg_x, '-', avg_y, '-', sgm_xiyi, '-', sgm_xi2, '-', b_bar, '-', a_bar);
        //undefined "-" undefined "-" 28 "-" 51039 "-" NaN "-" NaN

        var resultArry = new Array();
        for (var i = 0; i < n; i++) {
            var y = b_bar * Xarry[i] + a_bar;
            resultArry.push(y);
        }
        return resultArry;


        function Milti(arr1, arr2, precision) {//数组乘积求和
            var miltiArr = new Array();
            for (var i = 0; i < arr1.length; i++) {
                var milti = parseFloat((arr1[i] * arr2[i]).toFixed(precision));
                miltiArr.push(milti);
            }
            return miltiArr
        }

        function Sum(array) {//数组各项求和
            var sumArray = 0;
            for (var i = 0; i < array.length; i++) {
                sumArray += parseFloat(array[i]);
            }
            return sumArray
        }

        function Avg(sum_value, len, precision) {// 求 数组的平均数, precision 为返回数字的精度
            return parseFloat((sum_value / len).toFixed(precision))
        }
    }
</script>
</html>


