  <div id="id-timeslots" >
      <dl>
          <dt><p>重新选择上架时间:</p></dt>
          <dd>
          <select id="id-select-weekday">
              <option value="0">星期</option>
              <option value="1">周 一</option>
              <option value="2">周 二</option>
              <option value="3">周 三</option>
              <option value="4">周 四</option>
              <option value="5">周 五</option>
              <option value="6">周 六</option>
              <option value="7">周 日</option>
          </select>
          <select id="id-select-timeslot">
              <option value="0">时间</option>
              <option value="11:50">11:50</option>
              <option value="12:20">12:20</option>
              <option value="14:50">14:50</option>
              <option value="15:20">15:20</option>
              <option value="15:50">15:50</option>
              <option value="16:20">16:20</option>
              <option value="16:50">16:50</option>
              <option value="21:00">21:00</option>
              <option value="21:30">21:30</option>
              <option value="22:00">22:00</option>
          </select>
          <!--   <button id="id-timeslots-confirm" type="button">确定</button> -->
          </dd>
      </dl>
  </div>