  <table>
  <tr>
    <th>上架星期</th><th>上架时间</th>
      {% for c in cats %}
      <th>{{ c }}</th>
      {% endfor %}
      <th>总计</th>
  </tr>
  {% for dayitems in data %}
      {% for slotitems in dayitems%}
      <tr>
          {% if forloop.counter == 1 %}
          <td rowspan="10">周{{ forloop.parentloop.counter }}</td>
          {% endif %}

          <td>{{ slotitems.slot }}</td>

          {% for c in cats %}
          <td>
              {% for item in slotitems.items %}
              {% if item.category_name == c%}
              <img src={{ item.pic_url }} id="{{ item.num_iid }}" class="profile-image">
              {% endif %}
              {% endfor %}
          </td>
          {% endfor %}

          {% if forloop.counter == 1 %}
          <td rowspan="10"></td>
          {% endif %}

      </tr>
      {% endfor %}
  {% endfor %}

  </table>


