<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>优惠券发放</title>
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/script/slaerefund_poppage.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}layer-v1.9.2/layer/layer.js"></script>
</head>
<body class="container" style="background: #F5F5F5">

<div class="col-xs-6" style="margin-top: 100px ;background: white">
    <h2>订单. 查找</h2>

    <div style="margin-top: 30px">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="请输入订单编号" aria-describedby="basic-addon2"
                   id="trade_tid">
            <span class="input-group-btn">
                <button class="btn btn-success" id="go_search" type="submit">Go!</button>
            </span>
        </div>
    </div>
    <h2 style="margin-top: 30px">订单. 信息</h2>

    <div style="margin-top: 30px" id="trade_info">

    </div>
</div>

<div class="col-xs-6" style="margin-top: 100px ;background: white">
    <h2>补邮费优惠券. 发放</h2>

    <div class="panel panel-default">
        <div class="panel-heading">填写订单备注</div>
        <div class="panel-body">
            <textarea style="font-size: 10px" rows="4" cols="70" id="trade_memo"></textarea>
        </div>
    </div>

    <div style="margin-top: 30px">
        {% for template in templates %}
            <button type="button" class="btn btn-info" style="margin-top: 30px;"
                    onclick="release_coupon_action({{ template.id }})">
                {{ template.title }}
            </button>
        {% endfor %}
    </div>
</div>


<br/>
</body>

<script>
    $(document).ready(function () {
        $("#go_search").click(function () {
            var trade_tid = $('#trade_tid').val();
            var data = {"trade_tid": trade_tid};
            var url = "/coupon/rsrc/";
            $.ajax({
                "url": url,
                "data": data,
                "type": "get",
                dataType: 'json',
                success: searTradeCallback,
                error: function (err) {
                    var resp = JSON.parse(err.responseText);
                    if (resp.detail) {
                        layer.msg(resp.detail);
                    }
                }
            });
            function searTradeCallback(res) {
                console.log(res);
                var html = '<dl class="dl-horizontal">' +
                        '<dt>交易ID</dt><dd>{0}</dd>' +
                        '<dt>交易编号</dt><dd id="target_trade_tid">{1}</dd>' +
                        '<dt>收件人</dt><dd>{2}</dd>' +
                        '<dt>物流公司</dt><dd>{3}</dd>' +
                        '<dt>收件人手机</dt><dd>{4}</dd>' +
                        '<dt>总费用</dt><dd>{5}</dd>' +
                        '</dl>';
                var trade = res.trade;
                var trade_info = String.format(html,
                        trade.id,
                        trade.tid,
                        trade.receiver_name,
                        trade.logistics_company,
                        trade.receiver_mobile,
                        trade.total_fee);
                $("#trade_info").empty().append(trade_info);
            }
        });
    });


    <!--字符串format函数-->
    String.format = function () {
        if (arguments.length == 0)
            return null;
        var str = arguments[0];
        for (var i = 1; i < arguments.length; i++) {
            var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
            str = str.replace(re, arguments[i]);
        }
        return str;
    };

    function release_coupon_action(template_id) {
        var btn = $(".post_fee");
        if (btn.hasClass('loading')) {
            return
        }
        btn.addClass('loading');
        var coupon_url = "/coupon/rsrc/";
        var memo = $("#trade_memo").val();
        var trade_tid = $("#target_trade_tid").html();
        var data = {"trade_tid": trade_tid, "template_id": template_id, "memo": memo};
        console.log('data:', data);
        $.ajax({
            url: coupon_url,
            type: "post",
            data: data,
            success: couponCallBack,
            error: function (err) {
                var resp = JSON.parse(err.responseText);
                if (resp.detail) {
                    layer.msg(resp.detail);
                }
            }
        });
        function couponCallBack(res) {
            btn.removeClass('loading');
            console.log("debug res:", res);
            if (res.res == 'ok') {
                layer.msg("发放成功!")
            }
        }
    }

</script>
</html>