{% extends "apply/apply_base.html" %}

{% block title %} 小鹿妈妈-邀请结果页面 {% endblock %}

{% block head_script %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/invitation-result.css">
{% endblock %}

{% block container-body %}
    <div class="page-panel">
        <div class="">
            <img class="carousel-inner img-responsive img-rounded background-img"
                 src="http://7xogkj.com2.z0.glb.qiniucdn.com/invitation-friends.png">
        </div>
        <div class="invitation-nums-div">
            <div class="num-handred">
                <img class="img-responsive"
                     src="http://7xogkj.com2.z0.glb.qiniucdn.com/invitation-{{ num_handred }}.png"/>
            </div>
            <div class="num-ten">
                <img class="img-responsive" src="http://7xogkj.com2.z0.glb.qiniucdn.com/invitation-{{ num_ten }}.png"/>
            </div>
            <div class="num-unit">
                <img class="img-responsive" src="http://7xogkj.com2.z0.glb.qiniucdn.com/invitation-{{ num_unit }}.png"/>
            </div>
        </div>
        <div class="mama-level-1 border-show-b"></div>
        <div class="mama-level-2 border-show-b"></div>
        <div class="mama-level-3 border-show-b"></div>
        <div class="mama-level-4 border-show-b"></div>
        <div class="invitation-btn border-show-b" id="invitation-friends"></div>
    </div>
{% endblock %}

{% block container-foot %}
    <div class="my-invitation-friends"></div>
    {% for referal in referals %}
        <div class="friends-info-icon">
            <div class="detail-info ">
                <div class="friend-head">
                    <img class="carousel-inner img-responsive img-circle" src="{{ referal.referal_to_mama_img }}"/>
                </div>
                <div class="friend-desc ">
                    <span>{{ referal.created }}</span><br/>
                    <em>{{ referal.referal_to_mama_nick }}</em><span class="join-mama"> 通过您的邀请加入小鹿妈妈</span>
                </div>
                <div class="red-packet"></div>
            </div>
        </div>
    {% endfor %}

    <!--
        <div class="friends-info-icon">
            <div class="detail-info ">
                <div class="friend-head border-show-r"></div>
                <div class="friend-desc border-show-b ">
                    <span>2015-10-10 22:22:22</span><br/>
                    <em>S大王</em><span class="join-mama"> 通过您的邀请加入小鹿妈妈</span>
                </div>
                <div class="red-packet border-show-g"></div>
            </div>
        </div>
    -->
{% endblock %}

{% block tail_script %}
    <script>
        console.log('123');
        $(document).ready(function () {
            $("#invitation-friends").click(function () {
                console.log('invitation friends');
                InvitationFriends();
            });
        });
        var OSTest = function () {// 客户端平台检测　返回
            var u = navigator.userAgent;
            var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
            var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
            if (isAndroid == true) {
                return 'Android';
            }
            else if (isiOS == true) {
                return 'iOS';
            }
            else {
                return 'web'
            }
        };
        function InvitationFriends() {
            var os = OSTest();
            if (os == 'iOS') {
                // 跳转到二维码页面
                window.location = 'wx25fcb32689872499://';
            }
            else if (os == 'Android') {
                // 调用android客户端接口内容
                // 跳转到二维码页面
                if (window.AndroidBridge) {
                    window.AndroidBridge.getInvitationMama();
                }
            }
            else {
            }
        }
    </script>

{% endblock %}