
table th:nth-child(3) {
    width: 170px;
    color: red;
}

table th:nth-child(4) {
    width: 150px;
}

table th:nth-child(5) {
    width: 100px;
}

table th:nth-child(6) {
    width: 200px;
}

table th:nth-child(11) {
    width: 180px;
}