
.border-show-r {
    border: solid 1px orchid;
}

.border-show-g {
    border: solid 1px #008000;
}

.border-show-b {
    border: solid 1px #0000ff;
}

.container-fluid {
    position: absolute;
    padding-right: 0px;
    padding-left: 0px;
    height: auto;
    min-height: 100%;
    background: #FFDF3C;
}

.page-panel {
    background: #FFDF3C;
    padding-bottom: 60px;
}

.page-panel .success-title {
    margin-top: 20%;
    padding: 20px;
    padding-bottom: 60px;
}

.page-panel .pub-img-div {
    width: 300px;
    height: 400px;
    margin: 0 auto;
}

.page-panel .success-content {
    padding: 15px;

}

html {
    background: #FFDF3C;
}

.download-btn-div{
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
}

.download-btn-div .download-btn {
    display: block;
    width: 100%;
    background: #EC3E3F;
    border-radius: 10px;
    /*border: none;*/
    color: white;
    height: 40px;
    vertical-align: middle;
}
