body {
  background-color: #FFD609;
}

.m-printer {
  border: 8px solid #FBD02F;
  border-radius: 16px;
  height: 24px;
  background-color: #CF8E05;
  margin-top: 36px;
}

.from-printer {
  position: relative;
  margin: 0px 2px;
}

.btn-red {
  background: #EB3E3E;
}

.m-printed-paper {
  top: -12px;
  height: 200px;
  color: #D1B578;
  font-size: 16px;
  background: url("http://7xogkj.com2.z0.glb.qiniucdn.com/zigzag.png") repeat-x center center;
  background-size: contain;
  border-bottom: 1px solid #D1B578;
  border-top: 1px solid #D1B578;
}

.m-printed-paper > .m-printed-content {
  margin-top: 24px;
  border-bottom: 3px double #D1B578;
  border-top: 3px double #D1B578;
  width: 100%;
}

.m-printed-paper > p > a {
  color: #5E4404;
  border-bottom: 1px solid #5E4404;
}

.m-printed-paper > .m-printed-content > label {
  width: 60%;
  font-size: 16px;
  position: relative;
  margin-left: 26%;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  top: -12px;
  background: url("http://7xogkj.com2.z0.glb.qiniucdn.com/zigzag.png") repeat-x center center;
}

.m-printed-paper > .m-printed-content > h1 {
  color: #5E4404;
}

.text-center {
  text-align: center;
}

.m-explanation > label {
  height: 30px;
  border-bottom: 1px dashed #000;
}

.m-top-xs {
  margin-top: 8px;
}

.m-top-sm {
  margin-top: 16px;
}

.m-top-md {
  margin-top: 32px;
}

.m-icon-container {
  margin-top: 16px;
  margin-bottom: 16px;
}

.m-icon-container > img {
  display: none;
  height: 56px;
  margin: 16px 0px;
}

.active {
  display: block!important;
}