{% extends "comments/comment_base.html" %}

{% block title %} 
<title>客服评论统计</title>
{% endblock %} 


{% block head_script %}
<script type="text/javascript">
function submit() {
    document.getElementById("form1").submit();
}
</script>
<script src="/static/jquery/jquery-1.8.13.min.js"></script>
{% endblock %}

{% block comment_count %}
<div style="width:900px; padding:5px;">
<form id="form1" action="/app/comment/count/" method="post">
开始日期:
<input type="text" name="fromDate" value="{{ fromDateShow }}">
结束日期:
<input type="text" name="toDate" value="{{ toDateShow }}">
<input id="submit" type="submit" value="submit" onclick="submit()">
</form>
</div>
<div style="width:800px; padding:5px;">
<table class="table table-striped table-bordered table-condensed">
<thead>
<tr>
<th>帐号</th>
{% for date in dates %}
<th>{{ date }}</th>
{% endfor %}
<th>总计</th>
</tr>
</thead>
<tbody>
{% for key,value in data.items %}
<tr>
<!--姓名-->
<td> <a target="_blank" href= '/app/comment/replyer_detail/?replyer={{ key }}&fdt={{ fromDateShow }}&tdt={{ toDateShow }} '>{{ key }} </a></td>
<!--日期数据遍历-->
{% for v in value.0 %}<td id="date_count"><a target="_blank" href= '/app/comment/replyer_detail/
?replyer={{ key }}&fdt={{ v.1 }}&tdt={{ v.1 }}'> {{ v.0 }} </a></td>{% endfor %}
<!--sum-->
<td>{{ value.1.0 }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<table width="900px" class="table table-striped table-bordered table-condensed">
<tr>
<td style="text-align: center"><a target="blank" style="color:red;" href='/app/comment/replyer_grade/?grade=1&from={{ fromDateShow }}&to={{ toDateShow }}'>好评回复案例 :{{ good_num }}</a></td>
<td style="text-align: center"><a target="blank" style="color:green;" href='/app/comment/replyer_grade/?grade=2&from={{ fromDateShow }}&to={{ toDateShow }}'>一般回复案例 :{{ normal_num }}</a></td>
<td style="text-align: center"><a target="blank" style="color:black;" href='/app/comment/replyer_grade/?grade=0&from={{ fromDateShow }}&to={{ toDateShow }}'>有待提高回复案例 :{{ bad_num }}</a></td>
</tr>
</table>
<div>
{% endblock %}
