* {
  padding:0px;
  margin:0px;
}

.transparent{
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.fullfill{
    width:100%;
    height:100%;
}

.center{
    align-text:center;
}

.container-fluid{
  height:100%;
  width: 100%;
  background-color:#fe9fd7;
  background-image:url(http://7xogkj.com2.z0.glb.qiniucdn.com/dress_%E8%83%8C%E6%99%AF%E5%9C%86%E7%82%B9.png?imageMogr2/thumbnail/300/); 
}

.page-panel{
    max-width:640px;
    position:relative;
    margin:0 auto;
    text-align: center;
	/*width: 100%;*/
}

.page-mask{
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
}

.page {
    position: absolute;
    top: 50%;
    height:50%;
    width:100%;
    text-align: center;
    color: #fff;
    font-size: 22px;
}

.page-footer{
    margin-top:15px;
    max-width:640px;
    margin:0 auto;
}

.div-center{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



