{% extends "mmdress/wxbase_share.html" %}

{% load url from future %}
{% block title %} 妈妈穿衣品味测试-结果展示 {% endblock %}

{% load static %}
{% load mathfilters %}
{% block head_script %}
<style>
.container-nav{
    margin-top:0%;
}
.row{
    padding:0 0 10px;
}
.head-img{
    width:100%;
    margin:0　auto;
}
.page-relate{
    position:relative;
}
.share-mask{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
}
.share-img{
    width:100%;
    margin:0　auto;
    z-index:999;
}
.share-panel{
    display:none;
    position:absolute;
    top:0;
    left:50%;
    width:100%; 
    height:100%;
    margin-left:-50%;
}
.share-btn-img{
    display:inline;
    width:45%;
}
.score-bg {
    width:100%;
    height:60px;
    margin:10px auto;
}
.score-block{
    width:30%;
    height:60px;
    margin:10px auto;
    position:relative;
}
.score-img{
    max-width:35%;
}
.score-img-sm{
    margin-top:-10px;
    width:25px;
    display:inline;
}
.score-cover{
    position:absolute;
    top:15%;
    left:50%;
    width:100%; 
    margin-left:-50%;
}
.cover-img{
    position:absolute;
    top:10%;
    left:50%;
    width:60%; 
    margin-left:-30%;
}
.head-cover-img{
    position:absolute;
    top:2%;
    left:50%;
    width:100%; 
    margin-left:-50%;
    font-size:18px;
}
.head-cover-img span{
    display:inline;
}
</style>
{% endblock %}

{% block container-nav %}
<!-- 页头 -->
<div class="container-nav">
</div>
{% endblock %}

{% block container-body %}
<!-- 内容区 -->
<div class="page-panel">
  <div class="row ">
    <div class="page-relate">
        <img class="head-img" src="{{dress_star.star_image}}" />
        <div class="head-cover-img" >
            <div style="display:inline-block;">
                <span style="display:inline;float:left;"><span style="color:#f967bc;">{{referal_dress.mama_nick}}</span>
                的穿衣品味在：</span>
            <div style="display:inline;float:right;"> 
                {% if dress_age|intdiv:'10' > 0 %}
                <img class="score-img-sm" src="http://7xogkj.com2.z0.glb.qiniucdn.com/dress_%E7%BB%93%E6%9E%9C-%E6%95%B0%E5%AD%97{{dress_age|intdiv:'10'}}.png" />
                {% endif %}
                <img class="score-img-sm" src="http://7xogkj.com2.z0.glb.qiniucdn.com/dress_%E7%BB%93%E6%9E%9C-%E6%95%B0%E5%AD%97{{dress_age|mod:'10'}}.png" />
                <img class="score-img-sm" src="http://7xogkj.com2.z0.glb.qiniucdn.com/dress_%E5%B2%81.png" />
            </div>
            </div>
            <div>跟我们的 <span style="color:#f967bc;font-size:24px;padding-top:10px;">{{dress_star.name}}</span> 一样呢</div>
        </div>
     </div>
  </div>
  <!-- 我也要测试 -->
  <div class="row">
    <a href="{% url 'dress_question' active_id=referal_dress.active_id %}?referal_id={{referal_dress.id}}">
      <img class="head-img"  src="http://7xogkj.com2.z0.glb.qiniucdn.com/dress_%E5%88%86%E4%BA%AB-%E6%8C%89%E9%94%AE-%E6%88%91%E4%B9%9F%E8%A6%81%E6%B5%8B%E8%AF%95.png" />
    </a>
  </div>
  <!-- 红包 -->
  <div class="row">
    <img class="head-img" src="http://7xogkj.com2.z0.glb.qiniucdn.com/dress_%E7%BA%A2%E5%8C%85.png" />
  </div>
</div>

{% endblock %}

{% block container-foot %}
<!-- 页尾 -->
{% endblock %}


