{% extends 'layout.html' %}

{% block main %}

{% for chart in charts %}
<div id="{{ chart.name }}" style="width: 1800px;height:600px;"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('{{ chart.name }}'));
    var option = {
        title: {
            text: '{{ chart.name }}'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['销量','kkkk', 'llll']
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            data: {{ chart.x_axis|safe }}
        },
        yAxis: {},
        series: {{ chart.series}}
    };
    myChart.setOption(option);
</script>
{% endfor %}
{% endblock %}