{% extends 'layout.html' %}

{% block main %}

<div class="row">
  <div class="col-md-6">
  <form action="{% url 'yy-customer-list' %}" method="GET">
    <label>用户</label>
    <select name="customer">
      <option value="has_buy">购买过</option>
      <option value="no_buy">没买过</option>
      <option value="all">随便</option>
    </select>
    <label>小鹿妈妈</label>
    <select name="xlmm">
      <option value="1yuan">一元</option>
      <option value="99yuan">99元</option>
      <option value="188yuan">188元</option>
      <option value="fufei">正式</option>
      <option value="all">随便</option>
    </select>
    <input type="submit" name="查询">
  </form>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-bordered">
      {% for item in queryset %}
      <tr>
        <td>{{ item.created }}</td>
        <td>{{ item.nick }}</td>
        <td>{{ item.mobile }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}