<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>系统出错了</title>

    <!-- Bootstrap -->
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    
	<style type="text/css">
		body{
			background-color:#E1E0DE;
		}
		li{list-style-type:none;}
	</style>
  </head>
  <body>

    <div class="container">
    	<div class="container-fluid" style="text-align:center;margin-top:100px;">
    	<div style="margin-bottom:5px;"><img src="http://7xogkj.com2.z0.glb.qiniucdn.com/error/img_404_500.jpg"></img></div>
    	<div ><ul style="text-align:left;">
    		  <li>系统出错了，原因可能是:</p>
    		  <li>1) 服务不稳定，请刷新或重试；</li>
    		  <li>2) 请保证使用微信客户端访问该页；</li>
    		  <li>3) 系统会屏蔽同手机登录多个微信号；</li>
    		  <li>如有疑问请联系系统管理员</li>
    		  </ul>
    	</div>
    	<div>
    </div>

  </body>
</html>