{% extends "promotion_base.html" %}

{% block head_style %}
<style>
.mama-greeting-text {
  width:100%;
  display:inline-block;
  color: white;
  font-size: 14px;
  margin-top: 2px;
  text-align:center;
}

.mama-profile-image {
  width: 20%;
  margin:auto;
}
.mama-label {
  color: #ffcf00;
  font-weight: bold;
  display:inline-block;
  vertical-align: bottom;
}

.greetings-section {
  position:relative;
}

.border-show {
  border: 1px solid green;
}

.ercode-section {
  margin-top: 2px;
}
.ercode {
  width: 60%;
  margin:auto;
  background-image:url(http://7xogkj.com2.z0.glb.qiniucdn.com/222-ercode-bg.png);
  background-size:100%;
  background-repeat: no-repeat;
}
.ercode-image {
  width: 100%;
  padding-top: 4%;
  padding-bottom: 6%;
  padding-left: 5%;
  padding-right: 5%;
}
.ercode-text {
  color: #ffcf00;
  text-align: center;
  margin-top: 10px;
}
.qrcode-info {
  margin-top: 10px;
  text-align:center;
  display:none;
}
.profile {
  text-align:center;
}
</style>
{% endblock %}


{% block content2 %}
<div style="position:relative;top:-100px">
  <div class="greetings-section">
    <div class="profile">
      <!--
      <div>
	<img {% if thumbnail %} src="{{ thumbnail }}" {% else %} src="http://7xogkj.com2.z0.glb.qiniucdn.com/1181123466.jpg"{% endif %} alt="..." class="img-circle mama-profile-image"/>
      </div>
      -->
      <div>
	<span class="mama-label">{% if nick %}{{ nick }}{% else %}小鹿妈妈{% endif %}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
	<div class="mama-greeting-text">
	  <span>亲爱的们，1000个全棉睡袋，600万红包，<br/>一起来抢吧，好运发发发哦～～</span>
	</div>
      </div>
    </div>
  </div>
  
  <div class="ercode-section">
    <div class="ercode">
      <img class="ercode-image" src="{{ qrimg }}"/>
    </div>
    <div class="ercode-text">
      <span>长按扫描二维码参加活动</span>
    </div>
  </div>

  <div id="id-qrcode-info" class="qrcode-info">
    <span style="color:white">亲，此页是您的专属二维码页面。</span><br/>
    <span style="color:#ffcf00">您可以截图保存，然后分享，所有通过您专属二维码参与活动的好友均为您的邀请。</span><br/>
    <span style="color:white">文字消失后，就可以截图啦 :)~</span>
  </div>

</div>


{% endblock %}

{% block content9 %}
<div class="row" style="position:relative;top:-40px">
  <div class="col-xs-12" style="text-align:center;color:white;font-size:12px">
    <p>© 2016 小鹿美美 All rights reserved.</p>
  </div>
</div>

{% endblock %}

{% block tail_script %}
<script type="text/javascript">
$("#id-qrcode-info").slideUp(10000);
</script>
{% endblock %}
