<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>商品退货统计</title>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap3.2.0.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-1.8.13.min.js"></script>
    <script src='{{ STATIC_URL }}jquery/addons/jquery.form.js'></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-3.2.0.min.js"></script>
    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}fixed-header-table-master/jquery.fixedheadertable.min.js"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-json/jquery.json.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}layer-v1.9.2/layer/layer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}layer-v1.9.2/layer/extend/layer.ext.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}script/highchar-script/highchart-common.js"></script>

    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/highcharts/4.1.9/modules/exporting.js"></script>
</head>

<body class="container">
<div>
    <h3>退款率图表</h3>
</div>
<div>
    <div class="input-group ">
        <span class="input-group-addon" id="date_from">开始时间</span>
        <input type="text" name="date_from" id="left_date_pic"
               class="form-control select_saletime  datepicker" placeholder="" value="{{ time_from }}"
               aria-describedby="basic-addon1">
        <span class="input-group-addon" id="date_to">结束时间</span>
        <input type="text" name="date_to" id="right_date_pic"
               class="form-control select_saletime  datepicker" placeholder="" value="{{ time_to }}"
               aria-describedby="basic-addon2">
            <span class="input-group-btn">
                <button class="btn btn-success" id="go_search" type="submit">Go!</button>
            </span>
    </div>
</div>

<div class="col-lg-12" id="div_myChart" style="margin-top: 30px">
    <div id="hight_all" style="min-width:900px;height:400px"></div>
</div>
<div class="col-lg-12" id="div_myChart_rate">
    <div id="hight_rate_ana" style="min-width:900px;height:400px"></div>
</div>

<div style="margin-top: 30px;margin-bottom: 40px">
    <h4>数量记录</h4>

    <div id="hight_hour" style="min-width:900px;height:400px"></div>
</div>

<div class="col-lg-12" id="div_refund_rcord_rate" style="margin-top: 40px; margin-bottom: 100px">
    <div id="hight_hour_rate" style="min-width:900px;height:400px"></div>
</div>

<div class="col-lg-6">
    <div id="double_pie" style="min-width:400px;height:300px"></div>
</div>
<div class="col-lg-6">
    <div id="rowhan_column" style="min-width:400px;height:300px"></div>
</div>


</body>
<script type="text/javascript">
    $(function () {
        $(".select_saletime").datepicker({
            dateFormat: "yy-mm-dd"
        });
    });

    $(document).ready(function () {
        // 默认加载　渲染的时间
        var date_from = $("#left_date_pic").val();
        var date_to = $("#right_date_pic").val();
        getRateData(date_from, date_to);
        getRcordData(date_from, date_to);
        $("#go_search").click(function () {
            var date_from = $("#left_date_pic").val();
            var date_to = $("#right_date_pic").val();

            if (date_from == '' || date_to == '') {
                layer.msg('时间不能为空');
                return
            }
            else {
                getRateData(date_from, date_to);
                getRcordData(date_from, date_to);

            }
        });
    });

    <!-- 获取退款率数据 -->
    function getRateData(t1, t2) {
        var task_url = '/refunds/ref_rate/';
        var data = {"date_from": t1, "date_to": t2};
        $.ajax({
            url: task_url,
            data: data,
            type: "post",
            dataType: "json",
            success: taskCallBack
        });
        function taskCallBack(res) {
            var X_axis = []; // X_axis : 日期
            var Y_axis1 = []; //退款数数组
            var Y_axis2 = []; //付款数数组
            var Y_axis3 = []; //退款率数组  回归方程的纵轴

            $.each(res, function (i, rate) {
                X_axis.push(rate.date_cal);
                Y_axis1.push(rate.ref_num);
                Y_axis2.push(rate.pay_num);
                Y_axis3.push(rate.ref_rate);
            });
            //console.log('数组长度:', Y_axis3.length);
            // 回归分析
            var X_array = new Array();
            for (var i = 0; i < X_axis.length; i++) {
                X_array.push(i);
            }
            var LineArray = LineXy(X_array, Y_axis3);
            //console.log(LineArray );
            var series_all = [{
                name: '退款数',
                data: Y_axis1
            }, {
                name: '付款数',
                data: Y_axis2
            }];
            var series_nan = [{
                name: '退款率',
                data: Y_axis3
            }
                //, {    不显示
                //name: '线性回归',
                //data: LineArray
                // }

            ];
            var dom_all = $("#hight_all");
            var dom_ana = $("#hight_rate_ana");
            var Titleall = {"xtitle": "退款趋势图", "xsub_title": "订单退款数量趋势图信息", "ytitle": "件数"};
            var Titl_nan = {"xtitle": "退款率趋势图", "xsub_title": "订单退款率趋势图信息", "ytitle": "件数"};
            linechart(dom_all, X_axis, Titleall.xtitle, Titleall.xsub_title, Titleall.ytitle, series_all);
            linechart(dom_ana, X_axis, Titl_nan.xtitle, Titl_nan.xsub_title, Titl_nan.ytitle, series_nan);
        }
    }

    <!-- 获取退款记录表中数据 -->
    function getRcordData(t1, t2) {
        var task_url = '/refunds/ref_rcord/';
        var data = {"date_from": t1, "date_to": t2};
        $.ajax({
            url: task_url,
            data: data,
            type: "post",
            dataType: "json",
            success: taskCallBack
        });
        function taskCallBack(res) {
            var X_axis = []; // X_axis : 日期
            var Y_axis1 = []; //24h外未发货申请数
            var Y_axis2 = []; //24h内未发货申请数
            var Y_axis3 = []; //发货后申请数
            var Y_axis4 = []; //付款数数组 总数

            var Y_axis5 = [];
            var Y_axis6 = [];
            var Y_axis7 = [];

            $.each(res, function (i, record) {
                X_axis.push(record.date_cal);
                Y_axis1.push(record.ref_num_out);
                Y_axis2.push(record.ref_num_in);
                Y_axis3.push(record.ref_sed_num);
                Y_axis4.push(record.pay_num);

                Y_axis5.push(parseFloat((record.ref_num_out / record.pay_num).toFixed(4)));// 24外率
                Y_axis6.push(parseFloat((record.ref_num_in / record.pay_num).toFixed(4)));// 24内率
                Y_axis7.push(parseFloat((record.ref_sed_num / record.pay_num).toFixed(4)));// 发货后率

            });
            var dom_hour = $("#hight_hour");
            var dom_hour_rate = $("#hight_hour_rate");

            var series_hour = [{
                name: '24小时内',
                data: Y_axis2
            }, {
                name: '24小时外',
                data: Y_axis1
            }, {
                name: '发货后',
                data: Y_axis3
            }, {
                name: '付款数',
                data: Y_axis4
            }];
            var series_hour_rate = [{
                name: '24小时内',
                data: Y_axis6
            }, {
                name: '24小时外',
                data: Y_axis5
            }, {
                name: '发货后',
                data: Y_axis7
            }];
            var Title_hour = {"xtitle": "退款状况趋势图", "xsub_title": "订单退款状况趋势图信息", "ytitle": "件数"};
            var Title_hour_rate = {"xtitle": "退款状况趋势图", "xsub_title": "订单退款状况趋势图信息", "ytitle": "件数"};
            linechart(dom_hour, X_axis, Title_hour.xtitle, Title_hour.xsub_title, Title_hour.ytitle, series_hour);
            linechart(dom_hour_rate, X_axis, Title_hour_rate.xtitle, Title_hour_rate.xsub_title, Title_hour_rate.ytitle, series_hour_rate);

            getProRcordData(t1, t2, X_axis);
        }
    }


    function getProRcordData(t1, t2, X_axis) {
        // 获取产品的退货数据
        console.log("X_axis: ", X_axis);
        var date_dic_female = {};
        var date_dic_child = {};
        $.each(X_axis, function (index, dt) {
            date_dic_female[dt] = 0;
            date_dic_child[dt] = 0;
        });

        // 生成日期t1, t2的key
        var pro_url = '/rest/v1/calcuprorefrcd/time_zone';
        var data = {"date_from": t1, "date_to": t2};
        $.ajax({
            url: pro_url,
            data: data,
            type: "get",
            dataType: "json",
            success: recodCallback
        });

        function recodCallback(res) {
            //　童装
            //　女装　
            // 生成一个日期　童装女装分类　对象
            console.log("pro res: ", res);
            var female = {ref_num_in: 0, ref_num_out: 0, ref_sed_num: 0, refund_num: 0};
            var child = {ref_num_in: 0, ref_num_out: 0, ref_sed_num: 0, refund_num: 0};
            $.each(res, function (index, content) {
                // 日期key
                if (content.is_child) {
                    female.ref_num_in += content.ref_num_in;
                    female.ref_num_out += content.ref_num_out;
                    female.ref_sed_num += content.ref_sed_num;
                    female.refund_num += (content.ref_num_in + content.ref_num_out + content.ref_sed_num);
                    if ($.inArray(content.sale_date, X_axis) >= 0) {// 日期在已有的数组中
                        date_dic_female[content.sale_date] += (content.ref_num_in + content.ref_num_out + content.ref_sed_num);
                    }
                }
                else if (content.is_female) {
                    child.ref_num_in += content.ref_num_in;
                    child.ref_num_out += content.ref_num_out;
                    child.ref_sed_num += content.ref_sed_num;
                    child.refund_num += (content.ref_num_in + content.ref_num_out + content.ref_sed_num);
                    if ($.inArray(content.sale_date, X_axis) >= 0) {// 日期在已有的数组中
                        date_dic_child[content.sale_date] += (content.ref_num_in + content.ref_num_out + content.ref_sed_num);
                    }
                }
            });

            console.log('date_dic-child--->: ', date_dic_child);
            console.log('date_dic-femle--->: ', date_dic_female);

            var t_data = [child.ref_num_in, child.ref_num_out, child.ref_sed_num];
            var n_data = [female.ref_num_in, female.ref_num_out, female.ref_sed_num];
            var dom = $("#double_pie");
            var tn_data = [child.refund_num, female.refund_num];
            double_pip(dom, t_data, n_data, tn_data);

            var categories = [];// 日期
            var xtitle_text = '童．女装柱状图';
            var ytitle_text = '数量（件）';
            var series = [{
                name: '女装',
                data: []
            }, {
                name: '童装',
                data: []
            }];

            $.each(X_axis, function (index, dt) {
                series[0].data.push(date_dic_child[dt]);
                series[1].data.push(date_dic_female[dt]);
            });

            ColumRowHan(xtitle_text, ytitle_text, X_axis, series);
        }
    }

    function ColumRowHan(xtitle_text, ytitle_text, X_axis, series) {
        $('#rowhan_column').highcharts({

            chart: {
                type: 'column'
            },

            title: {
                text: xtitle_text//'Total fruit consumtion, grouped by gender'
            },

            xAxis: {
                categories: X_axis//['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
            },

            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: ytitle_text// 'Number of fruits'
                }
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + this.y + '<br/>' +
                            'Total: ' + this.point.stackTotal;
                }
            },

            plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },

            series: series
        });
    }


    <!--回归方程-->
    function LineXy(Xarry, Yarry) {
        // 回归方程 y = b_bar * x + a_bar
        var n = Xarry.length;
        var avg_x = Avg(Sum(Xarry), n, 4);//数组平均数
        var avg_y = Avg(Sum(Yarry), n, 4);//数组平均数
        var sgm_xiyi = Sum(Milti(Xarry, Yarry, 4));//数组 SIGEMA xiyi
        var sgm_xi2 = Sum(Milti(Xarry, Xarry, 4));

        var b_bar = (sgm_xiyi - n * avg_x * avg_y) / (sgm_xi2 - n * avg_x * avg_x);
        var a_bar = avg_y - b_bar * avg_x;

        //console.log(avg_x, '-', avg_y, '-', sgm_xiyi, '-', sgm_xi2, '-', b_bar, '-', a_bar);
        //undefined "-" undefined "-" 28 "-" 51039 "-" NaN "-" NaN

        var resultArry = new Array();
        for (var i = 0; i < n; i++) {
            var y = b_bar * Xarry[i] + a_bar;
            resultArry.push(y);
        }
        return resultArry;


        function Milti(arr1, arr2, precision) {//数组乘积求和
            var miltiArr = new Array();
            for (var i = 0; i < arr1.length; i++) {
                var milti = parseFloat((arr1[i] * arr2[i]).toFixed(precision));
                miltiArr.push(milti);
            }
            return miltiArr
        }

        function Sum(array) {//数组各项求和
            var sumArray = 0;
            for (var i = 0; i < array.length; i++) {
                sumArray += parseFloat(array[i]);
            }
            return sumArray
        }

        function Avg(sum_value, len, precision) {// 求 数组的平均数, precision 为返回数字的精度
            return parseFloat((sum_value / len).toFixed(precision))
        }
    }

    function double_pip(dom, t_data, n_data, tn_data) {
        var colors = Highcharts.getOptions().colors,
                categories = ['女装', '童装'],
                name = '童装女装退款（退货）占比',
                data = [
                    {
                        y: tn_data[0],
                        color: colors[0],
                        drilldown: {
                            name: '女装',
                            categories: ['24小时内', '24小时外', '发货后'],
                            data: t_data, //[10.85, 7.35, 33.06, 2.81],
                            color: colors[0]
                        }
                    },

                    {
                        y: tn_data[1],
                        color: colors[1],
                        drilldown: {
                            name: '童装',
                            categories: ['24小时内', '24小时外', '发货后'],
                            data: n_data,
                            color: colors[1]
                        }
                    }

                ];
        var browserData = [];
        var versionsData = [];
        for (var i = 0; i < data.length; i++) {

            // add browser data
            browserData.push({
                name: categories[i],
                y: data[i].y,
                color: data[i].color
            });

            // add version data
            for (var j = 0; j < data[i].drilldown.data.length; j++) {
                var brightness = 0.2 - (j / data[i].drilldown.data.length) / 5;
                versionsData.push({
                    name: data[i].drilldown.categories[j],
                    y: data[i].drilldown.data[j],
                    color: Highcharts.Color(data[i].color).brighten(brightness).get()
                });
            }
        }
        // Create the chart
        $(dom).highcharts({
            chart: {
                type: 'pie'
            },
            title: {
                text: '童装－女装退款（退货）占比分布图'
            },
            yAxis: {
                title: {
                    text: ''
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    center: ['50%', '50%']
                }
            },
            tooltip: {
                valueSuffix: ''
            },
            series: [
                {
                    name: '',
                    data: browserData,
                    size: '60%',
                    dataLabels: {
                        formatter: function () {
                            return this.y > 5 ? this.point.name : null;
                        },
                        color: 'white',
                        distance: -30
                    }
                }, {
                    name: '数量',
                    data: versionsData,
                    size: '80%',
                    innerSize: '60%',
                    dataLabels: {
                        formatter: function () {
                            // display only if larger than 1
                            return this.y > 1 ? '<b>' + this.point.name + ':</b> ' + this.y + '' : null;
                        }
                    }
                }
            ]
        });
    }
</script>
</html>


