* {
    margin: 0;
    padding: 0;
    border: 0;
}

body, div, p, ul, li, a, img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

span {
	-webkit-user-select: text;
	-moz-user-select:text;
	-o-user-select:text;
	-user-select:text;
}

body {
    font-size: 28px;
    color: #3c3c3c;
    line-height: 1.5;
    background: #eef0f3;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input, textarea {
    font-size: 28px;
    color: #3c3c3c;
    outline: none;
}

input, textarea, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

h1, h2 {
    font-weight: 400;
}

html, body {
    height: 100%;
}

/*header start*/
.header {
    width: 640px;
    margin: 0 auto;
    height: 88px;
    border-bottom: 1px solid #bec0c2;
    background-color: #fbfbfa;
    position: relative;
}

.header a.back {
    display: block;
    width: 18px;
    height: 31px;
    background-image: url(../images/icon-fanhui.png);
    position: absolute;
    left: 24px;
    top: 30px;
}

.header h1 {
    height: 88px;
    line-height: 88px;
    text-align: center;
    font-size: 34px;
    color: #3c3c3c;
}

/*header end*/
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
#toast {
    position: fixed;
    left:50%;
	top:500px;
	color:white;
    font-size: 28px;
    width: 260px;
    margin-left: -130px;
    border: 1px solid #E2E4FF;
    background-color: #333;
    padding: 15px 5px;
    text-align: center;
    opacity: .9;
	z-index:9999;
	border-radius:8px;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;

    /*The good stuff 
	-webkit-transition : opacity 0.5 s ease-out; // Saf3.2+, Chrome 
	-moz-transition : opacity 0.5 s ease-out; //  FF4+ 
	-ms-transition : opacity 0.5 s ease-out; //  IE10? 
	-o-transition : opacity 0.5 s ease-out; //  Opera 10.5+ 
	transition : opacity 0.5 s ease-out;
	*/
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: 0;
    right: 0;
    z-index: 10000000;
    text-align: center;
    width: 60px;
    height: 60px;
    display: none;
}

.clearfix {
    zoom: 1;
    clear: both;
}

.hide{
	display: none;
}

.footer {
    padding: 0 0 60px;
}
.footer .link{
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fdb916;
}

.footer .link a{
    font-size:20px;
    margin-left:20px;
    color:white;
}

.footer .link a:hover{
    text-decoration: underline; 
}

.footer .copyright {
    font-size: 12px;
    color: #8e8e8e;
    text-align: center;
    padding: 10px 0 0;
}

.buy .pressed {
  background-color: #f75d00;
}

.scroll-top {
    right: 20px;
    background-image: url(../images/icon-fanhuidingbu.png);
}

.cart, .scroll-top {
    position: fixed;
    bottom: 20px;
    width: 80px;
    height: 80px;
    z-index: 999;
}