.glist {
    margin-top: 70px;
    margin-bottom: 90px;
}

.glist .gprice .unpraise {
    width: 32px;
    height: 32px;
    float: right;
    margin-right: 10px;
    background: #EEF0F3 url(../images/love_wait_praise.ico) no-repeat center center;

}

.glist .gprice .praise {
    width: 32px;
    height: 32px;
    float: right;
    margin-right: 10px;
    background: #EEF0F3 url(../images/love_praise.ico) no-repeat center center;
}

.glist .gprice .hot_val {
    margin-left: 60px;
}

.tips {
    width: 640px;
    left: 50%;
    margin-top: 15px;
    margin-left: -320px;
    z-index: 9998;
    font-size: 20px;
    height: 68px;

    background-color: #62cfc9;
    position: fixed;
    color: #fff;
}

.tips p {
    text-align: center;
    line-height: 30px;
}