.header .user{
  display: block;
  width: 88px;
  height: 88px;
  position: absolute;
  right: 0;
  top:0;
  background: url(../images/icon-gerenzhongxin2.png) no-repeat center center;
}
.addr{
  width: 640px;
  background-color: #fff;
  margin: 0 auto;
}
.addr li{
  border-bottom: 1px solid #ccc; 
  position: relative;
}
.addr a{
  color: #3d3c3c; 
}
.addr .title{
  width:80%;
  display:inline;
}
.addr .add{
  width:18%;
  display:inline;
  float:right;
}
.addr .label1{
  padding: 23px 0 0 43px;
}
.addr .label2{
  font-size: 26px;
  padding: 15px 0 21px 85px;
  margin-right: 60px;
  background:url(../images/icon-jia2.png) no-repeat right center;
}
.addr .label3{
  font-size:26px;
  padding: 15px 0 0 86px;
}
.addr .label4 {
  font-size: 22px;
  color: #9e9e9e;
  padding: 8px 82px 19px 82px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.addr .icon-edit{
  position: absolute;
  display: block;
  width: 26px;
  height: 28px;
  background-image:url(../images/icon-xiugai.png);
  top:47px;
  right: 58px;
}
.addr .icon-radio{
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  top:45px;
  left: 42px;
}

.addr li.normal i, .pay-list li.normal i{
	background-image: url(../images/icon-radio.png);
}

.addr li.active i, .pay-list li.active i{
	background-image: url(../images/icon-radio-select.png);
}

.cost{
  width: 640px;
  margin: auto;
  color:#3d3c3c;
}
.cost h2,.addr .h2{
  font-size: 28px;
  padding: 34px 0 8px 42px;
}
.cost>div{
  background-color: #fff;
  border-top:1px solid #bec0c2;
  border-bottom:1px solid #bec0c2;
}
.cost .label1{
  padding:28px 0 0 86px;
}
.cost .label2{
  padding:14px 0 24px 86px;
}
.cost .label3,.cost .label4{
  padding:14px 0 0px 86px;
}
.cost p{
  margin-right: 60px;
}
.cost p>span{
  display: block;
  float: right;
  color: #ea4c88;
}

.coupons{
  width: 640px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 20px;
	border-bottom:1px solid #cacaca;
}
.coupons .title{
  border-top:1px solid #cacaca;
  border-bottom:1px solid #cacaca;
  padding-top:13px;
}
.coupons .title .inner{
  width: 200px;
  height: 44px;
  line-height: 44px;
  background-color:#fdb916;
  border-radius: 10px;
  margin: auto 80px 15px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  display: inline-block;
}

.coupons .title .coupon_value{
    display: inline-block;
    color: #f353a1;
    float: right;
    margin-right: 60px;
}

.coupons-list{
  margin: 0 auto;
  background: #f8f8f8;
}
.coupons-list li{
  height: 164px;
  position: relative;
  margin-bottom: 20px;
  box-shadow-bottom: 0 0 5px 0 red;
  padding: 20px 25px;
}
.coupons-list li:last-child{
  margin-bottom: 0;
}

.coupons-list li.c_valid{
  background: url(../images/yhq_valid.jpg) no-repeat center center;
}
.coupons-list li.c_not_valid{
  background: url(../images/yhq_not_valid.jpg) no-repeat center center;
}

.coupons-list .name{
  font-size: 24px;
  width: 275px;
  position: absolute;
  left: 157px;
  top: 32px;
  color: #868484;
}
.coupons-list .date{
  font-size: 20px;
  width: 275px;
  position: absolute;
  left: 159px;
  top: 113px;
  color: #d4d4d4;
}
.coupons-list .tag{
  width: 186px;
  height: 148px;
  position: absolute;
  left: 346px;
  top: 8px;
  background: url(../images/tag-shixiao.png) no-repeat;
}
.coupons-list .icon-radio{
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  background-image: url(../images/icon-radio.png);
  top: 74px;
  left: 21px;
}
.coupons-list .icon-radio-select{
  background-image:url(../images/icon-radio-select.png);
}


.pay-type{
  width: 640px;
  margin: auto;
  color:#3d3c3c;
}
.pay-type h2{
  font-size: 28px;
  padding: 34px 0 8px 42px;
}
.pay-list {
	background-color:#fff;
	border-top:1px solid #dfe0e1;
}
.pay-list li{
	height:78px;
	line-height:78px;
	font-size:26px;
	text-indent:100px;
	position:relative;
	border-bottom:1px solid #dfe0e1;
}
.pay-list li i{
	position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  top: 50%;
	margin-top:-11px;
  left: 42px;
}

.buy{
	width:640px;
	height:156px;
	border-top:1px solid #bec0c2;
	margin:30px auto 0 auto;
	background-color:#fff;
	position:relative;
	color:#ea4c88;
	display:block;
}
.btn-buy{
	position: absolute;
  font-size: 34px;
  left:20px;
  bottom: 20px;
  width: 600px;
  height: 80px;
  line-height: 80px;
  background-color: #fcb916;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}
.buy .cou{
	position: absolute;
  left: 20px;
  top: 14px;
  font-size: 22px;
}
.buy .total{
	position: absolute;
  right: 20px;
  top: 10px;
  font-size: 26px;
}

/* 添加买家留言　样式　*/
.cost .cart-list .container-mess .buyer-mess{
    display: inline;
    height: 200px;
    float: left;
}
.cost .cart-list .container-mess .mess-content{
    display: inline;
    height: 200px;
}
.cost .cart-list .container-mess .buyer-mess span {
    font-size: 25px;
    padding: 0 0 0 42px;
    display:block;
    margin-bottom: 100px;
}

.cost .cart-list .container-mess .mess-content textarea {
    overflow:hidden;
    background: #EEF0F3;
    display:block;
    width: 420px;
    height: 28px;
    padding: 10px 0 5px 10px;
    resize: none;
    font-size: 28px;
}

.message {
	font-size:24px;
	height:70px;
}
.message label{
	margin-left:20px;
	margin-top:10px;
	display:inline;
	float: left;
}
.message textarea{
	display:inline;
	width:510px;
	height:40px;
	font-size: 22px;
    margin-top: 10px;
	text-aligin:bottom;
	border-bottom: 1px solid #83837E;
}