.error-tips {
    display: none;
}

#toast {
    position: fixed;
    top: 80%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    border: 1px solid #666;
    background-color: #B1BCCF;
    padding: 10px 0;
    text-align: center;
    opacity: .9;

    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
<!--
    /*The good stuff */
-webkit-transition : opacity 0.5 s ease-out; /* Saf3.2+, Chrome */
-moz-transition : opacity 0.5 s ease-out; /* FF4+ */
-ms-transition : opacity 0.5 s ease-out; /* IE10? */
-o-transition : opacity 0.5 s ease-out; /* Opera 10.5+ */
transition : opacity 0.5 s ease-out;

-->
}