{% extends "./promotion_base.html" %}

{% block title %}{{ title }}{% endblock %}


{% block container %}
    <div class="col-xs-12" style="text-align: center;height: 180px">
        <h1 style="padding: 30px">{{ title }}激活码和分享页面</h1>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <span>您的app活动激活码是：{{ activation_code }}</span>

        <form action="/weixin/appdownload/" method="get">
            <input type="text" class="form-control" value="{{ share_customer }}" name="share_customer"
                   aria-describedby="basic-addon1" style="text-align: center">
            <button class="btn btn-default form-control" type="submit">APP激活</button>
        </form>

        <form action="">
            <input type="text" class="form-control" value="{{ participant_phone }}" name="participant_phone"
                   aria-describedby="basic-addon1" style="text-align: center">
            <button class="btn btn-default form-control" type="submit">修改参与手机号</button>
        </form>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-12" style="text-align: center;height: 180px">
        <p style="padding: 30px">
        <hr/>
        {{ active_detail }}
        活动细节<br>
        活动细节<br>
        活动细节<br>
        活动细节<br>
        <hr/>
        分享链接：{{ share_link }}
        </p>
    </div>
{% endblock %}