{% extends "./promotion_base.html" %}

{% block title %}{{ title }}{% endblock %}


{% block container %}
    <div class="col-xs-12" style="text-align: center;">
        <h1 style="padding: 10px">{{ xlsample.name }}</h1>
    </div>
    <div class="col-xs-12" style="text-align: center;">
        <img src="{{ xlsample.pic_url }}" alt="" style="width: 80px;height: 80px"/>
    </div>
    <div class="col-xs-12" style="text-align: center;margin-bottom: 20px">
        {% if promotion_passed %}
            <a href="{{ xlsample.sale_url }}" target="_blank">去购买</a><br/>
        {% endif %}

        <span>SKU编码:{{ zl_aku.sku_code }}</span><br/>
        <span>款式尺寸:{{ zl_aku.sku_name }}</span>

    </div>
    {% if not promotion_passed %}
        <form action="" method="post">
            <input type="text" class="form-control" name="vipcode" placeholder="{{ vipcode_message }}"
                   aria-describedby="basic-addon1" style="text-align: center">
            <button class="btn btn-default form-control" type="submit">提交申请</button>
        </form>
    {% endif %}
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-12" style="text-align: center;height: 180px">
        <p style="padding: 30px">
        <hr/>
        活动细节<br>
        活动细节<br>
        活动细节<br>
        活动细节<br>
        <hr/>
        {% if share_link %}
            分享链接：{{ share_link }}
        {% endif %}
        </p>
    </div>
{% endblock %}