{% extends "promotion_base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block head_style %}
    <style>
        .active_detail {
            margin-top: 50px;
            text-align: center;
        }

        .form-content {
            text-align: center;
        }

        .submit-apply {
            margin-top: 30px;
        }
	
	.choice {
          padding: 0px 2px;
	}
	
	.choice span{
	  display: block;
	  font-size: 14px;
	  line-height:26px;
	  text-align: center;
	  border-radius: 4px;
	  padding-top: 2px;
	  padding-bottom: 4px;
	}

	.visible-border {
	  color: white;
	  background-image:url(http://7xogkj.com2.z0.glb.qiniucdn.com/222-unselected.png);
	  background-repeat:no-repeat;
	  background-size:100%;	
	}
	.highlight-border {
	  color: #220a3d;
	  background-image:url(http://7xogkj.com2.z0.glb.qiniucdn.com/222-selected.png);
	  background-repeat:no-repeat;
	  background-size:100%;

	}

	.greetings {
	  background-image:url(http://7xogkj.com2.z0.glb.qiniucdn.com/222-greetings.png?imageMogr2/thumbnail/400/format/png/quality/100);
	  background-repeat:no-repeat;
	  background-size:100%;
	}

	.mobileinput{
	  background-image:url(http://7xogkj.com2.z0.glb.qiniucdn.com/222-mobileinput.png);
	  background-repeat:no-repeat;
	  background-size:100%;
	  background-color:transparent;
	  border:0px;
	  outline: none;
	  text-align:center;
	  width: 230px;
	  height: 40px;
	  color: white;
	  font-size:16px;
	}
	.submit-button{
	  background-image:url(http://7xogkj.com2.z0.glb.qiniucdn.com/222-submit-application.png);
	  background-repeat:no-repeat;
	  background-size:100%;
	  background-color:transparent;
	  border:0px;
	  margin-top:20px;
	  width: 230px;
	  height: 40px;
	}

	.download-button{
	  background-image:url(http://7xogkj.com2.z0.glb.qiniucdn.com/222-download-button.png);
	  background-repeat:no-repeat;
	  background-size:100%;
	  background-color:transparent;
	  border:0px;
	  width: 230px;
	  height: 40px;
	  display: block;
	  margin: auto;
	}

	.bg-head-start{
	  background-image:url(http://7xogkj.com2.z0.glb.qiniucdn.com/222-bg-head-start.png);
	  background-size:100%;
	  background-repeat:no-repeat;
	  margin-top:20px;
	}
	
	.bg-body {
	  background-image:url(http://7xogkj.com2.z0.glb.qiniucdn.com/222-bg-body.png);
	  #background-size:100%;
	  background-color:transparent;
	}

	.bg-tail {
	  background-image:url(http://7xogkj.com2.z0.glb.qiniucdn.com/222-bg-tail.png);
	  background-size:100%;
	  background-repeat:no-repeat;
	}


	.product-background-start {
	  background-image:url(http://7xogkj.com2.z0.glb.qiniucdn.com/222-sleepingbag-background.png);
	  background-size:100%;
	  background-repeat:no-repeat;
	  margin-top:20px;
	}

	.product-background-done {
	  background-image:url(http://7xogkj.com2.z0.glb.qiniucdn.com/222-applictiondone-bg.png);
	  background-size:100%;
	  background-repeat:no-repeat;
	  margin-top:20px;
	}

	.mama-label {
	  color: #ffcf00;
	  font-weight: bold;
	  padding-left: 36px;
	  position:relative;
	  top: -6px;
	}
	.mama-greeting-text {
	  color: white;
	  font-size: 12px;
	  padding-left:10px;
	  padding-right:10px;
	  height: 52px;
	  text-align:center;
	}
	.mama-profile-image {
	  position:relative;
	  left:30px;
	  top: -20px;
	  width: 46px;
	  height: 46px;
	}


    </style>
{% endblock %}


    {% block content2 %}
    {% if not download %}
    <div class="greetings" >
      <div class="row">
	<div class="col-xs-12">
	  <div style="height:30px">
	    <img {% if referal %} src="{{ referal.thumbnail }}" {% else %} src="http://7xogkj.com2.z0.glb.qiniucdn.com/1181123466.jpg"{% endif %} alt="..." class="img-circle mama-profile-image"/>
	    <span class="mama-label">{% if referal %}{{ referal.nick }}{% else %}小鹿妈妈{% endif %}</span>
	  </div>
	  <div class="mama-greeting-text">
	    <span>啊哈哈，我刚抢完睡袋和红包，你也来吧，<br/>好运发发发哦～～</span>
	  </div>
	</div>
      </div>
    </div>
    {% endif %}
    {% endblock %}


    {% block content3 %}
    {% if download %}
    <div class="product-background-done" style="padding-bottom:30px">
    {% else %}
    <div class="product-background-start" style="padding-bottom:10px">
    {% endif %}
      <div class="row">
	<div class="col-xs-12" >
	  <div style="margin-top:50px">
	    <img id="id-bag" src="{{ img_src }}" style="width:100%"/>
	    
	  </div>
	</div>
      </div>
      {% if not download %}
      <div class="row" style="margin-top:20px">
	<div class="col-xs-2 choice"></div>
	<div class="col-xs-2 choice" style="padding: 1px 1px; color:white"><span>颜色 :</span></div>
	<div class="col-xs-2 choice"><span id="id-color-yellow" class="highlight-border">黄色</span></div>
	<div class="col-xs-2 choice"><span id="id-color-blue" class="visible-border">蓝色</span></div>
	<div class="col-xs-2 choice"><span id="id-color-pink" class="visible-border">粉色</span></div>
	<div class="col-xs-2 choice"></div>
      </div>
      <div class="row" style="margin-top:20px;margin-bottom:10px">
	<div class="col-xs-2 choice"></div>
	<div class="col-xs-2 choice" style="padding: 1px 1px; color:white"><span>尺码 :</span></div>
	<div class="col-xs-2 choice"><span class="highlight-border" id="id-size-3">0-3岁</span></div>
	<div class="col-xs-2 choice"><span class="visible-border" id="id-size-5">3-5岁</span></div>
	<div class="col-xs-2 choice"></div>
	<div class="col-xs-2 choice"></div>
      </div>
      {% endif %}
    </div>
    {% endblock %}

    {% block content4 %}
    <div class="row" style="margin-top:20px">
      <div class="col-xs-12" style="text-align:center">
	{% if download %}
        <a class="download-button" href="/sale/promotion/appdownload/" value="" type="button"></a>
	{% else %}
        <form action="" method="post" onsubmit="return check()">
          <input type="text" hidden="hidden" name="ufrom" id="ufrom"/>
          <input type="text" hidden="hidden" name="from_customer" id="from_customer" value="{{ from_customer }}"/>
          <input type="text" value="{{ pro.sample.outer_id }}" name="outer_id" hidden="hidden"/>
	  <input id="id-sku" type="text" value="1" name="sku_code" hidden="hidden"/>
          <p id="id-errmsg" style="color:#FF8800; text-align:center">{% if mobile_message %}{{ mobile_message }}{% endif %}</p>
          <input type="hidden" value="{{ openid }}" name="openid"/>

          <input id="id-mobile" type="tel" name="mobile" class="mobileinput" align="center"
                 {% if mobile %} value="{{ mobile }}" {% endif %} placeholder="请输入您的手机号">
	  
          {% if vipcode_message %}<span> {{ vipcode_message }}</span>{% endif %}
          <input class="submit-button" value="" type="submit"/>
        </form>

	{% endif %}
      </div>
    </div>
    {% endblock %}

    {% block tail_script %}
    <script>
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]);
            return null; //返回参数值
        }
        $(document).ready(function () {
            var ufrom = getUrlParam("ufrom");
            var ufrom_dom = $("#ufrom").val(ufrom);
            console.log(ufrom_dom);

        });

	var selectedColorElement = $("#id-color-yellow");
	var selectedSizeElement = $("#id-size-3");
	
	var bluebag = "http://7xogkj.com2.z0.glb.qiniucdn.com/222-bag-blue.png";
	var pinkbag = "http://7xogkj.com2.z0.glb.qiniucdn.com/222-bag-pink.png";
	var yellowbag = "http://7xogkj.com2.z0.glb.qiniucdn.com/222-bag-yellow.png";
	var bagimage = $("#id-bag");
	var sku = $("#id-sku");
	
	
	function clearColorSelection() {
          selectedColorElement.removeClass("highlight-border");
	  selectedColorElement.addClass("visible-border");
	}

	function clearSizeSelection() {
          selectedSizeElement.removeClass("highlight-border");
	  selectedSizeElement.addClass("visible-border");
	}
	
	$("#id-color-yellow").click(function () {
	  var target = $("#id-color-yellow");
	  if (target != selectedColorElement) {
	    clearColorSelection();
	    target.addClass("highlight-border");
	    target.removeClass("visible-border");
	    selectedColorElement = target;
	    bagimage.attr("src", yellowbag);
	    sku.val("1");
	  }
	});

	$("#id-color-blue").click(function () {
	  var target = $("#id-color-blue");
	  if (target != selectedColorElement) {
	    clearColorSelection();
	    target.addClass("highlight-border");
	    target.removeClass("visible-border");
	    selectedColorElement = target;
	    bagimage.attr("src", bluebag);
	    sku.val("2");
	  }
	});

	$("#id-color-pink").click(function () {
	  var target = $("#id-color-pink");
	  if (target != selectedColorElement) {
	    clearColorSelection();
	    target.addClass("highlight-border");
	    target.removeClass("visible-border");
	    selectedColorElement = target;
	    bagimage.attr("src", pinkbag);
	    sku.val("3");
	  }
	});

	$("#id-size-3").click(function () {
	  var target = $("#id-size-3");
	  if (target != selectedColorElement) {
	    clearSizeSelection();
	    target.addClass("highlight-border");
	    target.removeClass("visible-border");
	    selectedSizeElement = target;
	  }
	});

	$("#id-size-5").click(function () {
	  var target = $("#id-size-5");
	  if (target != selectedColorElement) {
	    clearSizeSelection();
	    target.addClass("highlight-border");
	    target.removeClass("visible-border");
	    selectedSizeElement = target;
	  }
	});

	function validateMobile(mobile) {
	  var reg = /^1[34578]\d{9}$/;
	  return reg.test(mobile);
	}
	
	function check() {
	  var mobile = $("#id-mobile").val();
	  if (!validateMobile(mobile)) {
	    console.log("wrong");
	    $("#id-errmsg")[0].innerHTML = "哎呀呀～手机号错啦～～";
	    return false;
	  }
	  return true;
	}
	
    </script>
{% endblock %}
