{% extends "./promotion_base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head_script %}
    <script src="{{ STATIC_URL }}jquery/jquery-2.1.1.min.js"></script>
    <script>
        var OSTest = function () {// 客户端平台检测　返回
            var u = navigator.userAgent;
            var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
            var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
            if (isAndroid == true) {
                return 'Android';
            }
            else if (isiOS == true) {
                return 'iOS';
            }
            else {
                return 'web'
            }
        };

        function startAndroidAPP() {
            console.log("start android app...");
            window.location = "xlmm://local.app/openwith";//打开本地app
            setTimeout(
                    function () {
                        window.location = "http://m.xiaolu.so";//超时则去下载
                    }, 50);
        }
        function startiOSAPP() {
            console.log("start iOS app...");
            window.location = "wx25fcb32689872499:open?vipcode={{ vipcode }}&from_customer={{ from_customer }}";//打开本地app

            setTimeout(
                    function () {//超时则去下载
                        window.location = "https://itunes.apple.com/us/app/xiao-lu-mei-mei/id1051166985";
                    }, 50);
        }

        function isWeiXin() {//判断当前浏览器是否是微信内置浏览器
            var ua = window.navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                return true;
            } else {
                return false;
            }
        }
    </script>
{% endblock %}


{% block container %}
    <span id="weixin_label" hidden="hidden">可以点击右上角在浏览器中打开</span>
    <div id="download">
        <div class="col-xs-12" style="text-align: center;height: 180px">
            <h1 style="padding: 30px">下载页面</h1>
        </div>

        <div class="col-xs-2"></div>
        <div class="col-xs-8" hidden="hidden" id="click_download">
            <a class="btn btn-default form-control" type="submit"
                    href="https://www.baidu.com">Android客户端下载</a>
            <a class="btn btn-default form-control" type="submit"
               href="https://itunes.apple.com/us/app/xiao-lu-mei-mei/id1051166985">iOS客户端下载</a>
        </div>
        <div class="col-xs-2"></div>
    </div>
{% endblock %}
{% block footer %}
    <script>
        $(document).ready(function () {
            var os = OSTest();
            if (isWeiXin()) {//如果是微信内置浏览器则提示在外部浏览器打开
                $("#download").hide();
                $("#weixin_label").show();
            }
            else {
                console.log("not in weixin, is in " + os);
                if (os == 'Android') {
                    startAndroidAPP();//启动app
                }
                else if (os == "iOS") {
                    startiOSAPP();//启动ios app
                }
                else {
                    $("#click_download").show();
                }
            }
        });
    </script>
{% endblock %}