{% extends "./promotion_base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head_script %}
    <script src="{{ STATIC_URL }}jquery/jquery-2.1.1.min.js"></script>
    <script>
        var OSTest = function () {// 客户端平台检测　返回
            var u = navigator.userAgent;
            var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
            var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
            if (isAndroid == true) {
                return 'Android';
            }
            else if (isiOS == true) {
                return 'iOS';
            }
            else {
                return 'web'
            }
        };

        function startAndroidAPP() {
            console.log("start android app...");
            window.location = "xlmm://local.app/openwith";//打开本地app
            setTimeout(
                    function () {
                        window.location = "http://7xogkj.com2.z0.glb.qiniucdn.com/Xlmm_v1.0.1_2016-02-20_2.apk";//超时则去下载
                    }, 150);
        }
        function startiOSAPP() {
            console.log("start iOS app...");
            window.location = "wx25fcb32689872499:open?vipcode={{ vipcode }}&from_customer={{ from_customer }}";//打开本地app

            setTimeout(
                    function () {//超时则去下载
                        window.location = "https://itunes.apple.com/us/app/xiao-lu-mei-mei/id1051166985";
                    }, 150);
        }

        function isWeiXin() {//判断当前浏览器是否是微信内置浏览器
            var ua = window.navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                return true;
            } else {
                return false;
            }
        }
    </script>
{% endblock %}


    {% block content1 %}
        <img src="http://7xogkj.com2.z0.glb.qiniucdn.com/weixin_tip" alt="" width="100%" id="weixin_label" hidden="hidden"/>
    <div id="download" style="text-align: center">
      <div class="col-xs-12" style="text-align: center;height: 180px; margin-bottom: 100px">
        <h3 style="padding: 30px;color: white">下载APP</h3>
        <img src="http://7xogkj.com2.z0.glb.qiniucdn.com/1181123466.jpg" alt="" class="img-circle"/>
      </div>
      <div class="row" style="margin-top: 60px">
        <div class="col-xs-1"></div>
        <!--添加二维码图片-->
        <div class="col-xs-4" hidden="hidden" style="margin-top: 30px" id="qrcode_android_download">
          <img src="http://7xogkj.com2.z0.glb.qiniucdn.com/android-qrcode-x.svg" alt="" width="100px"/>
        </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-4" hidden="hidden" style="margin-top: 30px" id="qrcode_ios_download">
          <img src="http://7xogkj.com2.z0.glb.qiniucdn.com/appstore_download_link.svg" alt="" width="100px"/>
        </div>
        <div class="col-xs-1"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-4" hidden="hidden" style="margin-top: 30px" id="click_android_download">
        <!--添加二维码图片-->
        <a class="btn btn-default form-control" type="submit"
           href="http://7xogkj.com2.z0.glb.qiniucdn.com/Xlmm_v1.0.1_2016-02-20_2.apk" style="background:#FFB329;color:white">Android下载</a>
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-4" hidden="hidden" style="margin-top: 30px" id="click_ios_download">
        <a class="btn btn-default form-control" type="submit"
           href="https://itunes.apple.com/us/app/xiao-lu-mei-mei/id1051166985" style="background:#FFB329;color:white">iOS下载</a>
        <div class="col-xs-1"></div>
      </div>
    </div>
    {% endblock %}
    {% block content3 %} {% endblock %}
    {% block content9 %} {% endblock %}
    
    
{% block footer %}
    <script>
        $(document).ready(function () {
            var os = OSTest();
            if (isWeiXin()) {//如果是微信内置浏览器则提示在外部浏览器打开
                $("#download").hide();
                $("#weixin_label").show();
                $("body").css("background","#220A3D");
            }
            else {
                console.log("not in weixin, is in " + os);
                if (os == 'Android') {
                    startAndroidAPP();//启动app
                }
                else if (os == "iOS") {
                    startiOSAPP();//启动ios app
                }
                else {
                    $("#qrcode_android_download").show();
                    $("#qrcode_ios_download").show();
                    $("#click_android_download").show();
                    $("#click_ios_download").show();
                }
            }
        });
    </script>
{% endblock %}
