{% extends "promotion_base.html" %}

{% block head_style %}
<style>
.mix-body-bg {
  background-image:url(http://7xogkj.com2.z0.glb.qiniucdn.com/222-body-bg.png);
  background-color:transparent;
  background-size:100% 1px;
}

.mix-head-image {
  width:100%;
  vertical-align:bottom;
}

.mix-tail-image {
  width:100%;
  vertical-align:top;
}
.border-show {
  border: 1px solid green;
}

.border-show-red {
  border: 1px solid red;
}



.profile {
  width: 15%;
  display: inline-block;
  vertical-align:top;
}
.apply-info {
  width:80%;
  color: white;
  font-size: 12px;
  display:inline-block;
  margin-left: 5px;
}

.apply-time {
  display: inline-block;
  color:white;
  margin-bottom: 5px;
}

.apply-text {
  display: inline-block;
}

.nonactive {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.active {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.friendlist-section {
  margin-top: 20px;
}

</style>
{% endblock %}

{% block content1 %}
<div class="friendlist-section">
  <div class="row">
    <div class="col-xs-12">

      {% for user in apply_results %}
      {% if user.status == 0 %}
      <div class="nonactive">
	<div class="profile"><img class="img-circle" src="{% if user.headimgurl %}{{ user.headimgurl }}{%else%}http://7xogkj.com2.z0.glb.qiniucdn.com/1181123466.jpg{% endif %}" style="width:100%;"/></div>
	<div class="apply-info">
	  <span class="apply-time">{{ user.created }}</span><br/>
	  <span class="apply-text"><font style="color:#ffcf00">{{ user.nick }}</font> 还未激活申请，快去提醒她吧～</span>
	</div>
      </div>
     {% else %}
      　　<div class="active">
		<div class="profile"><img class="img-circle" src="{% if user.headimgurl %}{{ user.headimgurl }}{%else%}http://7xogkj.com2.z0.glb.qiniucdn.com/1181123466.jpg{% endif %}" style="width:100%;"/></div>
		<div class="apply-info">
		  <span class="apply-time" style="color:grey">{{ user.created }}</span><br/>
		  <span class="apply-text" style="color:grey">{{ user.nick }} ，通过您的邀请成功加入活动，您人品真好！</span>
		</div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}



