{% extends "promotion_base.html" %}

<div>
  {% for i in res.inactives %}
  <div class="col-xs-2"><span>没有激活:</span></div>
  <div class="col-xs-9"><span>{{ i.mobile }}</span><img src="http://7xogkj.com2.z0.glb.qiniucdn.com/Icon-60%402x.png" alt="" width="40px"/></div>
  {% endfor %}
  <!-- 激活的用户　-->
  {% for i in res.referals_sus %}
  <div class="col-xs-2"><span>已经激活:</span></div>
  <div class="col-xs-9"><span>{{ i.mobile }}</span><img src="{{ i.thumbnail }}" alt="" width="40px"/></div>
  {% endfor %}
</div>

