{% extends "promotion_base.html" %}

{% block head_style %}
<style>
.mama-greeting-text {
  width:100%;
  display:inline-block;
  color: white;
  font-size: 14px;
  margin-left:10%;
  margin-top:10px;
}

.mama-profile-image {
  left: 10%;
  width: 20%;
}
.mama-label {
  color: #ffcf00;
  font-weight: bold;
  left: 10%;
  display:inline-block;
  vertical-align: bottom;
}

.greetings-section {
  position:relative;
}

.border-show {
  border: 1px solid green;
}

.profile {
  margin-left: 10%;
}

.ercode-section {
  margin-top: 20px;
}
.ercode {
  width: 60%;
  margin:auto;
  background-image:url(http://7xogkj.com2.z0.glb.qiniucdn.com/222-ercode-bg.png);
  background-size:100%;
  background-repeat: no-repeat;
}
.ercode-image {
  width: 100%;
  padding-top: 4%;
  padding-bottom: 6%;
  padding-left: 5%;
  padding-right: 5%;
}
.ercode-text {
  color: #ffcf00;
  text-align: center;
  margin-top: 10px;
}
</style>
{% endblock %}


{% block content2 %}
<div style="position:relative;top:-90px">
  <div class="greetings-section">
    <div class="profile">
      <img {% if referal %} src="{{ referal.thumbnail }}" {% else %} src="http://7xogkj.com2.z0.glb.qiniucdn.com/1181123466.jpg"{% endif %} alt="..." class="img-circle mama-profile-image"/>
      <span class="mama-label">{% if referal %}{{ referal.nick }}{% else %}小鹿妈妈{% endif %}</span>
    </div>
    <div class="row">
      <div class="col-xs-12">
	<div class="mama-greeting-text">
	  <span>亲爱的们，1000个全棉睡袋，600万红包，<br/>一起来抢吧，好运发发发哦～～</span>
	</div>
      </div>
    </div>
  </div>

  <div class="ercode-section">
    <div class="ercode">
      <img class="ercode-image" src="{{ qrimg }}"/>
    </div>
    <div class="ercode-text">
      <span>长按扫描二维码参加活动</span>
    </div>
  </div>
</div>

{% endblock %}

{% block content9 %}
<div class="row" style="position:relative;top:-40px">
  <div class="col-xs-12" style="text-align:center;color:white;font-size:12px">
    <p>© 2016 小鹿美美 All rights reserved.</p>
  </div>
</div>

{% endblock %}

