{% extends "promotion_base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block head_style %}
    <style>
        .share-icon {
            text-align: center;
        }

        .share-icon img {
            width: 40px;
        }

        .active_detail {
            margin-top: 50px;
            text-align: center;
        }

        .form-content {
            text-align: center;
        }

        .submit-order {
            margin-top: 30px;
        }

        .choice {
            padding: 0px 2px;
        }

        .counting {
            display: inline-block;
            padding: 2px 2px;
	    #margin: 4px 12px;
            font-size: 36px;
            #font-weight: 700;
            line-height: 1.1;
            text-align: center;
            border-radius: 4px;
        }

        .visible-border {
            color: #999;
            border: 1px solid #ddd;
        }

        .highlight-border {
            color: orange;
            border: 1px solid orange;
        }
    </style>
    {% endblock %}

    {% block content2 %}
    {% if res %}
    <div class="row">
      <div class="col-xs-12" style="text-align:center">
	  <p style="font-size:10px;margin-top:4px">我邀请的好友</p>
	  <span id="id-1" class="highlight-border counting">{{ res.fist_num }}</span>
	  <span id="id-2" class="highlight-border counting">{{ res.second_num }}</span><br/>
	  <a style="font-size:10px;margin-top:6px" href="/sale/promotion/cus_cdt/">有{{ res.inactive_count }}位好友未激活，查看 >></a>
      </div>
    </div>    
    {% endif %}
    {% endblock %}

    {% block content4 %}
    {% if not res %}
    <div class="row" style="margin-top:20px">
      <div class="col-xs-2"></div>
      <div class="col-xs-8 form-content">
	<span style="color:#FF8800">Hello，快激活您的申请吧！</span>
        <form action="" method="post">
          <input type="text" value="{{ pro.sample.outer_id }}" name="outer_id" hidden="hidden"/>
          <span style="color: red">{{ error_message }}</span>
          <button class="btn btn-default form-control submit-order" type="submit" style="background: #FF8800;color:white">激活申请</button>
        </form>
      </div>
      <div class="col-xs-2"></div>
    </div>
    {% else %}
    <div class="row">

    </div>
    <div class="highlight-border" style="border-radius:6px;margin:0px 6px;padding:6px 0px">
      <div class="row">
	<div class="col-xs-12" style="text-align:center"><p style="font-weight:bold">一键分享</p><p style="font-size:12px">快快一键分享到各大平台，好友点您分享的链接可进入活动首页。（越多越给力哦～）</p></div>
      </div>
      <div class="row">
	<div class="col-xs-4 share-icon"><img id="shareweixin" src="{{ STATIC_URL }}images/shareweixin.png" alt=""/></div>
	<div class="col-xs-4 share-icon"><img id="sharefirends" src="{{ STATIC_URL }}images/shareFirends.png" alt=""/></div>
	<div class="col-xs-4 share-icon"><img id="shareqq" src="{{ STATIC_URL }}images/shareqq.png" alt=""/></div>
      </div>
      <div class="row" style="margin-top:4px">
	<div class="col-xs-4 share-icon"><img id="shareqqspace" src="{{ STATIC_URL }}images/shareQQSpacing.png" alt=""/></div>
	<div class="col-xs-4 share-icon"><img id="shareweibo" src="{{ STATIC_URL }}images/shareweibo.png" alt=""/></div>
	<div class="col-xs-4 share-icon"><img id="sharecopylink" src="{{ STATIC_URL }}images/sharecopylink.png" alt=""/></div>
      </div>
    </div>

    <div class="row" style="margin-top:16px">
      <div class="col-xs-12">
        <ul class="list-group" style="font-size: 12px">
	    <li class="list-group-item list-group-item-warning" style="text-align:center;color:#FFB329">我的红包：4.84元</li>
	    <li class="list-group-item"><span>2016-02-22 12:13:06</span><br/><span>大王，您又吸引了三位好友，获得现金红包1.88元。</span></li>
	    <li class="list-group-item"><span>2016-02-22 12:13:06</span><br/><span>亲亲，您魅力引来三位好友，奖励现金红包1.68元。</span>
	    <li class="list-group-item"><span>2016-02-22 12:13:06</span><br/><span>美女，您就是真白富美的命，现金红包拿去1.28元。</span></li>
        </ul>
      </div>
    </div>
    
    {% endif %}

<!--
    <div class="col-xs-12" style="text-align: center">
        <h4>中奖名单</h4>
    </div>

    <div class="col-xs-12" style="text-align: center" id="short_result">

    </div>



    <div class="col-xs-12 active_detail" style="text-align: center">
        <a href="/sale/promotion/pmt_res/1/1/1602/">更多中奖名单</a>
    </div>

    <div id="nativeShare"></div>
-->
{% endblock %}


{% block tail_script %}

    <script>
        var OSTest = function () {// 客户端平台检测　返回
            var u = navigator.userAgent;
            var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
            var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
            if (isAndroid == true) {
                return 'Android';
            }
            else if (isiOS == true) {
                return 'iOS';
            }
            else {
                return 'web'
            }
        };
        function share_to(uform) {
            var os = OSTest();
            var share_link = $("#share_link").attr('cid');
            if (os == 'iOS') {
                window.location = 'wx25fcb32689872499://?platform=' + uform + '&url=' + share_link + '&ufrom=' + uform;
            }
            else if (os == 'Android') {
                // 调用android客户端接口内容
                if (window.AndroidBridge) {
                    window.AndroidBridge.getPromotionParams(uform, share_link);
                }
            }
            else {
            }
        }
        // 显示中奖结果30名
        function show_short_rest() {
            console.log('short res');
            var Url = "/sale/promotion/pmt_short_res/";
            $.ajax({
                type: 'get',
                url: Url,
                dataType: 'json',
                success: resCallBack
            });


            function resCallBack(res) {
                console.log(res);
                $.each(res, function (index, da) {
                    var html = '<div class="col-xs-2"></div>' +
                            '<div class="col-xs-9">' +
                            '<img src="' + da[3] + '" alt="" width="40px"/>' +
                            '<span>' + da[0] + '</span></div>';
                    $("#short_result").append(html);

                })
            }
        }


        $(document).ready(function () {
            //show_short_rest();
            //'wxapp', 'pyq', 'qq', 'sinawb', 'web', 'qqspa'

            $("#sharecopylink").click(function () {
                console.log("复制链接");
                var uform = 'web';
                share_to(uform);
            });
            $("#sharefirends").click(function () {
                console.log("朋友圈");
                var uform = 'pyq';
                share_to(uform);
            });
            $("#shareqq").click(function () {
                console.log("qq");
                var uform = 'qq';
                share_to(uform);
            });
            $("#shareqqspace").click(function () {
                console.log("qq空间");
                var uform = 'qqspa';
                share_to(uform);
            });
            $("#shareweibo").click(function () {
                console.log("微博");
                var uform = 'sinawb';
                share_to(uform);
            });
            $("#shareweixin").click(function () {
                console.log("微信");
                var uform = 'wxapp';
                share_to(uform);
            });
        });


        var selectedColorElement = $("#id-color-yellow");
        var selectedSizeElement = $("#id-size-3");

        function clearColorSelection() {
            selectedColorElement.removeClass("highlight-border");
            selectedColorElement.addClass("visible-border");
        }

        function clearSizeSelection() {
            selectedSizeElement.removeClass("highlight-border");
            selectedSizeElement.addClass("visible-border");
        }

        $("#id-color-yellow").click(function () {
            var target = $("#id-color-yellow");
            if (target != selectedColorElement) {
                clearColorSelection();
                target.addClass("highlight-border");
                selectedColorElement = target;
            }
        });

        $("#id-color-blue").click(function () {
            var target = $("#id-color-blue");
            if (target != selectedColorElement) {
                clearColorSelection();
                target.addClass("highlight-border");
                selectedColorElement = target;
            }
        });

        $("#id-color-pink").click(function () {
            var target = $("#id-color-pink");
            if (target != selectedColorElement) {
                clearColorSelection();
                target.addClass("highlight-border");
                selectedColorElement = target;
            }
        });

        $("#id-size-3").click(function () {
            var target = $("#id-size-3");
            if (target != selectedColorElement) {
                clearSizeSelection();
                target.addClass("highlight-border");
                selectedSizeElement = target;
            }
        });

        $("#id-size-5").click(function () {
            var target = $("#id-size-5");
            if (target != selectedColorElement) {
                clearSizeSelection();
                target.addClass("highlight-border");
                selectedSizeElement = target;
            }
        });


    </script>
{% endblock %}
