{% extends "promotion_base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block head_style %}
    <style>
        .share-icon {
            text-align: center;
        }

        .share-icon img {
            width: 40px;
        }

        .active_detail {
            margin-top: 50px;
            text-align: center;
        }

        .form-content {
            text-align: center;
        }

        .submit-order {
            margin-top: 30px;
        }

        .choice {
            padding: 0px 2px;
        }

        .choice span {
            display: block;
            padding: 8px 1px;
            font-size: 14px;
            #font-weight: 700;
            line-height: 1.1;
            text-align: center;
            border-radius: 4px;
        }

        .visible-border {
            color: #999;
            border: 1px solid #ddd;
        }

        .highlight-border {
            color: orange;
            border: 1px solid orange;
        }
    </style>
{% endblock %}

{% block content2 %}
    {% if not res %}
    <div class="row">
      <div class="col-xs-2 choice"></div>
      <div class="col-xs-2 choice" style="padding: 1px 1px"><span>颜色 :</span></div>
      <div class="col-xs-2 choice"><span id="id-color-yellow" class="highlight-border">黄色</span></div>
      <div class="col-xs-2 choice"><span id="id-color-blue" class="visible-border">蓝色</span></div>
      <div class="col-xs-2 choice"><span id="id-color-pink" class="visible-border">粉色</span></div>
      <div class="col-xs-2 choice"></div>
    </div>
    <div class="row" style="margin-top:10px">
      <div class="col-xs-2 choice"></div>
      <div class="col-xs-2 choice"><span>尺码 :</span></div>
      <div class="col-xs-2 choice"><span id="id-size-3" class="highlight-border">0-3岁</span></div>
      <div class="col-xs-2 choice"><span id="id-size-5" class="visible-border">3-5岁</span></div>
      <div class="col-xs-2 choice"></div>
      <div class="col-xs-2 choice"></div>
    </div>
    {% endif %}
    
    <div class="row" style="margin-top:20px">
      <div class="col-xs-2"></div>
      <div class="col-xs-8 form-content">
        <form action="" method="post">
          <input type="text" value="{{ pro.sample.outer_id }}" name="outer_id" hidden="hidden"/>
          <!--  没有申请记录的情况　-->
          {% if not_apply %}
          <span style="color: red">{{ not_apply }}</span>
          <input type="text" name="vipcode"/>
          {% endif %}
          <span style="color: red">{{ error_message }}</span>
          {% if not res %}
          <button class="btn btn-default form-control submit-order" type="submit">提交订单</button>
          {% endif %}
        </form>
      </div>
    </div>

    <!-- 申请结果 -->
    {% if res %}
    <div class="col-xs-12" style="text-align: center;font-size: 20px"><span>{{ res.app_down_count }}</span></div>
    <div class="col-xs-12" style="text-align: center;font-size: 20px"><span>邀请码：{{ res.vipcode }}</span></div>
    <div class="col-xs-12">
      {% for i in res.referals_sus %}
      <div class="col-xs-2"></div>
      <div class="col-xs-9"><span>{{ i.mobile }}</span><img src="{{ i.thumbnail }}" alt="" width="40px"/></div>
      {% endfor %}
    </div>

    <!--
        <div class="col-xs-4"><span>推荐量：{{ res.promote_count }}</span></div>
        <div class="col-xs-4"><span>下载量：{{ res.app_down_count }}</span></div>
        -->


    <div class="col-xs-12" style="text-align: center">
      <img src="{{ res.link_qrcode }}" alt="" width="100px" height="100px" cid="{{ res.share_link }}" style="display: none" id="share_link"/>
    </div>
    <div class="col-xs-4 share-icon"><img id="shareweixin" src="{{ STATIC_URL }}images/shareweixin.png" alt=""/></div>
    <div class="col-xs-4 share-icon"><img id="sharefirends" src="{{ STATIC_URL }}images/shareFirends.png" alt=""/></div>
    <div class="col-xs-4 share-icon"><img id="shareqq" src="{{ STATIC_URL }}images/shareqq.png" alt=""/></div>
    <div class="col-xs-4 share-icon"><img id="shareqqspace" src="{{ STATIC_URL }}images/shareQQSpacing.png" alt=""/></div>
    <div class="col-xs-4 share-icon"><img id="shareweibo" src="{{ STATIC_URL }}images/shareweibo.png" alt=""/></div>
    <div class="col-xs-4 share-icon"><img id="sharecopylink" src="{{ STATIC_URL }}images/sharecopylink.png" alt=""/></div>
    {% endif %}


    <div class="col-xs-12" style="text-align: center">
        <h4>中奖名单</h4>
    </div>

    <div class="col-xs-12" style="text-align: center" id="short_result">

    </div>



    <div class="col-xs-12 active_detail" style="text-align: center">
        <a href="/sale/promotion/pmt_res/1/1/1602/">更多中奖名单</a>
    </div>
<!--
    <div id="nativeShare"></div>
-->
{% endblock %}


{% block tail_script %}

    <script>
        var OSTest = function () {// 客户端平台检测　返回
            var u = navigator.userAgent;
            var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
            var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
            if (isAndroid == true) {
                return 'Android';
            }
            else if (isiOS == true) {
                return 'iOS';
            }
            else {
                return 'web'
            }
        };
        function share_to(uform) {
            var os = OSTest();
            var share_link = $("#share_link").attr('cid');
            if (os == 'iOS') {
                window.location = 'wx25fcb32689872499://?platform=' + uform + '&url=' + share_link + '&ufrom=' + uform;
            }
            else if (os == 'Android') {
                // 调用android客户端接口内容
                if (window.AndroidBridge) {
                    window.AndroidBridge.getPromotionParams(uform, share_link);
                }
            }
            else {
            }
        }
        // 显示中奖结果30名
        function show_short_rest() {
            console.log('short res');
            var Url = "/sale/promotion/pmt_short_res/";
            $.ajax({
                type: 'get',
                url: Url,
                dataType: 'json',
                success: resCallBack
            });


            function resCallBack(res) {
                console.log(res);
                $.each(res, function (index, da) {
                    var html = '<div class="col-xs-2"></div>' +
                            '<div class="col-xs-9">' +
                            '<img src="' + da[3] + '" alt="" width="40px"/>' +
                            '<span>' + da[0] + '</span></div>';
                    $("#short_result").append(html);

                })
            }
        }


        $(document).ready(function () {
            show_short_rest();
            //'wxapp', 'pyq', 'qq', 'sinawb', 'web', 'qqspa'

            $("#sharecopylink").click(function () {
                console.log("复制链接");
                var uform = 'web';
                share_to(uform);
            });
            $("#sharefirends").click(function () {
                console.log("朋友圈");
                var uform = 'pyq';
                share_to(uform);
            });
            $("#shareqq").click(function () {
                console.log("qq");
                var uform = 'qq';
                share_to(uform);
            });
            $("#shareqqspace").click(function () {
                console.log("qq空间");
                var uform = 'qqspa';
                share_to(uform);
            });
            $("#shareweibo").click(function () {
                console.log("微博");
                var uform = 'sinawb';
                share_to(uform);
            });
            $("#shareweixin").click(function () {
                console.log("微信");
                var uform = 'wxapp';
                share_to(uform);
            });
        });


        var selectedColorElement = $("#id-color-yellow");
        var selectedSizeElement = $("#id-size-3");

        function clearColorSelection() {
            selectedColorElement.removeClass("highlight-border");
            selectedColorElement.addClass("visible-border");
        }

        function clearSizeSelection() {
            selectedSizeElement.removeClass("highlight-border");
            selectedSizeElement.addClass("visible-border");
        }

        $("#id-color-yellow").click(function () {
            var target = $("#id-color-yellow");
            if (target != selectedColorElement) {
                clearColorSelection();
                target.addClass("highlight-border");
                selectedColorElement = target;
            }
        });

        $("#id-color-blue").click(function () {
            var target = $("#id-color-blue");
            if (target != selectedColorElement) {
                clearColorSelection();
                target.addClass("highlight-border");
                selectedColorElement = target;
            }
        });

        $("#id-color-pink").click(function () {
            var target = $("#id-color-pink");
            if (target != selectedColorElement) {
                clearColorSelection();
                target.addClass("highlight-border");
                selectedColorElement = target;
            }
        });

        $("#id-size-3").click(function () {
            var target = $("#id-size-3");
            if (target != selectedColorElement) {
                clearSizeSelection();
                target.addClass("highlight-border");
                selectedSizeElement = target;
            }
        });

        $("#id-size-5").click(function () {
            var target = $("#id-size-5");
            if (target != selectedColorElement) {
                clearSizeSelection();
                target.addClass("highlight-border");
                selectedSizeElement = target;
            }
        });


    </script>
{% endblock %}
