<!DOCTYPE html>
<html>
<head>
	<title>商品拆分管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/base.less" rel="stylesheet/less" type="text/css" />
    <style type="text/css">
		*{ margin:0; padding:0;}
		div {
			display:block;
			margin-left:0px;
		}
		ul li{ 
			list-style:none; 
			display:inline; 
			float:left; 
			margin-left:20px;  
			margin-top:30px;
		}
		input{
			width:140px;
		}
		select{
			width:120px;
		}
		.left-panel{
			width:50%;
			float:left;
		}
		.right-panel{
			width:50%;
			float:right;
		}
	</style>
</head>
<body>
	<div class="container">
		<h3>订单商品拆分管理</h3>
		<div class="left-panel">
			<div class="left-header-panel"><select></select></div>
			<div class="left-content">
				<ul>
					<li>测试1</li>
					<li>测试2</li>
				</ul>
			</div>
		</div>
		<div class="right-panel">
			<h4>拆分明细</h4>
			<div class="right-content">
				<div class= "right-inner-panel">
					<div class="tool-line">
						<label>当前选中:<span></span></label>
						<a class="btn"><icon class="icon-plus"></icon>&nbsp;新拆分</a>
					</div>
					<div class="rule-list">
						<ul>
							<li>测试1</li>
							<li>测试2</li>
						</ul>
					</div>
					<div><button class="btn btn-middle btn-primary">保存</button></div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	
</script>
</html>