{% extends "apply/apply_base.html" %}

{% block title %} 小鹿妈妈-申请成功 {% endblock %}

{% block apply_script %}

{% endblock %}


{% block container %}

<div class="wrapper">
    <ul class="flow-steps">
    	<li class="col-xs-4 "><a href="#" class="btn btn-default">填写资料 &gt;</a></li>
        <li class="col-xs-4 "><a href="#" class="btn btn-default">支付押金 &gt;</a></li>
        <li class="col-xs-4 on"><a href="#" class="btn">加入小鹿 &gt;</a></li>
    </ul>
    <div class="arr"></div>
</div>

<div class="jumbotron" style="padding:5px;">
  <div class="container">
    <p>恭喜{{ xlmm.weikefu }}，您离成为正式小鹿妈妈就差一步了，请扫描二维码加客服(<span class="text-warning">并提醒设置正式妈妈权限哦</span>)：</p>
    <a href="#" class="thumbnail">
      <img src="{{ kefu_url }}" alt="...">
    </a>
    <form action="{% url mama_confirm %}" method="POST">
	  {% csrf_token %}
	  <input type="hidden"  name="openid" value="{{ wxuser.openid }}">
	  <input type="hidden"  name="unionid" value="{{ wxuser.unionid }}">
	  <button type="submit" class="btn btn-primary btn-lg">确认已添加管理员微信号</button>
	</form>
  </div>
</div>

{% endblock %}