<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>支付页面</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/step-2.css">
    <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.js"></script>
</head>

<body>
<div class="container" id="post-data-debug">
    <div class="row">
        <div class="m-printer col-sm-6 col-xs-10 col-sm-offset-3 col-xs-offset-1"></div>
    </div>

    <div class="row from-printer">
        <div class="m-printed-paper col-sm-6 col-xs-10 col-sm-offset-3 col-xs-offset-1">
            <div class="m-printed-content">
                <label class="text-center">小鹿妈妈大数据系统使用年费</label>

                <h1 class="text-center">￥188.00</h1>
            </div>
            <p class="text-center">小鹿妈妈客服热线: <a href="tel:400-8235-355">400-8235-355</a></p>
        </div>
    </div>

    <div class="row text-center">
        <div class="checkbox">
            <label><input type="checkbox" id="aggree-items" checked> 同意<a href="{{ STATIC_URL }}tiaokuan.html">小鹿妈妈服务条款</a></label>
        </div>
    </div>

    <div class="row">
        <img class="col-sm-6 col-xs-10 col-sm-offset-3 col-xs-offset-1 m-top-md"
             src="http://7xogkj.com2.z0.glb.qiniucdn.com/lALOFSymgcz7zQH7_507_251.png" alt="解释">
    </div>

    <div class="row">
        <img class="col-sm-1 col-xs-10 col-sm-offset-3 col-xs-offset-1 m-top-md"
             src="http://7xogkj.com2.z0.glb.qiniucdn.com/payment-type.png" alt="支付方式">
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <div class="col-sm-4 col-xs-4 col-sm-offset-1  col-xs-offset-1 text-center m-icon-container">

                <img class="active" id="alipay-grey" src="http://7xogkj.com2.z0.glb.qiniucdn.com/alipay-normal.png" alt="">
                <img class="" id="alipay-light" src="http://7xogkj.com2.z0.glb.qiniucdn.com/alipay-active.png"
                     alt="">

                <p id="alipay-p" cid="{{ payinfos.weixin_payable }}">支付宝</p>
            </div>

            <div class="col-sm-4 col-xs-4 col-sm-offset-1  col-xs-offset-2 text-center m-icon-container">

                <img class="active" id="weichatpay-icon-light"
                     src="http://7xogkj.com2.z0.glb.qiniucdn.com/wechatpay-active.png" alt="">
                <img class="" id="weichatpay-icon-grey"
                     src="http://7xogkj.com2.z0.glb.qiniucdn.com/wechatpay-normal.png" alt="">

                <p id="weixinzhifu-p" cid="{{ payinfos.alipay_payable }}">微信支付</p>
            </div>
        </div>
    </div>

    <div class="row">

        <form id="deposite-form" action="#" method="POST" onsubmit="return Confirm_charge()">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="item_id" value="{{ product.id }}">
            <input type="hidden" name="sku_id"
                   value="{{ sku_id }}">
            <input type="hidden" name="uuid" value="{{ uuid }}">
            <input type="hidden" name="mm_linkid" value="{{ referal_mamaid }}">
            <input type="hidden" name="success_url" value="{{ success_url }}">
            <input type="hidden" name="cancel_url" value="{{ cancel_url }}">
            <input type="hidden" name="payment" value="{{ payinfos.total_payment }}">
            <input type="hidden" name="total_fee" value="{{ payinfos.total_fee }}">
            <input type="hidden" name="post_fee" value="{{ payinfos.post_fee }}">
            <input type="hidden" name="discount_fee" value="{{ payinfos.discount_fee }}">
            <input type="hidden" name="num" value="1">
            <input type="hidden" name="addr_id" value="">

            <input type="hidden" name="channel" id="channel_value" value="wx_pub">

            <input class="js-pay-btn col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 btn btn-red"
                   type="submit" id="btn-pay" value="支付押金">

        </form>
    </div>
</div>
<script src="{{ STATIC_URL }}js/step-2.js"></script>
<script src="{{ STATIC_URL }}js/pingpp_pay.js"></script>
<script src="{{ STATIC_URL }}js/pingpp_ap.js"></script>
<script>
    function Confirm_charge() {
        var aggree_item = $('#aggree-items');
        if (aggree_item.prop('checked') == false) {
            alert('请勾选同意条款');
            return false
        }
        var CHARGE_URL = window.location.href;
        var params = $('#deposite-form').serialize();
        console.log('pay info:', params);
        var callBack = function (data) {
            console.log('charge resp:', data);
            var redirect_url = './';
            pingpp.createPayment(data, function (result, err) {

                if (result == "success") {
                    redirect_url = '{{success_url}}?out_trade_no=' + params['uuid'];
                } else if (result == "fail") {
                    redirect_url = '{{cancel_url}}?mama_id={{referal_mamaid}}';
                } else if (result == "cancel") {
                    redirect_url = '{{cancel_url}}?mama_id={{referal_mamaid}}';
                }
                window.location.href = redirect_url;
            });
        };
        // 调用接口
        $.ajax({
            type: 'post',
            url: CHARGE_URL,
            data: params,
            dataType: 'json',
            success: callBack,
            error: function (err) {
                console.log("ajax error ");
                console.log(err);
                console.log(err.responseText);
                click_paybtn = false;
                console.log("err is here ", err);
                var resp = JSON.parse(err.responseText);
                if (!isNone(resp.detail)) {
                    alert(resp.detail);
                } else {
                    alert('支付异常!');
                }
            }
        });
        return false;
    }
</script>
</body>
</html>