{% extends "weixin/weixin_base.html" %}

{% block title %} VIP优惠券 {% endblock %}

{% block container %}

<div class="container-fluid">

  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading">如何领取优惠券</div>
    <div class="panel-body">
    <div class="row">
    <div class="col-xs-6">
	    <div class="thumbnail">
	      <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLticIHepSybaDQKTV5LXs8iaLKgbibibRvEcbiax61bchOUpyTFzP8qNGPUF6JSHQ3YOysrtfFOLj8tCqg/0"> 
	    </div>
    </div>
    <div class="col-xs-6">
	    <div class="thumbnail">
	      <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLticIHepSybaDQKTV5LXs8iaLqTM5mriaRVLuLR5LotjM9ks6OL1icCoED9qHibN7XGOzdLemSFqIfWwYw/0">
	    </div>
	</div>
	</div>
	<div class="col-xs-12">
	  <p>一，扫描二维码领取</p>
	  <p>微信扫一扫下面二维码领取（把二维码图片保存到手机，微信扫一扫，选择右上角“相册”）：</p>
	  <p>1) 双十一50元微信粉丝专享券</p>
	  <a href="#" class="thumbnail">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLv3mjZZAzCvUDEPccQCMA3cmiag2XQfWhxCdPfpzfdRrBaFJ2FIq0OnH825VMwQkS9oDIW8avzwyoQ/0k" alt="...">
	  </a>
	  <p>2) 双十一10元无门槛优惠券</p>
	  <a href="#" class="thumbnail">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLuITXHXmMH70m0NQkmSkXYl6XVNbrkPwnPQic6U2QiaAu29twuJXkAvPFy32UPmhmMU8ZyJd8QibmQmg/0" alt="...">
	  </a>
	</div>
	<div class="col-xs-12">
	  <p>二，复制链接领取</p>
	  <p><font style="font-size:16px;">50元券领取链接:</font>&nbsp;<font style="font-weight:bold;">http://t.cn/R78Hku7</font></p>
	  <p><font style="font-size:16px;">10元券领取链接:</font>&nbsp;<font style="font-weight:bold;">http://t.cn/R78Qi3f</font></p>
	  <p>复制链接到【浏览器】打开，即可领取</p>
	</div>
	<div class="col-xs-12">
	  <p>三，联系旺旺客服领取</p>
	  <p>可以联系旺旺在线客服获得双十一微信粉丝专属优惠券；</p>
	</div>
    </div>
    </div>
  </div>



  <div class="footer">
    <p>© Uni Littles 2014</p>
  </div>
  
</div>
{% endblock %}