{% extends "weixin/weixin_base.html" %}

{% block title %} 感恩礼包 {% endblock %}


{% block container %}

<div class="container-fluid">

  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading" style="color:#e8792a">十一月 感恩季</div>
    <div class="panel-body">
      <p style="color:#029fd6">快为好友挑选礼物吧！您选咱就送，<font style="color:red">[免费+包邮]</font>哦！</p>
      <form action="/weixin/sales/award/notify/" method="post" onsubmit="return checkSelection()">{% csrf_token %}
	<input type="hidden" value="" id="id_selection" name="award_val">
      <div class="row">
	<div class="col-xs-12">
	  <h5 id="id_p1" style="color:#029fd6">选择一：天猫No.1 卡通吸汗巾</h5>
	</div>
      </div>
      <div class="row">
	<div class="col-xs-12">
	  <div class="thumbnail" style="padding:3px" id="id_i1">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLticIHepSybaDQKTV5LXs8iaL2PT8NunDm0QuwY0f3jZdzL4W2MXbOWodNrvDLqtSytTuxQ7mjkHiaGA/0">
	  </div>
	</div>
      </div>

      <div class="row">
	<div class="col-xs-12">
	  <h5 id="id_p2" style="color:#029fd6">选择二：天鹅绒 时尚造型三角巾</h5>
	</div>
      </div>
      <div class="row">
	<div class="col-xs-12" style="text-align:center;">
	  <div class="thumbnail" style="padding:3px" id="id_i2">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLticIHepSybaDQKTV5LXs8iaLN160Swld40Se6S4M1B2Eu4Ge1lFkBLNhblicfM0z63oceSYhmghSvHA/0"/>
	  </div>
	</div>
      </div>

      <div class="row">
	<div class="col-xs-12">
	  <h5 id="id_p3" style="color:#029fd6">选择三：纯棉不勒脚 毛巾袜（2双装）</h5>
	</div>
      </div>
      <div class="row" >
	<div class="col-xs-12" style="text-align:center;">
	  <div class="thumbnail" style="padding:3px" id="id_i3">
	    <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLticIHepSybaDQKTV5LXs8iaLiaIehcUeMgaSicJzjr1E7vNkkkIRV7oBOaa8QtvAVfl4pbJ3fribtia2Vg/0"/>
	  </div>
	</div>
      </div>

      <div class="row">
	<div class="col-xs-12">
	  <h5 id="id_p4" style="color:#029fd6">选择四：婴幼儿防PM2.5卡通口罩</h5>
	</div>
      </div>
      <div class="row" >
	<div class="col-xs-12" style="text-align:center;">
	  <div class="thumbnail" style="padding:3px" id="id_i4">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLticIHepSybaDQKTV5LXs8iaLINLbNAiaqzCvXy0lb5mxpExonL6rdteicx7bazWdzViaJPia69E35l2raw/0"/>
	  </div>
	</div>
      </div>

      <div class="row">
	<div class="col-xs-12">
	  <h5 id="id_p5" style="color:#029fd6">选择五：时尚针织三角巾</h5>
	</div>
      </div>

      <div class="row" >
	<div class="col-xs-12" style="text-align:center;">
	  <div class="thumbnail" style="padding:3px" id="id_i5">
	  <img src="https://mmbiz.qlogo.cn/mmbiz/yMhOQPTKhLticIHepSybaDQKTV5LXs8iaLQk8ZCJQciaD7hNMR4zQRWDhtUP2RRmVfAJiaypTianqTnGh1LznclxoVw/0"/>
	  </div>
	</div>
      </div>

      <div class="row">
	<div class="col-xs-12" style="text-align:center">
	  <p style="color:red" id="id_msg"></p>
	  {% if is_share %}
	  <p>亲，您已完成了感恩礼包发送。一定要让好友来领取哦！</p>
	  {% else %}
	  <button type="submit" class="btn btn-warning" id="id_submit">确定提交</button>
	  {% endif %}
	</div>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block tail_script %}
<script type="text/javascript">
  {% for i in 123456|make_list %}
  $("#id_p{{ i }},#id_i{{ i }}").on("click", function () {
      $("#id_i{{ i }}").css("background-color","#ed5377");
      $("#id_p{{ i }}").css("color","#ed5377");
      $("#id_selection").val("{{ i }}");
    {% for j in 123456|make_list %}
      {% if i != j %}
      $("#id_i{{ j }}").css("background-color","");
      $("#id_p{{ j }}").css("color","#029fd6");  
      {% endif %}
    {% endfor %}

  });
  {% endfor %}

  function checkSelection() {
    if ($("#id_selection").val() == "") {
      $("#id_msg")[0].innerHTML = "<p style='color:red'>亲，请先选择礼物再提交！</p>";
      return false;
    }
    {% if is_share %}
    if (1) return false;
    {% endif %}
    return true;
  }

</script>

{% endblock %}
