{% extends "weixin/weixin_base.html" %}

{% block title %}超难！崔玉涛经典育儿问答,我击败了90%的新手妈妈！快来挑战吧！{% endblock %}

{% block container %}

<div class="container-fluid">
   <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading" style="color:orange">答题结束啦！</div>
    <div class="panel-body">
      <div class="row">
	<div class="col-xs-12">
	  <p style="color:red">恭喜！您本次答对{{ exam_user_paper.grade }}题，赢得了{{ exam_user_paper.grade }}个积分！</p>
	</div>
    </div>
  </div>
</div>

{% endblock %}
