<!DOCTYPE html>
<html>
<head>
    <title>小鹿美美－商品详情</title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta id="viewport" name="viewport" >
    <script>
    var oViewport = document.getElementById('viewport');
    var phoneWidth = parseInt(window.screen.width);
    var phoneScale = phoneWidth / 640;
    var ua = navigator.userAgent.toLowerCase();
    if (/android (\d+\.\d+)/.test(ua)) {
        var version = parseFloat(RegExp.$1);
        if (version > 2.3) {
            oViewport.setAttribute('content', 'width=640, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi')
        } else {
            oViewport.setAttribute('content', 'width=640, target-densitydpi=device-dpi');
        }
    } else {
        oViewport.setAttribute('content', 'width=640, user-scalable=no, target-densitydpi=device-dpi');
    }
    </script>
    <style>
        .goods-img {
		    padding-top: 20px;
		    padding-bottom: 78px;
		    width: 640px;
		    margin: 0 auto;
		    background-color: #fff;
		}
		.goods-img .list {
		    padding-bottom: 38px;
		}
		.goods-img img {
		    display: block;
		    width: 100%;
		}
    </style>
</head>
<body>
<div>
<div class="goods-img">
    <div class="list">
    <!-- 这里添加商品图片 -->
    {% if product.detail.content_images %}
    {% for img in product.detail.content_images %}
	    <img src="{{img}}?imageMogr2/thumbnail/640/format/jpg/quality/90"></img>
	{% endfor %}
	{% else %}
	{% for img in product.product_model.content_images %}
        <img src="{{img}}?imageMogr2/thumbnail/640/format/jpg/quality/90"></img>
    {% endfor %}
	{% endif %}
    </div>
</div>
</div>
</body>
</html>