ul ,body{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
}


li {
	list-style: none;
	
	background-color: #d8d8d8;
	height: 64px;
	margin: 8px 5px;
}
div {
	text-align: center;
	padding: 25px 0 10px 0;
}