.page-header {
	margin: 10px 0 10px;
}
.home{
	margin-top:30px;
	font-size:36px;
}
.pager li>a, .pager li>span{
	padding: 0px 5px;
}
tfoot input{
	width:50%;
}

h1 {
  display: block;
  font-size: 1.35em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}
