{% extends "xiaolumm/daystats_base.html" %}
{% block title %}选品统计{% endblock %}
{% block head_script %}
    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";
    </style>
    <style>
    .container{
        width: 95%;
    }
    </style>
    <script>
        function get_data() {
            var task_id = $("#task_id").val();
            $.ajax({
                url: "/djcelery/" + task_id + "/status/", //这里是静态页的地址
                method: "GET", //静态页用get方法，否则服务器会抛出405错误
                success: function (res) {
                    console.log(res.task.status);
                    console.log(res.task.result)
                    if (res.task.status == "SUCCESS") {
                        var tb = $('#data-table-result');
                        var child_tb = $('#data-table-child-result');
                        var nv_data = eval(res.task.result.nv_data);
                        var child_data = eval(res.task.result.child_data);
                        set_table(nv_data,tb);
                        set_table(child_data,child_tb);

                        var oHead = document.getElementsByTagName('HEAD').item(0);
                        var oScript = document.createElement("script");
                        oScript.type = "text/javascript";
                        oScript.src = "/static/daystat_js/stat_sale_product.js";
                        oHead.appendChild(oScript);
                    } else {
                        setTimeout(get_data, 2000);
                    }
                }
            });
        }
        get_data()
        function set_table(nv_data,target_table) {
            console.log("begfin");
            var result_str = "<thead><th>买手名字</th>";
            var first_data = nv_data[0];
            var loop_count = 0
            for (var key in first_data) {
                if (loop_count == 0) {
                    for (var key1 in first_data[key]) {
                        result_str += "<th>" + key1 + "</th>";
                    }
                    loop_count = 1;
                    break;
                }

            }
            result_str += "</thead>";
            $.each(nv_data, function (index, dd) {

                for (var key in dd) {
                    result_str += "<tr><td>" + key + "</td>";
                    var category_num = dd[key];
                    for (var key1 in category_num) {
                        result_str += "<td>" + category_num[key1] + "</td>";
                    }
                }
                result_str += "</tr>";
            });
            target_table.append(result_str);
        }
    </script>
    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
            type="text/javascript"></script>

{% endblock %}
{% block container %}
    <div class="row" style="margin-top: 40px">
        <form class="form-horizontal" role="form" method="GET" action="/sale/daystats/stats_sale_product/">

            <div class="col-xs-4">
                <label class="control-label" for="df">开始日期:</label>
                <input type="text" id="f_datepicker" name="df" class="form-control datepicker"
                       value="{{ start_date }}"/>
            </div>
            <div class="col-xs-4">
                <label class="control-label" for="dt">结束日期:</label>
                <input type="text" id="t_datepicker" name="dt" class="form-control datepicker"
                       value="{{ end_date }}"/>
            </div>
            <div class="col-xs-1">
                <input type="submit" value="查询" class="btn btn-primary" style="margin-top:27px;"/>
            </div>

        </form>
    </div>


    <div class="row panel panel-success" style="margin-top: 20px">
        <div class="panel-heading">
            <h3 class="panel-title">女装选款情况</h3>
        </div>
        <div class="panel-body">
            <input id="task_id" value="{{ task_id }}" hidden="hidden">
            <table class="table table-bordered" id="data-table-result">
            </table>
        </div>
    </div>
    <div class="row panel panel-info" style="margin-top: 20px">
        <div class="panel-heading">
            <h3 class="panel-title">童装选款情况</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered" id="data-table-child-result">
            </table>
        </div>
    </div>


{% endblock %}
{% block tail_script %}
    <script type="text/javascript">
        $(function () {
            $("#f_datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });

            $("#t_datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });

        });
    </script>
    <script src="{{ STATIC_URL }}jquery-datatable-addon/jquery.dataTables.min.js" type="text/javascript"></script>
{% endblock %}