{% extends "xiaolumm/daystats_base.html" %}
{% block title %}用户统计{% endblock %}
{% block head_script %}
    <script>
        function get_data() {
            console.log("get_data");
            var task_id = $("#task_id").val();
            $.ajax({
                url: "/djcelery/" + task_id + "/status/", //这里是静态页的地址
                method: "GET", //静态页用get方法，否则服务器会抛出405错误
                success: function (res) {
                    console.log(res.task.status);
                    if (res.task.status == "SUCCESS") {
                        var tb = $('#data-table-people');
                        var result_data = eval(res.task.result);
                        $("#data-table-people thead").eq(0).nextAll().remove();
                        $.each(result_data, function (index, dd) {
                            tb.append("<tr><td>" + dd[0] + "月份</td><td>" + dd[1] + "</td><td>" + dd[2] + "</td><td>" + dd[3] + "</td><td>" + dd[4] + "</td></tr>");
                        });

                    }else{
                        setTimeout(get_data, 4000);
                    }
                }
            });
        }
        setTimeout(get_data, 4000);
    </script>
{% endblock %}
{% block container %}
    <div class="row" style="margin-top: 20px"><h2>用户统计</h2></div>
    <input id="task_id" style="display: none" value="{{ task_id }}">
    <div class="row">
        <table class="table table-bordered" id="data-table-people">
            <thead>
            <th></th>
            <th>总购买人数</th>
            <th>总购买mm</th>
            <th>重复购买</th>
            <th>重复购买的妈妈</th>
            </thead>
            <tbody>
            {% for data in result_list %}
                <tr>
                    <td>{{ data.month }}月份</td>
                    <td>{{ data.all_purchase_num }}</td>
                    <td>{{ data.xlmm_num }}</td>
                    <td>{{ data.repeat_user_num }}</td>
                    <td>{{ data.repeat_xlmm_num }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block tail_script %}
{% endblock %}