{% extends "xiaolumm/daystats_base.html" %}
{% block title %}买手销量{% endblock %}
{% block head_script %}
    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";
    </style>
    <style>
    .container{
        width: 95%;
    }
    </style>
    <script>
        function get_data() {
            var task_id = $("#task_id").val();
            $.ajax({
                url: "/djcelery/" + task_id + "/status/", //这里是静态页的地址
                method: "GET", //静态页用get方法，否则服务器会抛出405错误
                success: function (res) {
                    console.log(res.task.status);
                    console.log(res.task.result);
                    if (res.task.status == "SUCCESS") {
                        var tb = $('#data-table-result');
                        var result_data = eval(res.task.result);
                        $("#data-table-people thead").eq(0).nextAll().remove();
                        $.each(result_data, function (index, dd) {
                            tb.append("<tr><td>" + dd['username'] + "</td>" +
                            "<td>" + dd["choose_sale_num"] + "</td>" +
                            "<td>" + dd["shelf_sale_num"] + "</td>" +
                            "<td>" + dd["shelf_percent"] + "</td>" +
                            "<td>" + dd["all_sale_num"] + "</td>" +
                            "<td>" + dd["all_sale_cost"].toFixed(2) + "</td>" +
                            "<td>" + dd["all_sale_money"].toFixed(2) + "</td>" +
                            "<td>" + dd["all_tui_kuan"] + "</td>" +
                            "<td>" + dd["tui_kuan_money"] + "</td>" +
                            "<td>" + (parseFloat(dd.all_sale_money)-parseFloat(dd.all_sale_cost)-parseFloat(dd.tui_kuan_money)).toFixed(2) + "</td>" +
                            "</tr>");
                        });
                        var oHead = document.getElementsByTagName('HEAD').item(0);
                        var oScript = document.createElement("script");
                        oScript.type = "text/javascript";
                        oScript.src = "/static/daystat_js/stat_performance.js";
                        oHead.appendChild(oScript);
                        Calc_buyer_data();
                    } else {
                        setTimeout(get_data, 2000);
                    }
                }
            });
        }
        var Calc_buyer_data = function () {
            var total_choose_num = 0;
            var total_shelve_num = 0;
            var total_sale_num = 0;
            var total_sale_cost = 0;
            var total_sale_money = 0;
            var total_tui_num = 0;
            var total_tui_money = 0;
            var total_gain_money = 0;

            var choose_num = 0;
            var shelve_num = 0;
            var sale_num = 0;
            var sale_cost = 0;
            var sale_money = 0;
            var tui_num = 0;
            var tui_money = 0;
            var gain_money = 0;


            var rows = $("#data-table-result > tbody > tr");
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                if (row.cells.length < 9) {
                    continue;
                }

                choose_num = row.cells[1].innerText;
                shelve_num = row.cells[2].innerText;
                sale_num = row.cells[4].innerText;
                sale_cost = row.cells[5].innerText;
                sale_money = row.cells[6].innerText;
                tui_num = row.cells[7].innerText;
                tui_money = row.cells[8].innerText;
                gain_money = row.cells[9].innerText;


                if (parseInt(choose_num)) {
                    total_choose_num += parseInt(choose_num);
                }
                if (parseInt(shelve_num)) {
                    total_shelve_num += parseInt(shelve_num);
                }
                if (parseInt(sale_num)) {
                    total_sale_num += parseInt(sale_num);
                }
                if (parseFloat(sale_cost)) {
                    total_sale_cost += parseFloat(sale_cost);
                }
                if (parseFloat(sale_money)) {
                    total_sale_money += parseFloat(sale_money);
                }
                if (parseInt(tui_num)) {
                    total_tui_num += parseInt(tui_num);
                }
                if (parseFloat(tui_money)) {
                    total_tui_money += parseFloat(tui_money);
                }
                if (parseFloat(gain_money)) {
                    total_gain_money += parseFloat(gain_money);
                }

            }

            $('#total_choose_num').val(total_choose_num.toString());
            $('#total_shelve_num').val(total_shelve_num.toString());
            $('#total_sale_num').val(total_sale_num.toString());
            $('#total_sale_cost').val(total_sale_cost.toFixed(2).toString());
            $('#total_sale_money').val(total_sale_money.toFixed(2).toString());
            $('#total_tui_num').val(total_tui_num.toString());
            $('#total_tui_money').val(total_tui_money.toFixed(2).toString());
            $('#total_gain_money').val(total_gain_money.toFixed(2).toString());
        }
        get_data()
    </script>
    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
            type="text/javascript"></script>

{% endblock %}
{% block container %}
    <div class="row" style="margin-top: 40px">
        <form class="form-horizontal" role="form" method="GET" action="/sale/daystats/stats_performance/">

            <div class="col-xs-4">
                <label class="control-label" for="df">开始日期:</label>
                <input type="text" id="f_datepicker" name="df" class="form-control datepicker"
                       value="{{ start_date }}"/>
            </div>
            <div class="col-xs-4">
                <label class="control-label" for="dt">结束日期:</label>
                <input type="text" id="t_datepicker" name="dt" class="form-control datepicker"
                       value="{{ end_date }}"/>
            </div>
            <div class="col-xs-2">
                <label class="control-label" for="category">类别:</label>
                <select name="category" class="form-control" id="category_id">
                    <option value="0" {% ifequal category 0 %}selected="selected" {% endifequal %}>所有</option>
                    {% for one_category in all_category %}
                        <option value="{{ one_category.id }}"
                                {% ifequal category one_category.id %}selected="selected" {% endifequal %}>{{ one_category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-1">
                <input type="submit" value="查询" class="btn btn-primary" style="margin-top:27px;"/>
            </div>

        </form>
    </div>


    <div class="row panel panel-success" style="margin-top: 20px">
        <div class="panel-heading">
            <h3 class="panel-title">绩效统计</h3>
        </div>
        <div class="panel-body">
            <input id="task_id" value="{{ task_id }}" hidden="hidden">
            <table class="table table-bordered" id="data-table-result">
                <thead>
                <th>买手名字</th>
                <th>选款数量</th>
                <th>上架数量</th>
                <th>选款上架率</th>
                <th>销售数量</th>
                <th>销售成本</th>
                <th>销售额</th>
                <th>退款数</th>
                <th>退款额</th>
                <th>毛利润</th>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td width="100px"><input id="total_choose_num" type="text" value="0" readonly/></td>
                    <td width="100px"><input id="total_shelve_num" type="text" value="0" readonly/></td>
                    <td></td>
                    <td width="100px"><input id="total_sale_num" type="text" value="0" readonly/></td>
                    <td width="100px"><input id="total_sale_cost" type="text" value="0" readonly/></td>
                    <td width="100px"><input id="total_sale_money" type="text" value="0" readonly/></td>
                    <td width="100px"><input id="total_tui_num" type="text" value="0" readonly/></td>
                    <td width="100px"><input id="total_tui_money" type="text" value="0" readonly/></td>
                    <td width="100px"><input id="total_gain_money" type="text" value="0" readonly/></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>


{% endblock %}
{% block tail_script %}
    <script type="text/javascript">
        $(function () {
            $("#f_datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });

            $("#t_datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });

        });
    </script>
    <script src="{{ STATIC_URL }}jquery-datatable-addon/jquery.dataTables.min.js" type="text/javascript"></script>
{% endblock %}