{% extends "xiaolumm/daystats_base.html" %}
{% block title %}供应商统计{% endblock %}
{% block head_script %}
    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";
    </style>
    <style>
    .container{
        width: 95%;
    }
    </style>
    <script>
        function get_data() {
            var task_id = $("#task_id").val();
            $.ajax({
                url: "/djcelery/" + task_id + "/status/", //这里是静态页的地址
                method: "GET", //静态页用get方法，否则服务器会抛出405错误
                success: function (res) {
                    console.log(res.task.status);
                    console.log(res.task.result);
                    if (res.task.status == "SUCCESS") {
                        var tb = $('#data-table-result');
                        var result_data = eval(res.task.result);
                        $("#data-table-people thead").eq(0).nextAll().remove();
                        $.each(result_data, function (index, dd) {
                            var money_lirun = 0;
                            var all_sale_num  = parseInt(dd.all_sale_num);
                            var all_tui_kuan  = parseInt(dd.all_tui_kuan);

                            var sale_num = all_sale_num - all_tui_kuan;
                            if (sale_num > 0 && all_sale_num > 0){
                                money_lirun = (dd.all_sale_money - parseFloat(dd.tui_kuan_money)) - parseFloat(dd.all_sale_cost)*(sale_num/all_sale_num)
                            }
                            tb.append("<tr>" +
                            "<td><a href='/sale/daystats/supplier_preview/?supplier="+dd['supplier_name']+"' target='_blank'>" + dd['supplier_name'] + "</a></td>" +
                            "<td>" + dd.category + "</td>" +
                            "<td>" + dd["buyer_name"] + "</td>" +
                            "<td>" + dd["choose_sale_num"] + "</td>" +
                            "<td>" + dd["shelf_sale_num"] + "</td>" +
                            "<td>" + dd["shelf_percent"] + "</td>" +
                            "<td>" + dd["all_sale_num"] + "</td>" +
                            "<td>" + dd.all_sale_cost + "</td>" +
                            "<td>" + dd["all_sale_money"] + "</td>" +
                            "<td>" + money_lirun.toFixed(2) + "</td>" +
                            "<td>" + dd.all_tui_kuan +"("+ dd.all_tui_kuan_ceshi + ")</td>" +
                            "<td>" + dd.tui_kuan_money + "</td>" +
                            "<td>" + dd.tuo_kuan["开线/脱色/脱毛/有色差/有虫洞"] + "</td>" +
                            "<td>" + dd.fa_huo_time + "</td>" +
                            "</tr>");

                        });
                        var oHead = document.getElementsByTagName('HEAD').item(0);
                        var oScript = document.createElement("script");
                        oScript.type = "text/javascript";
                        oScript.src = "/static/daystat_js/stat_performance.js";
                        oHead.appendChild(oScript);
                    } else {
                        setTimeout(get_data, 2000);
                    }
                }
            });
        }
        get_data()
    </script>
    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
            type="text/javascript"></script>
{% endblock %}
{% block container %}
    <div class="row" style="margin-top: 40px">
        <form class="form-horizontal" role="form" method="GET" action="/sale/daystats/stats_supplier/">

            <div class="col-xs-4">
                <label class="control-label" for="df">开始日期:</label>
                <input type="text" id="f_datepicker" name="df" class="form-control datepicker"
                       value="{{ start_date }}"/>
            </div>
            <div class="col-xs-4">
                <label class="control-label" for="dt">结束日期:</label>
                <input type="text" id="t_datepicker" name="dt" class="form-control datepicker"
                       value="{{ end_date }}"/>
            </div>
            <div class="col-xs-2">
                <label class="control-label" for="category">类别:</label>
                <select name="category" class="form-control" id="category_id">

                    <option value="0" {% ifequal category "0" %}selected="selected" {% endifequal %}>所有</option>
                    {% for one_category in all_category %}
                        <option value="{{ one_category.id }}"
                                {% ifequal category one_category.id %}selected="selected" {% endifequal %}>{{ one_category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-1">
                <input type="submit" value="查询" class="btn btn-primary" style="margin-top:27px;"/>
            </div>

        </form>
    </div>


    <div class="row panel panel-success" style="margin-top: 20px">
        <div class="panel-heading">
            <h3 class="panel-title">供应商统计</h3>
        </div>
        <div class="panel-body">
            <input id="task_id" value="{{ task_id }}" hidden="hidden">
            <table class="table table-bordered" id="data-table-result">
                <thead>
                <th width="10%">供应商</th>
                <th>类目</th>
                <th>买手</th>
                <th>选款数量</th>
                <th>上架数量</th>
                <th>选款上架率</th>
                <th>销售数量</th>
                <th>销售成本</th>
                <th>销售额</th>
                <th>毛利润</th>
                <th>退款数</th>
                <th>退款额</th>
                <th>质量问题退</th>
                <th>平均发货</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
{% block tail_script %}
    <script type="text/javascript">
        $(function () {
            $("#f_datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });

            $("#t_datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });

        });
    </script>
    <script src="{{ STATIC_URL }}jquery-datatable-addon/jquery.dataTables.min.js" type="text/javascript"></script>
{% endblock %}