{% extends "xiaolumm/daystats_base.html" %}
{% block title %}运营数据统计{% endblock %}
{% block head_script %}
    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";
    </style>
    <style>
    .container{
        width: 95%;
    }
    </style>
    <script>
        function get_data() {
            var task_id = $("#task_id").val();
            $.ajax({
                url: "/djcelery/" + task_id + "/status/", //这里是静态页的地址
                method: "GET", //静态页用get方法，否则服务器会抛出405错误
                success: function (res) {
                    console.log(res.task.status);
                    console.log(res.task.result);
                    if (res.task.status == "SUCCESS") {
                        var tb = $('#data-table-result');
                        var result_data = eval(res.task.result.table_list);
                        $("#data-table-people thead").eq(0).nextAll().remove();
                        $.each(result_data, function (index, dd) {
                            tb.append("<tr>" +
                            "<td>" + dd['sale_time'] + "</td>" +
                            "<td><a href='/admin/items/product/?q="+dd.outer_id+"' target='_blank'>" + dd.title + "</a></td>" +
                            "<td>" + dd["group"] + "</td>" +
                            "<td>" + dd["category"] + "</td>" +
                            "<td>" + dd["cost"] + "</td>" +
                            "<td>" + dd["agent_price"] + "</td>" +
                            "<td>" + dd["sale_num"] + "</td>" +
                            "<td>" + dd.total_cost + "</td>" +
                            "<td>" + dd["stock_num"] + "</td>" +
                            "<td>" + dd.total_sale_money + "</td>" +
                            "<td>" + dd.stock_cost + "</td>" +
                            "</tr>");

                        });
                        var oHead = document.getElementsByTagName('HEAD').item(0);
                        var oScript = document.createElement("script");
                        oScript.type = "text/javascript";
                        oScript.src = "/static/daystat_js/stat_performance.js";
                        oHead.appendChild(oScript);
                    } else {
                        setTimeout(get_data, 2000);
                    }
                }
            });
        }
        get_data()
    </script>
    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
            type="text/javascript"></script>
{% endblock %}
{% block container %}
    <div class="row" style="margin-top: 40px">
        <form class="form-horizontal" role="form" method="GET" action="/sale/daystats/operate_sale/">

            <div class="col-xs-4">
                <label class="control-label" for="df">开始日期:</label>
                <input type="text" id="f_datepicker" name="df" class="form-control datepicker"
                       value="{{ start_date }}"/>
            </div>
            <div class="col-xs-4">
                <label class="control-label" for="dt">结束日期:</label>
                <input type="text" id="t_datepicker" name="dt" class="form-control datepicker"
                       value="{{ end_date }}"/>
            </div>
            <div class="col-xs-1">
                <input type="submit" value="查询" class="btn btn-primary" style="margin-top:27px;"/>
            </div>

        </form>
    </div>


    <div class="row panel panel-success" style="margin-top: 20px">
        <div class="panel-heading">
            <h3 class="panel-title">运营商统计</h3>
        </div>
        <div class="panel-body">
            <input id="task_id" value="{{ task_id }}" hidden="hidden">
            <table class="table table-bordered" id="data-table-result">
                <thead>
                <th width="10%">日期</th>
                <th>标题</th>
                <th>分组</th>
                <th>属性</th>
                <th>成本单价</th>
                <th>售价</th>
                <th>销量</th>
                <th>销售成本</th>
                <th>库存</th>
                <th>销售额</th>
                <th>库存成本</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
{% block tail_script %}
    <script type="text/javascript">
        $(function () {
            $("#f_datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });

            $("#t_datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });

        });
    </script>
    <script src="{{ STATIC_URL }}jquery-datatable-addon/jquery.dataTables.min.js" type="text/javascript"></script>
{% endblock %}