{% extends "xiaolumm/daystats_base.html" %}
{% block title %}供应商商品预览{% endblock %}
{% block head_script %}
    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_page.css";
        @import "{{ STATIC_URL }}jquery-datatable-addon/css/demo_table.css";
    </style>
    <style>
        .container {
            width: 95%;
        }
    </style>

    <link href="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.css" type="text/css"/>
    <script src="{{ STATIC_URL }}jquery/jquery-ui-1.8.13.min.js"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/timepicker/jquery-ui-timepicker-addon.js"
            type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery-timepicker-addon/js/jquery-ui-timepicker-zh-CN.js"
            type="text/javascript"></script>

{% endblock %}
{% block container %}
    <div class="row" style="margin-top: 40px">
        <form class="form-horizontal" role="form" method="GET" action="/sale/daystats/supplier_preview/">
            <div class="col-xs-4">
                <input type="text" name="supplier" class="form-control" value="{{ supplier_name }}"/>
            </div>
            <div class="col-xs-1">
                <input type="submit" value="查询" class="btn btn-primary" />
            </div>
        </form>
    </div>


    <div class="row panel panel-success" style="margin-top: 20px">
        <div class="panel-heading">
            <h3 class="panel-title">供应商商品列表</h3>
        </div>

        <div class="panel-body">
            <table class="table table-bordered" id="data-table-result">
            <thead>
            <th>商品名字</th>
            <th>单价</th>
            <th>出售价格</th>
            </thead>
                <tbody>
                {% for one_product in all_product %}
                    <tr>
                        <td>{{ one_product.name }}</td><td>{{ one_product.cost }}</td><td>{{ one_product.agent_price }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
{% block tail_script %}


{% endblock %}