{% extends "weixin/weixin_base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block container %}
    <div class="col-xs-12" style="text-align: center;height: 180px">
        <h1 style="padding: 30px">{{ title }}活动标题</h1>
    </div>

    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <form action="" method="post">
            <input type="text" class="form-control" placeholder="请输入参与活动手机号"
                   aria-describedby="basic-addon1" name="participant_phone"
                   style="text-align: center">
            <input type="text" class="form-control" value="{{ share_customer }}" name="share_customer"
                   aria-describedby="basic-addon1"
                   style="text-align: center">
            <button class="btn btn-default form-control" type="submit">立即参与活动</button>
        </form>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-12" style="text-align: center;height: 180px">
        <p style="padding: 30px">
        <hr/>
        {{ active_detail }}
        活动细节<br>
        活动细节<br>
        活动细节<br>
        活动细节<br>
        <hr/>
        </p>
    </div>
{% endblock %}