{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans "优尼世界" %}{% endblock %}

{% block extrastyle %}
<style>
#header{ background-color: #333940; border-bottom: solid 3px #999; }

#branding h1{ color: #fff; }
.module h2, .module caption, .inline-group h2 { background:#ccc url(/media/img/admin/nav-bg.gif) bottom left repeat-x; color: #333940; }
a.section:link, a.section:visited { color: #666666; }
</style>
<script src="{{ STATIC_URL }}closure-library/closure/goog/base.js"></script>
<script>goog.require('goog.dom');</script>
<script>goog.require('goog.ui.Dialog');</script>
<script>goog.require('goog.ui.TableSorter');</script>
<script>goog.require('goog.net.XhrIo');</script>
<script>goog.require('goog.net.IframeIo');</script>
<script>goog.require('goog.net.Jsonp');</script>
{% endblock %}

{% block branding %}
<h1 id="site-name" > {% trans "优尼世界淘宝后台管理系统" %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}
  
  <script src="{{ STATIC_URL }}script/admin/checkorder.js" type="text/javascript"></script>
  
<div id="footer"></div>
{% endblock %}