<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>keywords-items-rank</title>
    <script src='{{ STATIC_URL }}js/jquery-1.7.1.min.js' type= 'text/javascript'></script>
    <script src='{{ STATIC_URL }}js/highcharts.js' type= 'text/javascript'></script>
    {% load chartit %}
    {{ ordersdatacht|load_charts:"container1" }}
</head>
<body>

    <div id='container1'> Chart will be rendered here </div>

</body>
</html>