<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>订单统计（按时，按天，按周，按月）</title>
    <script src='{{ STATIC_URL }}js/jquery-1.7.1.min.js' type= 'text/javascript'></script>
    <script src='{{ STATIC_URL }}js/highcharts.js' type= 'text/javascript'></script>
    {% load chartit %}
    {{ ordersdatacht|load_charts:"container1" }}
</head>
<body>

    <div id='container1'> Chart will be rendered here </div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modules/exporting.js"></script>

</body>
</html>