  <table>
  <tr>
    <th>序号</th><th>商品类别</th><th>商品编码</th><th>内部名称</th><th>出售标题</th><th>上架星期</th><th>上架时间</th>
      <th>推荐时间</th><th>商品图片</th>
  </tr>
  {% for item in items %}
  <tr id="{{ item.num_iid }}">
      <td>{{ forloop.counter }}</td><td>{{ item.category_name }}</td><td>{{ item.ref_code }}</td><td></td>
      <td class="title"><a href="{{ item.detail_url }}">{{ item.title }}</a></td>
      <td>{{ item.isoweekday }}</td><td><p>{{ item.list_day }}</p><p>{{ item.list_hm}}</p></td>
      <td class="reco-time"><p>{{ item.relist_day }}</p><p>{{ item.relist_hm}}</p></td>
      <td><img src={{  item.pic_url }} class="profile-image"></td>
  </tr>
  {% endfor %}
  </table>