{% extends "mama_base.html" %}

{% block title %} 小鹿妈妈-填写基本信息 {% endblock %}

{% block head_script %}
<link href='{{ STATIC_URL }}jquery/jquery-ui-1.10.1.css' rel='stylesheet'  />	

<style type="text/css" >
    tfoot input{
    	width:50%;
    }
    .wrapper{ text-aligin:center;height:50px;}
    .flow-steps{ position:relative; padding:0px; list-style:none; font-size:14px; overflow:hidden;}
	.flow-steps li{ float:left; padding:10px;}
	.flow-steps a {padding:5px;width:100%;}
	.flow-steps .on a{ background:#ff6600; color:#fff;}
	.flow-steps .on a:after{ border-left-color:#ff6600;}
	.flow-steps li.on:first-child a:before{ border-color:#ff6600;}
</style>
{% endblock %}


{% block container %}

<div class="wrapper">
    <ul class="flow-steps">
    	<li class="col-xs-4 on"><a href="#" class="btn ">填写资料 &gt;</a></li>
        <li class="col-xs-4 "><a href="#" class="btn btn-default">支付押金 &gt;</a></li>
        <li class="col-xs-4 "><a href="#" class="btn btn-default">加入小鹿 &gt;</a></li>
    </ul>
    <div class="arr"></div>
</div>

<div class="jumbotron" style="padding:5px;">
  <h2>欢迎加入小鹿妈妈</h2>
  <div class="container">
    <form class="form-horizontal" action="" method="POST">
		{% csrf_token %}
	  <input type="hidden" id="id_openid" name="openid" value="{{ wxuser.openid }}">
	  <input type="hidden" id="id_unionid" name="unionid" value="{{ wxuser.unionid }}">
	  {% if not wxuser.isvalid %}
	  <div class="form-group">
	  <div class="input-group ">
		<input type="text" id="id_mobile_input" class="form-control col-xs-8"  placeholder="请输入手机号">
	    <a href="#" id="id_requestcode_button" class=" btn btn-default input-group-addon" onclick="requestcode();">获取验证码</a>
	  </div>
	  </div>
	  <div class="form-group">
	  <p><span style="color:red;display:none;" id="id_verify_msg"></span></p>
	  <div class="input-group ">
	    <input type="text" id="id_code_input" class="form-control col-xs-8" placeholder="请输入验证码">
	    <a href="#" id="id_verifycode_button" class="btn btn-default input-group-addon" onclick="verifycode();">验证手机号</a>
	  </div>
	  </div>
	  {% else %}
	  <div class="form-group">
	     <div class="alert alert-danger" role="alert"><lable>提示：</lable>您已绑定手机号，<br>请直接点击<span class="text-success">进入下一步</span>！</div>
	  </div>
	  {% endif %}
	  <div class="form-group">
	   	<div class="checkbox">
          <label>
              <input name="tiaokuan" id="tk" type="checkbox"> <a href="{{ STATIC_URL }}tiaokuan.html">我已阅读并同意相关服务条款和隐私政策</a>
          </label>
        </div>
      </div>
	  <div class="form-group">
		 <button  type="submit" id="next_step" name="diposite" class="btn btn-lg btn-default">进入下一步</button>
	  </div>
	</form>
  </div>
</div>

{% endblock %}

{% block tail_script %}    
    
    <script type="text/javascript">
      function validateMobile(s) {
        var validateReg = /^((\+?86)|(\(\+86\)))?1\d{10}$/;
        return validateReg.test(s);
      };

      function validateVerifyCode(s) {
        var validateReg = /^\d{6}$/;
        return validateReg.test(s);
      };

      var global_timer;
      function updateTime() {
        var btn = $("#id_requestcode_button");
        time_left = parseInt(btn[0].innerHTML) - 1;
        if (time_left <= 0) {
          btn.attr("status","0");
	  	  window.clearInterval(global_timer);
          btn[0].innerHTML = "点击重发";
	} else {
          btn[0].innerHTML = time_left.toString();
	}
      };

      function requestcode() {
        var btn = $("#id_requestcode_button");
        var status = btn.attr("status");
        if (status == "1" || status == "2") {
          return;
        }

        var mobile = $("#id_mobile_input").val();
        if (validateMobile(mobile) == false) {
          return;
        }

        btn.attr("status","1");
		btn[0].innerHTML = "180";
        global_timer = window.setInterval(updateTime, 1000);

	var openid = $("#id_openid").val();
        var url = "/weixin/requestcode/";
	var data = {"mobile":mobile, "openid":openid};

        var callback = function (res) {
	  if (res["code"] == "wait") {
            $("#id_verify_msg")[0].innerHTML = "请先耐心等待60秒哦！";
            return;
          } 

          if (res["code"] != "good") {
	    btn.attr("status","0");
	    window.clearInterval(global_timer);
          }

	  if (res["code"] == "locked") {
            $("#id_verify_msg")[0].innerHTML = "验证次数达到上限，请联系微信客服处理！";
            btn[0].innerHTML = "已达上限";
            return;
          } 
	  if (res["code"] == "anony") {
            $("#id_verify_msg")[0].innerHTML = "请从优尼世界微信登录此页面！";
            btn[0].innerHTML = "登录有误";
            return;
          } 
	  if (res["code"] == "bad") {
            $("#id_verify_msg")[0].innerHTML = "请输入正确的手机号码！";
            btn[0].innerHTML = "点击重发";
            return;
          } 
	  if (res["code"] == "dup") {
            $("#id_verify_msg")[0].innerHTML = "此号码已被他人验证，请重新输入！";
            btn[0].innerHTML = "点击重发";
            return;
          } 
        };
        
        $.ajax({url:url, data:data, success:callback});
      };

      function verifycode() {
        var verifycode = $("#id_code_input").val();
        if (validateVerifyCode(verifycode) == false) {
          $("#id_verify_msg")[0].innerHTML = "验证码错误！";
          return;
        }
        var url = "/weixin/verifycode/";
        var callback = function (res) {
          if (res["code"] == "bad") {
            $("#id_verifycode_button")[0].innerHTML = "验证失败，刷新再试";
            return;
          }

	  	window.clearInterval(global_timer);
          $("#id_verifycode_group").css("display","none");
          $("#id_requestcode_button").removeClass("btn-primary").addClass("btn-success")[0].innerHTML="已验证";
          $("#id_mobile_input").attr("disabled","disabled");
          $("#id_verifycode_button").attr("disabled","disabled");
          $("#id_requestcode_button").attr("status", "2");
        };
        var openid = $("#id_openid").val();
		var data = {"verifycode":verifycode, "openid":openid};
        $.ajax({url:url, data:data, success:callback});
      };
		
	  $('#tk').change(function(e){
	  	  if($("#tk").prop("checked")){
			$('#next_step').removeClass('btn-default').addClass('btn-warning');
	      }else{
	        $('#next_step').removeClass('btn-warning').addClass('btn-default');  
	      }
	  });
		
      $("#next_step").click(function(e){
          if (!$('#next_step').hasClass('btn-warning')){e.preventDefault();return false;}
      })
    </script>
{% endblock %}
