{% extends "mama_base.html" %}

{% block title %} 手机验证 {% endblock %}

{% block container %}

<div >

  <div class="panel panel-default" style="margin-top:5px">
    <div class="panel-heading" style="color:orange">
      <h4 class="panel-title">手机绑定</h4>
    </div>
    <div class="panel-body">
      <div class="row">
	<div class="col-xs-12">
	  <h5 style="color:#3071a9">请先验证手机号</h5><span style="color:red" id="id_verify_msg"></span>
	  <p style="color:red">若您已收到验证码，请直接输入验证码并点击验证（不用再次输入手机号）。</p>
	  <div class="input-group">
	    <span class="input-group-addon">手机号</span>
	    <input id="id_mobile_input" type="text" class="form-control">
	    <input type="hidden" id="id_openid" value="{{ openid }}">
	    <span class="input-group-btn">
	      <button id="id_requestcode_button" class="btn btn-primary" type="button" onclick="requestcode();" status="0">获验证码</button>
	    </span>

	  </div>
	  <div id="id_verifycode_group" class="input-group">
	    <span class="input-group-addon">验证码</span>
	    <input id="id_code_input" type="text" class="form-control">
	    <span class="input-group-btn">
	      <button id="id_verifycode_button" class="btn btn-warning" type="button" onclick="verifycode();">立即验证</button>
	    </span>
	  </div>
	  <div id="id-continue" style="text-align:center;display:none;margin-top:20px">
	    <a href="/m/" type="button" class="btn btn-warning">点击继续 >></a>
	  </div>
	</div>
      </div>

      
    </div>
  </div>

  <div class="footer">
    <p>© Uni Littles 2014</p>
  </div>

</div>
{% endblock %}

{% block tail_script %}    
    
    <script type="text/javascript">
      function validateMobile(s) {
        var validateReg = /^((\+?86)|(\(\+86\)))?1\d{10}$/;
        return validateReg.test(s);
      };

      function validateVerifyCode(s) {
        var validateReg = /^\d{6}$/;
        return validateReg.test(s);
      };

      var global_timer;
      function updateTime() {
        var btn = $("#id_requestcode_button");
        time_left = parseInt(btn[0].innerHTML) - 1;
        if (time_left <= 0) {
          btn.attr("status","0");
	  window.clearInterval(global_timer);
          btn[0].innerHTML = "点击重发";
	} else {
          btn[0].innerHTML = time_left.toString();
	}
      };

      function requestcode() {
        var btn = $("#id_requestcode_button");
        var status = btn.attr("status");
        if (status == "1" || status == "2") {
          return;
        }

        var mobile = $("#id_mobile_input").val();
        if (validateMobile(mobile) == false) {
          return;
        }

        btn.attr("status","1");
	btn[0].innerHTML = "180";
        global_timer = window.setInterval(updateTime, 1000);

	var openid = $("#id_openid").val();
        var url = "/weixin/requestcode/";
	var data = {"mobile":mobile, "openid":openid};

        var callback = function (res) {
	  if (res["code"] == "wait") {
            $("#id_verify_msg")[0].innerHTML = "请先耐心等待60秒哦！";
            return;
          } 

          if (res["code"] != "good") {
	    btn.attr("status","0");
	    window.clearInterval(global_timer);
          }

	  if (res["code"] == "locked") {
            $("#id_verify_msg")[0].innerHTML = "验证次数达到上限，请联系微信客服处理！";
            btn[0].innerHTML = "已达上限";
            return;
          } 
	  if (res["code"] == "anony") {
            $("#id_verify_msg")[0].innerHTML = "请从优尼世界微信登录此页面！";
            btn[0].innerHTML = "登录有误";
            return;
          } 
	  if (res["code"] == "bad") {
            $("#id_verify_msg")[0].innerHTML = "请输入正确的手机号码！";
            btn[0].innerHTML = "点击重发";
            return;
          } 
	  if (res["code"] == "dup") {
            $("#id_verify_msg")[0].innerHTML = "此号码已被他人验证，请重新输入！";
            btn[0].innerHTML = "点击重发";
            return;
          } 

        };
        
        $.ajax({url:url, data:data, success:callback});
      };

      function verifycode() {
        var verifycode = $("#id_code_input").val();
        if (validateVerifyCode(verifycode) == false) {
          $("#id_verify_msg")[0].innerHTML = "验证码错误！";
          return;
        }
        var url = "/weixin/verifycode/";
        var callback = function (res) {
          if (res["code"] == "bad") {
            $("#id_verifycode_button")[0].innerHTML = "验证失败，刷新再试";
            return;
          }

	  window.clearInterval(global_timer);
          $("#id_verifycode_group").css("display","none");
          $("#id_requestcode_button").removeClass("btn-primary").addClass("btn-success")[0].innerHTML="已验证";
          $("#id_mobile_input").attr("disabled","disabled");
          $("#id_requestcode_button").attr("status", "2");

          $("#id-continue").css("display","block");
        };
        var openid = $("#id_openid").val();
	var data = {"verifycode":verifycode, "openid":openid};
        $.ajax({url:url, data:data, success:callback});
      };

      
    </script>
{% endblock %}
