{% extends "mama_base.html" %}

{% block title %} 小鹿妈妈-招募代理 {% endblock %}

{% block container %}
    <div class="page-header">
        <h3>小鹿妈妈第二阶段代理条款协议细则</h3>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">1.【平台说明】</h3>
        </div>
        <div class="panel-body">
            <p>
                小鹿美美平台每天提供给小鹿妈妈专业设计师精选的多款高性价比童装和女装，同时提供专业推广团队制作精美的图片和描述文字，小鹿妈妈可以便捷的发朋友圈，轻松做微商。不用您囤货，售后销售美工发货都不用您担心，我们都搞定，您只要每天轻松转发~客户的问题稍微回答下，就可以轻松代理。</p>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">2.【订单补贴】</h3>
        </div>
        <div class="panel-body">
            <p>
                小鹿妈妈每天在朋友圈发布小鹿特卖，加上自己的专属链接，通过此链接产生的订单，会在交易成功7天后获得10%的现金补贴</p>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">3.【千元提成】</h3>
        </div>
        <div class="panel-body">
            <p>当月订单金额达到2000元及以上，可再获得销售额5%的现金补贴</p>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">4.【特别补贴】</h3>
        </div>
        <div class="panel-body">
            <p>特殊商品补贴为30%，管理人员会做相应的通知</p>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">5.【代理秒杀】</h3>
        </div>
        <div class="panel-body">
            <p>秒杀商品质量保证，每款低至9.9包邮，具体秒杀时间，我们会做相应的通知 </p>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">6.【VIP代理】</h3>
        </div>
        <div class="panel-body">
            <p>第二阶段加入代理累计销售额超5000元，即可升级为VIP代理，之后每笔订单的返利变成20%</p>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">7.【招募奖金】</h3>
        </div>
        <div class="panel-body">
            <p>成功招募朋友加入小鹿代理，次日就有50元充入小鹿钱包，招募越多奖励越多，无上限！</p>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">8.【代理补贴】</h3>
        </div>
        <div class="panel-body">
            <p>一级代理享有二级代理当天销售额5%的补贴，次日显示；二级代理推荐的代理的销售额和一级代理没有关系，二级代理的订单提成不受一级影响</p>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">9.【现金账户】</h3>
        </div>
        <div class="panel-body">
            <p>在我的账户 http://xiaolu.so/m/可以查询小鹿妈妈销售数据（账户余额，订单提成，点击补贴，代理补贴，当日订单）。</p>
        </div>
    </div>


    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">10.【充118得148】</h3>
        </div>
        <div class="panel-body">
            <p>
                第二批代理通过安全链接充值118元到小鹿钱包成为小鹿妈妈，118元直接充入小鹿钱包，可以立即在小鹿商城购物，同时获得30元优惠券，可以随时在小鹿商城购物使用，无使用期限（该充值为代理费，不可提现，不返还，只能在商城消费）。</p>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">11.【如何提现】</h3>
        </div>
        <div class="panel-body">
            <p>现金账户里的补贴金额满100可申请提现，提现定额为100或者200两个选择（受微信平台限制，最大数额是200，超过200的可以分多次提现）</p>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">12.【点击补贴】</h3>
        </div>
        <div class="panel-body">
            <p>活动期间会不定期开放点击补贴！只要有点击就有钱拿哦！敬请期待哦~</p>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-body">
            <p>以上内容会由公司政策变化进行调整，违反代理群规和公司规定代理用户，公司有权取消其代理资格 清空账户金额！最终解释权归小鹿美美公司所有。</p>
        </div>
    </div>

{% endblock %}